archive/2026-pre-v3/all-perplexity/New folder/GDA.qa.agent-runner.json
{
  "name": "GDA.qa.agent-runner",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gda-qa-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "58a7f88c-6293-4f63-98b3-33b44a7f1111",
      "name": "QA Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst headers = input.headers || {};\nconst body = input.body || input;\n\nfunction env(name, fallback = '') {\n  try {\n    if (typeof $env !== 'undefined' && $env[name]) return $env[name];\n  } catch (error) {}\n  try {\n    if (typeof process !== 'undefined' && process.env && process.env[name]) return process.env[name];\n  } catch (error) {}\n  return fallback;\n}\n\nfunction headerValue(name) {\n  const lower = name.toLowerCase();\n  return headers[name] || headers[lower] || headers[name.toUpperCase()] || '';\n}\n\nconst QA_AGENT_KEY = env('GDA_QA_AGENT_KEY');\nif (QA_AGENT_KEY && headerValue('x-gda-qa-key') !== QA_AGENT_KEY) {\n  return [{ json: { ok: false, statusCode: 403, error: 'Unauthorized QA agent request. Missing or invalid x-gda-qa-key.' } }];\n}\n\nconst N8N_BASE_URL = env('GDA_QA_N8N_BASE_URL', 'https://n8n.csr-llc.tech').replace(/\\/$/, '');\nconst N8N_API_KEY = env('GDA_QA_N8N_API_KEY');\nconst WEBHOOK_HEADER_NAME = env('GDA_WEBHOOK_AUTH_HEADER_NAME', 'x-gda-key');\nconst WEBHOOK_HEADER_VALUE = env('GDA_WEBHOOK_AUTH_HEADER_VALUE');\nconst WEBHOOK_BASE_URL = env('GDA_QA_WEBHOOK_BASE_URL', N8N_BASE_URL).replace(/\\/$/, '');\n\nconst reactUsedWebhookTests = [\n  { name: 'gda-smoke-test', method: 'GET', path: 'gda-smoke-test' },\n  { name: 'gda-platform-health', method: 'POST', path: 'gda-platform-health' },\n  { name: 'gda-dashboard-mega', method: 'POST', path: 'gda-dashboard-mega' },\n  { name: 'gda-launchpad-funnel', method: 'POST', path: 'gda-launchpad-funnel' },\n  { name: 'gda-trends', method: 'POST', path: 'gda-trends' },\n  { name: 'gda-opp-tracker', method: 'POST', path: 'gda-opp-tracker' },\n  { name: 'gda-daily-actions-list', method: 'POST', path: 'gda-daily-actions-list' },\n  { name: 'gda-action-history', method: 'POST', path: 'gda-action-history' },\n  { name: 'gda-deep-research-history', method: 'POST', path: 'gda-deep-research-history' },\n  { name: 'gda-capture-plan', method: 'POST', path: 'gda-capture-plan' }\n];\n\nconst retoolUsedWebhookTests = [\n  { name: 'gda-platform-health', method: 'POST', path: 'gda-platform-health' },\n  { name: 'gda-dashboard-mega', method: 'POST', path: 'gda-dashboard-mega' },\n  { name: 'gda-opp-tracker', method: 'POST', path: 'gda-opp-tracker' },\n  { name: 'gda-capture-plan', method: 'POST', path: 'gda-capture-plan' }\n];\n\nasync function parseResponse(response) {\n  const text = await response.text();\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    return { rawText: text.slice(0, 4000) };\n  }\n}\n\nasync function n8nApi(path, options = {}) {\n  if (!N8N_API_KEY) throw new Error('GDA_QA_N8N_API_KEY is not set in n8n environment.');\n  const response = await fetch(`${N8N_BASE_URL}${path}`, {\n    method: options.method || 'GET',\n    headers: {\n      'Content-Type': 'application/json',\n      'Accept': 'application/json',\n      'X-N8N-API-KEY': N8N_API_KEY,\n      ...(options.headers || {})\n    },\n    body: options.body === undefined ? undefined : JSON.stringify(options.body)\n  });\n  return { status: response.status, ok: response.ok, body: await parseResponse(response) };\n}\n\nasync function fetchAllWorkflows() {\n  const workflows = [];\n  let cursor = undefined;\n  for (let page = 0; page < 20; page += 1) {\n    const query = cursor ? `?limit=100&cursor=${encodeURIComponent(cursor)}` : '?limit=100';\n    const result = await n8nApi(`/api/v1/workflows${query}`);\n    if (!result.ok) throw new Error(`n8n workflow inventory failed: HTTP ${result.status} ${JSON.stringify(result.body).slice(0, 500)}`);\n    const data = Array.isArray(result.body) ? result.body : (result.body.data || []);\n    workflows.push(...data);\n    cursor = result.body.nextCursor;\n    if (!cursor) break;\n  }\n  return workflows;\n}\n\nfunction workflowInventoryItem(workflow) {\n  const nodes = workflow.nodes || [];\n  const triggerNodes = nodes\n    .filter((node) => String(node.type || '').includes('webhook') || String(node.type || '').includes('scheduleTrigger') || String(node.type || '').includes('manualTrigger'))\n    .map((node) => ({\n      name: node.name,\n      type: node.type,\n      disabled: Boolean(node.disabled),\n      webhookPath: node.parameters?.path || node.webhookPath || null,\n      httpMethod: node.parameters?.httpMethod || node.parameters?.method || null\n    }));\n  const likelyWebhookUrls = triggerNodes\n    .filter((node) => node.webhookPath)\n    .flatMap((node) => [\n      `${N8N_BASE_URL}/webhook-test/${node.webhookPath}`,\n      `${N8N_BASE_URL}/webhook/${node.webhookPath}`\n    ]);\n  return {\n    id: workflow.id,\n    name: workflow.name,\n    active: Boolean(workflow.active),\n    nodeCount: nodes.length,\n    triggerNodes,\n    likelyWebhookUrls\n  };\n}\n\nasync function testWebhook(testDef) {\n  const start = Date.now();\n  const method = testDef.method || 'POST';\n  const path = String(testDef.path || testDef.webhookPath || '').replace(/^\\/webhook\\//, '').replace(/^\\//, '');\n  const url = `${WEBHOOK_BASE_URL}/webhook/${path}`;\n  const headers = {\n    'Accept': 'application/json',\n    'Content-Type': 'application/json'\n  };\n  if (WEBHOOK_HEADER_NAME && WEBHOOK_HEADER_VALUE) headers[WEBHOOK_HEADER_NAME] = WEBHOOK_HEADER_VALUE;\n  const response = await fetch(url, {\n    method,\n    headers,\n    body: method === 'GET' ? undefined : JSON.stringify(testDef.body || { source: 'gda-qa-agent', mode: 'smoke', testRunId: body.testRunId || new Date().toISOString() })\n  });\n  const responseBody = await parseResponse(response);\n  return {\n    name: testDef.name || path,\n    method,\n    url,\n    status: response.ok ? 'passed' : 'failed',\n    httpStatus: response.status,\n    durationMs: Date.now() - start,\n    responsePreview: responseBody\n  };\n}\n\nasync function testWebhookGroup(tests) {\n  const results = [];\n  for (const testDef of tests) {\n    try {\n      results.push(await testWebhook(testDef));\n    } catch (error) {\n      results.push({ name: testDef.name || testDef.path, status: 'failed', error: error.message || String(error) });\n    }\n  }\n  return {\n    total: results.length,\n    passed: results.filter((result) => result.status === 'passed').length,\n    failed: results.filter((result) => result.status === 'failed').length,\n    results\n  };\n}\n\nasync function latestFailedExecutions(limit = 25) {\n  const result = await n8nApi(`/api/v1/executions?status=error&limit=${encodeURIComponent(limit)}`);\n  if (!result.ok) throw new Error(`n8n execution query failed: HTTP ${result.status} ${JSON.stringify(result.body).slice(0, 500)}`);\n  return result.body;\n}\n\nasync function workflowDetails(id) {\n  if (!id) throw new Error('workflow_details requires workflowId.');\n  const result = await n8nApi(`/api/v1/workflows/${encodeURIComponent(id)}`);\n  if (!result.ok) throw new Error(`n8n workflow detail failed: HTTP ${result.status} ${JSON.stringify(result.body).slice(0, 500)}`);\n  return result.body;\n}\n\nasync function main() {\n  const action = body.action || 'health';\n  if (action === 'health') {\n    return {\n      ok: true,\n      agent: 'GDA.qa.agent-runner',\n      mode: 'read-only',\n      n8nBaseConfigured: Boolean(N8N_BASE_URL),\n      n8nApiKeyConfigured: Boolean(N8N_API_KEY),\n      webhookHeaderConfigured: Boolean(WEBHOOK_HEADER_NAME && WEBHOOK_HEADER_VALUE),\n      supportedActions: ['health', 'inventory_workflows', 'test_selected_workflow_group', 'test_react_used_workflows', 'test_retool_used_workflows', 'return_execution_failures', 'return_latest_failed_workflows', 'workflow_details']\n    };\n  }\n  if (action === 'inventory_workflows') {\n    const workflows = await fetchAllWorkflows();\n    const inventory = workflows.map(workflowInventoryItem);\n    return {\n      ok: true,\n      totalWorkflows: inventory.length,\n      activeWorkflows: inventory.filter((workflow) => workflow.active).length,\n      workflowsWithLikelyWebhookUrls: inventory.filter((workflow) => workflow.likelyWebhookUrls.length > 0).length,\n      inventory\n    };\n  }\n  if (action === 'test_selected_workflow_group') {\n    return { ok: true, group: body.group || 'custom', ...(await testWebhookGroup(body.tests || [])) };\n  }\n  if (action === 'test_react_used_workflows') {\n    return { ok: true, group: 'react-used-workflows', ...(await testWebhookGroup(body.tests || reactUsedWebhookTests)) };\n  }\n  if (action === 'test_retool_used_workflows') {\n    return { ok: true, group: 'retool-used-workflows', ...(await testWebhookGroup(body.tests || retoolUsedWebhookTests)) };\n  }\n  if (action === 'return_execution_failures' || action === 'return_latest_failed_workflows') {\n    return { ok: true, executions: await latestFailedExecutions(body.limit || 25) };\n  }\n  if (action === 'workflow_details') {\n    return { ok: true, workflow: await workflowDetails(body.workflowId) };\n  }\n  return { ok: false, statusCode: 400, error: `Unsupported action: ${action}` };\n}\n\ntry {\n  const result = await main();\n  return [{ json: result }];\n} catch (error) {\n  return [{ json: { ok: false, statusCode: 500, error: error.stack || error.message || String(error) } }];\n}\n"
      },
      "id": "58a7f88c-6293-4f63-98b3-33b44a7f2222",
      "name": "QA Agent Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "58a7f88c-6293-4f63-98b3-33b44a7f3333",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20,
        0
      ]
    }
  ],
  "connections": {
    "QA Agent Webhook": {
      "main": [
        [
          {
            "node": "QA Agent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent Router": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GDA"
    },
    {
      "name": "QA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-26T01:13:00.000Z",
  "versionId": "gda-qa-agent-runner-template-v1"
}

