docs/n8n-triage/workflows/GDA.api.capture-hub___kZT3jlZn4lKfuhwh.json
{"id" : "kZT3jlZn4lKfuhwh", "name" : "GDA.api.capture-hub", "active" : false, "nodes" : [{"id":"ch-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"webhookId":"gda-capture-hub-wh1","parameters":{"path":"gda-capture-hub","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"ch-auth","name":"Auth Guard","type":"n8n-nodes-base.code","position":[420,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"ch-counts","name":"Module Counts","type":"n8n-nodes-base.postgres","position":[640,300],"parameters":{"query":"SELECT 'opportunities' AS module, COUNT(*) AS count, MAX(last_refreshed) AS last_updated FROM gda_opportunity_tracker\nUNION ALL SELECT 'contacts', COUNT(*), MAX(updated_at) FROM gda_contacts\nUNION ALL SELECT 'teaming_partners', COUNT(*), MAX(updated_at) FROM gda_teaming_partners\nUNION ALL SELECT 'contract_vehicles', COUNT(*), MAX(updated_at) FROM gda_contract_vehicles\nUNION ALL SELECT 'wargames', COUNT(*), MAX(updated_at) FROM gda_wargames\nUNION ALL SELECT 'ndaa_intel', COUNT(*), MAX(ingested_at) FROM gda_ndaa_intel\nUNION ALL SELECT 'dept_market', COUNT(*), MAX(last_updated) FROM gda_dept_market;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"ch-opps","name":"Top Opportunities","type":"n8n-nodes-base.postgres","position":[860,300],"parameters":{"query":"SELECT solicitation_number, opp_title, agency, dept, gda_score, gda_label, eis_fit_score, stage, estimated_value, response_deadline, source_url FROM gda_opportunity_tracker WHERE gda_score >= 60 ORDER BY gda_score DESC LIMIT 10;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"ch-partners","name":"Top Partners","type":"n8n-nodes-base.postgres","position":[1080,300],"parameters":{"query":"SELECT company_name, uei, size_status, naics_codes, core_capabilities, relationship_strength, nda_status, notes FROM gda_teaming_partners ORDER BY CASE relationship_strength WHEN 'Strong' THEN 1 WHEN 'Active' THEN 2 WHEN 'Warm' THEN 3 ELSE 4 END LIMIT 10;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"ch-build","name":"Build Response","type":"n8n-nodes-base.code","position":[1300,300],"parameters":{"jsCode":"const modules = $('Module Counts').all().map(i => i.json).filter(r => r.module);\nconst topOpps = $('Top Opportunities').all().map(i => i.json).filter(r => r.solicitation_number);\nconst partners = $('Top Partners').all().map(i => i.json).filter(r => r.company_name);\n\nconst summary = {};\nfor (const m of modules) summary[m.module] = { count: parseInt(m.count) || 0, last_updated: m.last_updated };\n\nconst totalRecords = modules.reduce((s, m) => s + (parseInt(m.count) || 0), 0);\n\nreturn [{ json: {\n  status: 'ok',\n  capture_hub: {\n    total_records: totalRecords,\n    pursue_opps: topOpps.filter(o => o.gda_label === 'PURSUE').length,\n    evaluate_opps: topOpps.filter(o => o.gda_label === 'EVALUATE').length,\n    teaming_partners: partners.length,\n    modules: summary,\n    top_opportunities: topOpps,\n    top_teaming_partners: partners,\n    timestamp: new Date().toISOString()\n  }\n}}];"},"typeVersion":2},{"id":"ch-resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1520,300],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}"},"typeVersion":1.1}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Module Counts","type":"main","index":0}]]},"Module Counts":{"main":[[{"node":"Top Opportunities","type":"main","index":0}]]},"Top Opportunities":{"main":[[{"node":"Top Partners","type":"main","index":0}]]},"Top Partners":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:54.714+00:00"}
