docs/n8n-triage/workflows/GDA.cron.auto-capture-plan___7gERqvfD6THg1gWf.json
{"id" : "7gERqvfD6THg1gWf", "name" : "GDA.cron.auto-capture-plan", "active" : false, "nodes" : [{"id":"sched1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"10 */4 * * *"}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"q1","name":"Find Missing CPs","parameters":{"operation":"executeQuery","query":"SELECT o.id, o.opp_title, o.agency, o.dept, o.naics_code, o.set_aside, o.estimated_value, o.response_deadline, o.gda_score, o.gda_label, o.ai_analysis, o.assigned_ou\nFROM gda_opportunity_tracker o\nLEFT JOIN gda_capture_plans cp ON cp.opp_id = o.id\nWHERE o.gda_label = 'PURSUE' AND o.gda_score >= 75\n  AND o.stage NOT IN ('No-Bid','Cancelled','No-Go')\n  AND cp.opp_id IS NULL\n  AND o.opp_title IS NOT NULL AND o.opp_title != ''\nORDER BY o.gda_score DESC\nLIMIT 3"},"position":[420,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"if1","name":"Has Results","parameters":{"conditions":{"boolean":[{"value1":"={{ $json.id > 0 }}","value2":true}]}},"position":[640,300],"type":"n8n-nodes-base.if","typeVersion":2},{"id":"prompt1","name":"Build Prompt","parameters":{"jsCode":"var o = $json;\nvar prompt = 'Generate a capture plan for this federal opportunity. GDA (Georgetown Defense Analytics / Envision Innovative Solutions) is a mid-tier defense IT/engineering services firm.\\n\\n';\nprompt += 'Opportunity: ' + (o.opp_title || '') + '\\n';\nprompt += 'Agency: ' + (o.agency || '') + '\\n';\nprompt += 'Department: ' + (o.dept || '') + '\\n';\nprompt += 'NAICS: ' + (o.naics_code || '') + '\\n';\nprompt += 'Set-Aside: ' + (o.set_aside || 'None') + '\\n';\nprompt += 'Value: $' + ((o.estimated_value || 0) / 1000000).toFixed(1) + 'M\\n';\nprompt += 'Deadline: ' + (o.response_deadline || 'TBD') + '\\n';\nprompt += 'GDA Score: ' + (o.gda_score || 0) + '\\n';\nprompt += 'AI Analysis: ' + (o.ai_analysis || '') + '\\n';\nprompt += 'Assigned OU: ' + (o.assigned_ou || 'TBD') + '\\n\\n';\nprompt += 'Respond ONLY with JSON (no markdown):\\n{\\n';\nprompt += '  \"opportunity_name\": \"short name\",\\n';\nprompt += '  \"pwin\": 10-90,\\n';\nprompt += '  \"capture_stage\": \"Interest|Pursue|Qualify|Proposal\",\\n';\nprompt += '  \"allocated_revenue\": estimated annual revenue in millions,\\n';\nprompt += '  \"win_strategy\": \"2-3 sentences on how GDA wins\",\\n';\nprompt += '  \"key_risks\": [\"risk 1\", \"risk 2\"],\\n';\nprompt += '  \"next_actions\": [\"action 1\", \"action 2\", \"action 3\"],\\n';\nprompt += '  \"teaming_strategy\": \"prime/sub/JV approach\",\\n';\nprompt += '  \"incumbent\": \"known incumbent or Unknown\",\\n';\nprompt += '  \"discriminators\": [\"disc 1\", \"disc 2\"]\\n}';\n\nreturn [{ json: { opp_id: o.id, opp_title: o.opp_title, prompt: prompt } }];"},"position":[860,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"claude1","name":"Claude Generate Plan","parameters":{"authentication":"genericCredentialType","method":"POST","options":{"redirect":{"redirect":{"followRedirects":true}}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({model: 'claude-sonnet-4-20250514', max_tokens: 1500, messages: [{role: 'user', content: $json.prompt}]}) }}","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"genericAuthType":"none"},"position":[1080,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"save1","name":"Parse and Save","parameters":{"jsCode":"const input = $input.first().json;\nconst oppId = $('Build Prompt').first().json.opp_id;\nconst oppTitle = $('Build Prompt').first().json.opp_title;\n\nlet text = '';\ntry {\n  if (input.content && input.content[0]) text = input.content[0].text || '';\n  else text = JSON.stringify(input);\n} catch(e) { text = ''; }\n\nlet parsed = {};\ntry {\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start !== -1 && end !== -1) parsed = JSON.parse(text.substring(start, end + 1));\n} catch(e) { parsed = { error: 'parse failed', raw: text.substring(0, 300) }; }\n\nreturn [{ json: {\n  opp_id: oppId,\n  opp_title: oppTitle,\n  opportunity_name: parsed.opportunity_name || oppTitle,\n  pwin: parsed.pwin || 10,\n  capture_stage: parsed.capture_stage || 'Interest',\n  allocated_revenue: parsed.allocated_revenue || 0,\n  win_strategy: parsed.win_strategy || '',\n  key_risks: JSON.stringify(parsed.key_risks || []),\n  next_actions: JSON.stringify(parsed.next_actions || []),\n  teaming_strategy: parsed.teaming_strategy || '',\n  incumbent: parsed.incumbent || 'Unknown',\n  discriminators: JSON.stringify(parsed.discriminators || [])\n}}];"},"position":[1300,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"db1","name":"Insert Capture Plan","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1520,300],"parameters":{"operation":"executeQuery","options":{},"query":"INSERT INTO gda_capture_plans (opp_id, opp_title, contract_value, plan_data, auto_generated, sync_source, created_at, updated_at)\nSELECT\n  {{ $json.opp_id }}::int,\n  '{{ ($json.opportunity_name || $json.opp_title || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.allocated_revenue || 0 }}M',\n  ('{\n    \"pwin\": ' || {{ $json.pwin || 10 }} || ',\n    \"capture_stage\": \"{{ ($json.capture_stage || \"Interest\").replace(/\"/g, \"\") }}\",\n    \"allocated_revenue_m\": ' || {{ $json.allocated_revenue || 0 }} || ',\n    \"win_strategy\": \"{{ ($json.win_strategy || \"\").replace(/\"/g, \"\").replace(/'/g, \"''\").replace(/\\n/g, \" \") }}\",\n    \"key_risks\": {{ $json.key_risks || \"[]\" }},\n    \"next_actions\": {{ $json.next_actions || \"[]\" }},\n    \"teaming_strategy\": \"{{ ($json.teaming_strategy || \"\").replace(/\"/g, \"\").replace(/'/g, \"''\") }}\",\n    \"incumbent\": \"{{ ($json.incumbent || \"Unknown\").replace(/\"/g, \"\") }}\",\n    \"discriminators\": {{ $json.discriminators || \"[]\" }},\n    \"generated_by\": \"auto-capture-plan-cron\",\n    \"generated_at\": \"{{ new Date().toISOString() }}\"\n  }')::jsonb,\n  true,\n  'auto-capture-plan-cron',\n  NOW(),\n  NOW()\nWHERE NOT EXISTS (SELECT 1 FROM gda_capture_plans WHERE opp_id = {{ $json.opp_id }}::int)\nRETURNING id, opp_id, opp_title"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}}], "connections" : {"Build Prompt":{"main":[[{"index":0,"node":"Claude Generate Plan","type":"main"}]]},"Claude Generate Plan":{"main":[[{"index":0,"node":"Parse and Save","type":"main"}]]},"Find Missing CPs":{"main":[[{"index":0,"node":"Has Results","type":"main"}]]},"Has Results":{"main":[[{"index":0,"node":"Build Prompt","type":"main"}],[]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Find Missing CPs","type":"main"}]]},"Parse and Save":{"main":[[{"node":"Insert Capture Plan","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-21T01:18:22.139+00:00"}
