docs/n8n-triage/workflows/GDA.api.risk-intel___cS4SQ8tVeAvGm3ht.json
{"id" : "cS4SQ8tVeAvGm3ht", "name" : "GDA.api.risk-intel", "active" : false, "nodes" : [{"id":"w1","name":"Webhook","type":"n8n-nodes-base.webhook","position":[208,304],"webhookId":"897ef6cc-fc5d-4c49-80f1-a7a33ac61562","parameters":{"path":"gda-risk","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1},{"id":"w2","name":"Auth Guard","type":"n8n-nodes-base.code","position":[432,304],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"w3","name":"Route Action","type":"n8n-nodes-base.code","position":[656,304],"parameters":{"jsCode":"const body=$input.first().json.body||{};\nconst action=body.action||'list';\nconst dryRun = body.dryRun === true || body.mode === 'dryRun' || body.mode === 'preview';\nconst writeActions = ['purge_sam_junk','alter','refresh','create','update','dismiss','delete'];\nlet query='';let queryParams=[];\nconst lMap=`CASE WHEN lower(likelihood)='critical' THEN 5 WHEN lower(likelihood)='high' THEN 4 WHEN lower(likelihood)='medium' THEN 3 WHEN lower(likelihood)='low' THEN 2 ELSE 1 END`;\nconst iMap=`CASE WHEN lower(impact)='critical' THEN 5 WHEN lower(impact)='high' THEN 4 WHEN lower(impact)='medium' THEN 3 WHEN lower(impact)='low' THEN 2 ELSE 1 END`;\nconst selTail=`, 'R-'||id as risk_id, (${lMap}) as likelihood_score, (${iMap}) as impact_score, ((${lMap})*(${iMap})) as composite_score FROM gda_risk_register ORDER BY ((${lMap})*(${iMap})) DESC`;\nif(dryRun && writeActions.includes(action)){\n  const preview = {\n    dryRun: true,\n    action,\n    wouldWrite: true,\n    targetRiskId: body.risk_id || body.id || null,\n    title: body.title || '',\n    category: body.category || '',\n    severity: body.severity || '',\n    message: 'Preview only. No gda_risk_register write/delete/schema change was performed.'\n  };\n  const previewJson = JSON.stringify(preview).replace(/'/g, \"''\");\n  query=`SELECT '${previewJson}'::jsonb as preview`;\n  queryParams=[];\n}\nelse if(action==='schema'){\n  query=`SELECT column_name,data_type FROM information_schema.columns WHERE table_name='gda_risk_register' ORDER BY ordinal_position`;\n} else if(action==='opp_schema'){\n  query=`SELECT column_name,data_type FROM information_schema.columns WHERE table_name='gda_opportunity_tracker' ORDER BY ordinal_position`;\n} else if(action==='opp_stats'){\n  query=`SELECT data_source, count(*) as cnt, avg(eis_fit_score) as avg_score, count(*) FILTER(WHERE eis_fit_score<=20) as low_score, count(*) FILTER(WHERE naics_code IS NOT NULL AND naics_code NOT LIKE '54%' AND naics_code NOT LIKE '61%' AND naics_code NOT LIKE '56%') as non_svc_naics FROM gda_opportunity_tracker GROUP BY data_source ORDER BY cnt DESC`;\n} else if(action==='purge_sam_junk'){\n  query=`WITH preview AS (SELECT id, agency, eis_fit_score, naics_code, data_source FROM gda_opportunity_tracker WHERE data_source='SAM.gov' AND (eis_fit_score IS NULL OR eis_fit_score<=20)), del_risks AS (DELETE FROM gda_risk_register WHERE related_opp_id IN (SELECT id FROM preview) RETURNING id), del_opps AS (DELETE FROM gda_opportunity_tracker WHERE id IN (SELECT id FROM preview) RETURNING id) SELECT (SELECT count(*) FROM del_opps) as opps_purged, (SELECT count(*) FROM del_risks) as risks_purged, (SELECT count(*) FROM gda_opportunity_tracker) as remaining_opps, (SELECT count(*) FROM gda_risk_register) as remaining_risks`;\n} else if(action==='purge_preview'){\n  query=`SELECT data_source, eis_fit_score, count(*) as cnt FROM gda_opportunity_tracker WHERE data_source='SAM.gov' AND (eis_fit_score IS NULL OR eis_fit_score<=20) GROUP BY data_source, eis_fit_score ORDER BY eis_fit_score`;\n} else if(action==='alter'){\n  query=`DO $$ BEGIN IF NOT EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name='gda_risk_register' AND column_name='related_opp_id') THEN ALTER TABLE gda_risk_register ADD COLUMN related_opp_id INTEGER; END IF; IF NOT EXISTS(SELECT 1 FROM information_schema.columns WHERE table_name='gda_risk_register' AND column_name='related_opp_title') THEN ALTER TABLE gda_risk_register ADD COLUMN related_opp_title TEXT; END IF; END $$; SELECT column_name,data_type FROM information_schema.columns WHERE table_name='gda_risk_register' ORDER BY ordinal_position`;\n} else if(action==='refresh'){\n  query=`WITH cleanup AS (DELETE FROM gda_risk_register WHERE status NOT IN ('resolved','RESOLVED') AND related_opp_id IS NOT NULL RETURNING id), ins_crit AS (INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,related_opp_id,related_opp_title,created_at) SELECT 'Imminent deadline: '||o.agency||' due '||to_char(o.response_deadline,'Mon DD'),'Response deadline within 7 days. Stage: '||o.stage,'DEADLINE','CRITICAL','HIGH','HIGH','Escalate to capture team. Assign proposal lead immediately.','Shawn','OPEN',o.id,o.agency,NOW() FROM gda_opportunity_tracker o WHERE o.response_deadline BETWEEN NOW()-interval'1 day' AND NOW()+interval'7 days' AND o.stage!='Award' RETURNING id), ins_high14 AS (INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,related_opp_id,related_opp_title,created_at) SELECT 'Deadline approaching: '||o.agency||' due '||to_char(o.response_deadline,'Mon DD'),'Response in 8-14 days but not in Proposal. Stage: '||o.stage,'DEADLINE','HIGH','HIGH','MEDIUM','Submit response or request extension. Assign proposal lead.','Shawn','OPEN',o.id,o.agency,NOW() FROM gda_opportunity_tracker o WHERE o.response_deadline>NOW()+interval'7 days' AND o.response_deadline<=NOW()+interval'14 days' AND o.stage NOT IN('Proposal','Award') RETURNING id), ins_high30 AS (INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,related_opp_id,related_opp_title,created_at) SELECT 'No capture activity: '||o.agency||' due '||to_char(o.response_deadline,'Mon DD'),'Within 30 days but still Identified.','DEADLINE','HIGH','MEDIUM','HIGH','Begin capture immediately. Schedule gate review.','Shawn','OPEN',o.id,o.agency,NOW() FROM gda_opportunity_tracker o WHERE o.response_deadline>NOW()+interval'14 days' AND o.response_deadline<=NOW()+interval'30 days' AND o.stage='Identified' RETURNING id), ins_cap AS (INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,related_opp_id,related_opp_title,created_at) SELECT 'High-value opp ($'||ROUND(o.estimated_value::numeric/1000000)||'M) not in proposal: '||o.agency,'Value >$50M but not in Proposal/Award. Stage: '||o.stage,'CAPTURE','MEDIUM','MEDIUM','HIGH','Schedule gate review. Assign capture manager.','Shawn','OPEN',o.id,o.agency,NOW() FROM gda_opportunity_tracker o WHERE o.estimated_value::numeric>50000000 AND o.stage NOT IN('Proposal','Award') RETURNING id), ins_recomp AS (INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,related_opp_id,related_opp_title,created_at) SELECT 'Must-win recompete: '||o.agency,'Recompete requires incumbency defense plan.','RECOMPETE','HIGH','MEDIUM','HIGH','Initiate incumbency defense plan. Review past performance.','Shawn','OPEN',o.id,o.agency,NOW() FROM gda_opportunity_tracker o WHERE lower(o.agency) LIKE '%recompete%' OR lower(o.agency) LIKE '%re-compete%' RETURNING id), ins_fit AS (INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,related_opp_id,related_opp_title,created_at) SELECT 'Low EIS alignment ('||o.eis_fit_score||'/100): '||o.agency,'Fit score below 50.','ALIGNMENT','LOW','LOW','MEDIUM','Conduct bid/no-bid review in next OODA cycle.','Shawn','OPEN',o.id,o.agency,NOW() FROM gda_opportunity_tracker o WHERE o.eis_fit_score<50 RETURNING id), ins_conc AS (INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,related_opp_id,related_opp_title,created_at) SELECT 'Pipeline concentration: '||d.dept||' = '||ROUND(d.dept_pct)||'%','Single dept >60% of pipeline value.','CONCENTRATION','MEDIUM','MEDIUM','MEDIUM','Diversify pipeline across departments.','Shawn','OPEN',NULL,d.dept,NOW() FROM(SELECT dept,SUM(estimated_value::numeric)*100.0/NULLIF((SELECT SUM(estimated_value::numeric) FROM gda_opportunity_tracker),0) as dept_pct FROM gda_opportunity_tracker GROUP BY dept)d WHERE d.dept_pct>60 RETURNING id) SELECT (SELECT count(*) FROM ins_crit)+(SELECT count(*) FROM ins_high14)+(SELECT count(*) FROM ins_high30)+(SELECT count(*) FROM ins_cap)+(SELECT count(*) FROM ins_recomp)+(SELECT count(*) FROM ins_fit)+(SELECT count(*) FROM ins_conc) as inserted, (SELECT count(*) FROM cleanup) as cleaned`;\n} else if(action==='list'){\n  query=`SELECT *${selTail}`;\n} else if(action==='create'){\n  query=`INSERT INTO gda_risk_register(title,description,category,severity,likelihood,impact,mitigation,owner,status,due_date,related_opp_id,related_opp_title) VALUES($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12) RETURNING *,'R-'||id as risk_id`;\n  queryParams=[body.title,body.description||'',body.category||'general',body.severity||'medium',body.likelihood||'medium',body.impact||'medium',body.mitigation||'',body.owner||'Shawn',body.status||'OPEN',body.due_date||null,body.related_opp_id||null,body.related_opp_title||null];\n} else if(action==='update'){\n  const rid=(body.risk_id||'').replace('R-','');\n  query=`UPDATE gda_risk_register SET status=$1,owner=$2,updated_at=NOW() WHERE id=$3 RETURNING *,'R-'||id as risk_id`;\n  queryParams=[body.status||'resolved',body.reviewed_by||'Shawn',rid];\n} else if(action==='dismiss'){\n  const rid=(body.risk_id||'').replace('R-','');\n  query=`UPDATE gda_risk_register SET status='RESOLVED',updated_at=NOW() WHERE id=$1 RETURNING *`;\n  queryParams=[rid];\n} else if(action==='delete'){\n  const rid=(body.risk_id||'').replace('R-','');\n  query=`DELETE FROM gda_risk_register WHERE id=$1 RETURNING *`;\n  queryParams=[rid];\n} else {\n  query=`SELECT *${selTail}`;\n}\nreturn[{json:{query,queryParams,action,dryRun}}];"},"typeVersion":2},{"id":"w4","name":"Execute Query","type":"n8n-nodes-base.postgres","position":[880,304],"parameters":{"query":"={{ $json.query }}","options":{"queryParameters":"={{ JSON.stringify($json.queryParams || $json.params || []) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"w5","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1104,304],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, dryRun: $('Route Action').first().json.dryRun || false, action: $('Route Action').first().json.action, data: $input.all().map(i => i.json) }) }}"},"typeVersion":1.5}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Execute Query","type":"main","index":0}]]},"Execute Query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:48.906+00:00"}
