docs/n8n-triage/workflows/GDA.cron.capture-milestone-alerts___Kk7O8Bw2FOe41M9l.json
{"id" : "Kk7O8Bw2FOe41M9l", "name" : "GDA.cron.capture-milestone-alerts", "active" : false, "nodes" : [{"id":"sched-cm","name":"Daily 9am ET","parameters":{"rule":{"interval":[{"expression":"0 0 13 * * *","field":"cronExpression"}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"query-milestones","name":"Query Capture Milestones","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT\n  cp.id as plan_id,\n  cp.plan_data->>'opportunity_name' as opp_name,\n  cp.plan_data->>'gate_stage' as gate_stage,\n  cp.plan_data->>'gate_review_date' as gate_review_date,\n  cp.plan_data->>'capture_manager' as capture_manager,\n  cp.plan_data->>'pwwin' as pwin,\n  cp.plan_data->>'teaming_partner' as teaming_partner,\n  cp.updated_at,\n  ot.id as opp_id,\n  ot.opp_title,\n  ot.agency,\n  ot.estimated_value,\n  ot.response_deadline,\n  (ot.response_deadline::date - CURRENT_DATE) as days_to_proposal,\n  -- Classify alert type\n  CASE\n    WHEN cp.plan_data->>'gate_review_date' IS NOT NULL\n      AND (cp.plan_data->>'gate_review_date')::date = CURRENT_DATE THEN 'gate_review_today'\n    WHEN cp.plan_data->>'gate_review_date' IS NOT NULL\n      AND (cp.plan_data->>'gate_review_date')::date BETWEEN CURRENT_DATE + 1 AND CURRENT_DATE + 7 THEN 'gate_review_week'\n    WHEN ot.response_deadline IS NOT NULL\n      AND ot.response_deadline::date BETWEEN CURRENT_DATE AND CURRENT_DATE + 14 THEN 'proposal_deadline_soon'\n    WHEN cp.plan_data->>'gate_review_date' IS NOT NULL\n      AND (cp.plan_data->>'gate_review_date')::date < CURRENT_DATE THEN 'gate_review_overdue'\n    WHEN cp.updated_at < NOW() - INTERVAL '14 days' THEN 'capture_stale'\n    ELSE NULL\n  END as alert_type\nFROM gda_capture_plans cp\nLEFT JOIN gda_opportunity_tracker ot ON ot.id::text = cp.plan_data->>'opp_id'\nWHERE ot.gda_label IN ('PURSUE','EVALUATE')\n  AND (\n    (cp.plan_data->>'gate_review_date' IS NOT NULL AND (cp.plan_data->>'gate_review_date')::date <= CURRENT_DATE + 7)\n    OR (ot.response_deadline IS NOT NULL AND ot.response_deadline::date <= CURRENT_DATE + 14)\n    OR (cp.updated_at < NOW() - INTERVAL '14 days' AND ot.gda_label = 'PURSUE')\n  )\nORDER BY\n  CASE WHEN cp.plan_data->>'gate_review_date' IS NOT NULL THEN (cp.plan_data->>'gate_review_date')::date END ASC NULLS LAST,\n  ot.response_deadline ASC NULLS LAST\nLIMIT 15;"},"position":[420,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"has-milestones","name":"Has Milestones?","parameters":{"combineOperation":"all","conditions":{"combinator":"and","conditions":[{"id":"ms-check","leftValue":"={{ $json.plan_id }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"}}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}}},"position":[640,300],"type":"n8n-nodes-base.if","typeVersion":2.2},{"id":"build-alerts","name":"Build Milestone Alerts","parameters":{"jsCode":"const items = $input.all().map(i => i.json);\n\nreturn items.map(item => {\n  const urgency = item.alert_type === 'gate_review_today' ? '🔴'\n    : item.alert_type === 'gate_review_overdue' ? '🟠'\n    : item.alert_type === 'proposal_deadline_soon' ? '🟡'\n    : item.alert_type === 'capture_stale' ? '⚪'\n    : '🔵';\n\n  const typeLabel = {\n    gate_review_today: 'GATE REVIEW TODAY',\n    gate_review_week: 'Gate Review This Week',\n    gate_review_overdue: 'GATE REVIEW OVERDUE',\n    proposal_deadline_soon: 'Proposal Deadline Soon',\n    capture_stale: 'Capture Plan Stale (14+ days)'\n  }[item.alert_type] || 'Milestone Alert';\n\n  const lines = [\n    `${urgency} *${typeLabel}*`,\n    `*${item.opp_name || item.opp_title}*`,\n    `Agency: ${item.agency || 'N/A'}`,\n    `Gate: ${item.gate_stage || 'N/A'}`,\n    item.gate_review_date ? `Gate Review: ${item.gate_review_date}` : null,\n    item.days_to_proposal != null ? `Proposal in ${item.days_to_proposal} days (${item.response_deadline})` : null,\n    item.pwin ? `Pwin: ${item.pwin}%` : null,\n    item.capture_manager ? `CM: ${item.capture_manager}` : null,\n    item.teaming_partner ? `Partner: ${item.teaming_partner}` : null,\n    item.estimated_value ? `Value: $${(parseFloat(item.estimated_value)/1e6).toFixed(1)}M` : null\n  ].filter(Boolean).join('\\n');\n\n  return { json: { ...item, telegram_message: lines } };\n});"},"position":[860,180],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"id":"send-tg-ms","name":"Send Telegram Milestone","onError":"continueRegularOutput","parameters":{"additionalFields":{"parse_mode":"Markdown"},"chatId":"8631035943","text":"={{ $json.telegram_message }}"},"position":[1080,100],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"0cc52d98-5316-4987-92ec-da1342d406e5"},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"log-ms","name":"Log Milestone Alert","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"INSERT INTO gda_intelligence_log (category, finding, source, agency, created_at)\nSELECT 'capture_milestone', {{ $json.alert_type + ': ' + ($json.opp_name || $json.opp_title) }}, 'capture-milestone-alerts', {{ $json.agency || 'internal' }}, NOW()\nWHERE NOT EXISTS (\n  SELECT 1 FROM gda_intelligence_log\n  WHERE source = 'capture-milestone-alerts'\n  AND finding = {{ $json.alert_type + ': ' + ($json.opp_name || $json.opp_title) }}\n  AND created_at > NOW() - INTERVAL '1 day'\n)"},"position":[1080,280],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"no-milestones","name":"No Milestones Today","parameters":{"jsCode":"return [{json:{status:'ok', message:'No capture milestones due in the next 14 days', checked_at: new Date().toISOString()}}];"},"position":[860,440],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Daily 9am ET":{"main":[[{"index":0,"node":"Query Capture Milestones","type":"main"}]]},"Has Milestones?":{"main":[[{"index":0,"node":"Build Milestone Alerts","type":"main"}],[{"index":0,"node":"No Milestones Today","type":"main"}]]},"Build Milestone Alerts":{"main":[[{"index":0,"node":"Send Telegram Milestone","type":"main"},{"index":0,"node":"Log Milestone Alert","type":"main"}]]},"Log Milestone Alert":{"main":[[]]},"Query Capture Milestones":{"main":[[{"index":0,"node":"Has Milestones?","type":"main"}]]},"Send Telegram Milestone":{"main":[[]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:29.783+00:00"}
