docs/n8n-triage/workflows/GDA.cron.data-retention___LzjiBI80aDAZgDIp.json
{"id" : "LzjiBI80aDAZgDIp", "name" : "GDA.cron.data-retention", "active" : false, "nodes" : [{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 3 * * *"}]}},"id":"trigger","name":"Daily 3AM ET","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[224,400]},{"parameters":{"operation":"executeQuery","query":"-- 7-day retention: caches and outputs\nDELETE FROM gda_prompt_architect_memory WHERE created_at < NOW() - INTERVAL '7 days';\nDELETE FROM gda_competitor_cache WHERE created_at < NOW() - INTERVAL '7 days';\nDELETE FROM gda_dashboard_intel_cache WHERE created_at < NOW() - INTERVAL '7 days';\nDELETE FROM govtribe_cache WHERE cached_at < NOW() - INTERVAL '7 days';\n\n-- 30-day retention: logs and history\nDELETE FROM gda_intelligence_log WHERE \"timestamp\" < NOW() - INTERVAL '30 days';\nDELETE FROM gda_action_history WHERE expires_at < NOW();\n\n-- Count what remains\nSELECT\n  'retention_complete' as status,\n  (SELECT COUNT(*) FROM gda_prompt_architect_memory) as prompt_arch,\n  (SELECT COUNT(*) FROM gda_competitor_cache) as comp_cache,\n  (SELECT COUNT(*) FROM daily_trends) as trends,\n  (SELECT COUNT(*) FROM gda_intelligence_log) as intel_log,\n  (SELECT COUNT(*) FROM gda_action_history) as action_history;","options":{}},"id":"cleanup","name":"Run Retention","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[448,304],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log('Data retention complete:', JSON.stringify(r));\nreturn [{json: {status: 'ok', action: 'data_retention', timestamp: new Date().toISOString(), remaining: r}}];"},"id":"log","name":"Log Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304]},{"parameters":{"operation":"executeQuery","query":"DELETE FROM gda_action_history WHERE expires_at < NOW();","options":{}},"id":"cleanup-history","name":"Cleanup Action History","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[448,496],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}}], "connections" : {"Daily 3AM ET":{"main":[[{"node":"Run Retention","type":"main","index":0},{"node":"Cleanup Action History","type":"main","index":0}]]},"Run Retention":{"main":[[{"node":"Log Result","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","binaryMode":"separate"}, "updatedAt" : "2026-05-21T01:19:26.258+00:00"}
