docs/n8n-triage/workflows/GDA.api.approvals-queue___1aYt8mIzZ5duB3TX.json
{"id" : "1aYt8mIzZ5duB3TX", "name" : "GDA.api.approvals-queue", "active" : false, "nodes" : [{"id":"aq-webhook","name":"Webhook","onError":"continueRegularOutput","parameters":{"httpMethod":"POST","options":{},"path":"approvals-queue","responseMode":"responseNode"},"position":[180,300],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"15037739-d7a9-445d-a3ad-9d3246dece0c"},{"id":"aq-router","name":"Router","parameters":{"jsCode":"const req = $input.first().json;\nconst body = req.body || {};\nconst ts = new Date().toISOString();\nconst action = body.action || 'list';\nconst id = body.id || null;\nreturn [{ json: { action, id, body, ts } }];"},"position":[400,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"aq-switch","name":"Which Action","parameters":{"mode":"rules","options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"list"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"approve"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}}]}},"position":[620,300],"type":"n8n-nodes-base.switch","typeVersion":3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"continueOnFail":true,"id":"aq-list","name":"List Queue","parameters":{"operation":"executeQuery","options":{"alwaysOutputData":true},"query":"SELECT id, title, description, lane, status, requested_by, requested_at, approved_at, approved_by, meta FROM gda_approval_queue ORDER BY requested_at DESC LIMIT 100;"},"position":[860,160],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"aq-build-list","name":"Build List OK","parameters":{"jsCode":"const item = $input.first().json;\nconst rows = item.__rows || [];\nconst ts = item.__ts || new Date().toISOString();\nreturn [{ json: {\n  __status: 200,\n  __body: JSON.stringify({\n    success: true,\n    workflow: 'GDA.api.approvals-queue',\n    action: 'list',\n    dryRun: false,\n    data: rows,\n    meta: { count: rows.length, timestamp: ts },\n    error: null\n  })\n}}];"},"position":[1100,160],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"aq-respond-list","name":"Respond List","parameters":{"options":{"responseCode":"={{ $json.__status }}"},"respondWith":"json","responseBody":"={{ $json.__body }}"},"position":[1320,160],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"aq-approve","name":"Approve Item","parameters":{"jsCode":"const router = $('Router').first().json;\nconst body = router.body || {};\nconst ts = router.ts;\nconst id = body.id || null;\nconst confirmed = body.confirmed === true;\nconst doubleConfirmed = body.doubleConfirmed === true;\nif (!id || !confirmed || !doubleConfirmed) {\n  return [{ json: { __status: 400, __body: JSON.stringify({ success: false, workflow: 'GDA.api.approvals-queue', action: 'approve', dryRun: false, data: null, meta: { timestamp: ts }, error: { code: 'MISSING_CONFIRMATION', message: 'id, confirmed, and doubleConfirmed are all required.' } }) } }];\n}\nreturn [{ json: { id, ts, body, __validated: true } }];"},"position":[860,440],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"aq-fetch","name":"Fetch Item","parameters":{"operation":"executeQuery","options":{},"query":"=SELECT id, lane, status, approved_at, approved_by FROM gda_approval_queue WHERE id = '{{ $json.id }}' LIMIT 1;"},"position":[1100,440],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"aq-lane-gate","name":"Lane Gate","parameters":{"jsCode":"const rows = $input.all();\nconst approve = $('Approve Item').first().json;\nconst ts = approve.ts;\nconst SAFE = ['read-only','dry-run'];\nconst BLOCKED = ['test-row','approval-required','unknown'];\nif (!rows.length || !rows[0].json.id) {\n  return [{ json: { __status: 404, __body: JSON.stringify({ success: false, workflow: 'GDA.api.approvals-queue', action: 'approve', dryRun: false, data: null, meta: { timestamp: ts }, error: { code: 'NOT_FOUND', message: 'Approval item not found.' } }), __skipWrite: true } }];\n}\nconst item = rows[0].json;\nconst lane = (item.lane || 'unknown').toLowerCase();\nconst status = (item.status || '').toLowerCase();\nif (['approved','rejected','changes_requested'].includes(status)) {\n  return [{ json: { __status: 409, __body: JSON.stringify({ success: false, workflow: 'GDA.api.approvals-queue', action: 'approve', dryRun: false, data: { id: item.id, lane, status }, meta: { timestamp: ts }, error: { code: 'ALREADY_RESOLVED', message: 'Item is already ' + status + '.' } }), __skipWrite: true } }];\n}\nif (BLOCKED.includes(lane)) {\n  return [{ json: { __status: 422, __body: JSON.stringify({ success: false, workflow: 'GDA.api.approvals-queue', action: 'approve', dryRun: false, data: { id: item.id, lane, status }, meta: { timestamp: ts }, error: { code: 'LANE_NOT_ENABLED', message: 'Live approval for lane \"' + lane + '\" is not enabled in this release.' } }), __skipWrite: true } }];\n}\nif (SAFE.includes(lane)) {\n  return [{ json: { __skipWrite: false, id: item.id, lane, ts } }];\n}\nreturn [{ json: { __status: 422, __body: JSON.stringify({ success: false, workflow: 'GDA.api.approvals-queue', action: 'approve', dryRun: false, data: { id: item.id, lane, status }, meta: { timestamp: ts }, error: { code: 'LANE_NOT_ENABLED', message: 'Lane \"' + lane + '\" is not enabled for live approval.' } }), __skipWrite: true } }];"},"position":[1320,440],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"aq-if-write","name":"Should Write","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.__skipWrite }}","operator":{"operation":"false","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}}},"position":[1540,440],"type":"n8n-nodes-base.if","typeVersion":2.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"aq-write","name":"Write Approved","parameters":{"operation":"executeQuery","options":{},"query":"=ALTER TABLE gda_approval_queue ADD COLUMN IF NOT EXISTS approved_at TIMESTAMPTZ;\nALTER TABLE gda_approval_queue ADD COLUMN IF NOT EXISTS approved_by TEXT;\nUPDATE gda_approval_queue SET status = 'approved', approved_at = NOW(), approved_by = 'shawn.seffernick' WHERE id = '{{ $json.id }}' RETURNING id, lane, status, approved_at, approved_by;"},"position":[1760,340],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"aq-build-approve-ok","name":"Build Approve OK","parameters":{"jsCode":"const rows = $input.all();\nconst gate = $('Lane Gate').first().json;\nconst ts = gate.ts;\nif (!rows.length) {\n  return [{ json: { __status: 500, __body: JSON.stringify({ success: false, workflow: 'GDA.api.approvals-queue', action: 'approve', dryRun: false, data: null, meta: { timestamp: ts }, error: { code: 'WRITE_FAILED', message: 'DB write returned no rows.' } }) } }];\n}\nconst row = rows[0].json;\nreturn [{ json: { __status: 200, __body: JSON.stringify({ success: true, workflow: 'GDA.api.approvals-queue', action: 'approve', dryRun: false, data: { id: row.id, lane: row.lane, status: row.status, approved_at: row.approved_at, approved_by: row.approved_by }, meta: { timestamp: ts, note: 'Approval recorded. No workflow execution in this release.' }, error: null }) } }];"},"position":[1980,340],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"aq-build-blocked","name":"Build Blocked","parameters":{"jsCode":"const item = $input.first().json;\nreturn [{ json: { __status: item.__status, __body: item.__body } }];"},"position":[1760,560],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"aq-respond-approve","name":"Respond Approve","parameters":{"options":{"responseCode":"={{ $json.__status }}"},"respondWith":"json","responseBody":"={{ $json.__body }}"},"position":[2200,440],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"aq-passthrough","name":"List Passthrough","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,160],"parameters":{"jsCode":"// Always fires. Reads 0-or-N rows from the named List Queue node.\n// Works because continueOnFail:true on List Queue emits one error item when 0 rows,\n// and $('List Queue').all() sees actual row data when rows exist.\nconst pgItems = $('List Queue').all();\nconst rows = pgItems.map(i => i.json).filter(r => r && typeof r.id !== 'undefined' && !r.error);\nreturn [{ json: { __rows: rows, __ts: new Date().toISOString() } }];"}}], "connections" : {"Approve Item":{"main":[[{"index":0,"node":"Fetch Item","type":"main"}]]},"Build Approve OK":{"main":[[{"index":0,"node":"Respond Approve","type":"main"}]]},"Build Blocked":{"main":[[{"index":0,"node":"Respond Approve","type":"main"}]]},"Build List OK":{"main":[[{"index":0,"node":"Respond List","type":"main"}]]},"Fetch Item":{"main":[[{"index":0,"node":"Lane Gate","type":"main"}]]},"Lane Gate":{"main":[[{"index":0,"node":"Should Write","type":"main"}]]},"Router":{"main":[[{"index":0,"node":"Which Action","type":"main"}]]},"Should Write":{"main":[[{"index":0,"node":"Write Approved","type":"main"}],[{"index":0,"node":"Build Blocked","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Router","type":"main"}]]},"Which Action":{"main":[[{"index":0,"node":"List Queue","type":"main"},{"node":"List Passthrough","type":"main","index":0}],[{"index":0,"node":"Approve Item","type":"main"}]]},"Write Approved":{"main":[[{"index":0,"node":"Build Approve OK","type":"main"}]]},"List Passthrough":{"main":[[{"node":"Build List OK","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"}, "updatedAt" : "2026-05-08T22:11:01.83+00:00"}
