docs/n8n-triage/workflows/GDA.api.meeting-notes_2___34M99tJpcYh4Qd43.json
{"id" : "34M99tJpcYh4Qd43", "name" : "GDA.api.meeting-notes 2", "active" : false, "nodes" : [{"id":"3debfe25-fab9-4b4b-9f52-1401c9d987c5","name":"Webhook","type":"n8n-nodes-base.webhook","onError":"continueRegularOutput","position":[208,304],"webhookId":"1edf33ad-86ca-496f-93ca-35b396698dbf","parameters":{"path":"gda-meeting-notes","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"f3e29c91-b012-4467-af25-97ba1eb568bf","name":"Auth Guard","type":"n8n-nodes-base.code","position":[432,304],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"47ae35e0-1ea3-4a61-9756-d41c5f31e02a","name":"Parse Transcript","type":"n8n-nodes-base.code","position":[656,304],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  session_id: body.session_id || ('mtg_' + Date.now()),\n  meeting_title: body.meeting_title || body.title || 'Meeting Notes',\n  transcript: body.transcript || body.notes || body.content || '',\n  attendees: body.attendees || '',\n  date: body.date || new Date().toISOString().split('T')[0],\n  meeting_type: body.meeting_type || 'general'\n}}];"},"typeVersion":2},{"id":"a84a356f-7ab4-4b64-b695-891ea101895e","name":"Process Meeting Notes","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[880,304],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":90000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: 'You are a defense BD executive assistant for Georgetown Defense Analytics (GDA). Extract structured intelligence from meeting transcripts. Be thorough. Return ONLY valid JSON.', messages: [{ role: 'user', content: 'Analyze this meeting transcript.\\n\\nMEETING: ' + $json.meeting_title + '\\nDATE: ' + $json.date + '\\nATTENDEES: ' + $json.attendees + '\\nTYPE: ' + $json.meeting_type + '\\n\\nTRANSCRIPT:\\n' + $json.transcript.substring(0, 12000) + '\\n\\nReturn JSON: {\"summary\": \"executive summary\", \"key_decisions\": [\"string\"], \"action_items\": [{\"what\": \"string\", \"who\": \"string\", \"due_date\": \"string\", \"priority\": \"Critical|High|Medium|Low\"}], \"opportunities_identified\": [{\"name\": \"string\", \"agency\": \"string\", \"next_step\": \"string\"}], \"competitor_mentions\": [{\"name\": \"string\", \"context\": \"string\", \"threat_level\": \"High|Medium|Low\"}], \"budget_signals\": [\"string\"], \"follow_up_required\": [{\"action\": \"string\", \"owner\": \"string\", \"deadline\": \"string\"}], \"intelligence_value\": \"HIGH|MEDIUM|LOW\", \"recommended_next_steps\": [\"string\"]}' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2},{"id":"8afc4820-7398-4028-9f51-133a00b86e0b","name":"Parse AI Response","type":"n8n-nodes-base.code","position":[1104,304],"parameters":{"jsCode":"const input = $('Parse Transcript').first().json;\nconst raw = $input.first().json;\nlet parsed = {};\ntry {\n  const text = raw.content && raw.content[0] ? raw.content[0].text || '{}' : '{}';\n  const clean = text.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = { summary: 'Parse error: ' + e.message, action_items: [], key_decisions: [], intelligence_value: 'LOW' };\n}\nreturn [{ json: { ...input, ...parsed, processed_at: new Date().toISOString() } }];"},"typeVersion":2},{"id":"15913c84-b606-43d1-a303-5017c813eccb","name":"Save Meeting Notes","type":"n8n-nodes-base.postgres","position":[1328,304],"parameters":{"query":"INSERT INTO gda_meeting_notes (session_id, meeting_title, meeting_type, raw_transcript, summary, action_items, intelligence_value, attendees) VALUES ($1, $2, $3, $4, $5, $6, $7, $8)","options":{"queryParameters":"={{ JSON.stringify([$json.session_id||'', $json.meeting_title||'', $json.meeting_type||'', ($json.transcript||'').substring(0,5000), $json.summary||'', JSON.stringify($json.action_items||[]), $json.intelligence_value||'LOW', $json.attendees||'']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"8dc402bc-63aa-4c8a-bc89-42a9246fac87","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1552,304],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($('Parse AI Response').first().json) }}"},"typeVersion":1}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Parse Transcript","type":"main","index":0}]]},"Parse Transcript":{"main":[[{"node":"Process Meeting Notes","type":"main","index":0}]]},"Process Meeting Notes":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Save Meeting Notes","type":"main","index":0}]]},"Save Meeting Notes":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}, "updatedAt" : "2026-05-26T21:28:48.068+00:00"}
