docs/n8n-triage/workflows/GDA.cron.fpds-enrichment___WmGfzHUE10o1zvqA.json
{"id" : "WmGfzHUE10o1zvqA", "name" : "GDA.cron.fpds-enrichment", "active" : false, "nodes" : [{"id":"cron-fpds","name":"Every Night 3AM","parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 7 * * *"}]}},"position":[0,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"load-plans","name":"Load Capture Plans","parameters":{"operation":"executeQuery","options":{},"query":"SELECT cp.id, cp.opportunity, cp.agency, cp.contract_value, cp.plan_data->>'naics_code' as naics, cp.plan_data->>'stage' as stage, cp.plan_data->>'known_competitors' as known_competitors, cp.plan_data->>'fpds_last_enriched' as last_enriched FROM gda_capture_plans cp WHERE cp.plan_data IS NOT NULL AND (cp.plan_data->>'fpds_last_enriched' IS NULL OR cp.plan_data->>'fpds_last_enriched' < (NOW() - INTERVAL '7 days')::text) ORDER BY cp.contract_value DESC NULLS LAST LIMIT 10"},"position":[220,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"build-queries","name":"Build Agency Queries","parameters":{"jsCode":"var plans = $input.all().map(function(i) { return i.json; });\nvar results = [];\nplans.forEach(function(p) {\n  var agency = (p.agency || '').trim();\n  var naics = (p.naics || '').trim();\n  if (!agency) return;\n  // Build GovTribe search query for FPDS awards by this agency\n  var searchTerms = agency;\n  if (naics) searchTerms += ' NAICS ' + naics;\n  results.push({\n    json: {\n      plan_id: p.id,\n      opportunity: p.opportunity,\n      agency: agency,\n      naics: naics,\n      contract_value: p.contract_value,\n      stage: p.stage,\n      existing_competitors: p.known_competitors || '',\n      search_query: searchTerms\n    }\n  });\n});\nreturn results.length > 0 ? results : [{ json: { skip: true, reason: 'no_plans_need_enrichment' } }];"},"position":[440,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"gt-awards","name":"GovTribe Award Search","onError":"continueRegularOutput","parameters":{"jsonBody":"={{ JSON.stringify({ query: $json.search_query, plan_id: $json.plan_id, agency: $json.agency }) }}","method":"POST","options":{"timeout":30000},"sendBody":true,"specifyBody":"json","url":"https://n8n.csr-llc.tech/webhook/gda-incumbent-analysis","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]},"sendHeaders":true},"position":[660,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"parse-awards","name":"Parse Award History","parameters":{"jsCode":"var input = $input.first().json;\nvar planId = $('Build Agency Queries').first().json.plan_id;\nvar existingComps = $('Build Agency Queries').first().json.existing_competitors || '';\n\n// Extract competitor names from award data\nvar awards = input.awards || input.data || [];\nvar competitors = new Map();\nif (Array.isArray(awards)) {\n  awards.forEach(function(a) {\n    var vendor = a.vendor || a.awardee || a.recipient || '';\n    if (typeof vendor === 'object') vendor = vendor.name || vendor.legal_name || '';\n    vendor = String(vendor).trim();\n    if (!vendor) return;\n    if (!competitors.has(vendor)) {\n      competitors.set(vendor, { name: vendor, award_count: 0, total_value: 0, last_award: null });\n    }\n    var c = competitors.get(vendor);\n    c.award_count++;\n    c.total_value += parseFloat(a.value || a.amount || 0) || 0;\n    if (a.date || a.award_date) c.last_award = a.date || a.award_date;\n  });\n}\n\nvar compList = Array.from(competitors.values()).sort(function(a, b) { return b.total_value - a.total_value; }).slice(0, 10);\nvar compNames = compList.map(function(c) { return c.name; });\n\n// Merge with existing competitors\nvar allComps = new Set();\nif (existingComps) existingComps.split(',').forEach(function(c) { allComps.add(c.trim()); });\ncompNames.forEach(function(c) { allComps.add(c); });\n\nvar landscape = {\n  fpds_competitors: compList,\n  merged_competitors: Array.from(allComps).join(', '),\n  total_awards_analyzed: awards.length,\n  fpds_last_enriched: new Date().toISOString().split('T')[0]\n};\n\nreturn [{ json: { plan_id: planId, landscape: landscape, update_sql: \"UPDATE gda_capture_plans SET plan_data = plan_data || '\" + JSON.stringify(landscape).replace(/'/g, \"''\") + \"'::jsonb WHERE id = \" + planId } }];"},"position":[880,300],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"write-landscape","name":"Write Competitive Landscape","parameters":{"operation":"executeQuery","options":{},"query":"={{ $json.update_sql }}"},"position":[1100,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"log-enrich","name":"Log Enrichment","onError":"continueRegularOutput","parameters":{"jsonBody":"={{ JSON.stringify({ interaction_type: 'fpds_enrichment', entity_type: 'capture_plan', entity_id: String($json.plan_id || $('Parse Award History').first().json.plan_id || ''), action: 'enrich', content: JSON.stringify({ plan_id: $('Parse Award History').first().json.plan_id, awards_analyzed: ($('Parse Award History').first().json.landscape || {}).total_awards_analyzed || 0 }), content_type: 'competitive_intel', source: 'fpds_enrichment', title: 'FPDS enrichment ' + new Date().toISOString() }) }}","method":"POST","options":{"timeout":10000},"sendBody":true,"specifyBody":"json","url":"https://n8n.csr-llc.tech/webhook/gda-learn","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]},"sendHeaders":true},"position":[1320,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4}], "connections" : {"Build Agency Queries":{"main":[[{"index":0,"node":"GovTribe Award Search","type":"main"}]]},"Every Night 3AM":{"main":[[{"index":0,"node":"Load Capture Plans","type":"main"}]]},"GovTribe Award Search":{"main":[[{"index":0,"node":"Parse Award History","type":"main"}]]},"Load Capture Plans":{"main":[[{"index":0,"node":"Build Agency Queries","type":"main"}]]},"Log Enrichment":{"main":[]},"Parse Award History":{"main":[[{"index":0,"node":"Write Competitive Landscape","type":"main"}]]},"Write Competitive Landscape":{"main":[[{"index":0,"node":"Log Enrichment","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveExecutionProgress":false}, "updatedAt" : "2026-05-26T21:28:57.002+00:00"}
