docs/n8n-triage/workflows/GDA.api.competitor-watchlist___yhJHrha9QYwUIoPc.json
{"id" : "yhJHrha9QYwUIoPc", "name" : "GDA.api.competitor-watchlist", "active" : false, "nodes" : [{"id":"auth-cw","name":"Auth Guard","type":"n8n-nodes-base.code","position":[464,784],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"wh-cw","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,784],"webhookId":"1fe0f53a-96c1-4df3-bb6c-7068ec7ca9d0","parameters":{"path":"gda-competitor-watchlist","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1},{"id":"route-cw","name":"Route Action","type":"n8n-nodes-base.switch","position":[688,688],"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"list"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"add"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"remove"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"analyze"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"ask"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"monitor"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"setup"}]}}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3.2},{"id":"list-cw","name":"List Competitors","type":"n8n-nodes-base.postgres","position":[912,112],"parameters":{"query":"SELECT id, name, size, target_agencies, capabilities, threat_score, threat_level, region, govtribe_url, total_obligated, status, scoring_factors, scored_at, created_at, landscape, tags, COALESCE(eis_strategy->>'eis_impact', '') AS eis_strategy, COALESCE(teaming_potential->>'assessment', '') AS teaming_potential, COALESCE(known_contracts::text, '[]') AS known_contracts, relationship, relationship_rationale, why_they_matter, top_agencies, idiq_vehicles, sba_certs, capture_plan_overlap, govtribe_summary FROM gda_competitor_watchlist WHERE status != 'removed' ORDER BY CASE WHEN size = 'Large' THEN 1 WHEN size = 'Mid' THEN 2 WHEN size = 'Small' THEN 3 ELSE 4 END, total_obligated DESC NULLS LAST, name","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"add-cw","name":"Add Competitor","type":"n8n-nodes-base.postgres","position":[912,304],"parameters":{"query":"INSERT INTO gda_competitor_watchlist (name, size, target_agencies, capabilities, status, added_reason) VALUES ($1, $2, $3, $4, 'active', $5) ON CONFLICT (name) DO UPDATE SET status = 'active', size = COALESCE(EXCLUDED.size, gda_competitor_watchlist.size), updated_at = NOW() RETURNING *","options":{"queryParameters":"={{ JSON.stringify([$json.body.name||'', $json.body.size||'unknown', $json.body.target_agencies||'', $json.body.capabilities||'', $json.body.reason||'Manual add']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"remove-cw","name":"Remove Competitor","type":"n8n-nodes-base.postgres","position":[912,496],"parameters":{"query":"UPDATE gda_competitor_watchlist SET status = 'paused' WHERE name ILIKE $1 RETURNING *","options":{"queryParameters":"={{ JSON.stringify([$json.body.name||'']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"build-analyze","name":"Build Analyze Prompt","type":"n8n-nodes-base.code","position":[912,688],"parameters":{"jsCode":"const body = $('Webhook').first().json.body || {};\nconst name = body.name || body.competitor || 'Unknown';\nconst prompt = ['COMPETITOR ANALYSIS: ' + name, '', 'Search Tavily and USASpending for this competitor. Return JSON with name, size, threat_score, capabilities, known_contracts, overlap_with_eis, teaming_potential, recent_news, eis_strategy, analyzed_at'].join('\\n');\nreturn [{ json: { prompt, name, action: 'analyze' } }];"},"typeVersion":2},{"id":"build-ask","name":"Build Ask Prompt","type":"n8n-nodes-base.code","position":[912,880],"parameters":{"jsCode":"const body = $('Webhook').first().json.body || {};\nconst name = body.name || body.competitor || 'Unknown';\nconst question = body.question || 'Tell me about this competitor';\nconst prompt = ['COMPETITOR QUESTION: ' + name, 'Question: ' + question, 'Search Tavily. Return JSON: {competitor, question, answer, implications_for_eis, sources, answered_at}'].join('\\n');\nreturn [{ json: { prompt, name, action: 'ask' } }];"},"typeVersion":2},{"id":"monitor-cw","name":"Run Monitoring","type":"n8n-nodes-base.code","position":[912,1072],"parameters":{"jsCode":"const body = $('Webhook').first().json.body || {};\nconst competitors = body.competitors || ['Booz Allen Hamilton', 'Leidos', 'SAIC', 'CACI', 'L3Harris'];\nconst prompt = ['COMPETITOR MONITORING SCAN', '', competitors.map(function(c,i){return (i+1)+'. '+c;}).join('\\n'), '', 'Return JSON: {scan_date, alerts, competitors_scanned, total_alerts}'].join('\\n');\nreturn [{ json: { prompt, action: 'monitor' } }];"},"typeVersion":2},{"id":"ai-cw","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","onError":"continueRegularOutput","disabled":true,"maxTries":2,"position":[1192,776],"parameters":{"text":"={{ $json.prompt }}","options":{"maxIterations":8,"systemMessage":"You are a competitive intelligence analyst for EIS. Return only valid JSON."},"promptType":"define"},"retryOnFail":true,"typeVersion":3.1,"waitBetweenTries":5000},{"id":"llm-cw","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","disabled":true,"position":[1136,1000],"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude Sonnet 4"},"options":{}},"credentials":{"anthropicApi":{"id":"d92MU0tRK7bEGV83","name":"Anthropic account"}},"typeVersion":1.3},{"id":"tavily-cw","name":"Tavily Search","type":"n8n-nodes-base.httpRequestTool","onError":"continueRegularOutput","disabled":true,"position":[1264,1000],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{"timeout":15000},"jsonBody":"={{ JSON.stringify({ api_key: $env.GDA_TAVILY_API_KEY, query: $fromAI('query', 'Search query', 'string'), max_results: 7, search_depth: 'basic' }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","toolDescription":"Search web for competitor intelligence.","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.4,"continueOnFail":true},{"id":"usa-cw","name":"USASpending Search","type":"n8n-nodes-base.httpRequestTool","onError":"continueRegularOutput","disabled":true,"position":[1392,1000],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{keywords:[$fromAI('keywords','Vendor name','string')],time_period:[{start_date:'2023-10-01',end_date:'2025-09-30'}]},fields:['Award ID','Recipient Name','Award Amount','Awarding Agency','Award Type','Description','Start Date','End Date','NAICS Code'],limit:15,page:1,sort:'Award Amount',order:'desc'}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","toolDescription":"Search USASpending.gov.","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.4,"continueOnFail":true},{"id":"parse-cw","name":"Parse and Save","type":"n8n-nodes-base.code","position":[1600,880],"parameters":{"jsCode":"var item = $input.first().json;\nvar data = item.output || '';\nvar start = data.indexOf('{');\nvar end = data.lastIndexOf('}');\nvar parsed = {};\ntry { if (start !== -1 && end !== -1) parsed = JSON.parse(data.substring(start, end + 1)); else parsed = { error: 'No JSON found' }; } catch(e) { parsed = { error: 'Parse failed' }; }\nif (!parsed.generated_at) parsed.generated_at = new Date().toISOString();\nreturn [{ json: parsed }];"},"typeVersion":2},{"id":"resp-list","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","position":[1256,112],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'list', competitors: $input.all().map(function(i) { return i.json; }) }) }}"},"typeVersion":1.5},{"id":"resp-add","name":"Respond Add","type":"n8n-nodes-base.respondToWebhook","position":[1256,304],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'add', added: $json }) }}"},"typeVersion":1.5},{"id":"resp-remove","name":"Respond Remove","type":"n8n-nodes-base.respondToWebhook","position":[1256,496],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'remove', removed: $json }) }}"},"typeVersion":1.5},{"id":"resp-analysis","name":"Respond Analysis","type":"n8n-nodes-base.respondToWebhook","position":[1824,880],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json }}"},"typeVersion":1.5},{"id":"setup-cw","name":"Setup Table","type":"n8n-nodes-base.postgres","position":[912,1264],"parameters":{"query":"CREATE TABLE IF NOT EXISTS gda_competitor_watchlist (id SERIAL PRIMARY KEY, name TEXT UNIQUE NOT NULL, size VARCHAR(20) DEFAULT 'unknown', threat_score INTEGER DEFAULT 0, target_agencies TEXT, capabilities TEXT, status VARCHAR(20) DEFAULT 'active', region TEXT, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW()); SELECT 'ready';","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"resp-setup-cw","name":"Respond Setup","type":"n8n-nodes-base.respondToWebhook","position":[1256,1264],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"allIncomingItems"},"typeVersion":1.5},{"id":"resp-default-cw2","name":"Respond Default","type":"n8n-nodes-base.respondToWebhook","position":[912,1456],"parameters":{"options":{"responseCode":400},"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Invalid action' }) }}"},"typeVersion":1.5},{"id":"claude-cw-direct","name":"Claude Direct","type":"n8n-nodes-base.httpRequest","position":[1192,776],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":60000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: 'You are a competitive intelligence analyst for Georgetown Defense Analytics (GDA). Analyze defense contractors targeting the same federal agencies as GDA: SOCOM, TRADOC, PEO STRI, INSCOM, CYBERCOM, DISA, MDA. Return ONLY valid JSON. No markdown fences. Cite source URLs for every finding.', messages: [{ role: 'user', content: $json.prompt || $json.message || '' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2},{"id":"extract-cw-direct","name":"Extract CW Output","type":"n8n-nodes-base.code","position":[1400,776],"parameters":{"jsCode":"const data = $input.first().json;\nlet text = '';\nif (data.content && data.content[0]) text = data.content[0].text || '';\nelse if (data.error) text = JSON.stringify(data.error);\nelse text = JSON.stringify(data);\nreturn [{ json: { output: text } }];"},"typeVersion":2}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"List Competitors","type":"main","index":0}],[{"node":"Add Competitor","type":"main","index":0}],[{"node":"Remove Competitor","type":"main","index":0}],[{"node":"Build Analyze Prompt","type":"main","index":0}],[{"node":"Build Ask Prompt","type":"main","index":0}],[{"node":"Run Monitoring","type":"main","index":0}],[{"node":"Setup Table","type":"main","index":0}],[{"node":"Respond Default","type":"main","index":0}]]},"List Competitors":{"main":[[{"node":"Respond List","type":"main","index":0}]]},"Add Competitor":{"main":[[{"node":"Respond Add","type":"main","index":0}]]},"Remove Competitor":{"main":[[{"node":"Respond Remove","type":"main","index":0}]]},"Build Analyze Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Claude Direct","type":"main","index":0}]]},"Build Ask Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Claude Direct","type":"main","index":0}]]},"Run Monitoring":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Claude Direct","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Tavily Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"USASpending Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Parse and Save","type":"main","index":0}]]},"Parse and Save":{"main":[[{"node":"Respond Analysis","type":"main","index":0}]]},"Setup Table":{"main":[[{"node":"Respond Setup","type":"main","index":0}]]},"Claude Direct":{"main":[[{"node":"Extract CW Output","type":"main","index":0}]]},"Extract CW Output":{"main":[[{"node":"Parse and Save","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:43.757+00:00"}
