docs/n8n-triage/workflows/GDA.api.e2e-reports___PqJgzJkHM1BFWkwl.json
{"id" : "PqJgzJkHM1BFWkwl", "name" : "GDA.api.e2e-reports", "active" : false, "nodes" : [{"id":"wh-rpt","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,400],"webhookId":"gda-e2e-reports-01","parameters":{"path":"gda-e2e-reports","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1},{"id":"auth-rpt","name":"Auth Guard","type":"n8n-nodes-base.code","position":[460,400],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"route-rpt","name":"Route","type":"n8n-nodes-base.switch","position":[680,400],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"latest"}]}},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"history"}]}}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3.2},{"id":"fetch-latest-rpt","name":"Fetch Latest","type":"n8n-nodes-base.postgres","position":[920,280],"parameters":{"query":"SELECT * FROM gda_e2e_reports ORDER BY run_at DESC LIMIT 1","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"resp-latest-rpt","name":"Respond Latest","type":"n8n-nodes-base.respondToWebhook","position":[1200,280],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'latest', report: $input.first().json }) }}"},"typeVersion":1.5},{"id":"fetch-history-rpt","name":"Fetch History","type":"n8n-nodes-base.postgres","position":[920,460],"parameters":{"query":"SELECT id, run_at, pass_rate, passed, failed, errors, total, LEFT(analysis, 1000) as analysis_preview, created_at FROM gda_e2e_reports ORDER BY run_at DESC LIMIT 30","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"resp-history-rpt","name":"Respond History","type":"n8n-nodes-base.respondToWebhook","position":[1200,460],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'history', reports: $input.all().map(function(i) { return i.json; }), count: $input.all().length }) }}"},"typeVersion":1.5},{"id":"resp-default-rpt","name":"Respond Default","type":"n8n-nodes-base.respondToWebhook","position":[920,640],"parameters":{"options":{"responseCode":400},"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Invalid action. Use: latest, history' }) }}"},"typeVersion":1.5}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route","type":"main","index":0}]]},"Route":{"main":[[{"node":"Fetch Latest","type":"main","index":0}],[{"node":"Fetch History","type":"main","index":0}],[{"node":"Respond Default","type":"main","index":0}]]},"Fetch Latest":{"main":[[{"node":"Respond Latest","type":"main","index":0}]]},"Fetch History":{"main":[[{"node":"Respond History","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:52.308+00:00"}
