docs/n8n-triage/workflows/GDA.util.ssh-read-file___IcD4K740vpWSIuaZ.json
{"id" : "IcD4K740vpWSIuaZ", "name" : "GDA.util.ssh-read-file", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"sr-01","name":"Webhook","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{},"path":"ssh-read-file","responseMode":"responseNode"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"1733b60c-ec98-4fed-b153-fdc7262eb903"},{"credentials":{"sshPrivateKey":{"id":"NKOxLo5F81sRNPua","name":"GDA VPS SSH Key"}},"id":"sr-02","name":"SSH Read","parameters":{"authentication":"privateKey","command":"={{ $json.body.command || $json.body.cmd || ($json.body.path ? 'cat ' + $json.body.path : null) }}","options":{}},"position":[420,300],"type":"n8n-nodes-base.ssh","typeVersion":1},{"id":"sr-03","name":"Respond","parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify({content: $json.stdout, error: $json.stderr}) }}"},"position":[640,300],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"sr-04","name":"Guard","parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst cmd = body.command || body.cmd || null;\nconst path = body.path || null;\n\nconst ALLOWED_CMD_PREFIXES = [\n  'cat ', 'ls ', 'wc ', 'wc -l', 'echo ',\n  'find /opt/gda-command', 'find /etc/nginx', 'find /var/log',\n  'find /root/gda-frontend', 'find /root/n8n-envision',\n  'tail ', 'grep ', 'cat /etc/nginx',\n  'tee ', 'python3 ', 'sed ', 'bash -c ', 'printf ',\n  'git -C ', 'git --version', 'git config', 'git clone', 'git init', 'git remote', 'git add', 'git commit', 'git push', 'git pull', 'git branch', 'git checkout', 'git status', 'git log'\n];\nconst ALLOWED_PATH_PREFIX = '/opt/gda-command/src/';\n\nif (path) {\n  if (!path.startsWith(ALLOWED_PATH_PREFIX)) {\n    throw new Error('Command not permitted: path outside allowed directory');\n  }\n  return $input.all();\n}\n\nif (cmd) {\n  const allowed = ALLOWED_CMD_PREFIXES.some(prefix => cmd.startsWith(prefix)) ||\n    /^python3 (\\/tmp\\/|\\-c )/.test(cmd);\n  if (!allowed) {\n    throw new Error('Command not permitted: ' + cmd);\n  }\n  return $input.all();\n}\n\nthrow new Error('Command not permitted: no cmd or path provided');"},"position":[310,300],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Guard":{"main":[[{"index":0,"node":"SSH Read","type":"main"}]]},"SSH Read":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Guard","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-13T15:41:11.9+00:00"}
