docs/n8n-triage/workflows/GDA.cron.master-scanner___jhAAwyiW6IbA9KrF.json
{"id" : "jhAAwyiW6IbA9KrF", "name" : "GDA.cron.master-scanner", "active" : false, "nodes" : [{"id":"ms-sched","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"id":"ms-run","name":"Run All Scanners","parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\n// Allow scheduled triggers to pass through without auth check\nconst input = $input.first();\nif (!input || !input.json || (!input.json.headers && !input.json.body)) {\n  // Triggered by schedule - no auth needed\n  return [{ json: { source: \"schedule\" } }];\n}\nconst headers = input.json.headers || {};\nconst body = input.json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"position":[460,300],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"ms-log","name":"Log to Postgres","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryParameters":"={{ JSON.stringify([$json.run_at, $json.total, $json.ok, $json.errors, JSON.stringify($json.results)]) }}"},"query":"CREATE TABLE IF NOT EXISTS gda_scanner_log (\n  id SERIAL PRIMARY KEY,\n  run_at TIMESTAMPTZ,\n  total_scanners INT,\n  ok_count INT,\n  error_count INT,\n  results JSONB,\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\nINSERT INTO gda_scanner_log (run_at, total_scanners, ok_count, error_count, results)\nVALUES ($1::timestamptz, $2::int, $3::int, $4::int, $5::jsonb)"},"position":[980,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"id":"ms-tg","name":"Notify Telegram","onError":"continueRegularOutput","parameters":{"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"},"chatId":"8631035943","operation":"sendMessage","resource":"message","text":"=<b>GDA Master Scanner Complete</b> — {{ new Date($('Run All Scanners').first().json.run_at).toLocaleString('en-US',{timeZone:'America/New_York'}) }}\n\nScanners run: {{ $('Run All Scanners').first().json.total }}\nSuccess: {{ $('Run All Scanners').first().json.ok }}\nErrors: {{ $('Run All Scanners').first().json.errors }}{{ $('Run All Scanners').first().json.errors > 0 ? '\\n\\nFailed: ' + $('Run All Scanners').first().json.results.filter(r => r.status === 'error').map(r => r.scanner + ' (' + (r.error || r.http_status) + ')').join(', ') : '' }}"},"position":[1240,300],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"3d4ec577-6878-41cb-acf4-a2e93b611914"}], "connections" : {"Schedule Trigger":{"main":[[{"node":"Run All Scanners","type":"main","index":0}]]},"Log to Postgres":{"main":[[{"node":"Notify Telegram","type":"main","index":0}]]},"Run All Scanners":{"main":[[{"node":"Log to Postgres","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","timezone":"America/New_York","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveExecutionProgress":false}, "updatedAt" : "2026-05-26T21:28:46.798+00:00"}
