docs/n8n-triage/workflows/GDA.agent.opp-classifier___hWCP9NLXxtCOrppu.json
{"id" : "hWCP9NLXxtCOrppu", "name" : "GDA.agent.opp-classifier", "active" : false, "nodes" : [{"id":"oc-01","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"webhookId":"01e2d63a-650e-45e9-aee4-4c547da5e81c","parameters":{"path":"gda-opp-classify","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"oc-02","name":"Fetch Unclassified","type":"n8n-nodes-base.postgres","position":[420,300],"parameters":{"query":"SELECT id, opp_title, agency, level_1, level_2, naics_code, estimated_value FROM gda_opportunity_tracker WHERE (level_2 IS NULL OR level_2 LIKE '%.%' OR level_1 IS NULL OR level_1 = '' OR level_1 = 'Unknown') LIMIT {{ $json.body.limit || 50 }}","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"oc-03","name":"Classify via AI","type":"n8n-nodes-base.code","position":[640,300],"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfunction esc(v) { if (v === null || v === undefined) return null; return String(v).replace(/'/g, \"''\"); }\n\nfor (const item of items) {\n  const o = item.json;\n  const agency = String(o.agency || '').toUpperCase();\n  const title = String(o.opp_title || '').toUpperCase();\n  const naics = String(o.naics_code || '');\n  const rawL1 = String(o.level_1 || '');\n  const rawL2 = String(o.level_2 || o.agency || '');\n  \n  let L1 = 'Unknown';\n  const firstSeg = rawL1.indexOf('.') > 0 ? rawL1.split('.')[0].trim() : rawL1;\n  const lower1 = firstSeg.toLowerCase();\n  const agLower = agency.toLowerCase();\n  const allText = (lower1 + ' ' + agLower).toLowerCase();\n  \n  if (allText.includes('dept of defense') || allText.includes('department of defense') || ['dod','dow','department of war'].includes(lower1)) L1 = 'Department of War';\n  else if (allText.includes('veterans affairs') || lower1 === 'va') L1 = 'Department of Veterans Affairs';\n  else if (allText.includes('homeland security') || lower1 === 'dhs') L1 = 'Department of Homeland Security';\n  else if (allText.includes('treasury')) L1 = 'Department of the Treasury';\n  else if (allText.includes('interior') || allText.includes('national park') || allText.includes('fish and wildlife') || allText.includes('bureau of reclamation')) L1 = 'Department of the Interior';\n  else if (allText.includes('agriculture') || allText.includes('forest service') || allText.includes('usda')) L1 = 'Department of Agriculture';\n  else if (allText.includes('justice') || allText.includes('federal prison') || allText.includes('doj') || allText.includes('fbi') || allText.includes('dea')) L1 = 'Department of Justice';\n  else if (allText.includes('energy') || allText.includes('nnsa')) L1 = 'Department of Energy';\n  else if (allText.includes('commerce') || allText.includes('noaa') || allText.includes('nist')) L1 = 'Department of Commerce';\n  else if (allText.includes('transportation') || allText.includes('faa') || allText.includes('fhwa')) L1 = 'Department of Transportation';\n  else if (allText.includes('state, department') || (allText.includes('state') && allText.includes('department of') && !allText.includes('united states'))) L1 = 'Department of State';\n  else if (allText.includes('health and human') || allText.includes('hhs') || allText.includes('nih') || allText.includes('cdc') || allText.includes('cms')) L1 = 'Department of Health and Human Services';\n  else if (allText.includes('housing') || allText.includes('hud')) L1 = 'Department of Housing and Urban Development';\n  else if (allText.includes('nasa') || allText.includes('aeronautics')) L1 = 'National Aeronautics and Space Administration';\n  else if (allText.includes('gsa') || allText.includes('general services')) L1 = 'General Services Administration';\n  else if (allText.includes('intelligence') || allText.includes('cia') || allText.includes('odni')) L1 = 'Intelligence Community';\n  else {\n    const dowKw = ['army','navy','naval','marine','air force','space force','socom','tradoc','inscom','cybercom','disa','darpa','dla','mda','dtra','nsa','nga','dia','centcom','eucom','indopacom','africom','northcom','southcom','stratcom','transcom','spacecom','devcom','cecom','navair','navsea','aflcmc','afrl','peo ','usasoc','jsoc','marsoc','afsoc','navspecwar'];\n    for (const kw of dowKw) { if (allText.includes(kw)) { L1 = 'Department of War'; break; } }\n  }\n  \n  let L2 = '';\n  const parts = rawL2.split('.');\n  if (parts.length >= 2 && parts[0].toUpperCase().includes('DEPT OF')) {\n    const branch = parts[1].trim();\n    const bLower = branch.toLowerCase();\n    const branchMap = {\n      'dept of the army': 'Dept of the Army', 'dept of the navy': 'Dept of the Navy',\n      'dept of the air force': 'Dept of the Air Force', 'defense logistics agency': 'DLA',\n      'defense information systems agency': 'DISA', 'defense advanced research projects agency': 'DARPA',\n      'defense intelligence agency': 'DIA', 'missile defense agency': 'MDA',\n      'defense threat reduction agency': 'DTRA', 'defense contract management agency': 'DCMA',\n      'defense counterintelligence and security agency': 'DCSA', 'defense health agency': 'DHA',\n      'national geospatial-intelligence agency': 'NGA', 'national security agency': 'NSA',\n      'office of the secretary of defense': 'OSD', 'us special operations command': 'USSOCOM',\n      'us cyber command': 'USCYBERCOM', 'us transportation command': 'USTRANSCOM',\n      'dod washington headquarters services': 'DoD WHS', 'united states marine corps': 'USMC'\n    };\n    L2 = branchMap[bLower] || branch.split(' ').map(w => w.length <= 3 && w === w.toUpperCase() ? w : w.charAt(0).toUpperCase() + w.slice(1).toLowerCase()).join(' ');\n  } else if (!rawL2.includes('.')) {\n    L2 = rawL2;\n  } else {\n    L2 = parts.length >= 2 ? parts[1].trim() : parts[0].trim();\n    L2 = L2.split(' ').map(w => w.length <= 3 && w === w.toUpperCase() ? w : w.charAt(0).toUpperCase() + w.slice(1).toLowerCase()).join(' ');\n  }\n  if (!L2 || L2 === 'Unknown' || L2 === 'Unassigned') L2 = o.agency || 'Unassigned';\n  \n  let bu = 'Review_Required';\n  const allUpper = (title + ' ' + agency + ' ' + naics).toUpperCase();\n  const enableKw = ['CLOUD','AI','ML','DATA ANALYTICS','MODERNIZATION','DIGITAL TRANSFORMATION','SOFTWARE','AGILE','DEVOPS','DEVSECOPS','PLATFORM','SAAS','MACHINE LEARNING','ARTIFICIAL INTELLIGENCE'];\n  const eisKw = ['ENTERPRISE','INFRASTRUCTURE','CYBERSECURITY','NETWORK','SIEM','ZERO TRUST','IDENTITY','SETA','SYSTEMS ENGINEERING','C5ISR','C4ISR','IT SUPPORT'];\n  const protectKw = ['PHYSICAL SECURITY','THREAT ASSESSMENT','PROTECTIVE','FORCE PROTECTION','ANTITERRORISM','ACCESS CONTROL','SURVEILLANCE'];\n  const trainKw = ['TRAINING','SIMULATION','EDUCATION','INSTRUCTOR','COURSEWARE','LVC','CONSTRUCTIVE','VIRTUAL TRAINING','FLIGHT SCHOOL','JLCCTC','TADSS'];\n  \n  let buScore = {Enable:0, EIS:0, Protect:0, Train:0};\n  for (const kw of enableKw) if (allUpper.includes(kw)) buScore.Enable++;\n  for (const kw of eisKw) if (allUpper.includes(kw)) buScore.EIS++;\n  for (const kw of protectKw) if (allUpper.includes(kw)) buScore.Protect++;\n  for (const kw of trainKw) if (allUpper.includes(kw)) buScore.Train++;\n  \n  const maxBU = Object.entries(buScore).sort((a,b) => b[1]-a[1])[0];\n  if (maxBU[1] > 0) bu = maxBU[0];\n  \n  const ouVal = bu === 'Enable' ? 'OU3' : bu === 'EIS' ? 'OU3' : bu === 'Protect' ? 'OU2' : bu === 'Train' ? 'OU1' : null;\n  \n  // Build safe SQL with escaped values\n  let sql = \"UPDATE gda_opportunity_tracker SET level_1 = '\" + esc(L1) + \"', level_2 = '\" + esc(L2) + \"'\";\n  if (ouVal) sql += \", assigned_ou = '\" + esc(ouVal) + \"'\";\n  sql += \" WHERE id = \" + parseInt(o.id, 10);\n  \n  results.push({\n    json: {\n      id: o.id,\n      level_1: L1,\n      level_2: L2,\n      assigned_ou: ouVal,\n      business_unit: bu,\n      update_sql: sql\n    }\n  });\n}\n\nreturn results;"},"typeVersion":2},{"id":"oc-04","name":"Update DB","type":"n8n-nodes-base.postgres","position":[860,300],"parameters":{"query":"={{ $json.update_sql }}","options":{"queryValues":"={{ [$json.level_1 || 'Department of War', $json.level_2 || $json.original_agency || '', $json.assigned_ou || null, $json.id] }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"oc-05","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1080,300],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'classified', count: $input.all().length, message: $input.all().length + ' opportunities classified' }) }}"},"typeVersion":1.1},{"id":"oc-06","name":"Post to feedback","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[970,300],"parameters":{"bodyParameters":{"parameters":[{"name":"event_type","value":"opp_classified"},{"name":"source","value":"opp-classifier"},{"name":"timestamp","value":"={{ new Date().toISOString() }}"},{"name":"opp_id","value":"={{ $node[\"Update DB\"].json.opp_id || '' }}"},{"name":"label","value":"={{ $node[\"Update DB\"].json.label || '' }}"}]},"contentType":"json","headerParameters":{"parameters":[{"name":"x-gda-key","value":"={{ $env.GDA_API_KEY_2026 }}"},{"name":"Content-Type","value":"application/json"}]},"method":"POST","options":{},"sendBody":true,"sendHeaders":true,"url":"https://n8n.csr-llc.tech/webhook/gda-feedback"}}], "connections" : {"Webhook":{"main":[[{"node":"Fetch Unclassified","type":"main","index":0}]]},"Fetch Unclassified":{"main":[[{"node":"Classify via AI","type":"main","index":0}]]},"Classify via AI":{"main":[[{"node":"Update DB","type":"main","index":0}]]},"Update DB":{"main":[[{"node":"Post to feedback","type":"main","index":0}]]},"Post to feedback":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:56.126+00:00"}
