docs/n8n-triage/workflows/GDA.cron.nightly-perplexity-research___BxOfAsvQTJkTzTnz.json
{"id" : "BxOfAsvQTJkTzTnz", "name" : "GDA.cron.nightly-perplexity-research", "active" : false, "nodes" : [{"id":"sched-1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"expression":"0 22 * * 1-5","field":"cronExpression"}]}},"position":[0,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"load-opps","name":"Load Top Opps","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT id, title, agency, stage, pwin, estimated_value, naics, due_date\nFROM gda_opportunities\nWHERE stage NOT IN ('Won', 'Lost', 'No-Bid', 'Cancelled')\n  AND pwin > 0\nORDER BY pwin DESC, estimated_value DESC NULLS LAST\nLIMIT 5"},"position":[240,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"has-opps","name":"Has Opps?","parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0 || !items[0].json.id) return [];\nreturn items;"},"position":[480,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"process-each","name":"Process Each Opp","parameters":{"batchSize":1,"options":{}},"position":[720,300],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"perplexityApi":{"id":"XbSFD2Awtv15Iare","name":"GDA Perplexity API"}},"id":"perplexity-opp","name":"Perplexity Opp Research","onError":"continueRegularOutput","parameters":{"authentication":"predefinedCredentialType","headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({\n  model: 'sonar',\n  messages: [{\n    role: 'system',\n    content: 'You are a defense contracting intelligence analyst. Provide concise, actionable updates.'\n  }, {\n    role: 'user',\n    content: 'What are the latest developments (past 7 days) related to this federal opportunity? Include any new solicitation amendments, industry day announcements, competitor activity, or agency budget changes.\\n\\nOpportunity: ' + $json.title + '\\nAgency: ' + ($json.agency || 'Unknown') + '\\nNAICS: ' + ($json.naics || 'Unknown')\n  }],\n  temperature: 0.1,\n  max_tokens: 1000,\n  return_citations: true,\n  search_recency_filter: 'week'\n}) }}","method":"POST","nodeCredentialType":"perplexityApi","options":{"timeout":30000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.perplexity.ai/chat/completions"},"position":[960,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"collect-results","name":"Collect Results","parameters":{"jsCode":"var opp = $('Process Each Opp').first().json;\nvar perplexity = $input.first().json;\nvar content = perplexity.choices ? perplexity.choices[0].message.content : 'No results';\nvar citations = perplexity.citations || [];\n\nreturn [{ json: {\n  opp_id: opp.id,\n  title: opp.title,\n  agency: opp.agency || 'Unknown',\n  pwin: opp.pwin || 0,\n  intel: content.substring(0, 2000),\n  citation_count: citations.length,\n  citations: citations.slice(0, 5),\n  researched_at: new Date().toISOString()\n} }];"},"position":[1200,300],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"store-nightly","name":"Store Nightly Intel","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [\n  $json.opp_id,\n  $json.title,\n  $json.agency,\n  $json.intel,\n  $json.citation_count,\n  JSON.stringify($json.citations)\n] }}"},"query":"CREATE TABLE IF NOT EXISTS gda_nightly_intel (\n  id SERIAL PRIMARY KEY,\n  opp_id INT,\n  title TEXT,\n  agency TEXT,\n  intel TEXT,\n  citation_count INT DEFAULT 0,\n  citations JSONB DEFAULT '[]',\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\nINSERT INTO gda_nightly_intel (opp_id, title, agency, intel, citation_count, citations)\nVALUES ($1, $2, $3, $4, $5, $6)"},"position":[1440,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"nightly-complete","name":"Nightly Complete","parameters":{"jsCode":"var count = $('Store Nightly Intel').all().length;\nreturn [{ json: { status: 'complete', opps_researched: count, timestamp: new Date().toISOString() } }];"},"position":[960,500],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Collect Results":{"main":[[{"index":0,"node":"Store Nightly Intel","type":"main"}]]},"Has Opps?":{"main":[[{"index":0,"node":"Process Each Opp","type":"main"}]]},"Load Top Opps":{"main":[[{"index":0,"node":"Has Opps?","type":"main"}]]},"Perplexity Opp Research":{"main":[[{"index":0,"node":"Collect Results","type":"main"}]]},"Process Each Opp":{"main":[[{"index":0,"node":"Nightly Complete","type":"main"}],[{"index":0,"node":"Perplexity Opp Research","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Load Top Opps","type":"main"}]]},"Store Nightly Intel":{"main":[[{"index":0,"node":"Process Each Opp","type":"main"}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all","saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:37.257+00:00"}
