docs/n8n-triage/workflows/GDA.cron.comp-intel-daily-growth___EcZWryEoS4zyAfGD.json
{"id" : "EcZWryEoS4zyAfGD", "name" : "GDA.cron.comp-intel-daily-growth", "active" : false, "nodes" : [{"id":"sched-1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"expression":"0 6 * * *","field":"cronExpression"}]}},"position":[0,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"id":"pick-landscape","name":"Pick Landscape","parameters":{"jsCode":"// Rotate through key landscapes daily\nvar landscapes = [\n  { name: 'SOF Community', query: 'defense contractors working with US Special Operations Command USSOCOM SOF AT&L special operations forces technology', tags: 'SOF,USSOCOM' },\n  { name: 'TRADOC', query: 'defense contractors working with US Army TRADOC Training and Doctrine Command training simulation modeling', tags: 'TRADOC,Training' },\n  { name: 'PEO STRI', query: 'defense contractors working with PEO STRI Program Executive Office Simulation Training Instrumentation Orlando', tags: 'PEO STRI,Simulation' },\n  { name: 'Fort Liberty', query: 'defense contractors supporting Fort Liberty Fort Bragg North Carolina Army Special Operations military installations', tags: 'Fort Liberty,Fort Bragg' },\n  { name: 'Army Futures Command', query: 'defense contractors working with Army Futures Command AFC modernization Cross Functional Teams CFT Austin Texas', tags: 'AFC,Army Futures' },\n  { name: 'C5ISR Center', query: 'defense contractors working with C5ISR Center DEVCOM Aberdeen Proving Ground intelligence surveillance reconnaissance', tags: 'C5ISR,DEVCOM,APG' },\n  { name: 'INSCOM', query: 'defense contractors supporting US Army INSCOM Intelligence Security Command signals intelligence SIGINT', tags: 'INSCOM,Intelligence' }\n];\n\nvar dayOfYear = Math.floor((Date.now() - new Date(2026, 0, 1).getTime()) / 86400000);\nvar todayLandscape = landscapes[dayOfYear % landscapes.length];\n\nreturn [{ json: todayLandscape }];"},"position":[240,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"build-query","name":"Build Research Query","parameters":{"jsCode":"var landscape = $json;\nreturn [{ json: {\n  landscape_name: landscape.name,\n  tags: landscape.tags,\n  query: landscape.query + '. List the top 5 companies competing in this space with their recent contract wins, capabilities, and strategic positioning. Include company size, key personnel if known, and specific contract values.'\n} }];"},"position":[480,300],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"perplexityApi":{"id":"XbSFD2Awtv15Iare","name":"GDA Perplexity API"}},"id":"perplexity-research","name":"Perplexity Research","onError":"continueRegularOutput","parameters":{"authentication":"predefinedCredentialType","headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({\n  model: 'sonar-pro',\n  messages: [{\n    role: 'system',\n    content: 'You are a defense industry competitive intelligence analyst. Return structured data about defense contractors.'\n  }, {\n    role: 'user',\n    content: $json.query\n  }],\n  temperature: 0.1,\n  max_tokens: 3000,\n  return_citations: true,\n  search_recency_filter: 'month'\n}) }}","method":"POST","nodeCredentialType":"perplexityApi","options":{"timeout":45000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.perplexity.ai/chat/completions"},"position":[720,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"analyze-competitor","name":"Analyze Competitor","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ (function() {\n  var landscape = $('Pick Landscape').first().json.name;\n  var tags = $('Pick Landscape').first().json.tags;\n  var raw = $input.first().json;\n  var content = raw.choices ? raw.choices[0].message.content : 'No data';\n  var citations = raw.citations || [];\n  \n  return JSON.stringify({\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 2000,\n    messages: [{\n      role: 'user',\n      content: 'Extract competitor intelligence from this research about the ' + landscape + ' landscape.\\n\\nRESEARCH:\\n' + content.substring(0, 3000) + '\\n\\nFor each competitor found, respond with a JSON array:\\n[{\\n  \"name\": \"Company Name\",\\n  \"size\": \"Large|Mid-Tier|Small\",\\n  \"threat_level\": \"HIGH|MEDIUM|LOW\",\\n  \"capabilities\": \"2-3 sentence summary\",\\n  \"recent_wins\": \"contract wins if known\",\\n  \"landscape\": \"' + landscape + '\",\\n  \"tags\": \"' + tags + '\",\\n  \"gda_threat_summary\": \"1 sentence on how this competitor threatens GDA\\'s position\"\\n}]\\nReturn ONLY the JSON array, no other text.'\n    }]\n  });\n})() }}","method":"POST","options":{"timeout":30000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.anthropic.com/v1/messages"},"position":[960,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"store-competitor","name":"Store Competitor","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"={{ (function() {\n  var landscape = $('Pick Landscape').first().json.name;\n  var tags = $('Pick Landscape').first().json.tags;\n  var raw = $('Analyze Competitor').first().json.content ? $('Analyze Competitor').first().json.content[0].text : '[]';\n  var competitors;\n  try { competitors = JSON.parse(raw.replace(/```json[\\s\\S]*?```/g, '').replace(/```/g, '').trim()); } catch(e) { return 'SELECT 0 as inserted'; }\n  if (!Array.isArray(competitors)) competitors = [competitors];\n  \n  var stmts = [];\n  for (var i = 0; i < competitors.length && i < 5; i++) {\n    var c = competitors[i];\n    var name = (c.name || '').replace(/'/g, \"''\");\n    var size = (c.size || 'Unknown').replace(/'/g, \"''\");\n    var threat = (c.threat_level || 'MEDIUM').replace(/'/g, \"''\");\n    var caps = (c.capabilities || '').replace(/'/g, \"''\").substring(0, 500);\n    var wins = (c.recent_wins || '').replace(/'/g, \"''\").substring(0, 500);\n    var threat_summary = (c.gda_threat_summary || '').replace(/'/g, \"''\").substring(0, 300);\n    if (name) {\n      stmts.push(\"INSERT INTO gda_competitor_watchlist (name, size, threat_level, capabilities, recent_contracts, landscape, tags, gda_threat_summary) SELECT '\" + name + \"', '\" + size + \"', '\" + threat + \"', '\" + caps + \"', '\" + wins + \"', '\" + landscape + \"', '\" + tags + \"', '\" + threat_summary + \"' WHERE NOT EXISTS (SELECT 1 FROM gda_competitor_watchlist WHERE LOWER(name) = LOWER('\" + name + \"'))\");\n    }\n  }\n  if (stmts.length === 0) return 'SELECT 0 as inserted';\n  return stmts.join(';\\n') + ';\\nSELECT ' + stmts.length + ' as inserted';\n})() }}"},"position":[1200,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"log-complete","name":"Log Complete","parameters":{"jsCode":"var landscape = $('Pick Landscape').first().json.name;\nvar result = $input.first().json;\nreturn [{ json: { status: 'complete', landscape: landscape, competitors_found: result.competitors_found || 0, timestamp: new Date().toISOString() } }];"},"position":[1440,300],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Analyze Competitor":{"main":[[{"index":0,"node":"Store Competitor","type":"main"}]]},"Build Research Query":{"main":[[{"index":0,"node":"Perplexity Research","type":"main"}]]},"Perplexity Research":{"main":[[{"index":0,"node":"Analyze Competitor","type":"main"}]]},"Pick Landscape":{"main":[[{"index":0,"node":"Build Research Query","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Pick Landscape","type":"main"}]]},"Store Competitor":{"main":[[{"index":0,"node":"Log Complete","type":"main"}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all","saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:19.595+00:00"}
