docs/n8n-triage/workflows/GDA.api.capture-intel-modules___w3URDObLimmiHuUB.json
{"id" : "w3URDObLimmiHuUB", "name" : "GDA.api.capture-intel-modules", "active" : false, "nodes" : [{"id":"wh-1","name":"Webhook","type":"n8n-nodes-base.webhook","position":[208,496],"webhookId":"501aeca9-df4a-4df5-875d-a89e94c8aa01","parameters":{"path":"gda-capture-modules","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"ag-1","name":"Auth Guard","type":"n8n-nodes-base.code","position":[432,496],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"sw-1","name":"Route Module","type":"n8n-nodes-base.switch","position":[656,464],"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"incumbent"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}},{"conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"contacts"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}},{"conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"vehicles"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}},{"conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"competitors"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}},{"conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"all"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}}]},"options":{}},"typeVersion":3.2},{"id":"pg-inc","name":"Query Incumbent","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[880,208],"parameters":{"query":"SELECT id, opp_title, agency, naics_code, set_aside, gda_score, gda_label, incumbent_analysis, eligible_vehicles, estimated_value FROM gda_opportunity_tracker WHERE id = $1","options":{"queryParameters":"={{ JSON.stringify([parseInt($('Webhook').first().json.body.opp_id)||0]) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.6,"alwaysOutputData":true},{"id":"pg-con","name":"Query Contacts","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[880,400],"parameters":{"query":"SELECT id, opp_title, agency, govtribe_id FROM gda_opportunity_tracker WHERE id = $1","options":{"queryParameters":"={{ JSON.stringify([parseInt($('Webhook').first().json.body.opp_id)||0]) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.6,"alwaysOutputData":true},{"id":"pg-veh","name":"Query Vehicles","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[880,592],"parameters":{"query":"SELECT id, opp_title, agency, naics_code, set_aside, eligible_vehicles, gda_score, govtribe_id FROM gda_opportunity_tracker WHERE id = $1","options":{"queryParameters":"={{ JSON.stringify([parseInt($('Webhook').first().json.body.opp_id)||0]) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.6,"alwaysOutputData":true},{"id":"pg-comp","name":"Query Competitors","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[880,784],"parameters":{"query":"SELECT t.id, t.opp_title, t.agency, t.naics_code, t.set_aside, t.likely_competitors, t.incumbent_analysis, t.gda_score, t.gda_label FROM gda_opportunity_tracker t WHERE t.id = $1","options":{"queryParameters":"={{ JSON.stringify([parseInt($('Webhook').first().json.body.opp_id)||0]) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.6,"alwaysOutputData":true},{"id":"fmt-inc","name":"Format Incumbent","type":"n8n-nodes-base.code","position":[1104,208],"parameters":{"jsCode":"const row = $input.first().json || {};\nlet analysis = null;\ntry { analysis = row.incumbent_analysis ? JSON.parse(row.incumbent_analysis) : null; } catch(e) { analysis = row.incumbent_analysis; }\nreturn [{ json: { status: 'ok', module: 'incumbent_analysis', opp_id: row.id, opp_title: row.opp_title, agency: row.agency, gda_score: row.gda_score, gda_label: row.gda_label, incumbent_data: analysis, eligible_vehicles: row.eligible_vehicles, estimated_value: row.estimated_value, govtribe_id: row.govtribe_id, guidance: 'For deeper incumbent analysis, use GovTribe Search_Federal_Contract_Awards with the govtribe_id or agency name + NAICS code.' } }];"},"typeVersion":2},{"id":"fmt-con","name":"Format Contacts","type":"n8n-nodes-base.code","position":[1104,400],"parameters":{"jsCode":"const row = $input.first().json || {};\nreturn [{ json: { status: 'ok', module: 'contact_intelligence', opp_id: row.id, opp_title: row.opp_title, agency: row.agency, govtribe_id: row.govtribe_id, contacts: [], guidance: 'Contact data requires GovTribe Search_Contacts with referenced_govtribe_ids filter. Use the govtribe_id from this opp to query POCs (COR, CO, PM, KO). GovTribe provides name, email, phone, title, organization.' } }];"},"typeVersion":2},{"id":"fmt-veh","name":"Format Vehicles","type":"n8n-nodes-base.code","position":[1104,592],"parameters":{"jsCode":"const row = $input.first().json || {};\nlet vehicles = [];\ntry { vehicles = row.eligible_vehicles ? JSON.parse(row.eligible_vehicles) : []; } catch(e) { vehicles = row.eligible_vehicles ? row.eligible_vehicles.split(',').map(v => v.trim()) : []; }\nconst knownVehicles = {\n  'SHIELD': { full_name: 'Scalable Homeland Innovative Enterprise Layered Defense', agency: 'MDA', ceiling: '$151B', eis_position: 'ON VEHICLE' },\n  'CIO-SP4': { full_name: 'Chief Information Officer - Solutions and Partners 4', agency: 'NIH', ceiling: '$50B', eis_position: 'CHECK' },\n  'STARS III': { full_name: '8(a) STARS III', agency: 'GSA', ceiling: '$50B', eis_position: 'CHECK' },\n  'ITES-4S': { full_name: 'IT Enterprise Solutions 4 Services', agency: 'Army', ceiling: '$12.1B', eis_position: 'CHECK' },\n  'Alliant 3': { full_name: 'Alliant 3 SB', agency: 'GSA', ceiling: '$75B', eis_position: 'CHECK' },\n  'SeaPort-NxG': { full_name: 'SeaPort Next Generation', agency: 'Navy', ceiling: 'Unlimited', eis_position: 'CHECK' }\n};\nconst enriched = vehicles.map(v => ({ name: typeof v === 'string' ? v : v.name || v, ...(knownVehicles[typeof v === 'string' ? v : v.name] || {}) }));\nreturn [{ json: { status: 'ok', module: 'vehicle_tracker', opp_id: row.id, opp_title: row.opp_title, agency: row.agency, naics: row.naics_code, set_aside: row.set_aside, vehicles: enriched, total_vehicles: enriched.length, guidance: 'For detailed vehicle/IDV data, use GovTribe Search_Federal_Contract_Vehicles + Search_Federal_Contract_IDVs with NAICS and agency filters.' } }];"},"typeVersion":2},{"id":"fmt-comp","name":"Format Competitors","type":"n8n-nodes-base.code","position":[1104,784],"parameters":{"jsCode":"const row = $input.first().json || {};\nlet competitors = [];\ntry { competitors = row.likely_competitors ? JSON.parse(row.likely_competitors) : []; } catch(e) { competitors = row.likely_competitors ? [{ name: row.likely_competitors }] : []; }\nlet watchlist = [];\ntry { watchlist = row.watchlist_threats ? (typeof row.watchlist_threats === 'string' ? JSON.parse(row.watchlist_threats) : row.watchlist_threats) : []; } catch(e) { watchlist = []; }\nlet incumbent = null;\ntry { incumbent = row.incumbent_analysis ? JSON.parse(row.incumbent_analysis) : null; } catch(e) { incumbent = row.incumbent_analysis; }\nreturn [{ json: { status: 'ok', module: 'competitor_deep_dive', opp_id: row.id, opp_title: row.opp_title, agency: row.agency, naics: row.naics_code, set_aside: row.set_aside, gda_score: row.gda_score, likely_competitors: competitors, incumbent_data: incumbent, high_threat_watchlist: watchlist, guidance: 'For full competitor profiles, use GovTribe Search_Vendors with NAICS + agency + set-aside filters. Rank by award count and dollars obligated.' } }];"},"typeVersion":2},{"id":"r-inc","name":"Respond Incumbent","type":"n8n-nodes-base.respondToWebhook","position":[1328,208],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json }}"},"typeVersion":1.1},{"id":"r-con","name":"Respond Contacts","type":"n8n-nodes-base.respondToWebhook","position":[1328,400],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json }}"},"typeVersion":1.1},{"id":"r-veh","name":"Respond Vehicles","type":"n8n-nodes-base.respondToWebhook","position":[1328,592],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json }}"},"typeVersion":1.1},{"id":"r-comp","name":"Respond Competitors","type":"n8n-nodes-base.respondToWebhook","position":[1328,784],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json }}"},"typeVersion":1.1},{"id":"pg-all","name":"Query All Modules","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,1100],"parameters":{"operation":"executeQuery","options":{"queryParameters":"={{ JSON.stringify([parseInt($('Webhook').first().json.body.opp_id)||0]) }}"},"query":"SELECT id, opp_title, agency, dept, naics_code, set_aside, gda_score, gda_label, estimated_value, response_deadline, stage, incumbent_analysis, eligible_vehicles, likely_competitors, govtribe_id, ai_analysis FROM gda_opportunity_tracker WHERE id = $1"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"id":"fmt-all","name":"Format All Modules","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,1100],"parameters":{"jsCode":"const row = $input.first().json || {};\n\nlet incumbentData = null;\ntry { incumbentData = row.incumbent_analysis ? JSON.parse(row.incumbent_analysis) : null; } catch(e) { incumbentData = row.incumbent_analysis; }\n\nlet vehicles = [];\ntry { vehicles = row.eligible_vehicles ? JSON.parse(row.eligible_vehicles) : []; } catch(e) { vehicles = row.eligible_vehicles ? row.eligible_vehicles.split(',').map(v => v.trim()) : []; }\n\nlet competitors = [];\ntry { competitors = row.likely_competitors ? JSON.parse(row.likely_competitors) : []; } catch(e) { competitors = row.likely_competitors ? [{ name: row.likely_competitors }] : []; }\n\nreturn [{ json: {\n  status: 'ok',\n  module: 'all',\n  opp_id: row.id,\n  opp_title: row.opp_title,\n  agency: row.agency,\n  dept: row.dept,\n  naics_code: row.naics_code,\n  set_aside: row.set_aside,\n  gda_score: row.gda_score,\n  gda_label: row.gda_label,\n  estimated_value: row.estimated_value,\n  response_deadline: row.response_deadline,\n  stage: row.stage,\n  govtribe_id: row.govtribe_id,\n  ai_analysis: row.ai_analysis,\n  incumbent: { data: incumbentData },\n  contacts: { guidance: 'Use GovTribe Search_Contacts with govtribe_id for POC data.', govtribe_id: row.govtribe_id },\n  vehicles: { list: vehicles, count: vehicles.length },\n  competitors: { likely: competitors, count: competitors.length },\n  fetched_at: new Date().toISOString()\n}}];"}},{"id":"r-all","name":"Respond All","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1328,1100],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json }}"}}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route Module","type":"main","index":0}]]},"Route Module":{"main":[[{"node":"Query Incumbent","type":"main","index":0}],[{"node":"Query Contacts","type":"main","index":0}],[{"node":"Query Vehicles","type":"main","index":0}],[{"node":"Query Competitors","type":"main","index":0}],[{"node":"Query All Modules","type":"main","index":0}]]},"Query Incumbent":{"main":[[{"node":"Format Incumbent","type":"main","index":0}]]},"Query Contacts":{"main":[[{"node":"Format Contacts","type":"main","index":0}]]},"Query Vehicles":{"main":[[{"node":"Format Vehicles","type":"main","index":0}]]},"Query Competitors":{"main":[[{"node":"Format Competitors","type":"main","index":0}]]},"Format Incumbent":{"main":[[{"node":"Respond Incumbent","type":"main","index":0}]]},"Format Contacts":{"main":[[{"node":"Respond Contacts","type":"main","index":0}]]},"Format Vehicles":{"main":[[{"node":"Respond Vehicles","type":"main","index":0}]]},"Format Competitors":{"main":[[{"node":"Respond Competitors","type":"main","index":0}]]},"Query All Modules":{"main":[[{"node":"Format All Modules","type":"main","index":0}]]},"Format All Modules":{"main":[[{"node":"Respond All","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:51.629+00:00"}
