docs/n8n-triage/workflows/GDA.api.prompt-architect___HyNQ5Ma2OLlCyJhv.json
{"id" : "HyNQ5Ma2OLlCyJhv", "name" : "GDA.api.prompt-architect", "active" : false, "nodes" : [{"id":"pa-trigger","name":"Chat Trigger","type":"n8n-nodes-base.webhook","position":[220,300],"webhookId":"a52c15b9-c5e4-49ec-a74f-d9654171038c","parameters":{"path":"gda-prompt-architect","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"pa-auth","name":"Auth Guard","type":"n8n-nodes-base.if","position":[440,300],"parameters":{"conditions":{"combinator":"or","conditions":[{"id":"auth1","leftValue":"={{ $json.body.auth_key }}","operator":{"operation":"equals","type":"string"},"rightValue":"={{ $env.GDA_API_KEY_2026 }}"},{"id":"auth2","leftValue":"={{ $json.headers['x-gda-auth'] || $json.headers['x-gda-key'] || '' }}","operator":{"operation":"equals","type":"string"},"rightValue":"={{ $env.GDA_API_KEY_2026 }}"},{"id":"auth3","leftValue":"={{ ($json.headers.origin || $json.headers.referer || '').toLowerCase() }}","operator":{"operation":"contains","type":"string"},"rightValue":"gda.csr-llc.tech"}],"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"}}},"typeVersion":2.2},{"id":"pa-ctx","name":"Build Context","type":"n8n-nodes-base.code","position":[660,260],"parameters":{"jsCode":"const body = $json.body || {};\nconst goal = body.goal || body.message || 'No goal provided';\nconst mode = body.mode || 'architect';\nconst context = body.context || '';\nconst session_id = body.session_id || 'pa-' + Date.now();\n\nconst systemPrompt = `You are the GDA Prompt Architect, an expert prompt engineer for Georgetown Defense Analytics.\n\nTransform ideas into high-performance LLM prompts.\n\nPROCESS:\n1. ANALYZE the goal for gaps: Role, Context, Task, Constraints, Output Format\n2. If mode is 'quick' or 'workflow': Skip questions, generate best-guess prompt immediately  \n3. If mode is 'architect': Ask 2-3 targeted clarifying questions first\n4. Generate a production-ready prompt\n\nPROMPT FRAMEWORK:\nROLE: Specific expert persona\nCONTEXT: Background and constraints  \nTASK: Precise instruction\nCONSTRAINTS: Boundaries and format rules\nOUTPUT FORMAT: Exact structure expected\n\nGDA CONTEXT:\n- Company: Georgetown Defense Analytics (GDA)\n- Three OUs: Enable (Envision/EIS), Protect (Riverstone), Train (PD Systems)  \n- Target agencies: SOCOM, T2COM, INSCOM, CYBERCOM, DISA, INDOPACOM, MDA, FAA\n- Revenue target: $100M\n- Platform: n8n workflows, Postgres, GovTribe, Tavily\n\nMode: ${mode}\n${context ? 'Additional context: ' + context : ''}`;\n\nreturn [{ json: { goal, mode, context, session_id, systemPrompt } }];"},"typeVersion":2},{"id":"pa-api","name":"Call Claude API","type":"n8n-nodes-base.httpRequest","position":[880,260],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":120000,"response":{"response":{"fullResponse":false}}},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.goal }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2},{"id":"pa-extract","name":"Extract Response","type":"n8n-nodes-base.code","position":[1100,260],"parameters":{"jsCode":"const data = $json;\nlet response = '';\ntry {\n  if (data.content && data.content.length > 0) {\n    response = data.content.map(c => c.text || '').join('\\n');\n  } else if (data.error) {\n    response = 'API Error: ' + (data.error.message || JSON.stringify(data.error));\n  } else {\n    response = JSON.stringify(data);\n  }\n} catch(e) {\n  response = 'Parse error: ' + e.message;\n}\n\nconst ctx = $('Build Context').first().json;\nreturn [{ json: { response, session_id: ctx.session_id, mode: ctx.mode } }];"},"typeVersion":2},{"id":"pa-respond","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","position":[1320,260],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ response: $json.response, session_id: $json.session_id, mode: $json.mode }) }}"},"typeVersion":1.1},{"id":"pa-reject","name":"Reject","type":"n8n-nodes-base.respondToWebhook","position":[660,440],"parameters":{"options":{"responseCode":401},"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Unauthorized' }) }}"},"typeVersion":1.1}], "connections" : {"Chat Trigger":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Build Context","type":"main","index":0}],[{"node":"Reject","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Call Claude API","type":"main","index":0}]]},"Call Claude API":{"main":[[{"node":"Extract Response","type":"main","index":0}]]},"Extract Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:51.276+00:00"}
