docs/n8n-triage/workflows/GDA.auto.e2e-test___ER9YVGsU6mnCXDr1.json
{"id" : "ER9YVGsU6mnCXDr1", "name" : "GDA.auto.e2e-test", "active" : false, "nodes" : [{"id":"e2e-01","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"webhookId":"37201513-0162-49b8-8308-722924669bbd","parameters":{"path":"gda-e2e-test","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"e2e-02","name":"Run All Tests","type":"n8n-nodes-base.code","position":[440,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026 || !$env.GDA_WEBHOOK_KEY) throw new Error('Required auth env vars not set (GDA_API_KEY_2026, GDA_DEPLOY_KEY_2026, GDA_WEBHOOK_SECRET_2026, GDA_WEBHOOK_KEY)');\nconst N8N='https://n8n.csr-llc.tech/webhook';\nconst AUTH={auth_key:$env.GDA_API_KEY_2026};\nconst results=[];\n\nasync function test(name,endpoint,payload,validate){\n  const start=Date.now();\n  try{\n    const d=await this.helpers.httpRequest({\n      method:'POST',\n      url:N8N+'/'+endpoint,\n      headers:{'Content-Type':'application/json','x-gda-key':$env.GDA_WEBHOOK_KEY||''},\n      body:{...AUTH,...payload},\n      json:true,\n      timeout:15000\n    });\n    const ms=Date.now()-start;\n    const issue=validate?validate(d):null;\n    if(issue){results.push({name,endpoint,status:'WARN',ms,issue});}\n    else{results.push({name,endpoint,status:'PASS',ms,records:Array.isArray(d.data)?d.data.length:d.data?1:0});}\n  }catch(e){\n    const ms=Date.now()-start;\n    const code=e.response?.status||e.statusCode||null;\n    results.push({name,endpoint,status:'FAIL',ms,code,error:code?'HTTP '+code+' — '+endpoint:e.message||'Request failed'});\n  }\n}\n\nawait test('Opp Tracker','gda-opp-tracker',{action:'list'},d=>!d.data&&!Array.isArray(d)?'No data returned':null);\nawait test('SITREP','gda-daily-sitrep',{},d=>!d.sitrep&&!d.data&&!d.summary?'Empty response':null);\nawait test('OODA Loop','gda-ooda',{action:'get'},d=>!d.data&&!d.orient?'Empty response':null);\nawait test('Intel Feed','gda-intel-feed',{action:'list'},d=>!d.data&&!Array.isArray(d)?'No data':null);\nawait test('Dashboard Intel','gda-dashboard-intel',{action:'get'},d=>!d.data&&!d.kpis?'Empty response':null);\nawait test('Risk Register','gda-risk',{action:'list'},d=>!d.data?'No data':null);\nawait test('Action Items','gda-action-items',{action:'list'},d=>!d.data&&!Array.isArray(d)?'No data':null);\nawait test('Capture Plan (generate)','gda-capture-plan',{action:'generate',opportunity:'Test Opp',agency:'Army',value:'1M'},d=>!d.data&&!d.sections&&!d.plan?'No plan returned':null);\nawait test('Pwin Calculator','gda-pwin-calculator',{action:'calculate',opportunity:'Test',factors:{past_performance:7,solution_fit:8,relationships:6,price_competitiveness:7,incumbent_strength:5,team_strength:8}},d=>!d.data&&!d.pwin&&d.pwin!==0?'No pwin returned':null);\nawait test('Comp Intel (deep dive)','gda-competitive-intel',{target:'Leidos',target_type:'competitor'},d=>!d.data&&!d.competitors&&!d.competitive_landscape?'No data':null);\nawait test('Competitor Watchlist','gda-competitor-watchlist',{action:'list'},d=>!d.data&&!Array.isArray(d)?'No data':null);\nawait test('Trends','gda-trends',{action:'latest'},d=>!d.data&&!d.trends?'No data':null);\nawait test('RAG Query','gda-rag-query',{query:'SOCOM requirements'},d=>!d.data&&!d.answer&&!d.results?'No results':null);\nawait test('Trade Account','gda-trade-account',{action:'get'},d=>!d.data&&d.data?.balance===undefined?'No balance':null);\nawait test('Trade Book','gda-trade-book',{action:'list'},d=>!d.data&&!Array.isArray(d)?'No data':null);\nawait test('Challenge Ledger','gda-challenge-ledger',{action:'list'},d=>!d.data&&!Array.isArray(d)?'No data':null);\nawait test('Trading Tracker','gda-trading',{action:'list'},d=>!d.data&&!Array.isArray(d)?'No data':null);\nawait test('GovWin Feed','gda-govwin-feed',{action:'list'},null);\nawait test('Proactive Scan','gda-proactive-scan',{source:'forecasts'},null);\nawait test('Knowledge Base','gda-knowledge-base',{action:'list'},null);\n\nconst passed=results.filter(r=>r.status==='PASS').length;\nconst warned=results.filter(r=>r.status==='WARN').length;\nconst failed=results.filter(r=>r.status==='FAIL').length;\n\nreturn [{json:{summary:{total:results.length,passed,warned,failed,pass_rate:((passed/results.length)*100).toFixed(0)+'%'},results,timestamp:new Date().toISOString()}}];"},"typeVersion":2},{"id":"e2e-03","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[680,300],"parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"typeVersion":1.1}], "connections" : {"Webhook":{"main":[[{"node":"Run All Tests","type":"main","index":0}]]},"Run All Tests":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-27T14:05:34.322+00:00"}
