docs/n8n-triage/workflows/GDA.api.email-drafter___FewfFKJn6YNXsZph.json
{"id" : "FewfFKJn6YNXsZph", "name" : "GDA.api.email-drafter", "active" : false, "nodes" : [{"id":"email-webhook-001","name":"Webhook","type":"n8n-nodes-base.webhook","onError":"continueRegularOutput","position":[208,304],"webhookId":"e1a2b3c4-d5e6-f789-0123-456789abcdef","parameters":{"path":"gda-email-drafter","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"email-parse-001","name":"Parse Email Input","type":"n8n-nodes-base.code","position":[432,304],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  session_id: body.session_id || ('email_' + Date.now()),\n  subject: body.subject || body.email_subject || '',\n  original_email: body.original_email || body.email || body.email_thread || body.thread || body.message || '',\n  context: body.context || body.notes || '',\n  tone: body.tone || 'professional',\n  sender_name: body.sender_name || body.from_name || '',\n  sender_role: body.sender_role || body.from_role || '',\n  your_name: body.your_name || 'Shawn Seffernick',\n  your_role: body.your_role || 'President, Envision Innovative Solutions'\n}}];"},"typeVersion":2},{"id":"email-claude-001","name":"Draft Email Response","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[656,304],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1500, system: 'You are a professional email ghostwriter for ' + $json.your_name + ', ' + $json.your_role + ' at Envision Innovative Solutions (EIS), a defense contracting firm. Write crisp, authoritative, defense-industry appropriate email responses. Return ONLY valid JSON with NO markdown code fences, NO backticks, NO preamble. Just raw JSON: {subject, response, key_points, tone_notes}', messages: [{ role: 'user', content: 'Draft a ' + $json.tone + ' email response.\\n\\nSUBJECT: ' + $json.subject + '\\n\\nORIGINAL EMAIL:\\n' + $json.original_email + '\\n\\nCONTEXT: ' + $json.context + '\\n\\nSender: ' + $json.sender_name + ' (' + $json.sender_role + ')\\n\\nReturn raw JSON only: { subject, response, key_points: [], tone_notes }' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"none","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"nodeCredentialType":""},"credentials":{},"typeVersion":4.2},{"id":"email-save-001","name":"Save to DB","type":"n8n-nodes-base.postgres","position":[1104,304],"parameters":{"query":"INSERT INTO gda_email_responses (session_id, subject, original_email, drafted_response, tone, created_at) VALUES ($1, $2, $3, $4, $5, NOW())","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"email-respond-001","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1328,304],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($('Parse Email Response').first().json) }}"},"typeVersion":1},{"id":"email-parse-resp-001","name":"Parse Email Response","type":"n8n-nodes-base.code","position":[880,304],"parameters":{"jsCode":"const raw = $input.first().json;\nconst input = $('Parse Email Input').first().json;\nlet parsed = {};\ntry {\n  const text = raw.content?.[0]?.text || '{}';\n  const clean = text.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = { subject: 'RE: ' + input.subject, response: 'Unable to parse response', key_points: [], tone_notes: '' };\n}\nreturn [{ json: { ...input, ...parsed, processed_at: new Date().toISOString() } }];"},"typeVersion":2},{"id":"email-health-001","name":"Health Check","type":"n8n-nodes-base.webhook","position":[208,528],"webhookId":"3d838fb9-3075-4b42-bbba-7182d06bf9c9","parameters":{"path":"gda-email-health","options":{},"responseMode":"lastNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"email-health-resp-001","name":"Health Response","type":"n8n-nodes-base.respondToWebhook","position":[432,528],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"{\"status\":\"ok\",\"module\":\"email-response\"}"},"typeVersion":1},{"id":"47c91b09-f10d-4214-bb37-67cb7272d72c","name":"Auth Guard","type":"n8n-nodes-base.code","position":[320,304],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2}], "connections" : {"Parse Email Input":{"main":[[{"node":"Draft Email Response","type":"main","index":0}]]},"Save to DB":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Draft Email Response":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Save to DB","type":"main","index":0}]]},"Health Check":{"main":[[{"node":"Health Response","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Parse Email Input","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}, "updatedAt" : "2026-05-26T21:28:46.632+00:00"}
