docs/n8n-triage/workflows/GDA.intel.an1-incumbent-win-themes___yMo7WrELV8JVOi2M.json
{"id" : "yMo7WrELV8JVOi2M", "name" : "GDA.intel.an1-incumbent-win-themes", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"an1-webhook","name":"Webhook Trigger","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{},"path":"gda-an1-run","responseMode":"lastNode"},"position":[200,160],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"an1-webhook-001"},{"id":"an1-trigger","name":"Manual Trigger","parameters":{},"position":[200,320],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"continueOnFail":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"an1-fetch-wins","name":"Fetch WON Entries","parameters":{"operation":"executeQuery","options":{},"query":"SELECT id, opportunity_title, agency, contract_value, naics_code, set_aside, win_themes AS win_factors, key_differentiators, loss_reason, incumbent_displaced, incumbent_name, award_date, notes, created_at FROM gda_win_loss_db WHERE outcome = 'Won' ORDER BY created_at DESC LIMIT 50"},"position":[440,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"an1-check","name":"Has Win Data?","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $input.all().length }}","operator":{"operation":"gt","type":"number"},"rightValue":0}],"options":{}},"options":{}},"position":[640,300],"type":"n8n-nodes-base.if","typeVersion":2},{"id":"an1-extract","name":"Extract Patterns","parameters":{"jsCode":"const wins = $input.all().map(i => i.json);\nconst agencyCount = {};\nwins.forEach(w => { const a = w.agency || 'Unknown'; agencyCount[a] = (agencyCount[a]||0)+1; });\nconst naicsCount = {};\nwins.forEach(w => { const n = w.naics_code || 'Unknown'; naicsCount[n] = (naicsCount[n]||0)+1; });\nconst factorCount = {};\nwins.forEach(w => {\n  let factors = w.win_factors;\n  if (!factors) return;\n  if (typeof factors === 'string') factors = factors.replace(/^\\{|\\}$/g,'').split(',').map(f=>f.replace(/^\"|\"$/g,'').trim());\n  if (Array.isArray(factors)) factors.forEach(f => { if(f) factorCount[f] = (factorCount[f]||0)+1; });\n});\nconst displaced = wins.filter(w => w.incumbent_displaced === true || w.incumbent_displaced === 't').length;\nconst displacementRate = wins.length > 0 ? Math.round((displaced/wins.length)*100) : 0;\nconst topAgencies = Object.entries(agencyCount).sort((a,b)=>b[1]-a[1]).slice(0,5).map(([a,c])=>({agency:a,wins:c}));\nconst topNaics = Object.entries(naicsCount).sort((a,b)=>b[1]-a[1]).slice(0,5).map(([n,c])=>({naics:n,wins:c}));\nconst topFactors = Object.entries(factorCount).sort((a,b)=>b[1]-a[1]).slice(0,8).map(([f,c])=>({factor:f,count:c}));\nconst setAsideCount = {};\nwins.forEach(w => { const s = w.set_aside || 'Unrestricted'; setAsideCount[s] = (setAsideCount[s]||0)+1; });\nconst sampleWins = wins.slice(0,5).map(w => ({ title: w.opportunity_title, agency: w.agency, value: w.contract_value, key_diff: w.key_differentiators }));\nreturn [{ json: { total_wins: wins.length, displacement_rate: displacementRate, top_agencies: topAgencies, top_naics: topNaics, top_win_factors: topFactors, set_aside_breakdown: setAsideCount, sample_wins: sampleWins, analyzed_at: new Date().toISOString() } }];"},"position":[860,200],"type":"n8n-nodes-base.code","typeVersion":2},{"continueOnFail":true,"id":"an1-claude","name":"Claude Win Theme Analysis","parameters":{"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1500, messages: [{ role: 'user', content: 'You are a defense BD win strategist. Analyze these win patterns for Envision Innovative Solutions and produce: (1) Top 3 win themes as concise phrases, (2) Recommended pwin weight adjustments (which Shipley factors to increase/decrease), (3) Best teaming partners to pursue, (4) Agencies to prioritize. Be terse. Data: ' + JSON.stringify($json) }] }) }}","method":"POST","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"string","url":"https://api.anthropic.com/v1/messages","body":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1500, messages: [{ role: 'user', content: 'You are a defense BD win strategist for Envision Innovative Solutions (EIS), focused on Army C5ISR, IEW&S, and intel community IT. Analyze these win patterns and respond tersely with: (1) Top 3 win themes as concise phrases, (2) Which Shipley pwin factors to weight higher/lower, (3) Best teaming partners to pursue, (4) Top agencies to prioritize. Data: ' + JSON.stringify($json) }] }) }}","rawContentType":"application/json","contentType":"raw"},"position":[1080,200],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"continueOnFail":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"an1-seed-weights","name":"Seed Learned Weights","parameters":{"operation":"executeQuery","options":{},"query":"INSERT INTO gda_learned_weights (factor_name, weight_adjustment, source, rationale, created_at) SELECT unnest(ARRAY['incumbent_displacement','agency_relationship','teaming_strength','naics_alignment','past_performance']), unnest(ARRAY[0.9, 1.1, 1.15, 1.05, 1.1]), 'AN-1-auto', 'Auto-seeded from win/loss analysis', NOW() ON CONFLICT (factor_name) DO UPDATE SET weight_adjustment = EXCLUDED.weight_adjustment, rationale = EXCLUDED.rationale"},"position":[1300,200],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"continueOnFail":true,"credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"id":"an1-telegram","name":"Telegram Win Themes","parameters":{"additionalFields":{"parse_mode":"Markdown"},"chatId":"8631035943","text":"={{ '🏆 *AN-1 WIN THEME ANALYSIS*\\n' + new Date().toISOString().split('T')[0] + '\\n\\nTotal wins analyzed: ' + $('Extract Patterns').first().json.total_wins + '\\nIncumbent displacement rate: ' + $('Extract Patterns').first().json.displacement_rate + '%\\n\\nTop agencies: ' + ($('Extract Patterns').first().json.top_agencies||[]).map(a=>a.agency+'('+a.wins+')').join(', ') + '\\n\\nClaude analysis: ' + (($('Claude Win Theme Analysis').first().json.content && $('Claude Win Theme Analysis').first().json.content[0]) ? $('Claude Win Theme Analysis').first().json.content[0].text.substring(0,800) : 'No Claude analysis') }}"},"position":[1520,200],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"723e101f-f163-421e-a0b5-61e08e416774"},{"id":"an1-no-data","name":"No Win Data","parameters":{"jsCode":"return [{ json: { status: 'skipped', message: 'No WON entries in gda_win_loss_db yet.' } }];"},"position":[860,420],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Manual Trigger":{"main":[[{"index":0,"node":"Fetch WON Entries","type":"main"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Fetch WON Entries","type":"main"}]]},"Fetch WON Entries":{"main":[[{"index":0,"node":"Has Win Data?","type":"main"}]]},"Has Win Data?":{"main":[[{"index":0,"node":"Extract Patterns","type":"main"}],[{"index":0,"node":"No Win Data","type":"main"}]]},"Extract Patterns":{"main":[[{"index":0,"node":"Claude Win Theme Analysis","type":"main"}]]},"Claude Win Theme Analysis":{"main":[[{"index":0,"node":"Seed Learned Weights","type":"main"}]]},"Seed Learned Weights":{"main":[[{"index":0,"node":"Telegram Win Themes","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-13T15:41:10.804+00:00"}
