docs/n8n-triage/workflows/GDA.error.handler___2Swf6LP9AzFjHFYU.json
{"id" : "2Swf6LP9AzFjHFYU", "name" : "GDA.error.handler", "active" : false, "nodes" : [{"parameters":{},"id":"error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[256,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO gda_error_log (\n  workflow_name,\n  workflow_id,\n  error_message,\n  error_node,\n  execution_id,\n  logged_at\n)\nVALUES (\n  '{{ ($json.workflow_name || $json.workflow?.name || \"unknown\").replace(/'/g, \"''\") }}',\n  '{{ ($json.workflow_id || $json.workflow?.id || \"unknown\").replace(/'/g, \"''\") }}',\n  '{{ ($json.error_message || $json.error?.message || $json.message || \"unknown error\").replace(/'/g, \"''\") }}',\n  '{{ ($json.error_node || $json.node?.name || \"unknown\").replace(/'/g, \"''\") }}',\n  '{{ ($json.execution_id || $json.execution?.id || \"unknown\").toString().replace(/'/g, \"''\") }}',\n  NOW()\n)","options":{}},"id":"log-error","name":"Log Error to Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[512,304],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"chatId":"8631035943","text":"🚨 GDA ERROR\nWorkflow: {{ $json.workflow.name }}\nNode: {{ $json.execution.error.node.name }}\nError: {{ $json.execution.error.message }}\nExecution: {{ $json.execution.id }}","additionalFields":{}},"id":"notify","name":"Send Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[752,304],"webhookId":"4d1eae78-fc5c-4b8e-bfa3-50e97794848e","credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}}}], "connections" : {"Error Trigger":{"main":[[{"node":"Log Error to Postgres","type":"main","index":0}]]},"Log Error to Postgres":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"}, "updatedAt" : "2026-05-21T15:30:35.794+00:00"}
