docs/n8n-triage/workflows/GDA.api.proposals___thWCXJCwBduJW0Ok.json
{"id" : "thWCXJCwBduJW0Ok", "name" : "GDA.api.proposals", "active" : false, "nodes" : [{"id":"p01","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"webhookId":"gda-proposals-v1","parameters":{"path":"gda-proposals","options":{},"httpMethod":"POST","responseMode":"lastNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"p02","name":"Auth Guard","type":"n8n-nodes-base.code","position":[420,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst body=$input.first().json.body||{};\nif(body.auth_key!==$env.GDA_API_KEY_2026) return [{json:{error:'Unauthorized'}}];\nreturn [{json:{action:body.action||'list'}}];"},"typeVersion":2},{"id":"p03","name":"Query","type":"n8n-nodes-base.postgres","position":[640,300],"parameters":{"query":"SELECT id,opp_title,agency,dept,solicitation_number,response_deadline,estimated_value,eis_fit_score,stage,source_url,naics_code,set_aside FROM gda_opportunity_tracker WHERE response_deadline>=CURRENT_DATE OR stage IN ('Identified','Tracking','Capture') ORDER BY response_deadline ASC NULLS LAST LIMIT 30;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.6},{"id":"p04","name":"Format","type":"n8n-nodes-base.code","position":[860,300],"parameters":{"jsCode":"const rows=$input.all().map(i=>i.json);\nconst now=new Date();\nconst proposals=rows.map(r=>{const due=r.response_deadline?new Date(r.response_deadline):null;const daysLeft=due?Math.ceil((due-now)/(86400000)):null;return{...r,days_until_due:daysLeft,urgency:daysLeft!==null?(daysLeft<=7?'CRITICAL':daysLeft<=14?'HIGH':daysLeft<=30?'MEDIUM':'LOW'):'UNKNOWN'};});\nreturn [{json:{status:'ok',count:proposals.length,proposals}}];"},"typeVersion":2}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Query","type":"main","index":0}]]},"Query":{"main":[[{"node":"Format","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:48.579+00:00"}
