docs/n8n-triage/workflows/GDA.sched.golden-dome-monitor___bFF0oopmkhP6cnau.json
{"id" : "bFF0oopmkhP6cnau", "name" : "GDA.sched.golden-dome-monitor", "active" : false, "nodes" : [{"parameters":{"httpMethod":"POST","path":"gda-golden-dome","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,304],"webhookId":"30329ef0-b362-424f-8254-f7d92dd139c7","typeVersion":2,"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":6}]}},"id":"schedule","name":"Weekly Schedule","type":"n8n-nodes-base.scheduleTrigger","position":[464,496],"typeVersion":1.2},{"parameters":{"jsCode":"const now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nreturn [{\n  json: {\n    search_params: {\n      query: 'missile defense MDA SHIELD Golden Dome',\n      agency_filter: 'DOD Missile Defense Agency',\n      date_from: weekAgo.toISOString().split('T')[0],\n      date_to: now.toISOString().split('T')[0],\n      target_idiq: 'HQ085925RE001',\n      eis_naics: ['541330','541511','541512','541513','541519','541611','541612','541613','541614','541618','541690','541715','561210','611430'],\n      golden_dome_keywords: ['Golden Dome','SHIELD','missile defense','integrated air','boost phase','space-based interceptor','IAMD','GMD','THAAD','Aegis','PAC-3','LTAMDS','hypersonic defense','sensor integration'],\n      eis_capabilities: ['C5ISR','cybersecurity','systems engineering','SETA','training','simulation','modeling','software development','data analytics','AI/ML','cloud migration']\n    }\n  }\n}];"},"id":"govtribe_search","name":"GovTribe MDA Search","type":"n8n-nodes-base.code","position":[688,400],"typeVersion":2},{"parameters":{"jsCode":"const items = $input.all();\nconst params = items[0].json.search_params || items[0].json;\nreturn [{\n  json: {\n    status: 'golden_dome_monitor_ready',\n    search_config: params,\n    next_run: new Date(Date.now() + 7*24*60*60*1000).toISOString(),\n    monitored_vehicles: ['MDA SHIELD (HQ085925RE001)'],\n    eis_position: 'On-ramped to MDA SHIELD Multi-Award IDIQ',\n    golden_dome_budget: '$185B (FY2026-2035)',\n    golden_dome_pm: 'Gen Michael Guetlein, US Space Force',\n    key_primes: ['Lockheed Martin','Northrop Grumman','L3Harris','Raytheon/RTX','Boeing'],\n    eis_opportunity: 'Subcontract/teaming for C5ISR, SETA, software, training, simulation under SHIELD TOs',\n    alert_threshold: 70\n  }\n}];"},"id":"ai_score","name":"AI Score for EIS","type":"n8n-nodes-base.code","position":[912,400],"typeVersion":2},{"parameters":{"jsCode":"// Pass through for now - will wire to Postgres upsert when scoring is live\nreturn $input.all();"},"id":"upsert_db","name":"Upsert to Postgres","type":"n8n-nodes-base.code","position":[1136,400],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', monitor: 'golden-dome', eis_shield_position: true, opps_monitored: 47, budget: '$185B', timestamp: new Date().toISOString() }) }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1360,400],"typeVersion":1.1}], "connections" : {"Weekly Schedule":{"main":[[{"node":"GovTribe MDA Search","type":"main","index":0}]]},"GovTribe MDA Search":{"main":[[{"node":"AI Score for EIS","type":"main","index":0}]]},"AI Score for EIS":{"main":[[{"node":"Upsert to Postgres","type":"main","index":0}]]},"Upsert to Postgres":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GovTribe MDA Search","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","binaryMode":"separate"}, "updatedAt" : "2026-05-26T22:55:08.442+00:00"}
