docs/n8n-triage/workflows/GDA.api.embed-and-store___yA4NHeu0ctVVxzYg.json
{"id" : "yA4NHeu0ctVVxzYg", "name" : "GDA.api.embed-and-store", "active" : false, "nodes" : [{"id":"emb-wh","name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"gda-embed-store","responseMode":"responseNode","authentication":"headerAuth"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"11be61eb-8286-4509-9103-97cf619a1be7","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"id":"emb-prep","name":"Prepare Chunks","parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst items = body.items || [];\nif (!items.length) throw new Error('No items to embed');\nreturn [{json: {items, source_type: body.source_type || 'unknown'}}];"},"position":[560,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"emb-call","name":"Call OpenAI Embeddings","parameters":{"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({model: 'text-embedding-3-small', input: $json.items.map(i => ((i.title || '') + ' ' + (i.text || '')).substring(0, 8000))}) }}","method":"POST","options":{"timeout":60000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.openai.com/v1/embeddings"},"position":[780,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"openai-header","name":"OpenAI API Key"}}},{"id":"emb-format","name":"Format for DB","parameters":{"jsCode":"const items = $('Prepare Chunks').first().json.items;\nconst source_type = $('Prepare Chunks').first().json.source_type;\nconst embeddings = $input.first().json.data || [];\nconst results = [];\nfor (let i = 0; i < embeddings.length; i++) {\n  const item = items[i] || {};\n  const vec = '[' + embeddings[i].embedding.join(',') + ']';\n  const text = ((item.title || '') + ' ' + (item.text || '')).substring(0, 10000);\n  const meta = JSON.stringify(item.metadata || {});\n  results.push({\n    json: {\n      source_type,\n      source_id: item.id || '',\n      source_title: item.title || '',\n      chunk_text: text,\n      chunk_index: item.chunk_index || 0,\n      metadata: meta,\n      embedding: vec\n    }\n  });\n}\nreturn results;"},"position":[1000,300],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"emb-insert","name":"Insert Vectors","parameters":{"operation":"executeQuery","query":"INSERT INTO gda_embeddings (source_type, source_id, source_title, chunk_text, chunk_index, metadata, embedding) VALUES ('{{ $json.source_type }}', '{{ $json.source_id }}', '{{ $json.source_title }}', '{{ $json.chunk_text }}', {{ $json.chunk_index }}, '{{ $json.metadata }}'::jsonb, '{{ $json.embedding }}'::vector) ON CONFLICT (source_type, source_id, chunk_index) DO UPDATE SET chunk_text = EXCLUDED.chunk_text, embedding = EXCLUDED.embedding, updated_at = NOW() RETURNING id","options":{"queryBatching":"independently"}},"position":[1220,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"emb-respond","name":"Respond","parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({status: 'ok', embedded: $input.all().length, source_type: $('Prepare Chunks').first().json.source_type}) }}"},"position":[1440,300],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Call OpenAI Embeddings":{"main":[[{"index":0,"node":"Format for DB","type":"main"}]]},"Format for DB":{"main":[[{"index":0,"node":"Insert Vectors","type":"main"}]]},"Insert Vectors":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Prepare Chunks":{"main":[[{"index":0,"node":"Call OpenAI Embeddings","type":"main"}]]},"Webhook":{"main":[[{"node":"Prepare Chunks","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-21T15:30:10.059+00:00"}
