docs/n8n-triage/workflows/GDA.api.pwin-calculator___81m1Zl9xjM6L8HQb.json
{"id" : "81m1Zl9xjM6L8HQb", "name" : "GDA.api.pwin-calculator", "active" : false, "nodes" : [{"id":"wh-pw","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,496],"webhookId":"e90c84c0-ad89-4ba0-b1d7-905f64c8d290","parameters":{"path":"gda-pwin-calculator","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1},{"id":"auth-pw","name":"Auth Guard","type":"n8n-nodes-base.code","position":[464,496],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"route-pw","name":"Route Action","type":"n8n-nodes-base.switch","position":[688,464],"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"calculate"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"list"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"setup"}]}}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3.2},{"id":"calc-pw","name":"Calculate Pwin","type":"n8n-nodes-base.code","position":[912,208],"parameters":{"jsCode":"const body = $('Webhook').first().json.body || {};\n\n// Load learned weights from DB (falls back to Shipley defaults if not available)\nlet learnedWeights = { customer_relationship:0.25, technical_solution:0.20, past_performance:0.20, price_competitiveness:0.15, team_composition:0.10, contract_vehicle:0.10 };\ntry {\n  const wRows = $('Load Learned Weights').all().map(i => i.json);\n  if (wRows.length > 0) {\n    for (const w of wRows) {\n      const factor = w.weight_key.replace('pwin.','');\n      if (learnedWeights.hasOwnProperty(factor)) learnedWeights[factor] = parseFloat(w.weight_value);\n    }\n  }\n} catch(e) {}\n\n// Pull capture plan context to auto-boost scores where data exists\nlet capCtx = {};\ntry { capCtx = $('Fetch Capture Context').first().json || {}; } catch(e) {}\nconst gateBoost = { 'Gate 1': 0, 'Gate 2': 1, 'Gate 3': 2, 'Gate 4': 3 }[capCtx.gate_stage] || 0;\nconst hasTeaming = !!(capCtx.teaming_partner && capCtx.teaming_partner.length > 2);\nconst hasPastPerf = !!(capCtx.past_performance_ref && capCtx.past_performance_ref.length > 2);\n\n// Shipley Pwin weighted scorecard — 6 factors\nconst weights = learnedWeights;\n\n// Extract scores (1-10 scale)\nvar scores = {\n  customer_relationship: Math.min(10, Math.max(1, Number(body.customer_relationship) || (4 + gateBoost))),\n  technical_solution:    Math.min(10, Math.max(1, Number(body.technical_solution) || 5)),\n  past_performance:      Math.min(10, Math.max(1, Number(body.past_performance) || (hasPastPerf ? 7 : 4))),\n  price_competitiveness: Math.min(10, Math.max(1, Number(body.price_competitiveness) || 5)),\n  team_composition:      Math.min(10, Math.max(1, Number(body.team_composition) || (hasTeaming ? 7 : 4))),\n  contract_vehicle:      Math.min(10, Math.max(1, Number(body.contract_vehicle) || 5))\n};\n\n// Calculate weighted score (0-10 scale)\nvar weightedScore = 0;\nvar breakdown = [];\nObject.keys(weights).forEach(function(factor) {\n  var contribution = scores[factor] * weights[factor];\n  weightedScore += contribution;\n  breakdown.push({\n    factor: factor.replace(/_/g, ' ').replace(/\\b\\w/g, function(l) { return l.toUpperCase(); }),\n    score: scores[factor],\n    weight: Math.round(weights[factor] * 100) + '%',\n    weighted_contribution: Math.round(contribution * 100) / 100\n  });\n});\n\n// Convert to Pwin percentage (0-100)\nvar pwin = Math.round(weightedScore * 10);\n\n// Determine recommendation\nvar recommendation = 'NO-BID';\nvar color = 'red';\nif (pwin >= 70) { recommendation = 'BID'; color = 'green'; }\nelse if (pwin >= 50) { recommendation = 'CONDITIONAL BID'; color = 'yellow'; }\nelse if (pwin >= 35) { recommendation = 'BID WITH TEAMING'; color = 'orange'; }\n\n// Gate review status\nvar gates = {\n  gate_1_pursue: pwin >= 25,\n  gate_2_bid: pwin >= 40,\n  gate_3_submit: pwin >= 50,\n  gate_4_best_final: pwin >= 60\n};\n\nvar result = {\n  status: 'ok',\n  action: 'calculate',\n  opportunity: body.opportunity || body.target || 'Unknown',\n  agency: body.agency || '',\n  pwin: pwin,\n  weighted_score: Math.round(weightedScore * 100) / 100,\n  recommendation: recommendation,\n  recommendation_color: color,\n  scores: scores,\n  breakdown: breakdown,\n  gates: gates,\n  notes: body.notes || '',\n  assessed_by: body.assessed_by || 'GDA Command',\n  assessed_at: new Date().toISOString()\n};\n\nreturn [{ json: result }];"},"typeVersion":2},{"id":"save-pw","name":"Save Pwin","type":"n8n-nodes-base.postgres","position":[1136,208],"parameters":{"query":"INSERT INTO gda_pwin_scores (opportunity, agency, pwin, weighted_score, recommendation, scores, breakdown, gates, notes, assessed_by, created_at) VALUES ($1, $2, $3, $4, $5, $6::jsonb, $7::jsonb, $8::jsonb, $9, $10, NOW()) RETURNING id","options":{"queryParameters":"={{ JSON.stringify([$json.opportunity||'', $json.agency||'', parseFloat($json.pwin)||0, parseFloat($json.weighted_score)||0, $json.recommendation||'', JSON.stringify($json.scores||{}), JSON.stringify($json.breakdown||{}), JSON.stringify($json.gates||{}), $json.notes||'', $json.assessed_by||'system']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"resp-pw","name":"Respond Pwin","type":"n8n-nodes-base.respondToWebhook","position":[1360,208],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($('Calculate Pwin').first().json) }}"},"typeVersion":1.5},{"id":"list-pw","name":"List Scores","type":"n8n-nodes-base.postgres","position":[912,400],"parameters":{"query":"SELECT * FROM gda_pwin_scores ORDER BY created_at DESC LIMIT 100","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"resp-list-pw","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","position":[1136,400],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'list', scores: $input.all().map(function(i) { return i.json; }), count: $input.all().length }) }}"},"typeVersion":1.5},{"id":"setup-pw","name":"Setup Pwin Table","type":"n8n-nodes-base.postgres","position":[912,592],"parameters":{"query":"CREATE TABLE IF NOT EXISTS gda_pwin_scores (id SERIAL PRIMARY KEY, opportunity TEXT NOT NULL, agency TEXT, pwin INTEGER NOT NULL, weighted_score NUMERIC(4,2), recommendation VARCHAR(30), scores JSONB DEFAULT '{}', breakdown JSONB DEFAULT '[]', gates JSONB DEFAULT '{}', notes TEXT, assessed_by TEXT, pursuit_id TEXT, created_at TIMESTAMPTZ DEFAULT NOW()); CREATE INDEX IF NOT EXISTS idx_pwin_opp ON gda_pwin_scores(opportunity); CREATE INDEX IF NOT EXISTS idx_pwin_date ON gda_pwin_scores(created_at DESC); SELECT 'gda_pwin_scores ready' AS status;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"resp-setup-pw","name":"Respond Setup","type":"n8n-nodes-base.respondToWebhook","position":[1136,592],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"allIncomingItems"},"typeVersion":1.5},{"id":"resp-default-pw","name":"Respond Default","type":"n8n-nodes-base.respondToWebhook","position":[912,784],"parameters":{"options":{"responseCode":400},"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Invalid action. Use: calculate, list, setup' }) }}"},"typeVersion":1.5},{"id":"fetch-cap-ctx","name":"Fetch Capture Context","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,80],"parameters":{"operation":"executeQuery","options":{},"query":"SELECT cp.id as plan_id, cp.plan_data->>'gate_stage' as gate_stage, cp.plan_data->>'teaming_partner' as teaming_partner, cp.plan_data->>'past_performance_ref' as past_performance_ref, cp.plan_data->>'capture_manager' as capture_manager, ot.solicitation_number, ot.estimated_value, ot.agency FROM gda_capture_plans cp LEFT JOIN gda_opportunity_tracker ot ON ot.id::text = cp.plan_data->>'opp_id' WHERE cp.plan_data->>'opportunity_name' ILIKE '%' || $1 || '%' OR ot.title ILIKE '%' || $1 || '%' ORDER BY cp.updated_at DESC LIMIT 1"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"id":"pw-load-weights","name":"Load Learned Weights","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,-80],"parameters":{"operation":"executeQuery","options":{},"query":"SELECT weight_key, weight_value, confidence FROM gda_learned_weights WHERE weight_key LIKE 'pwin.%' ORDER BY weight_key;"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Load Learned Weights","type":"main","index":0}],[{"node":"List Scores","type":"main","index":0}],[{"node":"Setup Pwin Table","type":"main","index":0}],[{"node":"Respond Default","type":"main","index":0}]]},"Calculate Pwin":{"main":[[{"node":"Save Pwin","type":"main","index":0}]]},"Save Pwin":{"main":[[{"node":"Respond Pwin","type":"main","index":0}]]},"List Scores":{"main":[[{"node":"Respond List","type":"main","index":0}]]},"Setup Pwin Table":{"main":[[{"node":"Respond Setup","type":"main","index":0}]]},"Fetch Capture Context":{"main":[[{"node":"Calculate Pwin","type":"main","index":0}]]},"Load Learned Weights":{"main":[[{"node":"Fetch Capture Context","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:44.311+00:00"}
