docs/n8n-triage/workflows/GDA.auto.learning-capture___Rvs15RThVvlj3nVz.json
{"id" : "Rvs15RThVvlj3nVz", "name" : "GDA.auto.learning-capture", "active" : false, "nodes" : [{"id":"wh1","name":"Learning Capture Webhook","type":"n8n-nodes-base.webhook","position":[260,300],"webhookId":"gda-learn-001","parameters":{"path":"gda-learn","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"build1","name":"Build Queries","type":"n8n-nodes-base.code","position":[460,300],"parameters":{"jsCode":"const input = $input.first().json.body || $input.first().json;\nconst { interaction_type, entity_type, entity_id, action, context, result, content, content_type, title, decision_type, decision, reasoning, factors, opportunity_id, confidence, source, user_context, metadata } = input;\nconst esc = (s) => (s || '').replace(/'/g, \"''\").replace(/\\\\/g, '\\\\\\\\');\n\n// Simple hash without crypto\nconst simpleHash = (str) => {\n  let h = 0;\n  for (let i = 0; i < str.length; i++) { h = ((h << 5) - h) + str.charCodeAt(i); h |= 0; }\n  return 'h' + Math.abs(h).toString(36) + str.length.toString(36);\n};\n\nconst parts = [];\n\nif (interaction_type && action) {\n  parts.push(`INSERT INTO gda_interaction_log (interaction_type, entity_type, entity_id, action, context, result) VALUES ('${esc(interaction_type)}', '${esc(entity_type || '')}', ${entity_id || 'NULL'}, '${esc(action)}', '${esc(JSON.stringify(context || {}))}'::jsonb, '${esc(JSON.stringify(result || {}))}'::jsonb)`);\n}\n\nif (decision_type && decision) {\n  parts.push(`INSERT INTO gda_decision_memory (opportunity_id, decision_type, decision, confidence, reasoning, factors, decision_by) VALUES (${opportunity_id || 'NULL'}, '${esc(decision_type)}', '${esc(decision)}', ${confidence || 0}, '${esc(reasoning || '')}', '${esc(JSON.stringify(factors || {}))}'::jsonb, '${esc(input.decision_by || 'user')}')`);\n}\n\nif (content && content_type) {\n  const hash = simpleHash(content);\n  parts.push(`INSERT INTO gda_content_store (content_type, source_table, source_id, title, content, content_hash, metadata, token_count) VALUES ('${esc(content_type)}', '${esc(entity_type || '')}', ${entity_id || 'NULL'}, '${esc(title || '')}', '${esc(content)}', '${hash}', '${esc(JSON.stringify(metadata || {}))}'::jsonb, ${Math.ceil((content || '').length / 4)}) ON CONFLICT (content_hash) DO UPDATE SET content = EXCLUDED.content, embedding_status = 'pending'`);\n}\n\nconst learnContent = content || reasoning || JSON.stringify(result || {});\nif (learnContent && learnContent !== '{}') {\n  const dt = decision_type || interaction_type || content_type || 'general';\n  parts.push(`INSERT INTO gda_learning_log (data_type, source, content, metadata, user_context) VALUES ('${esc(dt)}', '${esc(source || 'platform')}', '${esc(learnContent)}', '${esc(JSON.stringify({entity_type, entity_id, action, ...(metadata || {})}))}'::jsonb, '${esc(user_context || '')}')`);\n}\n\nconst combined = parts.join('; ') + ';';\nreturn [{ json: { command: `docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -c \\\"${combined.replace(/\\\"/g, '\\\\\\\"')}\\\"`, query_count: parts.length } }];"},"typeVersion":2},{"id":"http1","name":"Execute SQL","type":"n8n-nodes-base.httpRequest","position":[660,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ command: $json.command }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2},{"id":"http2","name":"Get Memory Stats","type":"n8n-nodes-base.httpRequest","position":[860,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{},"jsonBody":"{\"command\": \"docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -t -A -F'|' -c \\\"SELECT 'learnings' as t, count(*) FROM gda_learning_log UNION ALL SELECT 'decisions', count(*) FROM gda_decision_memory UNION ALL SELECT 'content', count(*) FROM gda_content_store UNION ALL SELECT 'interactions', count(*) FROM gda_interaction_log UNION ALL SELECT 'patterns', count(*) FROM gda_pattern_library WHERE active=true;\\\"\"}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2},{"id":"stats1","name":"Build Stats Response","type":"n8n-nodes-base.code","position":[1060,300],"parameters":{"jsCode":"const raw = $input.first().json.content || '';\nconst stats = {};\nraw.split('\\n').filter(Boolean).forEach(line => {\n  const [key, val] = line.split('|');\n  if (key && val) stats[key.trim()] = parseInt(val.trim()) || 0;\n});\nconst queryCount = $('Build Queries').first().json.query_count;\nreturn [{ json: { success: true, queries_executed: queryCount, memory_stats: stats, timestamp: new Date().toISOString() } }];"},"typeVersion":2},{"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1260,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"typeVersion":1.1}], "connections" : {"Build Queries":{"main":[[{"index":0,"node":"Execute SQL","type":"main"}]]},"Execute SQL":{"main":[[{"index":0,"node":"Get Memory Stats","type":"main"}]]},"Get Memory Stats":{"main":[[{"index":0,"node":"Build Stats Response","type":"main"}]]},"Build Stats Response":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Learning Capture Webhook":{"main":[[{"index":0,"node":"Build Queries","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:56.308+00:00"}
