docs/n8n-triage/workflows/GDA.cron.morning-intel-briefing___i1aQWBr6qeG4TDOB.json
{"id" : "i1aQWBr6qeG4TDOB", "name" : "GDA.cron.morning-intel-briefing", "active" : false, "nodes" : [{"id":"mib-sched","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * 1-5"}]}},"typeVersion":1.2},{"id":"mib-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,500],"webhookId":"gda-morning-brief-wh1","parameters":{"path":"gda-morning-brief","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"mib-new-opps","name":"New Opportunities","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[460,200],"parameters":{"query":"SELECT solicitation_number, opp_title, agency, dept, gda_score, gda_label, naics_code, set_aside, response_deadline, estimated_value, data_source FROM gda_opportunity_tracker WHERE last_refreshed > NOW() - INTERVAL '24 hours' AND gda_score >= 40 ORDER BY gda_score DESC LIMIT 20;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"mib-deadline-alerts","name":"Deadline Alerts","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[460,400],"parameters":{"query":"SELECT solicitation_number, opp_title, agency, gda_score, gda_label, response_deadline, EXTRACT(DAY FROM response_deadline - NOW()) as days_left FROM gda_opportunity_tracker WHERE response_deadline BETWEEN NOW() AND NOW() + INTERVAL '14 days' AND gda_score >= 40 ORDER BY response_deadline ASC LIMIT 15;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"mib-intel-feed","name":"Intel Feed Highlights","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[460,600],"parameters":{"query":"SELECT title, source, category, relevance_score, url, LEFT(body, 300) as body_preview, created_at FROM gda_intel_feed WHERE created_at > NOW() - INTERVAL '24 hours' ORDER BY relevance_score DESC LIMIT 10;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"mib-pipeline-health","name":"Pipeline Health","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[460,800],"parameters":{"query":"SELECT COUNT(*) as total_plans, COUNT(*) FILTER (WHERE updated_at > NOW() - INTERVAL '7 days') as active_plans, COUNT(*) FILTER (WHERE updated_at < NOW() - INTERVAL '30 days') as stale_plans, COALESCE(SUM(CASE WHEN contract_value ~ '^[0-9]' THEN contract_value::numeric ELSE 0 END), 0) as total_pipeline_value FROM gda_capture_plans;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"mib-build-prompt","name":"Build Brief Prompt","type":"n8n-nodes-base.code","position":[720,400],"parameters":{"jsCode":"let newOpps = []; try { newOpps = $('New Opportunities').all().map(i => i.json).filter(i => i.opp_title); } catch(e) {}\nlet deadlines = []; try { deadlines = $('Deadline Alerts').all().map(i => i.json).filter(i => i.opp_title); } catch(e) {}\nlet intel = []; try { intel = $('Intel Feed Highlights').all().map(i => i.json).filter(i => i.title); } catch(e) {}\nlet pipeline = {}; try { pipeline = $('Pipeline Health').first().json; } catch(e) { pipeline = {total_plans: 0, active_plans: 0, stale_plans: 0}; }\n\nconst today = new Date().toLocaleDateString('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'});\n\nconst prompt = `You are GDA Command's Morning Intelligence Briefer. Generate a structured daily intelligence briefing for ${today}.\n\nDATA INPUTS:\n\n1. NEW/UPDATED OPPORTUNITIES (last 24h, score >= 40):\n${newOpps.length > 0 ? newOpps.map(o => `- ${o.opp_title} | ${o.agency} | Score: ${o.gda_score} (${o.gda_label}) | NAICS: ${o.naics_code} | Deadline: ${o.response_deadline || 'TBD'} | Value: $${(o.estimated_value || 0).toLocaleString()}`).join('\\n') : 'No new opportunities in last 24h'}\n\n2. UPCOMING DEADLINES (next 14 days):\n${deadlines.length > 0 ? deadlines.map(d => `- ${d.opp_title} | ${d.agency} | Score: ${d.gda_score} | Due: ${d.response_deadline} (${Math.round(d.days_left)} days)`).join('\\n') : 'No deadlines in next 14 days'}\n\n3. INTELLIGENCE FEED (last 24h):\n${intel.length > 0 ? intel.map(i => `- [${i.category}] ${i.title} (Score: ${i.relevance_score}) - ${i.body_preview || ''}`).join('\\n') : 'No intel feed items in last 24h'}\n\n4. PIPELINE HEALTH:\n- Total Capture Plans: ${pipeline.total_plans || 0}\n- Active (updated <7 days): ${pipeline.active_plans || 0}\n- Stale (>30 days): ${pipeline.stale_plans || 0}\n\nRESPOND WITH JSON ONLY:\n{\n  \"date\": \"${today}\",\n  \"executive_summary\": \"2-3 sentence overview of today's key takeaways\",\n  \"priority_actions\": [{\"action\": \"...\", \"urgency\": \"HIGH/MEDIUM/LOW\", \"owner\": \"BD Team\", \"deadline\": \"...\"}],\n  \"new_opportunities_summary\": \"Brief narrative on new opps\",\n  \"top_opportunities\": [{\"title\": \"...\", \"agency\": \"...\", \"score\": 0, \"why\": \"...\"}],\n  \"deadline_warnings\": [{\"title\": \"...\", \"days_left\": 0, \"action_needed\": \"...\"}],\n  \"intel_highlights\": [{\"headline\": \"...\", \"significance\": \"...\"}],\n  \"pipeline_assessment\": \"Brief health assessment\",\n  \"market_signals\": [\"...\"],\n  \"recommended_focus\": \"What to prioritize today\"\n}`;\n\nreturn [{json: {prompt, stats: {new_opps: newOpps.length, deadlines: deadlines.length, intel_items: intel.length, pipeline}}}];"},"typeVersion":2},{"id":"mib-claude","name":"Claude Generate Brief","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[960,400],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":120000},"jsonBody":"={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:4096,messages:[{role:'user',content:$json.prompt}]}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"none","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"},{"name":"x-api-key","value":"={{$env.ANTHROPIC_API_KEY}}"}]}},"typeVersion":4.4},{"id":"mib-parse","name":"Parse Brief","type":"n8n-nodes-base.code","position":[1200,400],"parameters":{"jsCode":"const raw = $input.first().json;\nconst stats = $('Build Brief Prompt').first().json.stats;\nlet text = '';\nif (raw.content && Array.isArray(raw.content)) text = raw.content.map(c => c.text || '').join('');\nelse text = JSON.stringify(raw);\n\nlet brief = {};\ntry {\n  const clean = text.replace(/```json/g,'').replace(/```/g,'').trim();\n  brief = JSON.parse(clean);\n} catch(e) {\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) try { brief = JSON.parse(m[0]); } catch(e2) { brief = {error: 'Parse failed', raw_text: text.substring(0, 500)}; }\n}\n\nreturn [{json: {\n  status: 'ok',\n  brief: brief,\n  stats: stats,\n  generated_at: new Date().toISOString(),\n  brief_json: JSON.stringify(brief)\n}}];"},"typeVersion":2},{"id":"mib-save","name":"Save Brief","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[1440,300],"parameters":{"query":"INSERT INTO gda_daily_briefs (brief_data, stats, generated_at) VALUES ($1::jsonb, $2::jsonb, NOW())","options":{"queryParameters":"={{ JSON.stringify([$json.brief_json, JSON.stringify($json.stats)]) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"mib-respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1440,500],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($('Parse Brief').first().json) }}"},"typeVersion":1.1},{"id":"mib-tg-notify","name":"TG Notify Brief","type":"n8n-nodes-base.telegram","position":[1440,100],"webhookId":"f46c67e2-1a79-4d81-a30e-db34a8185d2a","parameters":{"text":"=🌅 <b>Morning Intel Brief Ready</b>\n\n{{ $json.headline || $json.title || 'Daily brief generated' }}\n\n<i>{{ new Date().toLocaleDateString('en-US', {weekday:'long', month:'short', day:'numeric'}) }}</i>","chatId":"8631035943","resource":"message","operation":"sendMessage","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"typeVersion":1.2}], "connections" : {"Schedule Trigger":{"main":[[{"node":"New Opportunities","type":"main","index":0},{"node":"Deadline Alerts","type":"main","index":0},{"node":"Intel Feed Highlights","type":"main","index":0},{"node":"Pipeline Health","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"New Opportunities","type":"main","index":0},{"node":"Deadline Alerts","type":"main","index":0},{"node":"Intel Feed Highlights","type":"main","index":0},{"node":"Pipeline Health","type":"main","index":0}]]},"New Opportunities":{"main":[[{"node":"Build Brief Prompt","type":"main","index":0}]]},"Deadline Alerts":{"main":[[{"node":"Build Brief Prompt","type":"main","index":0}]]},"Intel Feed Highlights":{"main":[[{"node":"Build Brief Prompt","type":"main","index":0}]]},"Pipeline Health":{"main":[[{"node":"Build Brief Prompt","type":"main","index":0}]]},"Build Brief Prompt":{"main":[[{"node":"Claude Generate Brief","type":"main","index":0}]]},"Claude Generate Brief":{"main":[[{"node":"Parse Brief","type":"main","index":0}]]},"Parse Brief":{"main":[[{"node":"Save Brief","type":"main","index":0},{"node":"Respond","type":"main","index":0}]]},"Save Brief":{"main":[[{"node":"TG Notify Brief","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","timezone":"America/New_York","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:45.098+00:00"}
