docs/n8n-triage/workflows/GDA.api.deep-research-history___uefArlmFlJYeXTJv.json
{"id" : "uefArlmFlJYeXTJv", "name" : "GDA.api.deep-research-history", "active" : false, "nodes" : [{"id":"wh-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"parameters":{"httpMethod":"POST","path":"gda-deep-research-history","responseMode":"responseNode","options":{},"authentication":"headerAuth"},"webhookId":"17a0e4f3-d352-43d5-abe1-c6970d9924e2","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"id":"pg-1","name":"Query History","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[420,300],"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS gda_deep_research (\n  id SERIAL PRIMARY KEY,\n  target TEXT,\n  research_type VARCHAR(100),\n  confidence INTEGER,\n  sources_used JSONB,\n  executive_summary TEXT,\n  created_at TIMESTAMP DEFAULT NOW()\n);\nSELECT id, target, research_type, confidence, sources_used, LEFT(executive_summary, 300) as summary, created_at FROM gda_deep_research ORDER BY created_at DESC LIMIT 50;","options":{}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"continueOnFail":true},{"id":"resp-1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[640,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.all().map(i => i.json)) }}","options":{}}}], "connections" : {"Webhook":{"main":[[{"node":"Query History","type":"main","index":0}]]},"Query History":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-13T15:41:10.684+00:00"}
