docs/n8n-triage/workflows/GDA.api.action-items_2___klO6sorAB03YgZJE.json
{"id" : "klO6sorAB03YgZJE", "name" : "GDA.api.action-items 2", "active" : false, "nodes" : [{"id":"bc50c0db-cd35-4ab6-887e-19d34affbcd3","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,688],"webhookId":"b7e83530-9ef4-4241-b7da-7baab823bca1","parameters":{"path":"gda-action-items","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"9480dc26-591d-4788-9fe4-f95987cb68e4","name":"Route Action","type":"n8n-nodes-base.code","position":[688,688],"parameters":{"jsCode":"const body = $input.first()?.json?.body || $input.first()?.json || {};\nlet action = (body.action || 'list').toLowerCase();\nconst actionMap = { 'get': 'list', 'post': 'create', 'put': 'update', 'patch': 'update', 'del': 'delete' };\naction = actionMap[action] || action;\n\n// Normalize: accept both 'title' and 'item' fields\nif (body.title && !body.item) body.item = body.title;\n\nif (action === 'create') {\n  const item = (body.item || '').trim();\n  if (!item || item.length < 3) {\n    return [{ json: { action: '_validation_error', body, error: 'Item text is required (min 3 characters)', field: 'item' } }];\n  }\n  if (body.deadline || body.due) {\n    const d = new Date(body.deadline || body.due);\n    if (isNaN(d.getTime())) {\n      return [{ json: { action: '_validation_error', body, error: 'Invalid deadline date format. Use YYYY-MM-DD.', field: 'deadline' } }];\n    }\n    body.deadline = body.deadline || body.due;\n  }\n}\nif (action === 'update') {\n  if (!body.id) {\n    return [{ json: { action: '_validation_error', body, error: 'Item ID is required for update', field: 'id' } }];\n  }\n  if (!body.status) {\n    return [{ json: { action: '_validation_error', body, error: 'Status is required for update', field: 'status' } }];\n  }\n}\nif (action === 'delete') {\n  if (!body.id) {\n    return [{ json: { action: '_validation_error', body, error: 'Item ID is required for delete', field: 'id' } }];\n  }\n}\n\nconst indexMap = { 'list': 0, 'create': 1, 'bulk_create': 2, 'update': 3, 'delete': 4, 'ics': 5, 'digest': 6 };\nconst actionIndex = indexMap[action] ?? 0;\nreturn [{ json: { action, actionIndex, body } }];"},"typeVersion":2},{"id":"80d56f4e-ae0e-48ed-bbfd-116cff334925","name":"Switch by Action","type":"n8n-nodes-base.switch","position":[912,592],"parameters":{"rules":{"values":[{"outputKey":"list","conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"list"}]},"renameOutput":true},{"outputKey":"create","conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"create"}]},"renameOutput":true},{"outputKey":"bulk_create","conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"bulk_create"}]},"renameOutput":true},{"outputKey":"update","conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"update"}]},"renameOutput":true},{"outputKey":"delete","conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"delete"}]},"renameOutput":true},{"outputKey":"ics","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"ics","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.actionIndex }}","rightValue":"5"}]},"renameOutput":true},{"outputKey":"digest","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"digest","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.actionIndex }}","rightValue":"6"}]},"renameOutput":true},{"outputKey":"validation_error","conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"_validation_error"}]},"renameOutput":true}]},"options":{}},"typeVersion":3},{"id":"aeae116f-66de-49f4-9ede-48a9e0a128d1","name":"List Items","type":"n8n-nodes-base.postgres","position":[1136,112],"parameters":{"query":"SELECT COALESCE((SELECT json_agg(row_to_json(t)) FROM (SELECT * FROM gda_action_items ORDER BY created_at DESC LIMIT 200) t), '[]'::json) as items, (SELECT count(*) FROM gda_action_items)::int as total;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"9bed7178-9d34-4e98-af96-46176bf79a88","name":"Create Item","type":"n8n-nodes-base.postgres","position":[1136,304],"parameters":{"query":"INSERT INTO gda_action_items (item, owner, deadline, status, source_meeting) VALUES ($1, $2, $3, $4, $5) RETURNING id","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"0ba80986-aef7-4ce6-a70c-9803d4cac852","name":"Bulk Create Items","type":"n8n-nodes-base.code","position":[1136,592],"parameters":{"jsCode":"\n// This node returns the bulk items for the respond node to pick up\nconst body = $('Route Action').first()?.json?.body || {};\nconst items = body.items || [];\nreturn [{ json: { inserted: items.length, items } }];\n"},"typeVersion":2,"continueOnFail":true},{"id":"292592e7-28bb-4245-8fd2-7f3007f702f1","name":"Update Item","type":"n8n-nodes-base.postgres","position":[1136,784],"parameters":{"query":"UPDATE gda_action_items SET status = $1 WHERE id = $2 RETURNING id, status","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"cdc50833-5770-44c8-8709-e86a907e2a42","name":"Delete Item","type":"n8n-nodes-base.postgres","position":[1136,976],"parameters":{"query":"DELETE FROM gda_action_items WHERE id = $1 RETURNING id","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"215ccdc7-f3de-4391-8691-7b23de62591d","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","position":[1360,112],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"no-store, no-cache, must-revalidate"},{"name":"Pragma","value":"no-cache"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ items: $json.items || [], total: $json.total || 0, overdue_count: 0, due_soon_count: 0 }) }}"},"typeVersion":1.1},{"id":"123a0b2f-fcfb-4af0-9831-146835fbde97","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","position":[1360,592],"parameters":{"options":{"responseCode":"={{ $('Route Action').first()?.json?.action === '_validation_error' ? 400 : 200 }}","responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ (() => { const routeData = $('Route Action').first()?.json || {}; if (routeData.action === '_validation_error') { return JSON.stringify({ ok: false, error: routeData.error, field: routeData.field }); } return JSON.stringify({ ok: true }); })() }}"},"typeVersion":1.1},{"id":"a94e6fa6-406e-46f5-8ec2-f2abf4c298aa","name":"Generate ICS","type":"n8n-nodes-base.code","position":[1136,1168],"parameters":{"jsCode":"const body = $('Route Action').first().json.body;\nconst item = body.item_data || body;\nconst title = item.item || 'GDA Action Item';\nconst owner = item.owner || 'GDA Team';\nconst deadline = item.deadline || new Date(Date.now() + 14*24*60*60*1000).toISOString().split('T')[0];\n\nconst dtStart = deadline.replace(/-/g,'') + 'T090000';\nconst dtEnd = deadline.replace(/-/g,'') + 'T100000';\nconst now = new Date().toISOString().replace(/[-:.]/g,'').substring(0,15) + 'Z';\nconst uid = 'gda-action-' + Date.now() + '@csr-llc.tech';\n\nconst ics = [\n  'BEGIN:VCALENDAR',\n  'VERSION:2.0',\n  'PRODID:-//GDA//Action Items//EN',\n  'BEGIN:VEVENT',\n  `UID:${uid}`,\n  `DTSTART:${dtStart}`,\n  `DTEND:${dtEnd}`,\n  `DTSTAMP:${now}`,\n  `SUMMARY:${title}`,\n  `DESCRIPTION:Owner: ${owner}\\\\nSource: ${item.source_meeting || 'GDA Platform'}`,\n  `ORGANIZER:mailto:shawn.seffernick175@gmail.com`,\n  'STATUS:CONFIRMED',\n  `CATEGORIES:GDA,Action Item`,\n  'BEGIN:VALARM',\n  'TRIGGER:-P1D',\n  'ACTION:DISPLAY',\n  'DESCRIPTION:GDA Action Item Due Tomorrow',\n  'END:VALARM',\n  'END:VEVENT',\n  'END:VCALENDAR'\n].join('\\r\\n');\n\nconst ics_base64 = Buffer.from(ics).toString('base64');\n\nreturn [{\n  json: {\n    ics_data: 'data:text/calendar;base64,' + ics_base64,\n    filename: title.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 50) + '.ics',\n    status: 'ok'\n  }\n}];"},"typeVersion":2},{"id":"501986ba-506a-4853-b4d6-4a35cb342588","name":"Respond ICS","type":"n8n-nodes-base.respondToWebhook","position":[1360,1168],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"typeVersion":1.1},{"id":"5cad9e6c-4b10-4570-b007-41fa42d0ce0c","name":"Generate Digest","type":"n8n-nodes-base.code","position":[1136,1360],"parameters":{"jsCode":"// Weekly digest - items passed from List Items query\n// Note: This route needs items from the database\n// For now, return a template that the frontend can populate\nconst now = new Date();\nreturn [{\n  json: {\n    action: 'digest',\n    email_to: 'shawn.seffernick175@gmail.com',\n    email_subject: 'GDA Action Items Weekly Digest — ' + now.toLocaleDateString(),\n    note: 'Digest requires a list query first. Use action=list to get items with overdue_count, then format digest client-side.',\n    status: 'ok'\n  }\n}];"},"typeVersion":2},{"id":"67ab50d3-926c-44eb-aa24-180d8fd96ac8","name":"Respond Digest","type":"n8n-nodes-base.respondToWebhook","position":[1360,1360],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"typeVersion":1.1},{"id":"93b12a38-4f22-4ed6-83d0-22cd9807ee78","name":"Auth Guard","type":"n8n-nodes-base.code","position":[464,688],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2}], "connections" : {"Route Action":{"main":[[{"node":"Switch by Action","type":"main","index":0}]]},"Switch by Action":{"7":[[{"node":"Respond OK","type":"0","index":0}]],"main":[[{"node":"List Items","type":"main","index":0}],[{"node":"Create Item","type":"main","index":0}],[{"node":"Bulk Create Items","type":"main","index":0}],[{"node":"Update Item","type":"main","index":0}],[{"node":"Delete Item","type":"main","index":0}],[{"node":"Generate ICS","type":"main","index":0}],[{"node":"Generate Digest","type":"main","index":0}]]},"List Items":{"main":[[{"node":"Respond List","type":"main","index":0}]]},"Create Item":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Bulk Create Items":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Update Item":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Delete Item":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Generate ICS":{"main":[[{"node":"Respond ICS","type":"main","index":0}]]},"Generate Digest":{"main":[[{"node":"Respond Digest","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route Action","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:47.53+00:00"}
