docs/n8n-triage/workflows/GDA.api.proactive-scan___wOQOmSX0fQ475nB3.json
{"id" : "wOQOmSX0fQ475nB3", "name" : "GDA.api.proactive-scan", "active" : false, "nodes" : [{"id":"cron1","name":"Daily Schedule","type":"n8n-nodes-base.scheduleTrigger","position":[240,300],"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"typeVersion":1.2},{"id":"wh1","name":"Manual Trigger","type":"n8n-nodes-base.webhook","position":[240,500],"webhookId":"gda-proactive-scan-v1","parameters":{"path":"gda-proactive-scan","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"lastNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"http1","name":"Run Prediction Engine","type":"n8n-nodes-base.httpRequest","position":[500,400],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/gda-predict","body":"{\"focus\": \"all\"}","method":"POST","sendBody":true,"contentType":"raw","sendHeaders":true,"rawContentType":"application/json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"code1","name":"Filter High Confidence","type":"n8n-nodes-base.code","position":[720,400],"parameters":{"jsCode":"const data = $input.first()?.json || {};\nconst predictions = data.predictions || [];\nconst topRec = data.top_recommendation || '';\nconst outlook = data.market_outlook || '';\n\nconst highConf = predictions.filter(p => p.confidence === 'HIGH' || p.confidence === 'MEDIUM');\n\nif (highConf.length === 0) {\n  return [{ json: { skip: true, reason: 'No high/medium confidence predictions today' } }];\n}\n\nconst top5 = highConf.slice(0, 5);\nconst bulletList = top5.map((p, i) => \n  `${i+1}. [${p.confidence}] ${p.requirement} - ${p.agency} (${p.timeline}) > ${p.gda_unit}: ${p.prep_action}`\n).join('; ');\n\nconst description = `PROACTIVE INTEL - ${new Date().toLocaleDateString()}. Market: ${outlook}. Top Predictions: ${bulletList}. Top Recommendation: ${topRec}`;\n\nreturn [{ json: {\n  skip: false,\n  title: `[PROACTIVE] ${highConf.length} predicted requirements detected`,\n  description: description,\n  prediction_count: highConf.length,\n  predictions: top5,\n  top_recommendation: topRec\n} }];"},"typeVersion":2},{"id":"if1","name":"Has Predictions?","type":"n8n-nodes-base.if","position":[940,400],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond1","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.skip }}","rightValue":false}]}},"typeVersion":2.2},{"id":"http2","name":"Push to Action Items","type":"n8n-nodes-base.httpRequest","position":[1180,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/gda-action-items","body":"={{ JSON.stringify({ action: 'create', title: $json.title, description: $json.description, source: 'Proactive Intel Scanner', priority: 'medium', status: 'open' }) }}","method":"POST","sendBody":true,"contentType":"raw","sendHeaders":true,"rawContentType":"application/json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"pg1","name":"Log Scan Results","type":"n8n-nodes-base.postgres","position":[1400,300],"parameters":{"query":"={{ 'CREATE TABLE IF NOT EXISTS gda_proactive_scans (id SERIAL PRIMARY KEY, scan_date TIMESTAMP DEFAULT NOW(), prediction_count INTEGER, top_recommendation TEXT, pushed_to_actions BOOLEAN DEFAULT true, raw_predictions JSONB); INSERT INTO gda_proactive_scans (prediction_count, top_recommendation, pushed_to_actions, raw_predictions) VALUES (' + $json.prediction_count + ', ' + \"'\" + ($json.top_recommendation||'').replace(/'/g,\"''\") + \"'\" + ', true, ' + \"'\" + JSON.stringify($json.predictions||[]).replace(/'/g,\"''\") + \"'::jsonb\" + '); SELECT id, scan_date, prediction_count FROM gda_proactive_scans ORDER BY scan_date DESC LIMIT 1;' }}","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"noop1","name":"No Predictions Today","type":"n8n-nodes-base.noOp","position":[1180,500],"parameters":{},"typeVersion":1},{"id":"c1b465db-e6cc-44c5-abd6-44a12c6945f6","name":"Auth Guard","type":"n8n-nodes-base.code","position":[370,500],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2}], "connections" : {"Daily Schedule":{"main":[[{"node":"Run Prediction Engine","type":"main","index":0}]]},"Run Prediction Engine":{"main":[[{"node":"Filter High Confidence","type":"main","index":0}]]},"Filter High Confidence":{"main":[[{"node":"Has Predictions?","type":"main","index":0}]]},"Has Predictions?":{"main":[[{"node":"Push to Action Items","type":"main","index":0}],[{"node":"No Predictions Today","type":"main","index":0}]]},"Push to Action Items":{"main":[[{"node":"Log Scan Results","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Run Prediction Engine","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","errorWorkflow":"BVOAC22J7MM2tsBg","saveDataSuccessExecution":"all"}, "updatedAt" : "2026-05-26T21:28:50.451+00:00"}
