docs/n8n-triage/workflows/GDA.intel.morning-briefing-v1___YIvCdrOgF1LGmFNL.json
{"id" : "YIvCdrOgF1LGmFNL", "name" : "GDA.intel.morning-briefing-v1", "active" : false, "nodes" : [{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 10 * * *"}]}},"id":"1","name":"Schedule Trigger 6am ET","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,256]},{"parameters":{"httpMethod":"POST","path":"gda-briefing-test","authentication":"headerAuth","responseMode":"lastNode","options":{}},"id":"7","name":"Test Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,928],"webhookId":"84193363-96e3-4088-909a-7eff86b8a77d","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"parameters":{"url":"https://breakingdefense.com/feed/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"2","name":"Fetch Breaking Defense RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,208]},{"parameters":{"url":"https://defensescoop.com/feed/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"10","name":"Fetch DefenseScoop RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,400]},{"parameters":{"url":"https://www.defensenews.com/arc/outboundfeeds/rss/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"12","name":"Fetch Defense News RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,592]},{"parameters":{"url":"https://api.sam.gov/opportunities/v2/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$env.SAM_GOV_API_KEY || 'DEMO_KEY'}}"},{"name":"postedFrom","value":"={{ $now.minus({days:1}).toFormat('MM/dd/yyyy') }}"},{"name":"postedTo","value":"={{ $now.toFormat('MM/dd/yyyy') }}"},{"name":"naicsCode","value":"541511,541512,541519,541330,541715"},{"name":"limit","value":"10"},{"name":"offset","value":"0"}]},"options":{}},"id":"sam1","name":"Fetch SAM.gov Opps","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,784],"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT content, created_at FROM gda_perplexity_research ORDER BY created_at DESC LIMIT 1","options":{}},"id":"perp1","name":"Fetch Perplexity Research","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[464,976],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{},"id":"11","name":"Merge Feeds","type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[688,400]},{"parameters":{"jsCode":"const all = $input.all();\nconst items = [];\nconst cutoff72h = Date.now() - 72*60*60*1000;\nconst seen = new Set();\n\nfor (const inputItem of all) {\n  const xml = inputItem.json.data || inputItem.json.body || inputItem.json;\n  const raw = typeof xml === 'string' ? xml : JSON.stringify(xml);\n  const itemRegex = /<item[\\s\\S]*?<\\/item>/g;\n  const matches = raw.match(itemRegex) || [];\n  for (const block of matches) {\n    const grab = (tag) => {\n      const m = block.match(new RegExp('<'+tag+'(?:[^>]*)>([\\\\s\\\\S]*?)<\\\\/'+tag+'>'));\n      if (!m) return '';\n      return m[1].replace(/<!\\[CDATA\\[/g,'').replace(/\\]\\]>/g,'').replace(/<[^>]+>/g,'').trim();\n    };\n    const title = grab('title');\n    const link = grab('link');\n    const pubDate = grab('pubDate');\n    const description = grab('description');\n    if (!title) continue;\n    const ts = pubDate ? Date.parse(pubDate) : NaN;\n    // Use 72h window; if pubDate missing treat as fresh\n    if (!isNaN(ts) && ts < cutoff72h) continue;\n    const key = title.toLowerCase();\n    if (seen.has(key)) continue;\n    seen.add(key);\n    items.push({title, link, pubDate, summary: description.slice(0,400)});\n  }\n}\n\n// Fallback: if still empty, parse all items ignoring date (last 10 per feed)\nif (items.length === 0) {\n  const seen2 = new Set();\n  for (const inputItem of all) {\n    const xml = inputItem.json.data || inputItem.json.body || inputItem.json;\n    const raw = typeof xml === 'string' ? xml : JSON.stringify(xml);\n    const itemRegex = /<item[\\s\\S]*?<\\/item>/g;\n    const matches = raw.match(itemRegex) || [];\n    let feedCount = 0;\n    for (const block of matches) {\n      if (feedCount >= 5) break;\n      const grab = (tag) => {\n        const m = block.match(new RegExp('<'+tag+'(?:[^>]*)>([\\\\s\\\\S]*?)<\\\\/'+tag+'>'));\n        if (!m) return '';\n        return m[1].replace(/<!\\[CDATA\\[/g,'').replace(/\\]\\]>/g,'').replace(/<[^>]+>/g,'').trim();\n      };\n      const title = grab('title');\n      const link = grab('link');\n      const pubDate = grab('pubDate');\n      const description = grab('description');\n      if (!title) continue;\n      const key = title.toLowerCase();\n      if (seen2.has(key)) continue;\n      seen2.add(key);\n      items.push({title, link, pubDate, summary: description.slice(0,400)});\n      feedCount++;\n    }\n  }\n}\n\nreturn [{json:{count: items.length, items}}];"},"id":"3","name":"Parse RSS Filter 24h","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,400]},{"parameters":{"jsCode":"const raw = $input.first().json;\nlet opps = [];\ntry {\n  const data = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  const list = data.opportunitiesData || data.items || [];\n  opps = list.slice(0,8).map(o => ({\n    title: o.title || o.opportunityTitle || '',\n    agency: o.departmentName || o.organizationHierarchy?.[0]?.name || '',\n    naics: o.naicsCode || '',\n    type: o.type || '',\n    postedDate: o.postedDate || '',\n    responseDeadline: o.responseDeadLine || '',\n    solicitationNumber: o.solicitationNumber || '',\n    link: o.uiLink || ('https://sam.gov/opp/'+o.noticeId)\n  }));\n} catch(e) { opps = []; }\nreturn [{json:{sam_count: opps.length, sam_opps: opps}}];"},"id":"sam-parse","name":"Parse SAM Opps","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,784]},{"parameters":{"jsCode":"const rss = $('Parse RSS Filter 24h').first().json;\nconst sam = $('Parse SAM Opps').first().json;\nlet perp = '';\ntry { perp = $('Fetch Perplexity Research').first().json.content || ''; } catch(e) {}\n\n// Build structured headlines array for storage (title + url + source)\nconst sourceMap = {};\nconst feeds = [\n  {id: '2', name: 'Breaking Defense'},\n  {id: '10', name: 'DefenseScoop'},\n  {id: '12', name: 'Defense News'}\n];\n// headlines already parsed by Parse RSS Filter 24h with {title, link, pubDate, summary}\nconst headlines = (rss.items || []).map(item => ({\n  title: item.title,\n  url: item.link || null,\n  source: item.link ? (item.link.includes('breakingdefense') ? 'Breaking Defense' : item.link.includes('defensescoop') ? 'DefenseScoop' : item.link.includes('defensenews') ? 'Defense News' : 'Defense News') : 'Defense News',\n  pubDate: item.pubDate || null,\n  summary: item.summary || ''\n}));\n\nconst systemPrompt = `You are a defense BD intelligence analyst for Shawn Seffernick, President of Envision Innovative Solutions OU3. FY26 target $42.8M. Focus areas: Army C5ISR, IEW&S, signals intelligence, intel community IT. Produce a structured morning briefing with these exact sections:\\n\\n**TOP STORIES** (3 max, defense news that directly affects his pipeline or competitive landscape — 1 sentence why each matters)\\n\\n**SAM.GOV SIGNALS** (new solicitations/awards from the last 24h — note NAICS, agency, deadline, and pursuit recommendation YES/MAYBE/NO)\\n\\n**MARKET PULSE** (1-2 sentences from Perplexity research on broader defense market trends relevant to his focus)\\n\\nNo preamble. No filler. Every word earns its place.`;\n\nconst userContent = `=== DEFENSE NEWS (${rss.count} articles) ===\\n${JSON.stringify(rss.items,null,2)}\\n\\n=== SAM.GOV NEW OPPS (${sam.sam_count} results) ===\\n${JSON.stringify(sam.sam_opps,null,2)}\\n\\n=== PERPLEXITY MARKET RESEARCH ===\\n${perp.slice(0,1000)}`;\n\nreturn [{json:{system: systemPrompt, user: userContent, headlines_json: JSON.stringify(headlines)}}];"},"id":"build-prompt","name":"Build Full Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,784]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{$env.ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:2000,system:$json.system,messages:[{role:'user',content:$json.user}]}) }}","options":{}},"id":"4","name":"Claude Analyze","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,784]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"briefing","value":"={{ $json.content[0].text }}","type":"string"},{"id":"a2","name":"generated_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"a3","name":"model","value":"={{ $json.model }}","type":"string"},{"id":"a4","name":"input_tokens","value":"={{ $json.usage.input_tokens }}","type":"number"},{"id":"a5","name":"output_tokens","value":"={{ $json.usage.output_tokens }}","type":"number"},{"id":"a6","name":"headlines_json","value":"={{ $('Build Full Prompt').first().json.headlines_json }}","type":"string"}]},"options":{}},"id":"5","name":"Format Briefing","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,784]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO gda_morning_briefings (briefing, model, input_tokens, output_tokens, headlines) VALUES ('{{ $json.briefing.replace(/'/g, \"''\") }}', '{{ $json.model }}', {{ $json.input_tokens }}, {{ $json.output_tokens }}, '{{ $json.headlines_json.replace(/'/g, \"''\") }}'::jsonb) RETURNING id, generated_at;","options":{}},"id":"8","name":"Save Briefing","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1808,784],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"chatId":"8631035943","text":"=🌅 *GDA Morning Briefing*\n_{{ $('Format Briefing').first().json.generated_at }}_\n\n{{ $('Format Briefing').first().json.briefing }}","additionalFields":{"parse_mode":"Markdown"}},"id":"9","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2032,784],"webhookId":"2a80d564-336e-475f-ba99-88c9da919541","credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}}},{"parameters":{"method":"POST","url":"https://n8n.csr-llc.tech/webhook/gda-data-learn","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-gda-key","value":"={{ $env.GDA_WEBHOOK_HEADER_VALUE_V2 }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"event_type","value":"briefing_sent"},{"name":"source","value":"morning-briefing"},{"name":"timestamp","value":"={{ new Date().toISOString() }}"},{"name":"summary","value":"={{ $node[\"Format Briefing\"].json.briefing_text ? $node[\"Format Briefing\"].json.briefing_text.substring(0,500) : '' }}"}]},"options":{}},"id":"dl-01","name":"Post to data-learn","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2256,784],"continueOnFail":true}], "connections" : {"Schedule Trigger 6am ET":{"main":[[{"node":"Fetch Breaking Defense RSS","type":"main","index":0},{"node":"Fetch DefenseScoop RSS","type":"main","index":0},{"node":"Fetch Defense News RSS","type":"main","index":0},{"node":"Fetch SAM.gov Opps","type":"main","index":0},{"node":"Fetch Perplexity Research","type":"main","index":0}]]},"Test Webhook":{"main":[[{"node":"Fetch Breaking Defense RSS","type":"main","index":0},{"node":"Fetch DefenseScoop RSS","type":"main","index":0},{"node":"Fetch Defense News RSS","type":"main","index":0},{"node":"Fetch SAM.gov Opps","type":"main","index":0},{"node":"Fetch Perplexity Research","type":"main","index":0}]]},"Fetch Breaking Defense RSS":{"main":[[{"node":"Merge Feeds","type":"main","index":0}]]},"Fetch DefenseScoop RSS":{"main":[[{"node":"Merge Feeds","type":"main","index":1}]]},"Fetch Defense News RSS":{"main":[[{"node":"Merge Feeds","type":"main","index":2}]]},"Merge Feeds":{"main":[[{"node":"Parse RSS Filter 24h","type":"main","index":0}]]},"Fetch SAM.gov Opps":{"main":[[{"node":"Parse SAM Opps","type":"main","index":0}]]},"Parse RSS Filter 24h":{"main":[[{"node":"Build Full Prompt","type":"main","index":0}]]},"Parse SAM Opps":{"main":[[{"node":"Build Full Prompt","type":"main","index":1}]]},"Fetch Perplexity Research":{"main":[[{"node":"Build Full Prompt","type":"main","index":2}]]},"Build Full Prompt":{"main":[[{"node":"Claude Analyze","type":"main","index":0}]]},"Claude Analyze":{"main":[[{"node":"Format Briefing","type":"main","index":0}]]},"Format Briefing":{"main":[[{"node":"Save Briefing","type":"main","index":0}]]},"Save Briefing":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]},"Send to Telegram":{"main":[[{"node":"Post to data-learn","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","binaryMode":"separate"}, "updatedAt" : "2026-05-26T22:55:08.21+00:00"}
