docs/n8n-triage/workflows/GDA.form.quick-entry___iJaZmAsI4GVvMySQ.json
{"id" : "iJaZmAsI4GVvMySQ", "name" : "GDA.form.quick-entry", "active" : false, "nodes" : [{"id":"form-1","name":"Quick Entry Form","parameters":{"formDescription":"GDA Command Quick Entry. Drop an opportunity, upload a document, or request research.","formFields":{"values":[{"fieldLabel":"Action","fieldOptions":{"values":[{"option":"Add Opportunity"},{"option":"Upload Document"},{"option":"Request Research"}]},"fieldType":"dropdown","requiredField":true},{"fieldLabel":"Title","fieldType":"text","placeholder":"e.g. MAPS IDIQ, IEW&S SETA, TRADOC Training","requiredField":true},{"fieldLabel":"Details","fieldType":"textarea","placeholder":"URL, description, NAICS, agency, value..."},{"fieldLabel":"Agency","fieldType":"text","placeholder":"e.g. Army, TRADOC, PEO STRI"},{"fieldLabel":"Priority","fieldOptions":{"values":[{"option":"High"},{"option":"Medium"},{"option":"Low"}]},"fieldType":"dropdown"}]},"formTitle":"GDA Quick Entry","options":{},"path":"gda-quick-entry","responseMode":"formSubmitted","authentication":"headerAuth"},"position":[0,300],"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"webhookId":"gda-quick-entry","credentials":{"httpHeaderAuth":{"id":"fTrhOzBkjS1s67bm","name":"GDA Webhook Auth"}}},{"id":"process-sub","name":"Process Submission","parameters":{"jsCode":"var data = $input.first().json;\nreturn [{ json: {\n  action: data.Action || data.action || 'Add Opportunity',\n  title: data.Title || data.title || 'Untitled',\n  details: data.Details || data.details || '',\n  agency: data.Agency || data.agency || '',\n  priority: data.Priority || data.priority || 'Medium'\n} }];"},"position":[240,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"is-opp","name":"Is Opp?","parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"Add Opportunity"}]}},"position":[480,300],"type":"n8n-nodes-base.if","typeVersion":2.2},{"id":"is-doc","name":"Is Document?","parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2","leftValue":"={{ $json.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"Upload Document"}]}},"position":[720,400],"type":"n8n-nodes-base.if","typeVersion":2.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"register-opp","name":"Register Opp","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [$json.title, $json.agency, $json.details, $json.priority] }}"},"query":"INSERT INTO gda_opportunities (title, agency, notes, stage, source)\nVALUES ($1, $2, $3, 'Identified', 'Quick Entry - ' || $4 || ' priority')\nON CONFLICT DO NOTHING\nRETURNING id, title"},"position":[720,200],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"queue-ingest","name":"Queue for Ingest","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [$json.title, $json.details, 'rfp'] }}"},"query":"INSERT INTO gda_doc_inbox (title, content, doc_type, status)\nVALUES ($1, $2, $3, 'pending')\nRETURNING id, title"},"position":[960,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"trigger-research","name":"Trigger Deep Research","onError":"continueRegularOutput","parameters":{"jsonBody":"={{ JSON.stringify({ target: $json.title, type: $json.agency ? 'agency' : 'opportunity', opp_id: null }) }}","method":"POST","options":{"timeout":5000},"sendBody":true,"specifyBody":"json","url":"https://n8n.csr-llc.tech/webhook/gda-deep-research"},"position":[960,500],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"confirm-page","name":"Confirm Page","parameters":{"completionMessage":"Submitted to GDA Command. Your request is being processed.","options":{},"respondWith":"text","responseBody":"Submitted to GDA Command"},"position":[1200,300],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Process Submission":{"main":[[{"index":0,"node":"Is Opp?","type":"main"}]]},"Is Opp?":{"main":[[{"index":0,"node":"Register Opp","type":"main"}],[{"index":0,"node":"Is Document?","type":"main"}]]},"Is Document?":{"main":[[{"index":0,"node":"Queue for Ingest","type":"main"}],[{"index":0,"node":"Trigger Deep Research","type":"main"}]]},"Quick Entry Form":{"main":[[{"index":0,"node":"Process Submission","type":"main"}]]},"Queue for Ingest":{"main":[[{"index":0,"node":"Confirm Page","type":"main"}]]},"Register Opp":{"main":[[{"index":0,"node":"Confirm Page","type":"main"}]]},"Trigger Deep Research":{"main":[[{"index":0,"node":"Confirm Page","type":"main"}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-04-09T19:11:57.371+00:00"}
