docs/n8n-triage/workflows/GDA.api.competitor-threat-score___8VkL656vYsWatcSz.json
{"id" : "8VkL656vYsWatcSz", "name" : "GDA.api.competitor-threat-score", "active" : false, "nodes" : [{"id":"webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[220,300],"webhookId":"comp-threat-v2","parameters":{"path":"gda-competitor-threat-score","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"ddl1","name":"Add Columns","type":"n8n-nodes-base.postgres","position":[420,300],"parameters":{"query":"ALTER TABLE gda_competitor_watchlist ADD COLUMN IF NOT EXISTS scoring_factors TEXT; ALTER TABLE gda_competitor_watchlist ADD COLUMN IF NOT EXISTS scored_at TIMESTAMPTZ; SELECT 1 as ok;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"fetch_comp","name":"Fetch Competitors","type":"n8n-nodes-base.postgres","position":[620,300],"parameters":{"query":"SELECT id, name, threat_level, COALESCE(capabilities,'') as capabilities, COALESCE(target_agencies,'') as target_agencies, COALESCE(region,'') as region, COALESCE(threat_score,0) as threat_score, COALESCE(total_obligated,'0') as total_obligated, govtribe_url FROM gda_competitor_watchlist WHERE status = 'active' ORDER BY name","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"score_code","name":"Score Competitors","type":"n8n-nodes-base.code","position":[840,300],"parameters":{"jsCode":"const GDA_CAPS=['training','simulation','seta','c5isr','cyber','intelligence','analytics','modeling','systems engineering','software','digital','ai','machine learning'];\nconst ckw=['rs3','oasis','cio-sp','shield','maps','stri','iews','seta','tradoc','socom','army','disa','cyber'];\nconst items=$input.all();\nif(!items||items.length===0||!items[0].json.id){\n  return [{json:{batchSql:'SELECT 1',count:0,summary:[]}}];\n}\nconst scored=[];\nfor(const item of items){\n  const c=item.json;\n  if(!c.id)continue;\n  let score=0,factors=[];\n  const caps=(c.capabilities||'').toLowerCase();\n  const kc=(c.known_contracts||'').toLowerCase();\n  let ch=0;\n  for(const cap of GDA_CAPS){if(caps.includes(cap))ch++;}\n  score+=Math.min(30,Math.round((ch/13)*30));\n  if(ch>0)factors.push('Cap:'+ch);\n  let cth=0;\n  for(const kw of ckw){if(kc.includes(kw)||caps.includes(kw))cth++;}\n  score+=Math.min(25,cth*4);\n  if(cth>0)factors.push('Kw:'+cth);\n  score+=15;\n  score+=(c.weaknesses||'').length>20?10:5;\n  score=Math.min(100,score);\n  let tl=score>=65?'CRITICAL':score>=45?'HIGH':score>=25?'MEDIUM':'LOW';\n  const sf=factors.join('; ').replace(/'/g,\"''\");\n  scored.push({id:c.id,name:c.name,score,level:tl,factors:sf});\n}\nconst sqls=scored.map(s=>`UPDATE gda_competitor_watchlist SET threat_score=${s.score},threat_level='${s.level}',scoring_factors='${s.factors}',scored_at=NOW() WHERE id=${s.id}`).join(';');\nreturn [{json:{batchSql:sqls||'SELECT 1',count:scored.length,summary:scored}}];"},"typeVersion":2},{"id":"update_scores","name":"Update Scores","type":"n8n-nodes-base.postgres","position":[1060,300],"parameters":{"query":"={{ $json.batchSql }}","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"respond_ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","position":[1280,300],"parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"={{ JSON.stringify({success:true, scored:$('Score Competitors').first().json.count, results:$('Score Competitors').first().json.summary}) }}"},"typeVersion":1.1}], "connections" : {"Webhook Trigger":{"main":[[{"node":"Add Columns","type":"main","index":0}]]},"Add Columns":{"main":[[{"node":"Fetch Competitors","type":"main","index":0}]]},"Fetch Competitors":{"main":[[{"node":"Score Competitors","type":"main","index":0}]]},"Score Competitors":{"main":[[{"node":"Update Scores","type":"main","index":0}]]},"Update Scores":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-21T15:30:14.53+00:00"}
