docs/n8n-triage/workflows/GDA.api.dashboard-intel_2___A9tQjq8T2EvL4hOJ.json
{"id" : "A9tQjq8T2EvL4hOJ", "name" : "GDA.api.dashboard-intel 2", "active" : false, "nodes" : [{"id":"b8bf544e-7a3f-43bf-bebc-67d1a1670eaf","name":"Webhook","type":"n8n-nodes-base.webhook","position":[0,96],"webhookId":"2e4d9ffb-333c-4d21-bda3-939f26e6a942","parameters":{"path":"gda-dashboard-intel","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1},{"id":"81cf9845-93a0-4e2f-8318-a62a85ea9893","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[896,96],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"no-store, no-cache, must-revalidate"},{"name":"Pragma","value":"no-cache"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"typeVersion":1.5},{"id":"c4f1954b-4f5b-4dbb-86f9-58d39e205364","name":"Auth Guard","type":"n8n-nodes-base.code","position":[224,96],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"cache-read-001","name":"Read Cache","type":"n8n-nodes-base.postgres","position":[448,96],"parameters":{"query":"SELECT data, created_at FROM gda_dashboard_intel_cache ORDER BY created_at DESC LIMIT 1","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true,"alwaysOutputData":true},{"id":"freshness-check-001","name":"Check Freshness","type":"n8n-nodes-base.code","position":[672,96],"parameters":{"jsCode":"const rows = $input.all();\nconst now = new Date();\nlet cached = null;\nlet isFresh = false;\nlet ageMinutes = null;\n\nif (rows.length > 0 && rows[0].json && rows[0].json.data) {\n  cached = rows[0].json.data;\n  const createdAt = new Date(rows[0].json.created_at);\n  ageMinutes = Math.round((now - createdAt) / 60000);\n  isFresh = ageMinutes < 30;\n}\n\nif (cached) {\n  const response = typeof cached === 'string' ? JSON.parse(cached) : cached;\n  response._cache_meta = {\n    served_from: 'cache',\n    cache_age_minutes: ageMinutes,\n    is_fresh: isFresh,\n    refreshing: !isFresh,\n    served_at: now.toISOString()\n  };\n  return [{ json: response }];\n} else {\n  return [{ json: {\n    top_clients: [],\n    agency_programs: [],\n    generated_at: now.toISOString(),\n    _cache_meta: {\n      served_from: 'empty',\n      cache_age_minutes: null,\n      is_fresh: false,\n      refreshing: true,\n      served_at: now.toISOString(),\n      message: 'First run - data is being generated. Please retry in ~90 seconds.'\n    }\n  }}];\n}"},"typeVersion":2},{"id":"trigger-sub-001","name":"Trigger Deep Refresh","type":"n8n-nodes-base.httpRequest","position":[1120,96],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/gda-sub-dashboard-intel-deep","method":"POST","options":{"timeout":3000},"jsonBody":"={{ JSON.stringify({trigger: 'async-refresh', timestamp: new Date().toISOString()}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2,"continueOnFail":true}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Read Cache","type":"main","index":0}]]},"Read Cache":{"main":[[{"node":"Check Freshness","type":"main","index":0}]]},"Check Freshness":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Trigger Deep Refresh","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:48.238+00:00"}
