docs/n8n-triage/workflows/GDA.cron.auto-risk-generation___ldVAxgDGuKJx4354.json
{"id" : "ldVAxgDGuKJx4354", "name" : "GDA.cron.auto-risk-generation", "active" : false, "nodes" : [{"id":"sched1","name":"Daily 04:00 EST","type":"n8n-nodes-base.scheduleTrigger","position":[220,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"typeVersion":1.2},{"id":"pg_scan","name":"Scan Opps For Risks","type":"n8n-nodes-base.postgres","position":[460,300],"parameters":{"query":"WITH risk_candidates AS (\n  SELECT \n    o.id as opp_id,\n    o.opp_title,\n    o.agency,\n    o.dept,\n    o.gda_score,\n    o.gda_label,\n    o.estimated_value,\n    o.response_deadline,\n    o.stage,\n    o.set_aside,\n    o.naics_code,\n    CASE WHEN cp.opp_id IS NULL THEN false ELSE true END as has_capture_plan,\n    CASE WHEN o.response_deadline IS NOT NULL AND o.response_deadline::date - CURRENT_DATE <= 30 THEN true ELSE false END as deadline_imminent,\n    CASE WHEN o.response_deadline IS NOT NULL AND o.response_deadline::date - CURRENT_DATE <= 60 THEN true ELSE false END as deadline_near,\n    CASE WHEN o.estimated_value >= 10000000 THEN true ELSE false END as high_value\n  FROM gda_opportunity_tracker o\n  LEFT JOIN gda_capture_plans cp ON cp.opp_id = o.id\n  WHERE o.gda_label IN ('PURSUE', 'EVALUATE')\n),\ndept_concentration AS (\n  SELECT dept, \n    COUNT(*)::float / NULLIF((SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label IN ('PURSUE','EVALUATE')), 0) * 100 as pct\n  FROM gda_opportunity_tracker \n  WHERE gda_label IN ('PURSUE','EVALUATE')\n  GROUP BY dept\n  HAVING COUNT(*)::float / NULLIF((SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label IN ('PURSUE','EVALUATE')), 0) * 100 > 40\n)\nSELECT \n  rc.*,\n  dc.pct as dept_concentration_pct\nFROM risk_candidates rc\nLEFT JOIN dept_concentration dc ON dc.dept = rc.dept\nORDER BY rc.gda_score DESC","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"gen_risks","name":"Generate Risk Records","type":"n8n-nodes-base.code","position":[720,300],"parameters":{"jsCode":"const opps = $input.all().map(i => i.json);\nconst risks = [];\n\nfor (const opp of opps) {\n  if (!opp.opp_id) continue;\n  \n  // CRITICAL: Deadline <=30d + no capture plan\n  if (opp.deadline_imminent && !opp.has_capture_plan) {\n    risks.push({\n      risk_key: `deadline-nocapture-${opp.opp_id}`,\n      title: `URGENT: ${(opp.opp_title || 'Unknown').substring(0, 80)} - deadline <=30d, no capture plan`,\n      severity: 'CRITICAL',\n      category: 'Capture Gap',\n      owner: 'Shawn',\n      opp_id: opp.opp_id,\n      agency: opp.agency || 'Unknown',\n      description: `Opportunity \"${opp.opp_title}\" has a deadline within 30 days but no capture plan exists. GDA Score: ${opp.gda_score}, Label: ${opp.gda_label}, Est. Value: $${(opp.estimated_value || 0).toLocaleString()}.`,\n      mitigation: 'Run auto-capture immediately. Assign BD lead. Review win themes.',\n      due_date: opp.response_deadline || null\n    });\n  }\n  \n  // HIGH: PURSUE opp + no capture plan\n  if (opp.gda_label === 'PURSUE' && !opp.has_capture_plan && !opp.deadline_imminent) {\n    risks.push({\n      risk_key: `pursue-nocapture-${opp.opp_id}`,\n      title: `PURSUE opp missing capture plan: ${(opp.opp_title || 'Unknown').substring(0, 80)}`,\n      severity: 'HIGH',\n      category: 'Capture Gap',\n      owner: 'Shawn',\n      opp_id: opp.opp_id,\n      agency: opp.agency || 'Unknown',\n      description: `PURSUE-rated opportunity (GDA Score: ${opp.gda_score}) has no capture plan. Est. Value: $${(opp.estimated_value || 0).toLocaleString()}.`,\n      mitigation: 'Generate capture plan via auto-capture workflow. Review competitive positioning.',\n      due_date: opp.response_deadline || null\n    });\n  }\n  \n  // HIGH: Deadline <=60d for PURSUE opps\n  if (opp.gda_label === 'PURSUE' && opp.deadline_near && !opp.deadline_imminent) {\n    risks.push({\n      risk_key: `recompete-near-${opp.opp_id}`,\n      title: `Recompete approaching (<=60d): ${(opp.opp_title || 'Unknown').substring(0, 80)}`,\n      severity: 'HIGH',\n      category: 'Recompete',\n      owner: 'Shawn',\n      opp_id: opp.opp_id,\n      agency: opp.agency || 'Unknown',\n      description: `PURSUE opportunity deadline within 60 days. Stage: ${opp.stage}. Needs active pursuit.`,\n      mitigation: 'Accelerate teaming discussions. Lock key personnel. Finalize pricing strategy.',\n      due_date: opp.response_deadline || null\n    });\n  }\n  \n  // MEDIUM: $10M+ opp with no capture plan\n  if (opp.high_value && !opp.has_capture_plan && opp.gda_label !== 'PURSUE') {\n    risks.push({\n      risk_key: `highval-nocapture-${opp.opp_id}`,\n      title: `$10M+ opp uncaptured: ${(opp.opp_title || 'Unknown').substring(0, 80)}`,\n      severity: 'MEDIUM',\n      category: 'Pipeline',\n      owner: 'BD Team',\n      opp_id: opp.opp_id,\n      agency: opp.agency || 'Unknown',\n      description: `High-value opportunity ($${(opp.estimated_value || 0).toLocaleString()}) rated ${opp.gda_label} has no capture plan.`,\n      mitigation: 'Evaluate for upgrade to PURSUE. Generate preliminary capture plan.',\n      due_date: null\n    });\n  }\n  \n  // MEDIUM: Department concentration >40%\n  if (opp.dept_concentration_pct && opp.dept_concentration_pct > 40) {\n    const deptKey = `dept-concentration-${(opp.dept || 'unknown').replace(/[^a-zA-Z0-9]/g, '-')}`;\n    if (!risks.find(r => r.risk_key === deptKey)) {\n      risks.push({\n        risk_key: deptKey,\n        title: `Department concentration risk: ${opp.dept} (${Math.round(opp.dept_concentration_pct)}% of pipeline)`,\n        severity: 'MEDIUM',\n        category: 'Concentration',\n        owner: 'Shawn',\n        opp_id: null,\n        agency: opp.agency || 'Unknown',\n        description: `${Math.round(opp.dept_concentration_pct)}% of PURSUE/EVALUATE pipeline is concentrated in ${opp.dept}. Revenue risk if agency budget cuts occur.`,\n        mitigation: 'Diversify pipeline across agencies. Target new departments.',\n        due_date: null\n      });\n    }\n  }\n}\n\nif (risks.length === 0) {\n  return [{json: {_noRisks: true, message: 'No risks generated'}}];\n}\n\nreturn [{json: {risks: risks, count: risks.length}}];"},"typeVersion":2},{"id":"check_risks","name":"Has Risks?","type":"n8n-nodes-base.if","position":[960,300],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.count }}","rightValue":0}]}},"typeVersion":2.2},{"id":"ensure_table","name":"Ensure Table Exists","type":"n8n-nodes-base.postgres","position":[1200,200],"parameters":{"query":"DO $$ BEGIN\n  -- Add risk_key column if table exists but column doesn't\n  IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'gda_risk_register') \n     AND NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'gda_risk_register' AND column_name = 'risk_key') THEN\n    ALTER TABLE gda_risk_register ADD COLUMN risk_key VARCHAR(255) UNIQUE;\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS auto_generated BOOLEAN DEFAULT true;\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS source VARCHAR(50) DEFAULT 'auto-risk-cron';\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS agency VARCHAR(255);\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS opp_id INTEGER;\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS description TEXT;\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS mitigation TEXT;\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS due_date DATE;\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS updated_at TIMESTAMP DEFAULT NOW();\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS created_at TIMESTAMP DEFAULT NOW();\n    ALTER TABLE gda_risk_register ADD COLUMN IF NOT EXISTS status VARCHAR(20) DEFAULT 'OPEN';\n  END IF;\nEND $$;\n\nCREATE TABLE IF NOT EXISTS gda_risk_register (\n  id SERIAL PRIMARY KEY,\n  risk_key VARCHAR(255) UNIQUE,\n  title TEXT NOT NULL,\n  severity VARCHAR(20) NOT NULL DEFAULT 'MEDIUM',\n  category VARCHAR(50),\n  owner VARCHAR(100),\n  opp_id INTEGER,\n  agency VARCHAR(255),\n  description TEXT,\n  mitigation TEXT,\n  status VARCHAR(20) DEFAULT 'OPEN',\n  due_date DATE,\n  created_at TIMESTAMP DEFAULT NOW(),\n  updated_at TIMESTAMP DEFAULT NOW(),\n  auto_generated BOOLEAN DEFAULT true,\n  source VARCHAR(50) DEFAULT 'auto-risk-cron'\n);\nCREATE INDEX IF NOT EXISTS idx_risk_register_severity ON gda_risk_register(severity);\nCREATE INDEX IF NOT EXISTS idx_risk_register_status ON gda_risk_register(status);\nCREATE INDEX IF NOT EXISTS idx_risk_register_risk_key ON gda_risk_register(risk_key);","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"upsert_risks","name":"Upsert All Risks","type":"n8n-nodes-base.code","position":[1440,200],"parameters":{"jsCode":"const data = $('Generate Risk Records').first().json;\nconst risks = data.risks || [];\n\nconst queries = risks.map(r => {\n  const esc = (s) => (s || '').replace(/'/g, \"''\").replace(/\\$/g, 'USD ');\n  const title = esc(r.title);\n  const desc = esc(r.description);\n  const mitigation = esc(r.mitigation);\n  const agency = esc(r.agency);\n  const owner = esc(r.owner || 'Shawn');\n  const category = esc(r.category || 'General');\n  const dueDate = r.due_date ? `'${r.due_date}'` : 'NULL';\n  const oppId = r.opp_id || 'NULL';\n  \n  return `INSERT INTO gda_risk_register (risk_key, title, severity, category, owner, opp_id, agency, description, mitigation, due_date, auto_generated, updated_at)\n    VALUES ('${r.risk_key}', '${title}', '${r.severity}', '${category}', '${owner}', ${oppId}, '${agency}', '${desc}', '${mitigation}', ${dueDate}, true, NOW())\n    ON CONFLICT (risk_key) DO UPDATE SET\n      title = EXCLUDED.title,\n      severity = EXCLUDED.severity,\n      description = EXCLUDED.description,\n      mitigation = EXCLUDED.mitigation,\n      due_date = EXCLUDED.due_date,\n      updated_at = NOW()\n    WHERE gda_risk_register.status = 'OPEN';`;\n});\n\nqueries.push(`UPDATE gda_risk_register SET status = 'RESOLVED', updated_at = NOW()\n  WHERE auto_generated = true AND status = 'OPEN'\n  AND risk_key NOT IN (${risks.map(r => \"'\" + r.risk_key + \"'\").join(',') || \"'__none__'\"})`);\n\nreturn [{json: {query: queries.join('\\n'), risk_count: risks.length}}];"},"typeVersion":2},{"id":"pg_write","name":"Write Risks","type":"n8n-nodes-base.postgres","position":[1680,200],"parameters":{"query":"={{ $json.query }}","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"wh_manual","name":"Manual Trigger","type":"n8n-nodes-base.webhook","position":[220,500],"webhookId":"62aed313-d011-4656-a42b-e17875419d80","parameters":{"path":"gda-risk-generate","options":{},"httpMethod":"POST","responseMode":"lastNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2}], "connections" : {"Daily 04:00 EST":{"main":[[{"node":"Scan Opps For Risks","type":"main","index":0}]]},"Scan Opps For Risks":{"main":[[{"node":"Generate Risk Records","type":"main","index":0}]]},"Generate Risk Records":{"main":[[{"node":"Has Risks?","type":"main","index":0}]]},"Has Risks?":{"main":[[{"node":"Ensure Table Exists","type":"main","index":0}],[]]},"Ensure Table Exists":{"main":[[{"node":"Upsert All Risks","type":"main","index":0}]]},"Upsert All Risks":{"main":[[{"node":"Write Risks","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Scan Opps For Risks","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveExecutionProgress":false}, "updatedAt" : "2026-05-22T16:24:56.857+00:00"}
