docs/n8n-triage/workflows/GDA.cron.system-watchdog___LPUSYd4Vpph1Qg7n.json
{"id" : "LPUSYd4Vpph1Qg7n", "name" : "GDA.cron.system-watchdog", "active" : false, "nodes" : [{"id":"wd01","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}}},{"id":"wd02","name":"Last Scan Check","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,300],"parameters":{"operation":"executeQuery","query":"SELECT last_refreshed as created_at FROM gda_opportunity_tracker ORDER BY last_refreshed DESC LIMIT 1;","options":{}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"id":"wd03","name":"Is Stale?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,300],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"stale1","leftValue":"={{ $now.diff($json.created_at).as('hours') > 24 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}]}}},{"id":"wd04","name":"Send Alert SMS","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[860,200],"parameters":{"from":"18666993893","to":"17063418858","message":"=⚠️ GDA WATCHDOG: Opportunity refresh stale >24hrs. Last refresh: {{ $('Last Scan Check').first().json.created_at }}. Check opp-refresh workflow.","options":{}},"credentials":{"twilioApi":{"id":"HRk44mLqTz2DI5FB","name":"Twilio account"}}}], "connections" : {"Schedule Trigger":{"main":[[{"node":"Last Scan Check","type":"main","index":0}]]},"Last Scan Check":{"main":[[{"node":"Is Stale?","type":"main","index":0}]]},"Is Stale?":{"main":[[{"node":"Send Alert SMS","type":"main","index":0}],[]]}}, "settings" : {"executionOrder":"v1","timezone":"America/New_York","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:00.148+00:00"}
