docs/n8n-triage/workflows/GDA.ops.pinecone-backfill___1F02d4uua1uStBc6.json
{"id" : "1F02d4uua1uStBc6", "name" : "GDA.ops.pinecone-backfill", "active" : false, "nodes" : [{"id":"backfill-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[0,0],"parameters":{},"typeVersion":1},{"id":"backfill-describe","name":"Describe Index Stats","type":"n8n-nodes-base.code","position":[220,0],"parameters":{"jsCode":"// Fetch Pinecone index stats and build namespace list\nconst PINECONE_HOST = '{{ $env.PINECONE_HOST }}';\nconst PINECONE_KEY = '{{ $env.PINECONE_API_KEY }}';\n\nconst resp = await fetch(`${PINECONE_HOST}/describe_index_stats`, {\n  method: 'POST',\n  headers: { 'Api-Key': PINECONE_KEY, 'Content-Type': 'application/json' },\n  body: '{}',\n});\nif (!resp.ok) throw new Error(`Pinecone describe_index_stats failed: ${resp.status}`);\nconst stats = await resp.json();\n\n// Namespace → collection mapping\nconst namespaceMap = {\n  'gda-documents': 'gda-documents',\n  '': 'ai-agent-attachments',\n};\n\nconst items = [];\nfor (const [ns, info] of Object.entries(stats.namespaces || {})) {\n  let collection = namespaceMap[ns];\n  if (collection === undefined) {\n    collection = ns; // fallback: use namespace name as collection\n    console.warn(`Unmapped namespace '${ns}' → using as collection name`);\n  }\n  items.push({\n    json: {\n      namespace: ns,\n      collection,\n      expected_count: info.vectorCount,\n      index_host: PINECONE_HOST,\n    },\n  });\n}\n\nreturn items;"},"typeVersion":2},{"id":"backfill-split","name":"Iterate Namespaces","type":"n8n-nodes-base.splitInBatches","position":[440,0],"parameters":{"batchSize":1,"options":{}},"typeVersion":3},{"id":"backfill-process","name":"Backfill Namespace","type":"n8n-nodes-base.code","position":[660,0],"parameters":{"jsCode":"// Backfill one namespace from Pinecone → pgvector\nconst PINECONE_HOST = '{{ $env.PINECONE_HOST }}';\nconst PINECONE_KEY = '{{ $env.PINECONE_API_KEY }}';\nconst GDA_KEY = '{{ $env.GDA_WEBHOOK_KEY }}';\nconst BACKEND_URL = 'http://gda-backend:3001';\n\nconst item = $input.first().json;\nconst ns = item.namespace;\nconst collection = item.collection;\nconst expectedCount = item.expected_count;\n\nlet totalFetched = 0;\nlet totalUpserted = 0;\nlet errors = [];\nlet batchNum = 0;\nlet paginationToken = null;\n\n// DRY_RUN limit: set to 0 for full run, or N for dry-run\nconst DRY_RUN_LIMIT = 10;\n\ndo {\n  // Step 1: List vector IDs (paginated, 100 per page)\n  let listUrl = `${PINECONE_HOST}/vectors/list?namespace=${encodeURIComponent(ns)}&limit=100`;\n  if (paginationToken) listUrl += `&paginationToken=${encodeURIComponent(paginationToken)}`;\n\n  const listResp = await fetch(listUrl, {\n    method: 'GET',\n    headers: { 'Api-Key': PINECONE_KEY },\n  });\n  if (!listResp.ok) {\n    errors.push(`List failed for ns=${ns}: ${listResp.status}`);\n    break;\n  }\n  const listData = await listResp.json();\n  const vectorIds = (listData.vectors || []).map(v => v.id);\n  paginationToken = listData.pagination?.next || null;\n\n  if (vectorIds.length === 0) break;\n\n  // Step 2: Fetch full vectors (values + metadata)\n  const fetchResp = await fetch(`${PINECONE_HOST}/vectors/fetch`, {\n    method: 'POST',\n    headers: { 'Api-Key': PINECONE_KEY, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ ids: vectorIds, namespace: ns }),\n  });\n  if (!fetchResp.ok) {\n    errors.push(`Fetch failed for ns=${ns} batch ${batchNum}: ${fetchResp.status}`);\n    break;\n  }\n  const fetchData = await fetchResp.json();\n  const vectors = fetchData.vectors || {};\n\n  // Step 3: Transform to VectorItem shape\n  const upsertItems = [];\n  for (const [id, vec] of Object.entries(vectors)) {\n    const meta = vec.metadata || {};\n    upsertItems.push({\n      id,\n      document_id: meta.document_id || null,\n      chunk_index: meta.chunk_index || 0,\n      chunk_text: meta.text || meta.chunk_text || '',\n      page_number: meta.page || meta.page_number || null,\n      section_title: meta.section_title || meta.heading || null,\n      embedding: vec.values,\n      collection,\n      metadata: meta,\n    });\n  }\n\n  if (upsertItems.length === 0) continue;\n\n  // Step 4: POST to vector-upsert\n  const upsertResp = await fetch(`${BACKEND_URL}/api/internal/vector-upsert`, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-gda-key': GDA_KEY,\n    },\n    body: JSON.stringify({ collection, items: upsertItems }),\n  });\n\n  if (upsertResp.ok) {\n    totalUpserted += upsertItems.length;\n  } else {\n    const errText = await upsertResp.text();\n    errors.push(`Upsert failed batch ${batchNum}: ${upsertResp.status} ${errText}`);\n  }\n\n  totalFetched += vectorIds.length;\n  batchNum++;\n\n  if (DRY_RUN_LIMIT > 0 && totalFetched >= DRY_RUN_LIMIT) {\n    paginationToken = null; // stop early\n  }\n} while (paginationToken);\n\nreturn [{\n  json: {\n    namespace: ns,\n    collection,\n    expected_count: expectedCount,\n    total_fetched: totalFetched,\n    total_upserted: totalUpserted,\n    batches: batchNum,\n    errors,\n    status: errors.length === 0 ? 'success' : 'partial',\n  },\n}];"},"typeVersion":2},{"id":"backfill-verify","name":"Verify Counts","type":"n8n-nodes-base.code","position":[880,0],"parameters":{"jsCode":"// Query pgvector for final count per collection\nconst GDA_KEY = '{{ $env.GDA_WEBHOOK_KEY }}';\nconst BACKEND_URL = 'http://gda-backend:3001';\nconst item = $input.first().json;\n\n// Use the vector-query endpoint to verify count (query with zero vector)\nconst dummyEmbedding = new Array(1536).fill(0.01);\nconst resp = await fetch(`${BACKEND_URL}/api/internal/vector-query`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json', 'x-gda-key': GDA_KEY },\n  body: JSON.stringify({ collection: item.collection, embedding: dummyEmbedding, topK: 1 }),\n});\nconst data = resp.ok ? await resp.json() : { error: await resp.text() };\n\nreturn [{\n  json: {\n    ...item,\n    pgvector_query_check: resp.ok ? 'ok' : 'error',\n    sample_result: data?.data?.results?.[0]?.id || 'none',\n  },\n}];"},"typeVersion":2}], "connections" : {"Manual Trigger":{"main":[[{"node":"Describe Index Stats","type":"main","index":0}]]},"Describe Index Stats":{"main":[[{"node":"Iterate Namespaces","type":"main","index":0}]]},"Iterate Namespaces":{"main":[[{"node":"Backfill Namespace","type":"main","index":0}],[]]},"Backfill Namespace":{"main":[[{"node":"Verify Counts","type":"main","index":0}]]},"Verify Counts":{"main":[[{"node":"Iterate Namespaces","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1"}, "updatedAt" : "2026-05-28T21:39:02.157+00:00"}
