docs/n8n-triage/workflows/GDA.sched.dept-opp-sweep___JRnWGEH9cesb8f3w.json
{"id" : "JRnWGEH9cesb8f3w", "name" : "GDA.sched.dept-opp-sweep", "active" : false, "nodes" : [{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"ds-sched","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[432,400],"typeVersion":1.2,"disabled":true},{"parameters":{"httpMethod":"POST","path":"gda-dept-sweep","authentication":"headerAuth","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"id":"ds-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[208,208],"webhookId":"gda-dept-sweep-01","typeVersion":2.1,"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"parameters":{"jsCode":"// Webhook Header Auth already validates x-gda-key before this workflow runs.\nreturn $input.all();"},"id":"ds-auth","name":"Auth Guard","type":"n8n-nodes-base.code","position":[432,208],"typeVersion":2},{"parameters":{"jsCode":"// All 13 GDA target departments mapped to SAM.gov organization search terms\n// SAM API uses 'organizationId' but keyword search on department name is more reliable\nconst departments = [\n  { dept: 'Department of War', sam_query: 'DEPT OF DEFENSE', subtier_keywords: ['army','navy','air force','marine','socom','disa','darpa','mda','dla','dtra','nsa','dia','nga','nro'] },\n  { dept: 'Department of Homeland Security', sam_query: 'DEPT OF HOMELAND SECURITY', subtier_keywords: ['cbp','ice','tsa','fema','coast guard','cisa','secret service'] },\n  { dept: 'Intelligence Community', sam_query: 'CENTRAL INTELLIGENCE AGENCY', subtier_keywords: ['cia','dni','odni'] },\n  { dept: 'Department of Veterans Affairs', sam_query: 'DEPT OF VETERANS AFFAIRS', subtier_keywords: ['vha','vba'] },\n  { dept: 'Department of Energy', sam_query: 'DEPT OF ENERGY', subtier_keywords: ['nnsa','doe'] },\n  { dept: 'NASA', sam_query: 'NATIONAL AERONAUTICS AND SPACE ADMINISTRATION', subtier_keywords: ['nasa'] },\n  { dept: 'Department of Justice', sam_query: 'DEPT OF JUSTICE', subtier_keywords: ['fbi','dea','atf','marshals'] },\n  { dept: 'Department of State', sam_query: 'DEPT OF STATE', subtier_keywords: [] },\n  { dept: 'Department of Commerce', sam_query: 'DEPT OF COMMERCE', subtier_keywords: ['noaa','nist','census'] },\n  { dept: 'Department of Health and Human Services', sam_query: 'DEPT OF HEALTH AND HUMAN SERVICES', subtier_keywords: ['cdc','nih','cms','fda'] },\n  { dept: 'Department of the Interior', sam_query: 'DEPT OF THE INTERIOR', subtier_keywords: ['blm','usgs','nps'] },\n  { dept: 'Department of Transportation', sam_query: 'DEPT OF TRANSPORTATION', subtier_keywords: ['faa','fhwa','fra'] },\n  { dept: 'General Services Administration', sam_query: 'GENERAL SERVICES ADMINISTRATION', subtier_keywords: ['gsa','fas','pbs'] }\n];\nreturn departments.map(function(d) { return { json: d }; });"},"id":"ds-depts","name":"Build Dept List","type":"n8n-nodes-base.code","position":[656,304],"typeVersion":2},{"parameters":{"url":"https://api.sam.gov/opportunities/v2/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$env.GDA_SAM_API_KEY}}"},{"name":"postedFrom","value":"={{ (() => { const d = new Date(Date.now() - 30*24*60*60*1000); return (d.getMonth()+1).toString().padStart(2,'0') + '/' + d.getDate().toString().padStart(2,'0') + '/' + d.getFullYear(); })() }}"},{"name":"postedTo","value":"={{ (() => { const d = new Date(); return (d.getMonth()+1).toString().padStart(2,'0') + '/' + d.getDate().toString().padStart(2,'0') + '/' + d.getFullYear(); })() }}"},{"name":"limit","value":"100"},{"name":"organizationId","value":"={{ $json.sam_query }}"},{"name":"ptype","value":"o,p,k,r"},{"name":"keywords","value":"IT services cybersecurity systems engineering simulation training software"},{"name":"responseDeadLineFrom","value":"={{ $now.format('MM/dd/yyyy') }}"},{"name":"responseDeadLineTo","value":"={{ $now.plus({years: 1}).format('MM/dd/yyyy') }}"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":3000}}}},"id":"ds-fetch","name":"SAM Dept Fetch","type":"n8n-nodes-base.httpRequest","position":[880,304],"typeVersion":4,"continueOnFail":true},{"parameters":{"jsCode":"const allItems = $input.all();\nconst results = [];\nconst seen = new Set();\nconst EIS_KEYWORDS = /seta|training|simulat|cyber|intel|c5isr|sigint|it support|cloud|network|engineer|software|consult|analyst|logist|ai |machine learning|data|sensor|command|control|missile|defense|shield/i;\n\nfor (const item of allItems) {\n  if (item.json.error) continue;\n  const opps = item.json.opportunitiesData || [];\n  for (const opp of opps) {\n    const id = opp.solicitationNumber || opp.noticeId || '';\n    if (!id || seen.has(id)) continue;\n    const title = (opp.title || '').toLowerCase();\n    // Pre-filter: skip obviously irrelevant (construction, janitorial, food, etc)\n    if (/janitorial|custodial|food service|laundry|grounds|mowing|plumbing|hvac|roofing|paving|demolition/.test(title)) continue;\n    seen.add(id);\n    const hier = opp.organizationHierarchy || [];\n    const agency = hier.length > 0 ? hier[0].name : (opp.fullParentPathName || opp.organizationName || '');\n    const subtier = hier.length > 1 ? hier[1].name : '';\n    results.push({ json: {\n      solicitation_number: id.substring(0, 255),\n      name: agency.substring(0, 500),\n      title: (opp.title || '').substring(0, 500),\n      opp_title: (opp.title || '').substring(0, 500),\n      opportunity_type: opp.type || '',\n      set_aside: opp.typeOfSetAsideDescription || opp.typeOfSetAside || '',\n      posted_date: opp.postedDate || null,\n      due_date: opp.responseDeadLine || opp.archiveDate || null,\n      response_deadline: opp.responseDeadLine || opp.archiveDate || null,\n      agency: agency.substring(0, 500),\n      dept: hier.length > 0 ? hier[0].name : 'Unknown',\n      level_2: subtier,\n      naics_code: (opp.naicsCode || '').substring(0, 20),\n      source_url: opp.uiLink || ('https://sam.gov/opp/' + (opp.noticeId || '') + '/view'),\n      data_source: 'SAM.gov Dept Sweep',\n      govtribe_id: opp.noticeId || '',\n      description: (opp.description || '').substring(0, 2000),\n      place_of_performance: (opp.placeOfPerformance || {}).state || '',\n      estimated_value: 0,\n      _hasData: true\n    }});\n  }\n}\nif (results.length === 0) return [{ json: { _hasData: false, _fetched: 0, _msg: 'No new opps from dept sweep' } }];\nreturn results;"},"id":"ds-normalize","name":"Normalize Results","type":"n8n-nodes-base.code","position":[1104,304],"typeVersion":2},{"parameters":{"jsCode":"const items = $input.all();\nif (items[0]?.json?._hasData === false) return items;\nconst EIS_NAICS = ['541330','541511','541512','541513','541519','541611','541690','541715','541990','611430','561210','561110'];\nconst TARGET_AGENCIES = ['socom','tradoc','peo stri','inscom','cybercom','disa','indopacom','mda','missile defense','faa'];\nfunction calc(o){\n  let s=0;\n  const t=((o.opp_title||o.title||'')+(o.description||'')).toLowerCase();\n  const n=o.naics_code||'';\n  const sa=(o.set_aside||'').toLowerCase();\n  const ag=(o.agency||'').toLowerCase();\n  const dl=o.due_date?Math.ceil((new Date(o.due_date)-new Date())/864e5):90;\n  s+=EIS_NAICS.includes(n)?15:n.startsWith('5415')?8:n.startsWith('541')?5:0;\n  let mp=0;\n  if(/seta|systems engineering/.test(t))mp=15;\n  if(/simulat|training|virtual/.test(t))mp=Math.max(mp,12);\n  if(/missile|defense|shield|golden dome/.test(t))mp=Math.max(mp,12);\n  if(/cyber|c5isr/.test(t))mp=Math.max(mp,10);\n  if(/intel|intelligence|sigint/.test(t))mp=Math.max(mp,10);\n  if(/air traffic|atc|faa/.test(t))mp=Math.max(mp,8);\n  if(/it support|cloud|network/.test(t))mp=Math.max(mp,8);\n  s+=Math.min(mp,15);\n  if(/seta|training|simulat|peo stri|tradoc/.test(t))s+=10;\n  else if(/cyber|protect|security|disa/.test(t))s+=10;\n  else if(/software|engineer|develop/.test(t))s+=10;\n  else if(/socom|inscom|army|navy/.test(t))s+=7;\n  else s+=5;\n  if(/sdvosb|service.disabled/.test(sa))s+=10;\n  else if(/8\\(a\\)|8a/.test(sa))s+=10;\n  else if(/hubzone/.test(sa))s+=9;\n  else if(/small business/.test(sa)&&!/no set/.test(sa))s+=8;\n  else s+=3;\n  let pp=2;\n  for(const ta of TARGET_AGENCIES){if(ag.includes(ta)){pp=15;break;}}\n  if(pp<15&&/army|war/.test(ag))pp=10;\n  if(pp<10&&/navy|air force|defense/.test(ag))pp=7;\n  s+=pp;\n  s+=/sole.source|limited/.test(sa+t)?10:/small business/.test(sa)?7:3;\n  s+=3; // no value data from SAM search\n  if(/iews|recompete/.test(t))s+=10;\n  else if(/shield|mda/.test(t))s+=8;\n  else if(/idiq|task order/.test(t))s+=6;\n  else s+=2;\n  s+=dl>45?5:dl>30?4:dl>14?2:1;\n  return Math.min(Math.max(Math.round(s),0),100);\n}\nreturn items.map(function(i){\n  const o=i.json;\n  if(!o._hasData && o._hasData !== undefined) return i;\n  const gs=calc(o);\n  return {json:{...o, gda_score:gs, gda_label:gs>=80?'PURSUE':gs>=60?'EVALUATE':gs>=40?'MONITOR':'PASS', eis_fit_score:gs}};\n});"},"id":"ds-score","name":"Score and Enrich","type":"n8n-nodes-base.code","position":[1328,304],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json._hasData }}","rightValue":true}]},"options":{}},"id":"ds-skip","name":"Skip Empty","type":"n8n-nodes-base.if","position":[1552,304],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO gda_opportunity_tracker (name, opp_title, dept, level_1, level_2, agency, naics_code, set_aside, estimated_value, response_deadline, data_source, solicitation_number, govtribe_id, source_url, place_of_performance, gda_score, gda_label, eis_fit_score, stage, last_refreshed) VALUES ('{{ ($json.name || \"\").replace(/'/g, \"''\").substring(0,500) }}', '{{ ($json.opp_title || $json.title || \"\").replace(/'/g, \"''\").substring(0,500) }}', '{{ ($json.dept || \"\").replace(/'/g, \"''\") }}', '{{ ($json.dept || \"\").replace(/'/g, \"''\") }}', '{{ ($json.level_2 || \"\").replace(/'/g, \"''\") }}', '{{ ($json.agency || \"\").replace(/'/g, \"''\").substring(0,500) }}', '{{ $json.naics_code || \"\" }}', '{{ ($json.set_aside || \"\").replace(/'/g, \"''\") }}', {{ $json.estimated_value || 0 }}, {{ $json.response_deadline ? \"'\" + $json.response_deadline + \"'\" : 'NULL' }}, '{{ $json.data_source || \"SAM.gov\" }}', '{{ $json.solicitation_number || \"\" }}', '{{ $json.govtribe_id || \"\" }}', '{{ $json.source_url || \"\" }}', '{{ ($json.place_of_performance || \"\").replace(/'/g, \"''\") }}', {{ $json.gda_score || 0 }}, '{{ $json.gda_label || \"MONITOR\" }}', {{ $json.eis_fit_score || 0 }}, 'Identified', NOW()) ON CONFLICT (solicitation_number) DO UPDATE SET gda_score = GREATEST(EXCLUDED.gda_score, gda_opportunity_tracker.gda_score), gda_label = CASE WHEN EXCLUDED.gda_score > gda_opportunity_tracker.gda_score THEN EXCLUDED.gda_label ELSE gda_opportunity_tracker.gda_label END, last_refreshed = NOW()","options":{}},"id":"ds-upsert","name":"Upsert to Tracker","type":"n8n-nodes-base.postgres","position":[1776,232],"typeVersion":2.6,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"continueOnFail":true},{"parameters":{"jsCode":"const items = $input.all();\nconst isNoData = items[0]?.json?._hasData === false;\nconst summary = {\n  timestamp: new Date().toISOString(),\n  workflow: 'GDA.sched.dept-opp-sweep',\n  departments_searched: 13,\n  opps_found: isNoData ? 0 : items.length,\n  status: isNoData ? 'no_new_data' : 'ok'\n};\nconsole.log('[DEPT SWEEP]', JSON.stringify(summary));\nreturn [{ json: summary }];"},"id":"ds-summary","name":"Summary Log","type":"n8n-nodes-base.code","position":[2000,320],"typeVersion":2}], "connections" : {"Schedule Trigger":{"main":[[{"node":"Build Dept List","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Build Dept List","type":"main","index":0}]]},"Build Dept List":{"main":[[{"node":"SAM Dept Fetch","type":"main","index":0}]]},"SAM Dept Fetch":{"main":[[{"node":"Normalize Results","type":"main","index":0}]]},"Normalize Results":{"main":[[{"node":"Score and Enrich","type":"main","index":0}]]},"Score and Enrich":{"main":[[{"node":"Skip Empty","type":"main","index":0}]]},"Skip Empty":{"main":[[{"node":"Upsert to Tracker","type":"main","index":0}],[{"node":"Summary Log","type":"main","index":0}]]},"Upsert to Tracker":{"main":[[{"node":"Summary Log","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate","errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all","saveExecutionProgress":false}, "updatedAt" : "2026-05-26T22:55:08.797+00:00"}
