docs/n8n-triage/workflows/GDA.cron.deadline-escalation___Qg55lRKjubgsvD28.json
{"id" : "Qg55lRKjubgsvD28", "name" : "GDA.cron.deadline-escalation", "active" : false, "nodes" : [{"id":"sched1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"expression":"0 7,12,17 * * 1-5","field":"cronExpression"}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"q1","name":"Find At-Risk","parameters":{"operation":"executeQuery","query":"SELECT o.id, o.opp_title, o.agency, o.estimated_value, o.gda_score, o.gda_label, o.response_deadline,\n  o.response_deadline::date - CURRENT_DATE as days_left,\n  CASE WHEN cp.opp_id IS NOT NULL THEN true ELSE false END as has_capture_plan\nFROM gda_opportunity_tracker o\nLEFT JOIN gda_capture_plans cp ON cp.opp_id = o.id\nWHERE o.stage NOT IN ('No-Bid','Cancelled','No-Go')\n  AND o.gda_label IN ('PURSUE','EVALUATE')\n  AND o.response_deadline IS NOT NULL\n  AND o.response_deadline::date BETWEEN CURRENT_DATE AND CURRENT_DATE + 7\nORDER BY o.response_deadline ASC"},"position":[420,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"if1","name":"Has Results","parameters":{"conditions":{"boolean":[{"value1":"={{ $json.id > 0 }}","value2":true}]}},"position":[640,300],"type":"n8n-nodes-base.if","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"flag1","name":"Flag Opps","parameters":{"operation":"executeQuery","query":"INSERT INTO gda_risk_register (risk_key, title, severity, category, opp_id, description, mitigation, status, auto_generated, source, created_at, updated_at)\nSELECT\n  'deadline_' || o.id::text || '_' || CURRENT_DATE::text,\n  'DEADLINE ALERT: ' || o.opp_title,\n  CASE WHEN o.response_deadline::date - CURRENT_DATE <= 3 THEN 'CRITICAL'\n       WHEN o.response_deadline::date - CURRENT_DATE <= 7 THEN 'HIGH'\n       ELSE 'MEDIUM' END,\n  'deadline',\n  o.id,\n  'Opportunity due in ' || (o.response_deadline::date - CURRENT_DATE) || ' days. Score: ' || o.gda_score || '. ' ||\n    CASE WHEN NOT EXISTS(SELECT 1 FROM gda_capture_plans cp WHERE cp.opp_id = o.id) THEN 'NO CAPTURE PLAN.' ELSE 'Has capture plan.' END,\n  'Review and action before deadline',\n  'OPEN',\n  true,\n  'deadline-escalation',\n  NOW(),\n  NOW()\nFROM gda_opportunity_tracker o\nWHERE o.id = ANY(ARRAY[{{ $input.all().map(i => i.json.id).join(',') }}]::int[])\n  AND NOT EXISTS (\n    SELECT 1 FROM gda_risk_register r\n    WHERE r.opp_id = o.id AND r.category = 'deadline'\n    AND r.created_at > NOW() - INTERVAL '24 hours'\n  )\nON CONFLICT (risk_key) DO NOTHING\nRETURNING id, title"},"position":[860,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"log1","name":"Log Alerts","parameters":{"jsCode":"const items = $input.all();\nconsole.log('Deadline escalation:', items.length, 'alerts generated');\nreturn items;"},"position":[1080,300],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Find At-Risk":{"main":[[{"index":0,"node":"Has Results","type":"main"}]]},"Has Results":{"main":[[{"index":0,"node":"Flag Opps","type":"main"}],[]]},"Flag Opps":{"main":[[{"index":0,"node":"Log Alerts","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Find At-Risk","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-22T16:24:56.431+00:00"}
