docs/n8n-triage/workflows/GDA.api.idiq-tracker___4fhTge7p4iIEDza9.json
{"id" : "4fhTge7p4iIEDza9", "name" : "GDA.api.idiq-tracker", "active" : false, "nodes" : [{"id":"iq-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,400],"webhookId":"gda-idiq-tracker-01","parameters":{"path":"gda-idiq-tracker","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1},{"id":"iq-auth","name":"Auth Guard","type":"n8n-nodes-base.code","position":[460,400],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"iq-route","name":"Route Action","type":"n8n-nodes-base.switch","position":[680,400],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"list"}]}},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"add"}]}},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"update"}]}},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"detail"}]}}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3.2},{"id":"iq-list","name":"List IDIQs","type":"n8n-nodes-base.postgres","position":[920,140],"parameters":{"query":"CREATE TABLE IF NOT EXISTS gda_idiq_tracker (\n  id SERIAL PRIMARY KEY,\n  contract_number TEXT UNIQUE NOT NULL,\n  idiq_name TEXT NOT NULL,\n  agency TEXT,\n  issuing_office TEXT,\n  naics_codes TEXT[],\n  contract_ceiling NUMERIC DEFAULT 0,\n  period_of_performance_start DATE,\n  period_of_performance_end DATE,\n  gda_position TEXT DEFAULT 'targeting' CHECK (gda_position IN ('holder','teaming','targeting','monitoring')),\n  gda_prime_or_sub TEXT DEFAULT 'prime' CHECK (gda_prime_or_sub IN ('prime','sub','either')),\n  vehicle_type TEXT DEFAULT 'IDIQ' CHECK (vehicle_type IN ('IDIQ','BPA','GWAC','MAC','SA-IDIQ')),\n  set_aside TEXT,\n  total_tos_issued INTEGER DEFAULT 0,\n  total_to_value NUMERIC DEFAULT 0,\n  last_to_date DATE,\n  on_ramp_status TEXT DEFAULT 'none' CHECK (on_ramp_status IN ('none','open','closed','upcoming')),\n  on_ramp_deadline DATE,\n  competitors TEXT[],\n  incumbent_primes TEXT[],\n  sam_search_keywords TEXT[],\n  notes TEXT,\n  source_url TEXT,\n  last_checked TIMESTAMPTZ DEFAULT NOW(),\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  updated_at TIMESTAMPTZ DEFAULT NOW()\n);\nSELECT i.*, \n  (SELECT COUNT(*) FROM gda_opportunity_tracker o WHERE o.ai_analysis ILIKE '%' || i.contract_number || '%' OR o.opp_title ILIKE '%' || i.idiq_name || '%') as tracked_tos\nFROM gda_idiq_tracker i ORDER BY \n  CASE i.gda_position WHEN 'holder' THEN 1 WHEN 'teaming' THEN 2 WHEN 'targeting' THEN 3 ELSE 4 END,\n  i.contract_ceiling DESC","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"iq-resp-list","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","position":[1200,140],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'list', idiqs: $input.all().map(function(i) { return i.json; }), count: $input.all().length, summary: { holders: $input.all().filter(function(i) { return i.json.gda_position === 'holder'; }).length, targeting: $input.all().filter(function(i) { return i.json.gda_position === 'targeting'; }).length, monitoring: $input.all().filter(function(i) { return i.json.gda_position === 'monitoring'; }).length, total_ceiling: $input.all().reduce(function(s, i) { return s + (parseFloat(i.json.contract_ceiling) || 0); }, 0) } }) }}"},"typeVersion":1.5},{"id":"iq-add","name":"Add IDIQ","type":"n8n-nodes-base.postgres","position":[920,320],"parameters":{"query":"INSERT INTO gda_idiq_tracker (contract_number, idiq_name, agency, issuing_office, naics_codes, contract_ceiling, period_of_performance_start, period_of_performance_end, gda_position, gda_prime_or_sub, vehicle_type, set_aside, competitors, incumbent_primes, sam_search_keywords, notes, source_url) VALUES ($1, $2, $3, $4, $5::json::text[], $6, $7::date, $8::date, $9, $10, $11, $12, $13::json::text[], $14::json::text[], $15::json::text[], $16, $17) ON CONFLICT (contract_number) DO NOTHING RETURNING *","options":{"queryParameters":"={{ JSON.stringify([$('Webhook').first().json.body.contract_number||'', $('Webhook').first().json.body.idiq_name||'', $('Webhook').first().json.body.agency||'', $('Webhook').first().json.body.issuing_office||'', JSON.stringify($('Webhook').first().json.body.naics_codes||[]), parseFloat($('Webhook').first().json.body.contract_ceiling)||0, $('Webhook').first().json.body.pop_start||null, $('Webhook').first().json.body.pop_end||null, $('Webhook').first().json.body.gda_position||'monitoring', $('Webhook').first().json.body.gda_prime_or_sub||'prime', $('Webhook').first().json.body.vehicle_type||'IDIQ', $('Webhook').first().json.body.set_aside||'', JSON.stringify($('Webhook').first().json.body.competitors||[]), JSON.stringify($('Webhook').first().json.body.incumbent_primes||[]), JSON.stringify($('Webhook').first().json.body.sam_search_keywords||[]), $('Webhook').first().json.body.notes||'', $('Webhook').first().json.body.source_url||'']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"iq-resp-add","name":"Respond Add","type":"n8n-nodes-base.respondToWebhook","position":[1200,320],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'add', idiq: $input.first().json }) }}"},"typeVersion":1.5},{"id":"iq-update","name":"Update IDIQ","type":"n8n-nodes-base.postgres","position":[920,500],"parameters":{"query":"UPDATE gda_idiq_tracker SET total_tos_issued = COALESCE($1::int, total_tos_issued), total_to_value = COALESCE($2::numeric, total_to_value), last_to_date = COALESCE($3::date, last_to_date), on_ramp_status = COALESCE(NULLIF($4, ''), on_ramp_status), on_ramp_deadline = COALESCE($5::date, on_ramp_deadline), notes = COALESCE(NULLIF($6, ''), notes), last_checked = NOW(), updated_at = NOW() WHERE id = $7 OR contract_number = $8 RETURNING *","options":{"queryParameters":"={{ JSON.stringify([$('Webhook').first().json.body.total_tos_issued||null, parseFloat($('Webhook').first().json.body.total_to_value)||null, $('Webhook').first().json.body.last_to_date||null, $('Webhook').first().json.body.on_ramp_status||'', $('Webhook').first().json.body.on_ramp_deadline||null, $('Webhook').first().json.body.notes||'', parseInt($('Webhook').first().json.body.idiq_id)||0, $('Webhook').first().json.body.contract_number||'']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"iq-resp-update","name":"Respond Update","type":"n8n-nodes-base.respondToWebhook","position":[1200,500],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'update', idiq: $input.first().json }) }}"},"typeVersion":1.5},{"id":"iq-detail","name":"Get IDIQ Detail","type":"n8n-nodes-base.postgres","position":[920,680],"parameters":{"query":"SELECT i.*, (SELECT json_agg(row_to_json(o)) FROM gda_opportunity_tracker o WHERE o.ai_analysis ILIKE '%' || i.contract_number || '%' OR o.opp_title ILIKE '%' || i.idiq_name || '%') as related_task_orders FROM gda_idiq_tracker i WHERE i.id = {{ $('Webhook').first().json.body.idiq_id || 0 }} OR i.contract_number = '{{ $('Webhook').first().json.body.contract_number || '' }}' LIMIT 1","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"iq-resp-detail","name":"Respond Detail","type":"n8n-nodes-base.respondToWebhook","position":[1200,680],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', action: 'detail', idiq: $input.first().json }) }}"},"typeVersion":1.5},{"id":"iq-resp-default","name":"Respond Default","type":"n8n-nodes-base.respondToWebhook","position":[920,860],"parameters":{"options":{"responseCode":400},"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Invalid action. Use: list, add, update, detail' }) }}"},"typeVersion":1.5}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"List IDIQs","type":"main","index":0}],[{"node":"Add IDIQ","type":"main","index":0}],[{"node":"Update IDIQ","type":"main","index":0}],[{"node":"Get IDIQ Detail","type":"main","index":0}],[{"node":"Respond Default","type":"main","index":0}]]},"List IDIQs":{"main":[[{"node":"Respond List","type":"main","index":0}]]},"Add IDIQ":{"main":[[{"node":"Respond Add","type":"main","index":0}]]},"Update IDIQ":{"main":[[{"node":"Respond Update","type":"main","index":0}]]},"Get IDIQ Detail":{"main":[[{"node":"Respond Detail","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","saveDataSuccessExecution":"all"}, "updatedAt" : "2026-05-26T21:28:53+00:00"}
