docs/n8n-triage/workflows/GDA.api.daily-brief-reader___upEGGfu6dYIwr0tD.json
{"id" : "upEGGfu6dYIwr0tD", "name" : "GDA.api.daily-brief-reader", "active" : false, "nodes" : [{"id":"dbr-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"webhookId":"gda-daily-brief-read-wh1","parameters":{"path":"gda-daily-brief-read","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"dbr-auth","name":"Auth Guard","type":"n8n-nodes-base.code","position":[420,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst h = $input.first().json.headers || {};\nconst b = $input.first().json.body || {};\nconst auth = h['x-gda-key'] || b.auth_key || '';\nif (auth !== $env.GDA_API_KEY_2026) throw new Error('Unauthorized');\nreturn $input.all();"},"typeVersion":2},{"id":"dbr-route","name":"Route","type":"n8n-nodes-base.switch","position":[640,300],"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action || 'latest' }}","rightValue":"latest"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.action }}","rightValue":"list"}]}}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3.2},{"id":"dbr-latest","name":"Get Latest Brief","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[900,200],"parameters":{"query":"SELECT id, brief_date, brief_data, stats, generated_at FROM gda_daily_briefs ORDER BY generated_at DESC LIMIT 1;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"dbr-list","name":"Get Briefs List","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[900,400],"parameters":{"query":"SELECT id, brief_date, brief_data->>'executive_summary' as summary, stats, generated_at FROM gda_daily_briefs ORDER BY generated_at DESC LIMIT 14;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"dbr-resp-latest","name":"Respond Latest","type":"n8n-nodes-base.respondToWebhook","position":[1140,200],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok', brief: $json.brief_data || {}, stats: $json.stats || {}, generated_at: $json.generated_at, brief_date: $json.brief_date}) }}"},"typeVersion":1.1},{"id":"dbr-resp-list","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","position":[1140,400],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok', briefs: $input.all().map(function(i){return i.json;}), count: $input.all().length}) }}"},"typeVersion":1.1}], "connections" : {"Auth Guard":{"main":[[{"index":0,"node":"Route","type":"main"}]]},"Get Latest Brief":{"main":[[{"index":0,"node":"Respond Latest","type":"main"}]]},"Get Briefs List":{"main":[[{"index":0,"node":"Respond List","type":"main"}]]},"Route":{"main":[[{"index":0,"node":"Get Latest Brief","type":"main"}],[{"index":0,"node":"Get Briefs List","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Guard","type":"main"}]]}}, "settings" : {"executionOrder":"v1","errorWorkflow":"BVOAC22J7MM2tsBg","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:58.004+00:00"}
