docs/n8n-triage/workflows/GDA.doctrine.pr-merge-draft___Ak4Kb3gRjrZZjEDl.json
{"id" : "Ak4Kb3gRjrZZjEDl", "name" : "GDA.doctrine.pr-merge-draft", "active" : false, "nodes" : [{"id":"node-webhook","name":"GitHub PR Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,300],"parameters":{"httpMethod":"POST","path":"gda-doctrine-pr-merge","responseMode":"lastNode","options":{},"authentication":"headerAuth"},"webhookId":"bc856108-8e11-4b52-b0ec-2effba60cbd0","onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"id":"node-parse","name":"Parse PR Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Parse PR Payload → sprint_id, component, pr metadata\nconst body = $input.first().json.body ?? $input.first().json;\n\n// Guard: only process merged PRs targeting main\nconst pr = body.pull_request;\nconst isMerged = body.action === 'closed' && pr?.merged === true;\nconst targetBranch = pr?.base?.ref ?? '';\n\nif (!isMerged || targetBranch !== 'main') {\n  return [{ json: { skip: true, reason: `Not a merged PR to main. action=${body.action} merged=${pr?.merged} base=${targetBranch}` } }];\n}\n\nconst prNumber     = pr.number;\nconst prTitle      = pr.title ?? '';\nconst prBody       = pr.body ?? '';\nconst prUrl        = pr.html_url ?? '';\nconst commitSha    = pr.merge_commit_sha ?? '';\nconst prLabels     = (pr.labels ?? []).map(l => l.name);\nconst changedFiles = pr.changed_files ?? 0;\n\n// Derive sprint_id from PR title or branch name\nconst sprintMatch = (prTitle + ' ' + (pr.head?.ref ?? '')).match(/[Ss]-(\\d+)/);\nconst sprint_id   = sprintMatch ? `S-${sprintMatch[1]}` : 'S-UNKNOWN';\n\n// Derive component from labels or title heuristic\nconst componentLabel = prLabels.find(l => l.toLowerCase().startsWith('component:'));\nlet component = 'General';\nif (componentLabel) {\n  component = componentLabel.replace(/^component:/i, '').trim();\n} else {\n  const compMatch = prTitle.match(/\\[(.*?)\\]/) || prTitle.match(/(Launchpad|Ops Tracker|Financial Bible|Prompt Architect|Compliance Matrix|Proposal Review|QA Center|Approvals Queue|KPI Strip|Pipeline)/i);\n  if (compMatch) component = compMatch[1].trim();\n}\n\n// Derive doc_type\nlet doc_type = 'sprint_notes';\nif (prLabels.some(l => /book.of.truths/i.test(l)) || /book.of.truths/i.test(prBody)) {\n  doc_type = 'book_of_truths';\n} else if (prLabels.some(l => /decision/i.test(l)) || /^decision:/im.test(prBody)) {\n  doc_type = 'decision_log';\n} else if (prLabels.some(l => /master.build/i.test(l)) || /master.build/i.test(prBody)) {\n  doc_type = 'master_build_note';\n}\n\nreturn [{\n  json: {\n    skip: false,\n    sprint_id,\n    component,\n    doc_type,\n    workflow_name: 'GDA.doctrine.pr-merge-draft',\n    pr_number:        prNumber,\n    pr_title:         prTitle,\n    pr_body:          prBody,\n    source_pr_url:    prUrl,\n    source_commit_sha: commitSha,\n    pr_labels:        prLabels,\n    changed_files:    changedFiles,\n  }\n}];"},"onError":"continueRegularOutput"},{"id":"node-is-merged","name":"Is Merged PR?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.skip }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"node-skip","name":"Skip - Not Merged to Main","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,480],"parameters":{}},{"id":"node-classify","name":"Classify Doctrine Impact","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $input.first().json;\n\nconst prBody  = d.pr_body ?? '';\nconst prTitle = d.pr_title ?? '';\nconst labels  = d.pr_labels ?? [];\nconst sprint  = d.sprint_id;\nconst comp    = d.component;\nconst docType = d.doc_type;\n\n// safety_lane_impact\nlet safety_lane_impact = 'unknown';\nconst safetyLabel = labels.find(l => /^safety:/i.test(l));\nif (safetyLabel) {\n  safety_lane_impact = safetyLabel.replace(/^safety:/i, '').trim();\n} else if (/\\bapproval.required\\b/i.test(prBody + prTitle)) {\n  safety_lane_impact = 'approval-required';\n} else if (/\\bdry.run\\b/i.test(prBody + prTitle)) {\n  safety_lane_impact = 'dry-run';\n} else if (/\\bread.only\\b/i.test(prBody + prTitle)) {\n  safety_lane_impact = 'read-only';\n} else if (/\\btest.row\\b/i.test(prBody + prTitle)) {\n  safety_lane_impact = 'test-row';\n} else if (/\\bno safety\\b|no.lane.change/i.test(prBody + prTitle)) {\n  safety_lane_impact = 'none';\n}\n\nconst current_live_state_md = `## Current Live State\\n\\n**Sprint:** ${sprint}  \\n**Component:** ${comp}  \\n**PR:** [#${d.pr_number}](${d.source_pr_url})  \\n**Merged commit:** \\`${d.source_commit_sha}\\`  \\n\\n${prBody || '_No PR body provided._'}`;\n\nconst planned_state_md = `## Planned State\\n\\n_To be enriched by operator or subsequent automation. Source PR: [#${d.pr_number}](${d.source_pr_url})_`;\n\nconst recommended_next_state_md = `## Recommended Next State\\n\\n_Derived from PR merge. Review and update after smoke/QA checks pass._`;\n\nconst decision_md = docType === 'decision_log'\n  ? `## Decision\\n\\n${prBody || '_No decision text in PR body._'}`\n  : null;\n\nconst checks_required_json = [\n  { check: 'ci_build_green',          required: true },\n  { check: 'react_smoke_pass',         required: true },\n  { check: 'qa_center_readonly_pass',  required: true },\n  { check: 'qa_center_dryrun_pass',    required: safety_lane_impact !== 'read-only' },\n  { check: 'master_build_guard_pass',  required: true },\n  { check: 'frozen_workflows_intact',  required: true },\n];\n\nconst rendered_markdown = [\n  `# Doctrine Draft — ${sprint} / ${comp}`,\n  ``,\n  `**Doc type:** ${docType}  `,\n  `**Status:** draft  `,\n  `**Safety lane:** ${safety_lane_impact}  `,\n  `**PR:** [#${d.pr_number}](${d.source_pr_url}) — ${prTitle}  `,\n  `**Commit:** \\`${d.source_commit_sha}\\`  `,\n  ``,\n  current_live_state_md,\n  ``,\n  planned_state_md,\n  ``,\n  recommended_next_state_md,\n  decision_md ? `\\n${decision_md}` : '',\n].join('\\n');\n\nconst title = `${sprint} / ${comp} — ${prTitle}`.slice(0, 200);\n\nreturn [{\n  json: {\n    ...d,\n    title,\n    safety_lane_impact,\n    current_live_state_md,\n    planned_state_md,\n    recommended_next_state_md,\n    decision_md,\n    checks_required_json,\n    rendered_markdown,\n    status: 'draft',\n    created_by: 'GDA.doctrine.pr-merge-draft',\n    updated_by: 'GDA.doctrine.pr-merge-draft',\n  }\n}];"},"onError":"continueRegularOutput"},{"id":"node-insert-run","name":"Insert Publish Run (running)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[960,300],"parameters":{"operation":"executeQuery","query":"INSERT INTO doctrine_publish_runs (sprint_id, trigger_type, status, check_summary_json, started_at) VALUES ($1, 'pr-merge', 'running', '{}'::jsonb, NOW()) RETURNING id;","options":{"queryReplacement":"={{ $json.sprint_id }}"}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"id":"node-upsert-draft","name":"Upsert Doctrine Draft","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,300],"parameters":{"operation":"executeQuery","query":"INSERT INTO doctrine_drafts (sprint_id, component, doc_type, title, status, source_pr_number, source_pr_url, source_commit_sha, workflow_name, safety_lane_impact, current_live_state_md, planned_state_md, recommended_next_state_md, decision_md, checks_required_json, rendered_markdown, last_updated_at, created_by, updated_by) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15::jsonb, $16, NOW(), $17, $18) RETURNING id;","options":{"queryReplacement":"={{ $('Classify Doctrine Impact').first().json.sprint_id }},={{ $('Classify Doctrine Impact').first().json.component }},={{ $('Classify Doctrine Impact').first().json.doc_type }},={{ $('Classify Doctrine Impact').first().json.title }},={{ $('Classify Doctrine Impact').first().json.status }},={{ $('Classify Doctrine Impact').first().json.pr_number }},={{ $('Classify Doctrine Impact').first().json.source_pr_url }},={{ $('Classify Doctrine Impact').first().json.source_commit_sha }},={{ $('Classify Doctrine Impact').first().json.workflow_name }},={{ $('Classify Doctrine Impact').first().json.safety_lane_impact }},={{ $('Classify Doctrine Impact').first().json.current_live_state_md }},={{ $('Classify Doctrine Impact').first().json.planned_state_md }},={{ $('Classify Doctrine Impact').first().json.recommended_next_state_md }},={{ $('Classify Doctrine Impact').first().json.decision_md }},={{ JSON.stringify($('Classify Doctrine Impact').first().json.checks_required_json) }},={{ $('Classify Doctrine Impact').first().json.rendered_markdown }},={{ $('Classify Doctrine Impact').first().json.created_by }},={{ $('Classify Doctrine Impact').first().json.updated_by }}"}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"id":"node-update-run-passed","name":"Update Publish Run (passed)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1440,300],"parameters":{"operation":"executeQuery","query":"UPDATE doctrine_publish_runs SET status = 'passed', finished_at = NOW(), check_summary_json = $2::jsonb WHERE id = $1::uuid;","options":{"queryReplacement":"={{ $('Insert Publish Run (running)').first().json.id }},={{ JSON.stringify({ pr_merge: 'passed', draft_inserted: true }) }}"}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"id":"node-todo-github","name":"TODO: GitHub Write — S-XXX-draft.md","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1680,300],"parameters":{}}], "connections" : {"GitHub PR Webhook":{"main":[[{"node":"Parse PR Payload","type":"main","index":0}]]},"Parse PR Payload":{"main":[[{"node":"Is Merged PR?","type":"main","index":0}]]},"Is Merged PR?":{"main":[[{"node":"Classify Doctrine Impact","type":"main","index":0}],[{"node":"Skip - Not Merged to Main","type":"main","index":0}]]},"Classify Doctrine Impact":{"main":[[{"node":"Insert Publish Run (running)","type":"main","index":0}]]},"Insert Publish Run (running)":{"main":[[{"node":"Upsert Doctrine Draft","type":"main","index":0}]]},"Upsert Doctrine Draft":{"main":[[{"node":"Update Publish Run (passed)","type":"main","index":0}]]},"Update Publish Run (passed)":{"main":[[{"node":"TODO: GitHub Write — S-XXX-draft.md","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-13T15:41:18.212+00:00"}
