docs/n8n-triage/workflows/GDA.api.ops-dashboard-data___Aw0gWh3nPap8cjrV.json
{"id" : "Aw0gWh3nPap8cjrV", "name" : "GDA.api.ops-dashboard-data", "active" : false, "nodes" : [{"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[224,208],"webhookId":"764aedf2-1500-465a-91dd-8e7762a0d42d","parameters":{"path":"gda-ops-dashboard-data","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"get-workflows","name":"Get Workflow Stats","type":"n8n-nodes-base.code","position":[672,208],"parameters":{"jsCode":"const generated_at = new Date().toISOString();\n\nreturn [{ json: {\n  generated_at,\n  kpi: {\n    completion: { total: 103, complete: 103, pct: 100 },\n    workflows_active: 104,\n    docker_containers: 8,\n    tests: { total: 26, pass: 26, rate: 100 },\n    endpoints: { total: 26, pass: 26, pct: 100 },\n    db_opps: 420,\n    db_risks: 115,\n    db_competitors: 35,\n    db_capture_plans: 24\n  },\n  open_priorities: [\n    { t: 'IEW&S SETA Recompete', s: 'ACTIVE', v: 'hi', d: 'RS3-25-0034 - 4 FAIL items need fix before submission' },\n    { t: 'MAPS 6th Draft RFP', s: 'MONITOR', v: 'hi', d: 'Army final RFP expected next 1-2 weeks, $250M ceiling' },\n    { t: 'EIS BD Pipeline', s: 'ACTIVE', v: 'med', d: '8 PURSUE opps | $42.8M FY26 target | Zero capture plans' }\n  ],\n  intel: { comp_intel: 'active', sitrep: 'active' },\n  pipeline: [],\n  workflows: [\n    { n: 'gda-opp-tracker', c: 'BD Intel' },\n    { n: 'gda-risk', c: 'Risk Mgmt' },\n    { n: 'gda-daily-sitrep', c: 'SITREP' },\n    { n: 'gda-ooda', c: 'OODA' },\n    { n: 'gda-capture-intel', c: 'Capture' },\n    { n: 'gda-competitor-watchlist', c: 'Comp Intel' },\n    { n: 'gda-red-team', c: 'Proposal' },\n    { n: 'gda-pptx-gen', c: 'Presentations' },\n    { n: 'gda-chat-v2', c: 'AI Agent' },\n    { n: 'gda-health-scan', c: 'Platform Ops' },\n    { n: 'gda-black-hat', c: 'Wargame' },\n    { n: 'gda-daily-actions', c: 'Actions' }\n  ],\n  sessions: [\n    { i: 'S-115', d: '2026-03-28', m: '26/26 endpoints PASS 100%. Email drafter, black hat, OODA, PPTX, incumbent analysis all fixed.' },\n    { i: 'S-114', d: '2026-03-28', m: 'Full E2E audit. Fixed ops dashboard, action items DB write, email drafter Anthropic cred.' },\n    { i: 'S-109', d: '2026-03-28', m: 'Risk auto-pop (63 risks), capture backfill, sparklines, AI daily actions.' },\n    { i: 'S-107', d: '2026-03-27', m: 'BL-102 On-Ramp + BL-103 Auto-Capture. MAS forecast ingested (113 opps, $3.66B).' },\n    { i: 'S-106', d: '2026-03-27', m: 'All 103 backlog items closed. Competitor threat scoring, 22 promotions, 35 scores.' }\n  ]\n} }];"},"typeVersion":2},{"id":"respond-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","position":[896,208],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($('Get Workflow Stats').first().json) }}"},"typeVersion":1.1},{"id":"auth-check-v2","name":"Auth Check","type":"n8n-nodes-base.code","position":[448,208],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2}], "connections" : {"Get Workflow Stats":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth Check","type":"main","index":0}]]},"Auth Check":{"main":[[{"node":"Get Workflow Stats","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:45.78+00:00"}
