docs/n8n-triage/workflows/GDA.cron.fast-track-ingest___MJapg8dGkvEzLn0K.json
{"id" : "MJapg8dGkvEzLn0K", "name" : "GDA.cron.fast-track-ingest", "active" : false, "nodes" : [{"id":"fti-cron","name":"Cron Trigger","parameters":{"rule":{"interval":[{"field":"hours","minutesInterval":6}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"id":"fti-webhook","name":"Manual Trigger","parameters":{"httpMethod":"POST","options":{},"path":"fti-trigger","responseMode":"lastNode","authentication":"headerAuth"},"position":[200,480],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"5ad8f35a-c0cf-4c59-9564-967f58d467b0","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"disabled":true,"id":"fti-sam-fetch","name":"SAM Atom Feed","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"User-Agent","value":"GDA-FastTrack-Ingest/1.0"}]},"method":"GET","options":{"timeout":20000},"queryParameters":{"parameters":[{"name":"limit","value":"25"},{"name":"offset","value":"0"},{"name":"postedFrom","value":"={{ new Date(Date.now() - 7*24*60*60*1000).toLocaleDateString('en-US', {month:'2-digit',day:'2-digit',year:'numeric'}) }}"},{"name":"ptype","value":"p,a,k"},{"name":"ncode","value":"541715,541330,541519,541512,541690,541990"},{"name":"deptname","value":"DEPT OF DEFENSE"},{"name":"status","value":"active"},{"name":"index","value":"opp"}]},"sendHeaders":true,"sendQuery":true,"url":"https://sam.gov/api/prod/opportunities/v2/search"},"position":[420,200],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"id":"fti-tavily-1","name":"Tavily SETA Opps","onError":"continueRegularOutput","parameters":{"bodyParameters":{"parameters":[{"name":"api_key","value":"={{ $env.TAVILY_API_KEY }}"},{"name":"query","value":"site:sam.gov SETA intelligence engineering support services pre-solicitation 2025 2026 NAICS 541715"},{"name":"search_depth","value":"advanced"},{"name":"max_results","value":"10"},{"name":"include_domains","value":["sam.gov","govtribe.com","beta.sam.gov"]}]},"method":"POST","options":{"timeout":30000},"sendBody":true,"url":"https://api.tavily.com/search"},"position":[420,400],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"id":"fti-tavily-2","name":"Tavily C5ISR Opps","onError":"continueRegularOutput","parameters":{"bodyParameters":{"parameters":[{"name":"api_key","value":"={{ $env.TAVILY_API_KEY }}"},{"name":"query","value":"site:sam.gov C5ISR SIGINT EW engineering support services solicitation pre-solicitation Army 2026 NAICS 541715 541330"},{"name":"search_depth","value":"advanced"},{"name":"max_results","value":"10"},{"name":"include_domains","value":["sam.gov","govtribe.com","beta.sam.gov"]}]},"method":"POST","options":{"timeout":30000},"sendBody":true,"url":"https://api.tavily.com/search"},"position":[420,580],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"id":"fti-parse-sam","name":"Parse SAM Results","parameters":{"jsCode":"const input = $input.first().json;\nconst opps = (input.opportunitiesData || input.data || []);\nif (!Array.isArray(opps) || opps.length === 0) {\n  return [{ json: { signals: [], source_id: 'sam-gov', count: 0 } }];\n}\nconst signals = opps.map(o => {\n  const noticeType = (o.type || o.ptype || '').toLowerCase();\n  let horizon = 'formal';\n  if (noticeType.includes('pre') || noticeType === 'p' || noticeType.includes('sources')) horizon = 'pre-solicitation';\n  const naics = (o.naicsCode || o.ncode || '');\n  const solNum = o.solicitationNumber || o.noticeId || o.id || '';\n  const key = 'sam-' + (solNum || '').replace(/[^a-zA-Z0-9]/g, '-').toLowerCase().substring(0, 48);\n  const agency = o.fullParentPathName || o.organizationName || o.department || '';\n  const unitOrg = o.organizationName || o.subtierName || agency;\n  const dueDate = o.responseDeadLine || o.archiveDate || null;\n  const postedDate = o.postedDate || o.publishDate || null;\n  const estVal = o.award && o.award.amount ? parseFloat(o.award.amount) : null;\n  return {\n    signal_key: key,\n    title: (o.title || o.subject || 'Unknown Opportunity').substring(0, 255),\n    agency: agency.substring(0, 255),\n    unit_org: unitOrg.substring(0, 255),\n    horizon,\n    naics: naics.toString().substring(0, 20),\n    estimated_value: estVal,\n    due_date: dueDate ? new Date(dueDate).toISOString().substring(0, 10) : null,\n    posted_date: postedDate ? new Date(postedDate).toISOString().substring(0, 10) : null,\n    source_id: 'sam-gov',\n    source_url: 'https://sam.gov/opp/' + (o.noticeId || solNum || '') + '/view',\n    signal_strength: horizon === 'formal' ? 90 : 75,\n    confidence: 80,\n    recommended_action: horizon === 'formal' ? 'RESPOND' : 'TRACK',\n    solution_path: 'SETA/Engineering Support'\n  };\n}).filter(s => s.signal_key && s.signal_key.length > 5);\nreturn [{ json: { signals, source_id: 'sam-gov', count: signals.length } }];"},"position":[660,200],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"fti-parse-tavily","name":"Parse Tavily Results","parameters":{"jsCode":"const allItems = $input.all();\nconst results = [];\nfor (const item of allItems) {\n  const r = item.json.results || [];\n  results.push(...r);\n}\nif (results.length === 0) return [{ json: { signals: [], source_id: 'govtribe-web', count: 0 } }];\nconst signals = results\n  .filter(r => r.url && r.title && r.title.length > 10)\n  .map(r => {\n    const titleLower = (r.title || '').toLowerCase();\n    const contentLower = (r.content || '').toLowerCase();\n    const isPresol = titleLower.includes('pre-sol') || titleLower.includes('sources sought') || contentLower.includes('pre-solicitation') || contentLower.includes('sources sought');\n    const horizon = isPresol ? 'pre-solicitation' : 'formal';\n    const naicsMatch = (r.content || '').match(/\\b(541\\d{3}|336\\d{3}|334\\d{3})\\b/);\n    const naics = naicsMatch ? naicsMatch[1] : '541715';\n    const urlSlug = (r.url || '').replace(/[^a-zA-Z0-9]/g, '-').toLowerCase().substring(20, 68);\n    const key = 'tv-' + urlSlug;\n    const agencyMatch = (r.content || r.title || '').match(/(Army|Navy|Air Force|USAF|AFRL|PEO|CECOM|CISA|DIA|NSA|DISA|SOCOM|USSOCOM|DARPA|MDA|NGA|NRO)/i);\n    const agency = agencyMatch ? agencyMatch[0] : '';\n    const valMatch = (r.content || '').match(/\\$(\\d+(?:\\.\\d+)?)\\s*(M|B|million|billion)/i);\n    let estVal = null;\n    if (valMatch) {\n      const mult = (valMatch[2] || '').toLowerCase().startsWith('b') ? 1e9 : 1e6;\n      estVal = parseFloat(valMatch[1]) * mult;\n    }\n    return {\n      signal_key: key.substring(0, 64),\n      title: (r.title || '').substring(0, 255),\n      agency: agency.substring(0, 255),\n      unit_org: agency.substring(0, 255),\n      horizon,\n      naics: naics.substring(0, 20),\n      estimated_value: estVal,\n      due_date: null,\n      posted_date: new Date().toISOString().substring(0, 10),\n      source_id: 'govtribe-web',\n      source_url: (r.url || '').substring(0, 500),\n      signal_strength: isPresol ? 65 : 70,\n      confidence: 60,\n      recommended_action: 'INVESTIGATE',\n      solution_path: 'Intel/C5ISR/SETA'\n    };\n  })\n  .filter(s => s.signal_key && s.signal_key.length > 5);\nreturn [{ json: { signals, source_id: 'govtribe-web', count: signals.length } }];"},"position":[660,490],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"fti-merge","name":"Merge All Signals","parameters":{"jsCode":"const allItems = $input.all();\nconst seen = new Set();\nconst merged = [];\nfor (const item of allItems) {\n  const sigs = item.json.signals || [];\n  for (const s of sigs) {\n    if (!s.signal_key || seen.has(s.signal_key)) continue;\n    seen.add(s.signal_key);\n    merged.push(s);\n  }\n}\nif (merged.length === 0) {\n  return [{ json: { _empty: true, signal_key: null } }];\n}\nreturn merged.map(s => ({ json: s }));"},"position":[900,360],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"fti-check-empty","name":"Check Has Signals","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json._empty }}","operator":{"operation":"notEquals","type":"string"},"rightValue":"true"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2}}},"position":[1120,360],"type":"n8n-nodes-base.if","typeVersion":2.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"fti-upsert","name":"Upsert Signal","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"INSERT INTO ft_opportunity_signal (\n  signal_id, title, agency, unit_org, horizon, naics,\n  estimated_value, due_date, posted_date,\n  source_id, external_url, signal_strength, confidence,\n  recommended_action, solution_path, active, reviewed\n)\nVALUES (\n  '{{ $json.signal_key }}',\n  '{{ $json.title }}',\n  '{{ $json.agency }}',\n  '{{ $json.unit_org }}',\n  '{{ $json.horizon }}',\n  '{{ $json.naics }}',\n  {{ $json.estimated_value !== null && $json.estimated_value !== undefined ? $json.estimated_value : 'NULL' }},\n  {{ $json.due_date ? \"'\" + $json.due_date + \"'\" : 'NULL' }},\n  {{ $json.posted_date ? \"'\" + $json.posted_date + \"'\" : 'CURRENT_DATE' }},\n  '{{ $json.source_id }}',\n  '{{ $json.source_url || $json.signal_key }}',\n  {{ $json.signal_strength || 70 }},\n  {{ $json.confidence || 60 }},\n  '{{ $json.recommended_action || 'TRACK' }}',\n  '{{ $json.solution_path || '' }}',\n  true,\n  false\n)\nON CONFLICT (signal_id) DO UPDATE SET\n  title = EXCLUDED.title,\n  agency = EXCLUDED.agency,\n  unit_org = EXCLUDED.unit_org,\n  horizon = EXCLUDED.horizon,\n  naics = EXCLUDED.naics,\n  estimated_value = EXCLUDED.estimated_value,\n  due_date = EXCLUDED.due_date,\n  posted_date = EXCLUDED.posted_date,\n  external_url = EXCLUDED.external_url,\n  signal_strength = EXCLUDED.signal_strength,\n  confidence = EXCLUDED.confidence,\n  recommended_action = EXCLUDED.recommended_action,\n  solution_path = EXCLUDED.solution_path,\n  updated_at = NOW()\nWHERE ft_opportunity_signal.source_id != 'gda-intel'"},"position":[1340,280],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"fti-ensure-sources","name":"Ensure Source Records","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"INSERT INTO ft_signal_source (source_id, name, source_type, band, active, notes)\nVALUES\n  ('govtribe-web', 'GovTribe Web Feed', 'intelligence', 'formal', true, 'Federal opportunity data via Tavily web search')\nON CONFLICT (source_id) DO UPDATE SET\n  active = true"},"position":[1120,520],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"fti-count","name":"Get Signal Count","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT COUNT(*) as total_signals, COUNT(*) FILTER (WHERE source_id != 'gda-intel') as external_signals, MAX(updated_at) as last_updated FROM ft_opportunity_signal WHERE active = true"},"position":[1560,280],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"fti-done","name":"Log Completion","parameters":{"jsCode":"const counts = $input.all().map(i => i.json);\nconst c = counts[0] || {};\nconsole.log('[FT-INGEST] Complete. Total signals:', c.total_signals, '| External:', c.external_signals, '| Last updated:', c.last_updated);\nreturn [{ json: { status: 'complete', total_signals: c.total_signals, external_signals: c.external_signals, run_at: new Date().toISOString() } }];"},"position":[1780,280],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Check Has Signals":{"main":[[{"index":0,"node":"Upsert Signal","type":"main"}],[]]},"Cron Trigger":{"main":[[{"index":0,"node":"SAM Atom Feed","type":"main"},{"index":0,"node":"Tavily SETA Opps","type":"main"},{"index":0,"node":"Tavily C5ISR Opps","type":"main"},{"index":0,"node":"Ensure Source Records","type":"main"}]]},"Get Signal Count":{"main":[[{"index":0,"node":"Log Completion","type":"main"}]]},"Manual Trigger":{"main":[[{"index":0,"node":"Tavily SETA Opps","type":"main"},{"index":0,"node":"Tavily C5ISR Opps","type":"main"},{"index":0,"node":"Ensure Source Records","type":"main"}]]},"Merge All Signals":{"main":[[{"index":0,"node":"Check Has Signals","type":"main"}]]},"Parse SAM Results":{"main":[[{"index":0,"node":"Merge All Signals","type":"main"}]]},"Parse Tavily Results":{"main":[[{"index":0,"node":"Merge All Signals","type":"main"}]]},"SAM Atom Feed":{"main":[[{"index":0,"node":"Parse SAM Results","type":"main"}]]},"Tavily C5ISR Opps":{"main":[[{"index":0,"node":"Parse Tavily Results","type":"main"}]]},"Tavily SETA Opps":{"main":[[{"index":0,"node":"Parse Tavily Results","type":"main"}]]},"Upsert Signal":{"main":[[{"index":0,"node":"Get Signal Count","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-21T01:18:47.649+00:00"}
