docs/n8n-triage/workflows/GDA.api.opp-tracker_2___SEJLE89wZa1yfQyB.json
{"id" : "SEJLE89wZa1yfQyB", "name" : "GDA.api.opp-tracker 2", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"bc50ac73-ce1f-48a0-b716-a99f5af4ff1b","name":"Webhook","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{"allowedOrigins":"*"},"path":"gda-opp-tracker","responseMode":"responseNode"},"position":[-400,480],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"1379f124-f1de-4a02-8549-6cbdec47409a"},{"id":"c26ad657-60f3-464b-ad28-7048ac942a99","name":"Auth Guard","parameters":{"jsCode":"const headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers['x-gda-auth'] || headers['x-gda-key'] || body.auth_key || body.deploy_key || '';\nconst origin = (headers.origin || headers.referer || headers['x-forwarded-host'] || '').toLowerCase();\nconst trustedOrigins = ['gda.csr-llc.tech', 'n8n.csr-llc.tech', 'localhost'];\nconst fromTrustedOrigin = trustedOrigins.some(function(o) { return origin.includes(o); });\nif (auth !== 'gda-deploy-2026-412ae367' && auth !== 'gda-api-2026-8ced0b75' && !fromTrustedOrigin) {\n  throw new Error('Unauthorized');\n}\nreturn $input.all();"},"position":[-176,480],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"route-action-if-01","name":"Route Action","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"action-route","leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"update_stage"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"options":{}},"position":[48,480],"type":"n8n-nodes-base.if","typeVersion":2},{"alwaysOutputData":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"combo-query-01","name":"Read Opps","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT DISTINCT ON (o.id) 'tracker' as src, o.id, COALESCE(o.agency, 'Unknown') as agency, COALESCE(o.dept, 'Other') as dept, COALESCE(o.dept, 'Other') as level_1, 'Department of War' as level_2, o.level_3, o.opp_title, o.source_url, o.programs_json::text as programs_json, o.program_count, o.synced_at::text as synced_at, o.govtribe_id, o.naics_code, o.set_aside, o.eis_fit_score, o.needs_score, o.financials_score, o.ooda_score, o.ai_analysis, o.data_source, o.solicitation_number, o.response_deadline::text as response_deadline, o.place_of_performance, o.last_refreshed::text as last_refreshed, o.estimated_value, o.stage, o.gda_score, o.gda_label, o.incumbent_analysis, o.likely_competitors, o.eligible_vehicles, o.sb_qualified, o.assigned_ou, CASE WHEN cp.opp_id IS NOT NULL THEN true ELSE false END as has_capture_plan FROM gda_opportunity_tracker o LEFT JOIN gda_capture_plans cp ON cp.opp_id = o.id WHERE o.stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won') ORDER BY o.id, o.gda_score DESC NULLS LAST"},"position":[272,288],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"alwaysOutputData":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"read-alerts-02","name":"Read Alerts","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT 'alert' as src, 0 as id, agency, 'Department of War' as dept, 'Department of War' as level_1, NULL as level_2, NULL as level_3, name as opp_title, source_url, '' as programs_json, 0 as program_count, posted_date::text as synced_at, govtribe_id, naics_code, set_aside_type as set_aside, fit_score as eis_fit_score, NULL::numeric as needs_score, NULL::numeric as financials_score, NULL::numeric as ooda_score, '' as ai_analysis, source as data_source, solicitation_number, due_date::text as response_deadline, '' as place_of_performance, posted_date::text as last_refreshed, NULL::bigint as estimated_value, 'Identified' as stage FROM opportunity_alerts WHERE (due_date IS NULL OR due_date >= NOW()) ORDER BY fit_score DESC LIMIT 100"},"position":[272,480],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"format-combo-01","name":"Format Response","parameters":{"jsCode":"let trackerRows = [];\ntry { trackerRows = $('Read Opps').all().map(i => i.json).filter(r => r.src === 'tracker' && r.agency); } catch(e) { trackerRows = []; }\nlet alertRows = [];\ntry { alertRows = $('Read Alerts').all().map(i => i.json).filter(r => r.src === 'alert' && r.agency && !r.error && !r.message); } catch(e) { alertRows = []; }\nfunction getLevel1(agency) {\n  var a = (agency || '').toUpperCase();\n  if (/DEPT OF HOMELAND|HOMELAND SECURITY|\\bDHS\\b|\\bFEMA\\b|\\bTSA\\b|\\bCBP\\b|\\bICE\\b/.test(a)) return 'Department of Homeland Security';\n  if (/DEPT OF VETERANS|VETERANS AFFAIRS|\\bVA\\b/.test(a)) return 'Department of Veterans Affairs';\n  if (/DEPT OF ENERGY|\\bDOE\\b|NATIONAL NUCLEAR/.test(a)) return 'Department of Energy';\n  if (/DEPT OF JUSTICE|\\bDOJ\\b|\\bFBI\\b|\\bDEA\\b|\\bATF\\b/.test(a)) return 'Department of Justice';\n  if (/DEPT OF STATE|FOREIGN SERVICE/.test(a)) return 'Department of State';\n  if (/DEPT OF COMMERCE|\\bNOAA\\b|\\bNIST\\b/.test(a)) return 'Department of Commerce';\n  if (/DEPT OF HEALTH|\\bHHS\\b|\\bNIH\\b|\\bCDC\\b|\\bFDA\\b/.test(a)) return 'Department of Health and Human Services';\n  if (/DEPT OF TRANSPORTATION|\\bFAA\\b/.test(a)) return 'Department of Transportation';\n  if (/DEPT OF TREASURY|\\bIRS\\b/.test(a)) return 'Department of the Treasury';\n  if (/DEPT OF INTERIOR/.test(a)) return 'Department of the Interior';\n  if (/DEPT OF AGRICULTURE|\\bUSDA\\b/.test(a)) return 'Department of Agriculture';\n  if (/DEPT OF EDUCATION/.test(a)) return 'Department of Education';\n  if (/DEPT OF LABOR/.test(a)) return 'Department of Labor';\n  if (/DEPT OF HOUSING|\\bHUD\\b/.test(a)) return 'Department of Housing and Urban Development';\n  return 'Department of War';\n}\nfunction getLevel2(agency) {\n  var a = (agency || '').toUpperCase();\n  var l1 = getLevel1(agency);\n  if (l1 !== 'Department of War') return l1;\n  if (/\\bDISA\\b|DEFENSE INFORMATION SYSTEMS/.test(a)) return 'DISA';\n  if (/\\bDLA\\b|DEFENSE LOGISTICS/.test(a)) return 'DLA';\n  if (/\\bDARPA\\b/.test(a)) return 'DARPA';\n  if (/\\bMDA\\b|MISSILE DEFENSE/.test(a)) return 'MDA';\n  if (/\\bNGA\\b|NATIONAL GEOSPATIAL/.test(a)) return 'NGA';\n  if (/\\bNSA\\b|NATIONAL SECURITY AGENCY/.test(a)) return 'NSA';\n  if (/\\bDIA\\b|DEFENSE INTELLIGENCE AGENCY/.test(a)) return 'DIA';\n  if (/\\bDHA\\b|DEFENSE HEALTH/.test(a)) return 'DHA';\n  if (/\\bDCSA\\b|DEFENSE COUNTERINTEL/.test(a)) return 'DCSA';\n  if (/\\bDTRA\\b|DEFENSE THREAT/.test(a)) return 'DTRA';\n  if (/\\bSOCOM\\b|SPECIAL OPERATIONS COMMAND|USASOC/.test(a)) return 'USSOCOM';\n  if (/TRANSCOM|USTRANSCOM/.test(a)) return 'USTRANSCOM';\n  if (/\\bCYBERCOM\\b/.test(a)) return 'CYBERCOM';\n  if (/AIR FORCE|SPACE FORCE|\\bAFRL\\b|\\bAFSOC\\b|\\bAFLCMC\\b|PACIFIC AIR|AIR COMBAT|AIR MATERIEL/.test(a)) return 'Department of the Air Force';\n  if (/\\bNAVY\\b|\\bNAVSUP\\b|\\bNAVAIR\\b|\\bNAVSEA\\b|\\bNAVFAC\\b|\\bNAVWAR\\b|\\bSPAWAR\\b|\\bNIWC\\b|NAVAL|NAVY MSC|MARINE CORPS|\\bUSMC\\b|\\bMARCOR\\b/.test(a)) return 'Department of the Navy';\n  if (/\\bARMY\\b|\\bTRADOC\\b|\\bCECOM\\b|\\bDEVCOM\\b|\\bC5ISR\\b|\\bINSCOM\\b|\\bFORSCOM\\b|\\bIMCOM\\b|\\bUSARC\\b|\\bJPEO\\b|PEO |\\bAMC\\b|\\bMICC\\b|ACC-|ARMY SOC|ARMY NETCOM/.test(a)) return 'Department of the Army';\n  return 'Other DoW Component';\n}\nfunction getLevel3(agency) {\n  var a = (agency || '').toUpperCase();\n  if (/PEO STRI/.test(a)) return 'PEO STRI'; if (/PEO SOLDIER/.test(a)) return 'PEO Soldier'; if (/PEO IEW/.test(a)) return 'PEO IEW&S'; if (/TRADOC/.test(a)) return 'TRADOC'; if (/CECOM/.test(a)) return 'CECOM'; if (/C5ISR/.test(a)) return 'C5ISR Center'; if (/DEVCOM/.test(a)) return 'DEVCOM'; if (/INSCOM/.test(a)) return 'INSCOM'; if (/FORSCOM/.test(a)) return 'FORSCOM'; if (/IMCOM/.test(a)) return 'IMCOM'; if (/\\bUSARC\\b/.test(a)) return 'USARC'; if (/ARMY SOC|USASOC/.test(a)) return 'USASOC'; if (/ARMY AMC|\\bAMC\\b/.test(a)) return 'Army AMC'; if (/ARMY NETCOM/.test(a)) return 'Army NETCOM'; if (/MICC/.test(a)) return 'MICC'; if (/NAVAIR|NAWC/.test(a)) return 'NAVAIR'; if (/NAVSUP/.test(a)) return 'NAVSUP'; if (/NAVSEA|NSWC/.test(a)) return 'NAVSEA'; if (/\\bNIWC\\b/.test(a)) return 'NIWC'; if (/NAVWAR|SPAWAR/.test(a)) return 'NAVWAR'; if (/NAVFAC/.test(a)) return 'NAVFAC'; if (/NAVY MSC/.test(a)) return 'Navy MSC'; if (/MARINE CORPS|\\bUSMC\\b|\\bMARCOR\\b/.test(a)) return 'USMC'; if (/AFLCMC/.test(a)) return 'AFLCMC'; if (/\\bAFRL\\b/.test(a)) return 'AFRL'; if (/\\bAFSOC\\b/.test(a)) return 'AFSOC'; if (/AIR COMBAT COMMAND/.test(a)) return 'Air Combat Command'; if (/PACIFIC AIR FORCES/.test(a)) return 'Pacific Air Forces'; if (/SPACE FORCE/.test(a)) return 'Space Force'; if (/DLA MARITIME/.test(a)) return 'DLA Maritime'; if (/DLA AVIATION/.test(a)) return 'DLA Aviation'; if (/DLA TROOP/.test(a)) return 'DLA Troop Support'; if (/DLA LAND/.test(a)) return 'DLA Land & Maritime';\n  return null;\n}\nfunction cleanAgencyName(agency) {\n  var a = (agency || '').replace(/^DEPT OF (DEFENSE|WAR)\\./i, '').replace(/^DEPT OF THE /i, '');\n  var parts = a.split('.'); var meaningful = parts.map(p => p.trim()).filter(p => p.length > 3 && !/^DEPT OF/i.test(p));\n  return meaningful.length > 0 ? meaningful[meaningful.length - 1] : a.trim();\n}\nconst byDept = {}; let total_programs = 0, last_sync = null; const opportunities = []; const seenSols = new Set();\nfor (const row of trackerRows) {\n  const rawAgency = row.agency || 'Unknown'; const l1 = getLevel1(rawAgency); const l2 = getLevel2(rawAgency); const l3 = getLevel3(rawAgency); const displayAgency = cleanAgencyName(rawAgency);\n  if (!byDept[l1]) byDept[l1] = { dept: l1, agencies: [], opp_count: 0, fit_sum: 0, gda_sum: 0, total_value: 0 };\n  let programs = []; try { programs = row.programs_json ? JSON.parse(row.programs_json) : []; } catch(e) { programs = []; }\n  byDept[l1].agencies.push({ agency: displayAgency, program_count: row.program_count || 1, programs, synced_at: row.synced_at }); total_programs += (row.program_count || 1); if (!last_sync || row.synced_at > last_sync) last_sync = row.synced_at; byDept[l1].opp_count++; byDept[l1].fit_sum += (parseInt(row.eis_fit_score) || 0); byDept[l1].gda_sum += (parseInt(row.gda_score) || 0); byDept[l1].total_value += (parseInt(row.estimated_value) || 0); if (row.solicitation_number) seenSols.add(row.solicitation_number);\n  opportunities.push({ id: row.id, agency: displayAgency, raw_agency: rawAgency, name: displayAgency, title: row.opp_title || displayAgency, dept: l1, level_1: l1, level_2: l2, level_3: l3, opp_title: row.opp_title || null, source_url: row.source_url || null, govtribe_id: row.govtribe_id, naics_code: row.naics_code, set_aside: row.set_aside, eis_fit_score: parseInt(row.eis_fit_score) || 0, needs_score: row.needs_score != null ? parseFloat(row.needs_score) : null, financials_score: row.financials_score != null ? parseFloat(row.financials_score) : null, ooda_score: row.ooda_score != null ? parseFloat(row.ooda_score) : null, ai_analysis: row.ai_analysis || null, data_source: row.data_source || 'GovTribe', solicitation_number: row.solicitation_number, response_deadline: row.response_deadline, place_of_performance: row.place_of_performance, last_refreshed: row.last_refreshed, estimated_value: parseInt(row.estimated_value) || null, stage: row.stage || 'Identified', gda_score: parseInt(row.gda_score) || null, gda_label: row.gda_label || null, sb_qualified: row.sb_qualified || null, assigned_ou: row.assigned_ou || null, has_capture_plan: row.has_capture_plan === true, incumbent_analysis: row.incumbent_analysis || null, likely_competitors: row.likely_competitors || null, eligible_vehicles: row.eligible_vehicles || null });\n}\nfor (const d of Object.values(byDept)) { d.avg_fit = d.opp_count > 0 ? Math.round(d.fit_sum / d.opp_count) : 0; d.avg_gda = d.opp_count > 0 ? Math.round(d.gda_sum / d.opp_count) : 0; delete d.fit_sum; delete d.gda_sum; }\nconst departments = Object.values(byDept).sort((a,b) => (b.total_value||0) - (a.total_value||0));\nconst govtribe_alerts = alertRows.filter(a => a.solicitation_number && !seenSols.has(a.solicitation_number)).map(a => ({ solicitation_number: a.solicitation_number, name: a.opp_title || a.agency || '', opportunity_type: '', set_aside_type: a.set_aside || '', posted_date: a.synced_at, due_date: a.response_deadline, agency: a.agency || '', naics_code: a.naics_code || '', source_url: a.source_url || '', fit_score: parseInt(a.eis_fit_score) || 0, capability_matches: '', source: a.data_source || 'GovTribe', govtribe_id: a.govtribe_id || null }));\nconst pipeline_value = opportunities.reduce((s, o) => s + (o.estimated_value || 0), 0);\nconst pursue_count = opportunities.filter(o => o.gda_label === 'PURSUE').length;\nconst evaluate_count = opportunities.filter(o => o.gda_label === 'EVALUATE').length;\nreturn [{ json: { status: 'ok', departments, opportunities: opportunities.sort((a,b) => (b.gda_score||0) - (a.gda_score||0)), govtribe_alerts, total_programs, total_agencies: trackerRows.length, total_opportunities: opportunities.length, govtribe_alert_count: govtribe_alerts.length, pipeline_value, pursue_count, evaluate_count, last_sync, data_sources: [{name:'GDA Tracker',type:'internal'},{name:'GovTribe',type:'federal'},{name:'SAM.gov',type:'federal'},{name:'GovTribe Alerts',type:'supplemental'}] } }];"},"position":[496,384],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"b5a1a7e3-03df-4ac2-b78a-7508bab649e5","name":"Respond","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $('Format Response').first().json }}"},"position":[720,384],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"validate-stage-code-01","name":"Validate Stage","parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst valid = ['Identified','Investigating','Pursuing','Proposal','Submitted','Won','Lost','No-Go'];\nconst stage = body.stage;\nconst opp_id = parseInt(body.opp_id, 10);\nif (!valid.includes(stage)) throw new Error('Invalid stage: ' + stage);\nif (!opp_id || isNaN(opp_id)) throw new Error('Invalid opp_id: ' + body.opp_id);\nreturn [{ json: { opp_id, stage } }];"},"position":[272,768],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"update-stage-pg-01","name":"Update Stage PG","parameters":{"operation":"executeQuery","options":{},"query":"UPDATE gda_opportunity_tracker SET stage = '{{ $json.stage }}' WHERE id = {{ $json.opp_id }} RETURNING id, stage"},"position":[496,768],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"stage-respond-01","name":"Stage Respond","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ { status: 'ok', opp_id: $json.id, stage: $json.stage } }}"},"position":[720,672],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"19429f8f-a942-48bc-90fb-f6d927313d6b","name":"Health Webhook","parameters":{"authentication":"headerAuth","options":{"allowedOrigins":"*"},"path":"9a68777d-ebe1-47ed-9863-53c738bb4806","responseMode":"responseNode"},"position":[-400,64],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"9a68777d-ebe1-47ed-9863-53c738bb4806"},{"id":"688a5632-7d39-4c13-9337-474156112bd6","name":"Health Respond","parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"{\"status\":\"ok\",\"module\":\"opportunity-tracker\"}"},"position":[-176,64],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"capture-lesson","name":"Capture Lesson","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryParameters":"={{ JSON.stringify([($('Webhook').first().json.body.opp_title || ''), ($('Webhook').first().json.body.agency || ''), ($('Webhook').first().json.body.naics || ''), ($('Webhook').first().json.body.old_stage || 'Unknown'), ($('Webhook').first().json.body.stage || '')]) }}"},"query":"INSERT INTO gda_capture_lessons (opportunity, agency, naics_code, stage_from, stage_to, outcome, lesson_text) SELECT $1, $2, $3, $4, $5, CASE WHEN $5 IN ('Won') THEN 'WON' WHEN $5 IN ('Lost') THEN 'LOST' WHEN $5 IN ('No-Go') THEN 'NO-GO' ELSE 'STAGE_CHANGE' END, 'Stage changed from ' || $4 || ' to ' || $5 || ' for ' || $1 WHERE $5 IN ('Won','Lost','No-Go','Pursuing','Proposal','Submitted');"},"position":[720,864],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"ooda-pursue-check","name":"Is PURSUE?","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,768],"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"stage-is-pursue","leftValue":"={{ $('Validate Stage').first().json.new_stage || '' }}","operator":{"operation":"equals","type":"string"},"rightValue":"PURSUE"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"}},"options":{}}},{"id":"ooda-auto-call","name":"Call OODA Auto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,768],"parameters":{"body":"={{ JSON.stringify({ target: ('OPP-' + $('Validate Stage').first().json.opp_id), target_type: 'program', session_id: 'auto_pursue_' + ($('Validate Stage').first().json.opp_id || Date.now()) }) }}","contentType":"raw","headerParameters":{"parameters":[{"name":"x-gda-key","value":"={{ $env.GDA_WEBHOOK_SECRET_2026 }}"},{"name":"Content-Type","value":"application/json"}]},"method":"POST","options":{"timeout":90000},"rawContentType":"application/json","sendBody":true,"sendHeaders":true,"url":"https://n8n.csr-llc.tech/webhook/gda-ooda"},"continueOnFail":true},{"id":"ooda-pursue-telegram","name":"Telegram PURSUE Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,768],"parameters":{"body":"={{ (() => { const opp_id = $('Validate Stage').first().json.opp_id || 'Unknown'; const ooda = $('Call OODA Auto').first()?.json || {}; const summary = ooda.summary || ooda.observe_summary || 'OODA analysis queued'; const rec = ooda.decide_recommendation || '-'; const conf = ooda.confidence_score || '-'; const acts = (ooda.act_immediate || []).slice(0,3).join('\\n* '); const msg = 'NEW PURSUE OPP\\nOpp ID: ' + opp_id + '\\n\\nOODA Auto-Analysis\\nRec: ' + rec + ' | Conf: ' + conf + '%\\nBLUF: ' + summary.substring(0,200) + '\\n\\nImmediate Actions:\\n* ' + (acts || 'See full OODA in GDA Command') + '\\n\\nhttps://gda.csr-llc.tech'; return JSON.stringify({ chat_id: 8631035943, message: msg }); })() }}","contentType":"raw","headerParameters":{"parameters":[{"name":"x-gda-key","value":"={{ $env.GDA_WEBHOOK_SECRET_2026 }}"},{"name":"Content-Type","value":"application/json"}]},"method":"POST","options":{},"rawContentType":"application/json","sendBody":true,"sendHeaders":true,"url":"https://n8n.csr-llc.tech/webhook/gda-notify"},"continueOnFail":true}], "connections" : {"Auth Guard":{"main":[[{"index":0,"node":"Route Action","type":"main"}]]},"Format Response":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Health Webhook":{"main":[[{"index":0,"node":"Health Respond","type":"main"}]]},"Read Alerts":{"main":[[{"index":0,"node":"Format Response","type":"main"}]]},"Read Opps":{"main":[[{"index":0,"node":"Format Response","type":"main"}]]},"Route Action":{"main":[[{"index":0,"node":"Validate Stage","type":"main"}],[{"index":0,"node":"Read Opps","type":"main"},{"index":0,"node":"Read Alerts","type":"main"}]]},"Update Stage PG":{"main":[[{"index":0,"node":"Stage Respond","type":"main"},{"index":0,"node":"Capture Lesson","type":"main"},{"node":"Is PURSUE?","type":"main","index":0}]]},"Validate Stage":{"main":[[{"index":0,"node":"Update Stage PG","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Guard","type":"main"}]]},"Is PURSUE?":{"main":[[{"node":"Call OODA Auto","type":"main","index":0}]]},"Call OODA Auto":{"main":[[{"node":"Telegram PURSUE Alert","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all"}, "updatedAt" : "2026-05-26T21:28:47.135+00:00"}
