docs/n8n-triage/workflows/GDA.cron.competitor-auto-enrichment___51SkEH6ulJrmHdgS.json
{"id" : "51SkEH6ulJrmHdgS", "name" : "GDA.cron.competitor-auto-enrichment", "active" : false, "nodes" : [{"id":"wh1","name":"Competitor Enrichment Webhook","type":"n8n-nodes-base.webhook","position":[260,300],"webhookId":"gda-enrich-comp-001","parameters":{"path":"gda-enrich-competitors","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"q1","name":"Build Enrichment Queries","type":"n8n-nodes-base.code","position":[480,300],"parameters":{"jsCode":"// Pull competitor list + FPDS award data from data lake\nvar sql1 = 'SELECT id, name, size_standard, threat_level, total_obligated, naics_codes, target_agencies FROM gda_competitor_watchlist ORDER BY total_obligated DESC NULLS LAST LIMIT 35';\nvar sql2 = \"SELECT source_id, raw_data->>'awardee' as winner, raw_data->>'agency' as agency, raw_data->>'ceiling_value' as ceiling, raw_data->>'naics_code' as naics, raw_data->>'set_aside' as set_aside FROM gda_data_lake WHERE record_type = 'contract_award' ORDER BY (raw_data->>'ceiling_value')::numeric DESC\";\nreturn [{ json: { command: 'docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -t -A -F\\'|\\' -c \"' + sql1 + ';\" -c \"' + sql2 + ';\"' } }];"},"typeVersion":2},{"id":"http1","name":"Fetch Competitor Data","type":"n8n-nodes-base.httpRequest","position":[700,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ command: $json.command }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2},{"id":"ai1","name":"AI Analyze Competitors","type":"n8n-nodes-base.code","position":[920,300],"parameters":{"jsCode":"var raw = $input.first().json.content || '';\nvar prompt = 'You are analyzing GDA competitor intelligence. Given this competitor watchlist and recent FPDS award data, identify:\\n1. Which watchlist competitors appear in recent awards (cross-reference)\\n2. New competitors NOT on the watchlist who are winning in GDA NAICS codes\\n3. Pricing trends by NAICS/agency\\n4. Teaming opportunities (SB winners who might team with GDA)\\n\\nDATA:\\n' + raw.substring(0, 6000) + '\\n\\nReturn JSON: {\"cross_references\": [{\"competitor\":\"name\",\"awards_found\":N,\"total_value\":N,\"primary_agencies\":[]}], \"new_threats\": [{\"name\":\"name\",\"wins\":N,\"value\":N,\"naics\":\"\",\"threat_level\":\"high|medium|low\"}], \"pricing_trends\": [{\"naics\":\"code\",\"avg_ceiling\":N,\"range\":[min,max]}], \"teaming_targets\": [{\"name\":\"name\",\"reason\":\"\"}], \"summary\":\"2-3 sentences\"}\\nONLY valid JSON.';\nreturn [{ json: { model: 'claude-sonnet-4-20250514', max_tokens: 3000, messages: [{ role: 'user', content: prompt }] } }];"},"typeVersion":2},{"id":"http2","name":"Store Enrichment","type":"n8n-nodes-base.httpRequest","position":[1140,300],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({model:$json.model,max_tokens:$json.max_tokens,messages:$json.messages}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"}]}},"typeVersion":4.2},{"id":"resp1","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","position":[1360,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, analysis: $json.content?.[0]?.text || 'No analysis' }) }}"},"typeVersion":1.1}], "connections" : {"Build Enrichment Queries":{"main":[[{"index":0,"node":"Fetch Competitor Data","type":"main"}]]},"Competitor Enrichment Webhook":{"main":[[{"index":0,"node":"Build Enrichment Queries","type":"main"}]]},"Fetch Competitor Data":{"main":[[{"index":0,"node":"AI Analyze Competitors","type":"main"}]]},"AI Analyze Competitors":{"main":[[{"index":0,"node":"Store Enrichment","type":"main"}]]},"Store Enrichment":{"main":[[{"index":0,"node":"Send Response","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:56.819+00:00"}
