docs/n8n-triage/workflows/GDA.api.black-hat___RfjdGEY7FIRpVx8w.json
{"id" : "RfjdGEY7FIRpVx8w", "name" : "GDA.api.black-hat", "active" : false, "nodes" : [{"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"gda-black-hat","responseMode":"responseNode","options":{"allowedOrigins":"*"},"authentication":"headerAuth"},"webhookId":"gda-black-hat-001","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"id":"auth1","name":"Auth Guard","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"}},{"id":"route1","name":"Route Action","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.action }}","rightValue":"analyze","operator":{"type":"string","operation":"equals"}}]}}},{"id":"pg1","name":"Get Pipeline Context","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,200],"parameters":{"operation":"executeQuery","query":"SELECT opp_title, agency, gda_score, estimated_value, stage FROM gda_opportunity_tracker WHERE gda_label IN ('PURSUE','EVALUATE') ORDER BY gda_score DESC LIMIT 10","options":{}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"id":"code1","name":"Build Black Hat Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,200],"parameters":{"jsCode":"const data = $input.first().json;\nconst target = data.target || 'Unknown Opportunity';\nconst agency = data.agency || 'Unknown Agency';\nconst value = data.value || 'Unknown';\nconst pipeline = $('Get Pipeline Context').all().map(i => i.json);\nconst pipelineSummary = pipeline.map((o,i) => `${i+1}. ${o.opp_title} | ${o.agency} | Score: ${o.gda_score} | $${(o.estimated_value||0).toLocaleString()}`).join('\\n');\n\nconst prompt = `You are playing the role of a BLACK HAT competitor analyst for Georgetown Defense Analytics (GDA). Your job is to think adversarially: if you were a competitor trying to WIN this contract AGAINST GDA, what would you do?\\n\\nTARGET OPPORTUNITY: ${target}\\nAGENCY: ${agency}\\nESTIMATED VALUE: ${value}\\n\\nGDA CURRENT PIPELINE (for context on what they are pursuing):\\n${pipelineSummary || 'No pipeline data'}\\n\\nAs a BLACK HAT analyst, identify:\\n1. COMPETITOR ADVANTAGES: What can top competitors (BAH, SAIC, Leidos, CACI, Peraton) do better than GDA on this opportunity?\\n2. GDA WEAKNESSES: What specific GDA vulnerabilities would a competitor exploit? (size, past performance gaps, clearance levels, incumbency, pricing)\\n3. ATTACK VECTORS: How would a smart competitor position to beat GDA? (teaming, pricing strategy, technical differentiation, relationship leveraging)\\n4. COUNTER-STRATEGIES: What should GDA do NOW to neutralize these attacks?\\n5. BID/NO-BID SIGNAL: Given the competitive landscape, should GDA pursue aggressively, cautiously, or no-bid?\\n\\nReturn ONLY this JSON (no markdown):\\n{\\n  \\\"target\\\": \\\"${target}\\\",\\n  \\\"agency\\\": \\\"${agency}\\\",\\n  \\\"top_competitors\\\": [{\\\"name\\\": \\\"\\\", \\\"threat_level\\\": \\\"HIGH/MEDIUM/LOW\\\", \\\"attack_strategy\\\": \\\"\\\", \\\"key_advantage\\\": \\\"\\\"}],\\n  \\\"gda_vulnerabilities\\\": [{\\\"area\\\": \\\"\\\", \\\"severity\\\": \\\"CRITICAL/HIGH/MEDIUM\\\", \\\"detail\\\": \\\"\\\"}],\\n  \\\"attack_vectors\\\": [\\\"specific attack strategy 1\\\", \\\"specific attack strategy 2\\\", \\\"specific attack strategy 3\\\"],\\n  \\\"counter_strategies\\\": [\\\"counter action 1\\\", \\\"counter action 2\\\", \\\"counter action 3\\\"],\\n  \\\"bid_signal\\\": \\\"PURSUE/CAUTIOUS/NO-BID\\\",\\n  \\\"bid_rationale\\\": \\\"1-2 sentence rationale\\\",\\n  \\\"win_theme_gaps\\\": [\\\"gap 1\\\", \\\"gap 2\\\"],\\n  \\\"confidence_score\\\": 75,\\n  \\\"generated_at\\\": \\\"${new Date().toISOString()}\\\"\\n}`;\nreturn [{json: {prompt, target, agency}}];\n"}},{"id":"http1","name":"Claude Black Hat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({model: 'claude-sonnet-4-20250514', max_tokens: 2048, messages: [{role: 'user', content: $json.prompt}]}) }}","options":{"timeout":30000}},"continueOnFail":true},{"id":"code2","name":"Parse Black Hat","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,200],"parameters":{"jsCode":"const resp = $input.first().json;\nconst inputData = $('Build Black Hat Prompt').first().json;\ntry {\n  const text = resp.content[0].text;\n  const clean = text.replace(/```json|```/g,'').trim();\n  const s = clean.indexOf('{'); const e = clean.lastIndexOf('}');\n  const result = JSON.parse(clean.substring(s, e+1));\n  return [{json: result}];\n} catch(err) {\n  return [{json: {target: inputData.target, agency: inputData.agency, bid_signal: 'CAUTIOUS', bid_rationale: 'Analysis failed - manual review required', top_competitors: [], gda_vulnerabilities: [], attack_vectors: [], counter_strategies: [], win_theme_gaps: [], confidence_score: 0, error: err.message, generated_at: new Date().toISOString()}}];\n}\n"}},{"id":"resp_ping","name":"Respond Ping","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,400],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\",\"module\":\"black-hat-analysis\"}","options":{}}},{"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1780,200],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Get Pipeline Context","type":"main","index":0}],[{"node":"Respond Ping","type":"main","index":0}]]},"Get Pipeline Context":{"main":[[{"node":"Build Black Hat Prompt","type":"main","index":0}]]},"Build Black Hat Prompt":{"main":[[{"node":"Claude Black Hat","type":"main","index":0}]]},"Claude Black Hat":{"main":[[{"node":"Parse Black Hat","type":"main","index":0}]]},"Parse Black Hat":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:55.944+00:00"}
