docs/n8n-triage/workflows/GDA.sub.dashboard-intel-deep___Pbj90Dg6APmYRqOO.json
{"id" : "Pbj90Dg6APmYRqOO", "name" : "GDA.sub.dashboard-intel-deep", "active" : false, "nodes" : [{"id":"953c0c96-63cc-48e4-b760-399d4ebf7f8a","name":"Fetch SOCOM Spending","type":"n8n-nodes-base.httpRequest","position":[448,0],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{award_type_codes:['A','B','C','D'],time_period:[{start_date:'2024-10-01',end_date:'2025-09-30'}],keywords:['Special Operations Command','SOCOM','USSOCOM']},fields:['Award ID','Recipient Name','Award Amount','Description','Awarding Sub Agency'],sort:'Award Amount',order:'desc',limit:50,page:1}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"8d4c69c5-ea48-4290-9e05-3581956d87bc","name":"Fetch TRADOC Spending","type":"n8n-nodes-base.httpRequest","position":[672,0],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{award_type_codes:['A','B','C','D'],time_period:[{start_date:'2024-10-01',end_date:'2025-09-30'}],keywords:['TRADOC','Training and Doctrine Command']},fields:['Award ID','Recipient Name','Award Amount','Description','Awarding Sub Agency'],sort:'Award Amount',order:'desc',limit:50,page:1}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"909ed0db-edaf-4407-af90-6c2974a01077","name":"Fetch PEO STRI Spending","type":"n8n-nodes-base.httpRequest","position":[896,0],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{award_type_codes:['A','B','C','D'],time_period:[{start_date:'2024-10-01',end_date:'2025-09-30'}],keywords:['PEO STRI','Simulation Training Instrumentation','Program Executive Office Simulation']},fields:['Award ID','Recipient Name','Award Amount','Description','Awarding Sub Agency'],sort:'Award Amount',order:'desc',limit:50,page:1}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"81f6833b-64a2-4798-8a76-f413d9069852","name":"Fetch AFC Spending","type":"n8n-nodes-base.httpRequest","position":[1120,0],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{award_type_codes:['A','B','C','D'],time_period:[{start_date:'2024-10-01',end_date:'2025-09-30'}],keywords:['Army Futures Command','AFC']},fields:['Award ID','Recipient Name','Award Amount','Description','Awarding Sub Agency'],sort:'Award Amount',order:'desc',limit:50,page:1}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"3da58e83-8286-4563-a3e2-d64c29fccedc","name":"Fetch INSCOM Spending","type":"n8n-nodes-base.httpRequest","position":[1344,0],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{award_type_codes:['A','B','C','D'],time_period:[{start_date:'2024-10-01',end_date:'2025-09-30'}],keywords:['INSCOM','Intelligence and Security Command']},fields:['Award ID','Recipient Name','Award Amount','Description','Awarding Sub Agency'],sort:'Award Amount',order:'desc',limit:50,page:1}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"d9e6df66-4730-401b-92a9-db006e1240c5","name":"Fetch CYBERCOM Spending","type":"n8n-nodes-base.httpRequest","position":[1568,0],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{award_type_codes:['A','B','C','D'],time_period:[{start_date:'2024-10-01',end_date:'2025-09-30'}],keywords:['CYBERCOM','Cyber Command','USCYBERCOM']},fields:['Award ID','Recipient Name','Award Amount','Description','Awarding Sub Agency'],sort:'Award Amount',order:'desc',limit:50,page:1}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"b18358a2-1eb3-4076-98ca-ad8436b5cbb1","name":"Fetch DLA Spending","type":"n8n-nodes-base.httpRequest","position":[1792,0],"parameters":{"url":"https://api.usaspending.gov/api/v2/search/spending_by_award/","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({filters:{award_type_codes:['A','B','C','D'],time_period:[{start_date:'2024-10-01',end_date:'2025-09-30'}],agencies:[{type:'awarding',tier:'subtier',name:'Defense Logistics Agency'}]},fields:['Award ID','Recipient Name','Award Amount','Description','Awarding Sub Agency'],sort:'Award Amount',order:'desc',limit:50,page:1}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"5a5b86c8-ee5f-4e40-9f96-6166069c378d","name":"Tavily - TRADOC Budget","type":"n8n-nodes-base.httpRequest","position":[2016,0],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({api_key:$env.TAVILY_API_KEY,query:'TRADOC budget FY2025 FY2026 training simulation digital readiness technology contract spending (site:army.mil OR site:defense.gov OR site:usaspending.gov)',search_depth:'basic',max_results:7,include_answer:false}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"f8380da2-dfa2-49d5-84bd-a6d986471465","name":"Tavily - SOCOM Spending","type":"n8n-nodes-base.httpRequest","position":[2240,0],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({api_key:$env.TAVILY_API_KEY,query:'SOCOM USSOCOM special operations training simulation technology C5ISR contract spending FY2025 FY2026 (site:usaspending.gov OR site:socom.mil OR site:defense.gov)',search_depth:'basic',max_results:7,include_answer:false}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"d8830c89-eda6-4d7a-a866-2ed0ee6692cf","name":"Tavily - PEO STRI Budget","type":"n8n-nodes-base.httpRequest","position":[2464,0],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{"timeout":30000},"jsonBody":"={{ JSON.stringify({api_key:$env.TAVILY_API_KEY,query:'\"PEO STRI\" simulation training XR virtual reality augmented reality technology program budget spending 2025 2026 (site:army.mil OR site:defense.gov OR site:peostri.army.mil)',search_depth:'basic',max_results:7,include_answer:false}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"316fd7f2-f680-49a0-a4bc-0b54b53fbe03","name":"GOVWIN_CREDENTIALS - Get Token","type":"n8n-nodes-base.httpRequest","disabled":false,"position":[2688,0],"parameters":{"url":"https://services.govwin.com/neo-ws/oauth/token","method":"POST","options":{"timeout":15000},"sendBody":true,"contentType":"form-urlencoded","sendHeaders":true,"bodyParameters":{"parameters":[{"name":"grant_type","value":"password"},{"name":"username","value":"={{ $env.GOVWIN_USERNAME || '' }}"},{"name":"password","value":"={{ $env.GOVWIN_PASSWORD || '' }}"},{"name":"client_id","value":"={{ $env.GOVWIN_CLIENT_ID || '' }}"},{"name":"client_secret","value":"={{ $env.GOVWIN_CLIENT_SECRET || '' }}"}]},"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"d0d98f47-72ea-4171-bb14-1474fa19d2e2","name":"GOVWIN_CREDENTIALS - Search Opportunities","type":"n8n-nodes-base.httpRequest","disabled":false,"position":[2912,0],"parameters":{"url":"https://services.govwin.com/neo-ws/opportunities","options":{"timeout":30000},"sendQuery":true,"sendHeaders":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"},{"name":"offset","value":"0"},{"name":"keywords","value":"training simulation XR digital readiness C5ISR SOCOM TRADOC PEO STRI"}]},"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('GOVWIN_CREDENTIALS - Get Token').first().json.access_token || '' }}"},{"name":"Accept","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"3202644f-86c7-4978-8917-a116e5c09ab3","name":"GOVWIN_CREDENTIALS - Filter & Cache","type":"n8n-nodes-base.code","disabled":false,"position":[3136,0],"parameters":{"jsCode":"var tokenData = {};\nvar searchData = {};\ntry { tokenData = $('GOVWIN_CREDENTIALS - Get Token').first().json; } catch(e) {}\ntry { searchData = $('GOVWIN_CREDENTIALS - Search Opportunities').first().json; } catch(e) {}\nvar tokenValid = tokenData.access_token && !tokenData.error;\nvar opportunities = [];\nif (tokenValid && searchData) {\n  var raw = Array.isArray(searchData) ? searchData : Array.isArray(searchData.opportunities) ? searchData.opportunities : Array.isArray(searchData.results) ? searchData.results : Array.isArray(searchData.items) ? searchData.items : [];\n  opportunities = raw.slice(0, 50).map(function(opp, idx) {\n    return { id: opp.id || opp.opportunityId || null, title: opp.title || opp.name || 'Unknown', agency: opp.agency || opp.organization || '', value_estimate: opp.valueEstimate || opp.estimatedValue || null, naics: opp.naicsCode || opp.naics || '', posted_date: opp.postedDate || opp.publishedDate || null, response_deadline: opp.responseDeadline || opp.dueDate || null, status: opp.status || 'Active', url: opp.url || ('https://iq.govwin.com/neo/opportunity/' + (opp.id || '')), update_date: opp.updateDate || opp.modifiedDate || new Date().toISOString(), extended_detail: idx < 10, cached_at: new Date().toISOString() };\n  });\n}\nreturn [{ json: { govwin_status: tokenValid ? 'active' : 'credentials_not_configured', govwin_opportunity_count: opportunities.length, govwin_opportunities: opportunities.slice(0, 10), govwin_all_count: opportunities.length, govwin_note: tokenValid ? null : 'Set GOVWIN_USERNAME/PASSWORD/CLIENT_ID/CLIENT_SECRET in GOVWIN_CREDENTIALS - Get Token node to activate' } }];"},"typeVersion":2,"continueOnFail":true},{"id":"1809b5f3-de46-4ad5-9d8c-ae29ba92c75e","name":"GOVWIN_CREDENTIALS - Rate Limiter","type":"n8n-nodes-base.code","disabled":false,"position":[448,192],"parameters":{"jsCode":"const MAX_OPPS = 25;\nconst TOP_EXTENDED = 5;\nconst CACHE_TTL_HOURS = 6;\nconst HOURLY_LIMIT = 500;\nreturn [{ json: { govwin_status: 'PLACEHOLDER - Add GovWin credentials and HTTP Request node', rate_limits: { max_opps: MAX_OPPS, top_extended: TOP_EXTENDED, cache_ttl_hours: CACHE_TTL_HOURS, hourly_limit: HOURLY_LIMIT } }}];"},"typeVersion":2},{"id":"cbff0990-9983-4727-81e8-64cbdc7671dd","name":"GOVWIN_CREDENTIALS - Cache Check","type":"n8n-nodes-base.postgres","disabled":false,"position":[672,192],"parameters":{"query":"SELECT target, results_json, call_count, updated_at FROM gda_govwin_cache WHERE updated_at > NOW() - INTERVAL '6 hours' ORDER BY updated_at DESC LIMIT 1","options":{"queryBatching":"independently"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"954b29f7-112b-4e02-8306-e14c0b522bea","name":"Combine API Results","type":"n8n-nodes-base.code","position":[3360,0],"parameters":{"jsCode":"\nfunction sumAwards(nodeData) {\n  if (!nodeData || (nodeData.error && !nodeData.results)) {\n    return { top_n_sum: 0, top_n_count: 0, has_more: false, top_contracts: [], has_data: false };\n  }\n  var results = nodeData.results || [];\n  var total = results.reduce(function(sum, a) { return sum + (parseFloat(a['Award Amount']) || 0); }, 0);\n  var hasMore = !!(nodeData.page_metadata && nodeData.page_metadata.hasNext);\n  return {\n    top_n_sum: total,\n    top_n_count: results.length,\n    has_more: hasMore,\n    has_data: results.length > 0,\n    top_contracts: results.slice(0, 5).map(function(a) {\n      return {\n        recipient: a['Recipient Name'] || 'Unknown',\n        amount: parseFloat(a['Award Amount']) || 0,\n        description: (a['Description'] || '').substring(0, 120),\n        sub_agency: a['Awarding Sub Agency'] || ''\n      };\n    })\n  };\n}\nfunction fmt(n) {\n  if (!n || n === 0) return '$0';\n  if (n >= 1e9) return '$' + (n / 1e9).toFixed(2) + 'B';\n  if (n >= 1e6) return '$' + (n / 1e6).toFixed(0) + 'M';\n  return '$' + Math.round(n).toLocaleString();\n}\nvar socom   = sumAwards($('Fetch SOCOM Spending').first().json);\nvar tradoc  = sumAwards($('Fetch TRADOC Spending').first().json);\nvar peostri = sumAwards($('Fetch PEO STRI Spending').first().json);\nvar afc     = sumAwards($('Fetch AFC Spending').first().json);\nvar inscom  = sumAwards($('Fetch INSCOM Spending').first().json);\nvar cyber   = sumAwards($('Fetch CYBERCOM Spending').first().json);\nvar dla     = sumAwards($('Fetch DLA Spending').first().json);\nvar tav1 = $('Tavily - TRADOC Budget').first().json;\nvar tav2 = $('Tavily - SOCOM Spending').first().json;\nvar tav3 = $('Tavily - PEO STRI Budget').first().json;\n\nfunction extractTavily(data, max) {\n  max = max || 3;\n  var results = data.results || [];\n  if (!results.length) return '  No results returned.';\n  return results.slice(0, max).map(function(r) {\n    return '  TITLE: ' + (r.title || 'N/A') + '\\n  URL: ' + (r.url || 'N/A') + '\\n  EXCERPT: ' + (r.content || r.snippet || '').substring(0, 400);\n  }).join('\\n---\\n');\n}\nfunction agencySection(label, data) {\n  var note;\n  if (data.has_data) {\n    var scope = data.has_more ? 'top ' + data.top_n_count + ' of many' : 'all ' + data.top_n_count;\n    note = 'SOURCE: USASpending.gov FY2025 (Oct 2024 - Sep 2025)\\n' +\n           '  VERIFIED: sum of ' + scope + ' keyword-matched contracts = ' + fmt(data.top_n_sum) + '\\n' +\n           '  Note: this is NOT total agency obligation — use fy_budget tag accordingly';\n  } else {\n    note = 'SOURCE: USASpending.gov — ZERO matching contracts returned for these keywords.\\n' +\n           '  WARNING: All dollar figures for this agency MUST be tagged [ESTIMATED - no verified source].';\n  }\n  var lines = data.top_contracts.length > 0\n    ? '\\n  TOP CONTRACTS (by award amount):\\n' + data.top_contracts.map(function(c) {\n        return '    * ' + c.recipient + ': ' + fmt(c.amount) + ' | ' + c.description.substring(0, 100);\n      }).join('\\n')\n    : '\\n  No contract records returned.';\n  return '[' + label + ']\\n  ' + note + lines;\n}\nvar sections = [\n  agencySection('SOCOM (U.S. Special Operations Command)', socom),\n  agencySection('TRADOC (Training and Doctrine Command)', tradoc),\n  agencySection('PEO STRI (Program Executive Office – Simulation Training & Instrumentation)', peostri),\n  agencySection('AFC (Army Futures Command)', afc),\n  agencySection('INSCOM (Army Intelligence & Security Command)', inscom),\n  agencySection('CYBERCOM (U.S. Cyber Command)', cyber),\n  agencySection('DLA (Defense Logistics Agency)', dla)\n].join('\\n\\n');\n\nvar prompt =\n  'You are analyzing REAL government contract data retrieved live from USASpending.gov and Tavily web searches for Georgetown Defense Analytics (GDA).\\n\\n' +\n  'CRITICAL RULES:\\n' +\n  '1. Tag every dollar figure with its source: [USASpending FY2025] | [Tavily: <URL>] | [ESTIMATED - no verified source]\\n' +\n  '2. If USASpending returned ZERO contracts for an agency, ALL spending figures MUST be tagged [ESTIMATED - no verified source found]\\n' +\n  '3. Never present training-data dollar amounts as facts without an [ESTIMATED] tag\\n' +\n  '4. USASpending figures = sum of top 50 keyword-matched contract awards, NOT total agency obligation\\n' +\n  '5. For Tavily figures, include the specific source URL in your tag\\n\\n' +\n  '=== LIVE USASpending.gov CONTRACT DATA (FY2025) ===\\n' + sections + '\\n\\n' +\n  '=== WEB INTELLIGENCE (Tavily) ===\\n\\n' +\n  'SEARCH: \"TRADOC budget FY2025 FY2026 contract spending\"\\n' + extractTavily(tav1) + '\\n\\n' +\n  'SEARCH: \"SOCOM USSOCOM contract spending FY2025 site:usaspending.gov OR site:defense.gov\"\\n' + extractTavily(tav2) + '\\n\\n' +\n  'SEARCH: \"PEO STRI annual budget program office spending 2025 2026\"\\n' + extractTavily(tav3) + '\\n\\n' +\n  '=== GDA OPERATING UNITS ===\\n' +\n  '* EIS (envision-is.com): XR, simulation, LVC, curriculum — serves PEO STRI, TRADOC, SOCOM\\n' +\n  '* PD Systems (pd-sys.net): C5ISR, logistics, AI/ML, enterprise IT — serves AFC, DLA, PEO Aviation\\n' +\n  '* Riverstone (rivsol.com): SIGINT, cyber, Zero Trust, DevSecOps — serves INSCOM, CYBERCOM, NSA\\n\\n' +\n  '=== OUTPUT ===\\n' +\n  'Return JSON with \"top_clients\" array (all 7 agencies) and \"generated_at\".\\n' +\n  'Each agency object:\\n' +\n  '  agency, fy_budget (with source tag), data_source (\"USASpending.gov FY2025\"|\"Tavily\"|\"Estimated\"),\\n' +\n  '  top_contracts_sum_usd (integer from USASpending or null), gda_ou (\"EIS\"|\"PD Systems\"|\"Riverstone\"),\\n' +\n  '  gda_fit (1-10), gda_addressable (with source tag), key_programs (3-item array from verified data),\\n' +\n  '  eis_opportunities (text), confidence (\"HIGH - verified USASpending data\"|\"MEDIUM - partial/web\"|\"LOW - estimated only\")\\n\\n' +\n  'Return ONLY valid JSON. No markdown. No text outside the JSON.';\n\nvar data_freshness = new Date().toISOString();\n\nreturn [{ json: { data_freshness_timestamp: data_freshness, analysis_prompt: prompt } }];\n"},"typeVersion":2},{"id":"197664ae-b868-4f78-bc38-be12d6cff53e","name":"Analyze with Claude","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[3584,0],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:4096,system:'You are a Shipley-trained capture manager and BD analyst for Georgetown Defense Analytics (GDA), a holding company with Envision (XR/simulation), PD Systems (C5ISR/AI), and Riverstone (SIGINT/cyber). Priority agencies: SOCOM, TRADOC, PEO STRI, AFC, INSCOM, CYBERCOM, DLA. RULES: 1) Tag EVERY dollar figure with source: [USASpending FY2025], [Tavily: URL], or [ESTIMATED - reason]. 2) Use ONLY verified numbers from USASpending for contract values — never invent figures. 3) Flag any estimate clearly. 4) Include data_freshness_timestamp on every agency card showing when data was last pulled. 5) Search specifically for FY2026 budget justification and president budget request documents. 6) For each agency include real obligation data from USASpending, not estimated budgets. Return ONLY valid JSON.',messages:[{role:'user',content:$json.analysis_prompt}]}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"predefinedCredentialType","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"nodeCredentialType":"anthropicApi"},"credentials":{"anthropicApi":{"id":"d92MU0tRK7bEGV83","name":"Anthropic account"}},"retryOnFail":true,"typeVersion":4.1,"waitBetweenTries":5000},{"id":"111411d1-0f78-4b96-a0ec-512874b24cb6","name":"Parse Response","type":"n8n-nodes-base.code","position":[3808,0],"parameters":{"jsCode":"\nconst resp = $input.first().json;\nconst raw = (resp.content?.[0]?.text || resp.choices?.[0]?.message?.content || '').trim();\nlet cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst start = cleaned.indexOf('{');\nconst end   = cleaned.lastIndexOf('}');\nif (start === -1 || end === -1) {\n  return [{ json: { error: 'No JSON found in Claude response', raw_snippet: raw.substring(0, 400), generated_at: new Date().toISOString() }}];\n}\ncleaned = cleaned.substring(start, end + 1);\ntry {\n  const parsed = JSON.parse(cleaned);\n  if (!parsed.generated_at) parsed.generated_at = new Date().toISOString();\n  return [{ json: parsed }];\n} catch(e) {\n  return [{ json: { error: 'JSON parse error: ' + e.message, raw_snippet: raw.substring(0, 400), generated_at: new Date().toISOString() }}];\n}\n"},"typeVersion":2},{"id":"12107754-4a7e-4f28-a678-aa267e48be4b","name":"Build Program Prompt","type":"n8n-nodes-base.code","position":[4032,0],"parameters":{"jsCode":"\nconst parsed = $input.first().json;\nconst topClients = parsed.top_clients || [];\nconst top5 = topClients.slice(0, 5).map(c => c.agency);\nconst lines = [\n  'You are a DoD and federal agency structure expert and BD analyst for Georgetown Defense Analytics (GDA).',\n  'GDA operating units:',\n  '  EIS/OU-03 (envision-is.com): XR/immersive training, simulation, LVC integration, curriculum development,',\n  '            spatial computing — serves PEO STRI, TRADOC, Special Operations',\n  '  PD Systems/OU-01 (pd-sys.net): C5ISR, logistics sustainment, AI/ML analytics, enterprise IT',\n  '            — serves Army Futures Command, DLA, PEO Aviation',\n  '  Riverstone/OU-02 (rivsol.com): TechSIGINT, signal analysis, cyber engineering, Zero Trust,',\n  '            DevSecOps — serves INSCOM, Cyber Command, NSA',\n  '',\n  'For each of the following 5 agencies, produce a THREE-LEVEL organizational drill-down:',\n  '',\n  '  LEVEL 1 = the top-level agency (key in agency_programs object)',\n  '  LEVEL 2 = major commands, Program Executive Offices (PEOs), or component agencies',\n  '            within that Level 1 agency that own relevant budgets',\n  '            (e.g. PEO STRI, TRADOC, Army Futures Command, INSCOM, PEO Aviation)',\n  '  LEVEL 3 = specific program offices, directorates, or PM offices WITHIN each',\n  '            Level 2 command where training/simulation/XR/digital readiness/C5ISR/cyber',\n  '            contracts actually originate',\n  '',\n  'Identify 2-4 Level 2 commands per agency and 2-4 Level 3 program offices per command.',\n  '',\n  'Agencies:',\n];\ntop5.forEach((a, i) => lines.push('  ' + (i + 1) + '. ' + a));\nlines.push(\n  '',\n  'For each Level 2 command include:',\n  '  mission: one sentence — what this command owns and funds',\n  '  programs: array of Level 3 entries',\n  '',\n  'For each Level 3 program office entry include:',\n  '  program_office: official name or acronym',\n  '  annual_spend: estimated annual contract obligation (e.g. \"$450M\", \"$120M\")',\n  '  capability_need: 1-2 sentences on the specific training/sim/XR/C5ISR/cyber capability gap',\n  '  eis_fit: one sentence naming the GDA OU (EIS, PD Systems, or Riverstone) and how their capability maps',\n  '  known_vehicles: array of 1-3 real contract vehicles, IDIQs, or prime incumbents',\n  '',\n  'CRITICAL: Return ONLY valid JSON. No markdown. No text before or after.',\n  '',\n  'Exact output schema:',\n  '{\"agency_programs\":{\"Department of the Army\":{\"PEO STRI\":{\"mission\":\"...\",\"programs\":[{\"program_office\":\"PM Synthetic Training Environment\",\"annual_spend\":\"$450M\",\"capability_need\":\"...\",\"eis_fit\":\"...\",\"known_vehicles\":[\"STE IDIQ\",\"TSAIDS\"]}]}}}}',\n);\nreturn [{ json: { top_clients: parsed.top_clients, generated_at: parsed.generated_at, program_prompt: lines.join('\\n') }}];\n"},"typeVersion":2},{"id":"c65d4a8d-5551-43b6-8a0c-843174199e62","name":"Deep Dive with Claude","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[4256,0],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:8192,system:'You are a DoD and federal agency organizational structure expert. Return ONLY valid JSON.',messages:[{role:'user',content:$json.program_prompt}]}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"predefinedCredentialType","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"nodeCredentialType":"anthropicApi"},"credentials":{"anthropicApi":{"id":"d92MU0tRK7bEGV83","name":"Anthropic account"}},"retryOnFail":true,"typeVersion":4.1,"waitBetweenTries":5000},{"id":"fcc9a33b-c692-42f6-ac65-f2870999e79d","name":"Merge Final Response","type":"n8n-nodes-base.code","position":[4480,0],"parameters":{"jsCode":"\nconst deepDiveResp = $input.first().json;\nconst raw = (deepDiveResp.content?.[0]?.text || deepDiveResp.choices?.[0]?.message?.content || '').trim();\nconst priorData = $('Parse Response').first().json;\nlet agencyPrograms = {};\nlet cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst start = cleaned.indexOf('{');\nconst end = cleaned.lastIndexOf('}');\nif (start !== -1 && end !== -1) {\n  cleaned = cleaned.substring(start, end + 1);\n  try { const parsed = JSON.parse(cleaned); agencyPrograms = parsed.agency_programs || {}; }\n  catch(e) { agencyPrograms = { parse_error: e.message, raw_snippet: raw.substring(0, 500) }; }\n} else {\n  agencyPrograms = { error: 'No JSON object found in deep dive response', raw_snippet: raw.substring(0, 500) };\n}\nreturn [{ json: { top_clients: priorData.top_clients || [], agency_programs: agencyPrograms, generated_at: priorData.generated_at || new Date().toISOString() }}];\n"},"typeVersion":2},{"id":"d9923441-d7bb-48db-b08a-239770c66c7c","name":"Transform Agency Programs","type":"n8n-nodes-base.code","position":[4704,0],"parameters":{"jsCode":"const data = $input.first().json;\nconst raw = data.agency_programs || {};\nfunction parseBudgetToUSD(s) {\n  if (!s || typeof s !== 'string') return 0;\n  const m = s.match(/\\$([\\d.]+)\\s*(B|M|K)?/i);\n  if (!m) return 0;\n  const num = parseFloat(m[1]);\n  const unit = (m[2] || 'M').toUpperCase();\n  if (unit === 'B') return Math.round(num * 1e9);\n  if (unit === 'M') return Math.round(num * 1e6);\n  if (unit === 'K') return Math.round(num * 1e3);\n  return Math.round(num);\n}\nconst enrichedClients = (data.top_clients || []).map(client => ({ ...client, fy_budget_usd: parseBudgetToUSD(client.fy_budget), gda_addressable_usd: parseBudgetToUSD(client.gda_addressable) }));\nif (raw.parse_error || raw.error) {\n  return [{ json: { top_clients: enrichedClients, agency_programs: [], agency_programs_error: raw, generated_at: data.generated_at || new Date().toISOString() }}];\n}\nconst agencyArray = Object.entries(raw).map(([agencyName, offices]) => {\n  const commands = Object.entries(offices || {}).map(([commandName, commandData]) => ({ command: commandName, mission: (commandData && commandData.mission) || '', programs: (commandData && commandData.programs) || [] }));\n  return { agency: agencyName, commands: commands };\n});\nreturn [{ json: { top_clients: enrichedClients, agency_programs: agencyArray, generated_at: data.generated_at || new Date().toISOString() }}];"},"typeVersion":2},{"id":"063d573a-28f4-476c-a7ac-eaa118fc0dfc","name":"Log to Intelligence Log","type":"n8n-nodes-base.postgres","position":[5152,0],"parameters":{"query":"INSERT INTO intelligence_log (workflow_name, session_id, target, summary, generated_at) VALUES ('Dashboard Intelligence - Sub', 'sub-workflow', 'dashboard-intel', 'async refresh', NOW())","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"cache-write-001","name":"Write Cache","type":"n8n-nodes-base.postgres","position":[4928,0],"parameters":{"query":"INSERT INTO gda_dashboard_intel_cache (data, created_at) VALUES ('{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb, NOW())","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"webhook-trigger-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[0,96],"webhookId":"e54e9d0f-abd4-4645-91e5-b727ac888bdd","parameters":{"path":"gda-sub-dashboard-intel-deep","options":{},"httpMethod":"POST","responseMode":"onReceived","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1}], "connections" : {"Fetch SOCOM Spending":{"main":[[{"node":"Fetch TRADOC Spending","type":"main","index":0}]]},"Fetch TRADOC Spending":{"main":[[{"node":"Fetch PEO STRI Spending","type":"main","index":0}]]},"Fetch PEO STRI Spending":{"main":[[{"node":"Fetch AFC Spending","type":"main","index":0}]]},"Fetch AFC Spending":{"main":[[{"node":"Fetch INSCOM Spending","type":"main","index":0}]]},"Fetch INSCOM Spending":{"main":[[{"node":"Fetch CYBERCOM Spending","type":"main","index":0}]]},"Fetch CYBERCOM Spending":{"main":[[{"node":"Fetch DLA Spending","type":"main","index":0}]]},"Fetch DLA Spending":{"main":[[{"node":"Tavily - TRADOC Budget","type":"main","index":0}]]},"Tavily - TRADOC Budget":{"main":[[{"node":"Tavily - SOCOM Spending","type":"main","index":0}]]},"Tavily - SOCOM Spending":{"main":[[{"node":"Tavily - PEO STRI Budget","type":"main","index":0}]]},"Tavily - PEO STRI Budget":{"main":[[{"node":"GOVWIN_CREDENTIALS - Get Token","type":"main","index":0}]]},"GOVWIN_CREDENTIALS - Get Token":{"main":[[{"node":"GOVWIN_CREDENTIALS - Search Opportunities","type":"main","index":0}]]},"GOVWIN_CREDENTIALS - Search Opportunities":{"main":[[{"node":"GOVWIN_CREDENTIALS - Filter & Cache","type":"main","index":0}]]},"GOVWIN_CREDENTIALS - Filter & Cache":{"main":[[{"node":"Combine API Results","type":"main","index":0}]]},"GOVWIN_CREDENTIALS - Rate Limiter":{"main":[[{"node":"GOVWIN_CREDENTIALS - Cache Check","type":"main","index":0}]]},"Combine API Results":{"main":[[{"node":"Analyze with Claude","type":"main","index":0}]]},"Analyze with Claude":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Build Program Prompt","type":"main","index":0}]]},"Build Program Prompt":{"main":[[{"node":"Deep Dive with Claude","type":"main","index":0}]]},"Deep Dive with Claude":{"main":[[{"node":"Merge Final Response","type":"main","index":0}]]},"Merge Final Response":{"main":[[{"node":"Transform Agency Programs","type":"main","index":0}]]},"Transform Agency Programs":{"main":[[{"node":"Write Cache","type":"main","index":0}]]},"Write Cache":{"main":[[{"node":"Log to Intelligence Log","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Fetch SOCOM Spending","type":"main","index":0},{"node":"GOVWIN_CREDENTIALS - Rate Limiter","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","executionTimeout":300,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-13T15:41:12.207+00:00"}
