docs/n8n-triage/workflows/GDA.api.agentic-chat___jalin8peBLddjsEa.json
{"id" : "jalin8peBLddjsEa", "name" : "GDA.api.agentic-chat", "active" : false, "nodes" : [{"id":"chat-wh","name":"Chat Webhook","onError":"continueRegularOutput","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{},"path":"gda-chat-v2","responseMode":"responseNode"},"position":[0,300],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"gda-chat","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"load-history","name":"Load Chat History","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [$json.body.session_id || 'default'] }}"},"query":"CREATE TABLE IF NOT EXISTS gda_chat_history (\n  id SERIAL PRIMARY KEY,\n  session_id TEXT NOT NULL,\n  role TEXT NOT NULL,\n  content TEXT NOT NULL,\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\nSELECT role, content FROM gda_chat_history\nWHERE session_id = $1\nORDER BY created_at DESC LIMIT 10"},"position":[240,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"build-context","name":"Build Context","parameters":{"jsCode":"const trigger = $('Chat Webhook').first().json;\nconst message = trigger.body.message || '';\nconst sessionId = trigger.body.session_id || 'default';\n\n// Build chat history from last 10 messages (they come DESC, reverse them)\nconst historyRows = $input.all().filter(function(item) { return item.json.role; });\nconst history = [];\nfor (var i = historyRows.length - 1; i >= 0; i--) {\n  history.push({ role: historyRows[i].json.role, content: historyRows[i].json.content });\n}\n\n// Add current user message\nhistory.push({ role: 'user', content: message });\n\nreturn [{ json: {\n  message: message,\n  session_id: sessionId,\n  history: history,\n  history_count: history.length\n} }];"},"position":[480,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"claude-agent","name":"Claude Agent","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ (function() {\n  var msg = $('Build Context').first().json.message;\n  var history = $('Build Context').first().json.history || [];\n  var ctx = $('Load Live Context').first().json || {};\n\n  var topPlans = '';\n  try {\n    var plans = typeof ctx.top_plans === 'string' ? JSON.parse(ctx.top_plans) : (ctx.top_plans || []);\n    topPlans = plans.map(function(p) { return '- ' + p.opp_title + ' | ' + p.agency + ' | ' + (p.contract_value||'?') + ' | Stage: ' + (p.cap_stage||'?') + ' | PWin: ' + (p.pwin||'?') + '%'; }).join('\\n');\n  } catch(e) { topPlans = 'unavailable'; }\n\n  var deadlines = '';\n  try {\n    var dl = typeof ctx.upcoming_deadlines === 'string' ? JSON.parse(ctx.upcoming_deadlines) : (ctx.upcoming_deadlines || []);\n    deadlines = dl.map(function(d) { return '- ' + d.opp_title + ' | ' + d.agency + ' | Due: ' + d.deadline; }).join('\\n');\n  } catch(e) { deadlines = 'none'; }\n\n  var systemPrompt = 'You are the GDA Command intelligence assistant for Georgetown Defense Analytics (GDA). GDA is a mid-tier defense contractor operating under Envision Innovative Solutions (Enable/OU3), PD Systems (Train), and Riverstone Enterprise Solutions (Protect). Revenue target: $100M. FY26 AOP: $42.8M.\\n\\nCore customers: TRADOC, PEO STRI, SOCOM, INSCOM, APG/C5ISR Center, CYBERCOM, DISA, MDA, FAA.\\n\\n=== LIVE PLATFORM SNAPSHOT (as of today) ===\\nActive pipeline: ' + (ctx.active_opps||'?') + ' opps | $' + (ctx.pipeline_m||'?') + 'M total\\nPursuing: ' + (ctx.pursue_count||'?') + ' opps | $' + (ctx.pursue_value_m||'?') + 'M\\nActive capture plans: ' + (ctx.active_plans||'?') + '\\nDeadlines in 30 days: ' + (ctx.deadlines_30d||0) + '\\n\\nTop capture plans by TCV:\\n' + (topPlans||'none') + '\\n\\nUpcoming deadlines:\\n' + (deadlines||'none') + '\\n\\n=== KNOWLEDGE BASE ===\\n- 764+ semantic vectors (opps, capture plans, deep research, contracts)\\n- 4 deep research reports: Leidos, SAIC, Booz Allen, TRADOC\\n- Active contracts: $235.7M ceiling across 5 contracts\\n- 35+ competitor profiles\\n\\nBe concise, strategic, actionable. Reference specific data from the snapshot above. If asked about something beyond the snapshot, say so and suggest Deep Research.\\n\\n=== AVAILABLE AI TOOLS ===\\n- Incumbent Analysis / Win Themes (AN-1): POST https://n8n.csr-llc.tech/webhook/gda-an1 with {opp_id, agency, incumbent} to analyze win/loss patterns and surface win themes for a specific opportunity. Use when user asks about incumbent, win themes, or competitive positioning for a specific opp.\\n\\nYou are talking to Shawn, President of Envision. Match his terse directive style. Direct answers, no pleasantries, no questions back.';\n\n  return JSON.stringify({\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 2000,\n    system: systemPrompt,\n    messages: history\n  });\n})() }}","method":"POST","options":{"timeout":30000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.anthropic.com/v1/messages","position":[960,300]},"position":[720,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"save-history","name":"Save to History","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ (function() {\n  var sessionId = $('Build Context').first().json.session_id;\n  var userMsg = $('Build Context').first().json.message;\n  var assistantMsg = $input.first().json.content ? $input.first().json.content[0].text : 'No response';\n  return [sessionId, 'user', userMsg, sessionId, 'assistant', assistantMsg];\n})() }}"},"query":"INSERT INTO gda_chat_history (session_id, role, content) VALUES ($1, $2, $3);\nINSERT INTO gda_chat_history (session_id, role, content) VALUES ($4, $5, $6);\nSELECT $6 as response"},"position":[960,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"chat-response","name":"Chat Response","parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"={{ JSON.stringify({\n  response: $input.first().json.response || ($('Claude Agent').first().json.content ? $('Claude Agent').first().json.content[0].text : 'No response generated'),\n  session_id: $('Build Context').first().json.session_id,\n  history_length: $('Build Context').first().json.history_count + 1\n}) }}"},"position":[1200,300],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"live-ctx","name":"Load Live Context","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[720,300],"parameters":{"operation":"executeQuery","options":{},"query":"SELECT\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won')) as active_opps,\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won') AND gda_label='PURSUE') as pursue_count,\n  (SELECT ROUND(COALESCE(SUM(estimated_value),0)/1000000.0,1) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won') AND gda_label='PURSUE') as pursue_value_m,\n  (SELECT ROUND(COALESCE(SUM(estimated_value),0)/1000000.0,1) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won')) as pipeline_m,\n  (SELECT COUNT(*) FROM gda_capture_plans WHERE plan_data->>'stage' NOT IN ('Pass')) as active_plans,\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE response_deadline IS NOT NULL AND response_deadline::date BETWEEN CURRENT_DATE AND CURRENT_DATE + 30) as deadlines_30d,\n  (SELECT COALESCE(json_agg(row_to_json(t)),'[]'::json) FROM (SELECT opp_title, agency, contract_value, plan_data->>'stage' as cap_stage, plan_data->>'pwin' as pwin FROM gda_capture_plans WHERE plan_data->>'stage' NOT IN ('Pass') ORDER BY CASE WHEN contract_value ILIKE '%M' THEN REPLACE(contract_value,'M','')::numeric*1000000 ELSE NULLIF(contract_value,'')::numeric END DESC NULLS LAST LIMIT 8) t) as top_plans,\n  (SELECT COALESCE(json_agg(row_to_json(d)),'[]'::json) FROM (SELECT opp_title, agency, response_deadline::date as deadline FROM gda_opportunity_tracker WHERE response_deadline IS NOT NULL AND response_deadline::date BETWEEN CURRENT_DATE AND CURRENT_DATE + 30 ORDER BY response_deadline LIMIT 5) d) as upcoming_deadlines"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"}], "connections" : {"Chat Webhook":{"main":[[{"index":0,"node":"Load Chat History","type":"main"}]]},"Claude Agent":{"main":[[{"index":0,"node":"Save to History","type":"main"}]]},"Load Chat History":{"main":[[{"index":0,"node":"Build Context","type":"main"}]]},"Save to History":{"main":[[{"index":0,"node":"Chat Response","type":"main"}]]},"Build Context":{"main":[[{"node":"Load Live Context","type":"main","index":0}]]},"Load Live Context":{"main":[[{"node":"Claude Agent","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-13T15:41:18.305+00:00"}
