docs/n8n-triage/workflows/GDA.event.bidirectional-sync___3sFvFJwP0xlihoLj.json
{"id" : "3sFvFJwP0xlihoLj", "name" : "GDA.event.bidirectional-sync", "active" : false, "nodes" : [{"id":"wh-sync","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"webhookId":"b2c3d4e5-f6a7-4890-bcde-f01234567890","parameters":{"path":"gda-bidi-sync","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"dir-1","name":"Determine Direction","type":"n8n-nodes-base.code","position":[420,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nvar body = $input.first().json.body || $input.first().json;\nvar auth = body.auth_key || '';\nif (auth !== $env.GDA_API_KEY_2026) return [{json:{error:'Unauthorized',direction:'none'}}];\n\nvar direction = body.direction || 'unknown';\nvar source = body.source || 'unknown';\nvar planId = body.plan_id || null;\nvar oppId = body.opp_id || null;\nvar changes = body.changes || {};\n\n// Determine sync direction\nif (direction === 'cap_to_opp' && planId) {\n  // Capture plan was saved -> sync key fields to gda_opportunity_tracker\n  var fields = [];\n  var setClauses = [];\n  var opp = changes.opportunity || '';\n  var agency = changes.agency || '';\n  var cv = changes.total_contract_value || changes.contract_value || '';\n  var stage = changes.stage || '';\n  var pwin = changes.pwin || '';\n  var sol = changes.solicitation_number || '';\n  \n  if (opp) { setClauses.push(\"opp_title = '\" + opp.replace(/'/g,\"''\") + \"'\"); fields.push('opp_title'); }\n  if (agency) { setClauses.push(\"agency = '\" + agency.replace(/'/g,\"''\") + \"'\"); fields.push('agency'); }\n  if (cv) { setClauses.push(\"estimated_value = \" + parseFloat(String(cv).replace(/[$,]/g,''))); fields.push('estimated_value'); }\n  if (pwin) { setClauses.push(\"gda_score = \" + parseInt(pwin)); fields.push('gda_score'); }\n  if (sol) { setClauses.push(\"solicitation_number = '\" + sol.replace(/'/g,\"''\") + \"'\"); fields.push('solicitation_number'); }\n  \n  setClauses.push(\"updated_at = NOW()\");\n  \n  // Find matching opp by plan's opportunity name or solicitation\n  var whereClause = oppId ? 'id = ' + oppId : \"(opp_title ILIKE '\" + (opp||'NOMATCH').replace(/'/g,\"''\") + \"' OR solicitation_number = '\" + (sol||'NOMATCH').replace(/'/g,\"''\") + \"')\";\n  \n  var sql = 'UPDATE gda_opportunity_tracker SET ' + setClauses.join(', ') + ' WHERE ' + whereClause;\n  \n  return [{json:{direction:'cap_to_opp', sql:sql, plan_id:planId, fields_synced:fields, source:source, timestamp:new Date().toISOString()}}];\n}\nelse if (direction === 'opp_to_cap' && oppId) {\n  // Opp tracker was updated -> sync to linked capture plan\n  var capChanges = {};\n  if (changes.opp_title) capChanges.opportunity = changes.opp_title;\n  if (changes.agency) capChanges.agency = changes.agency;\n  if (changes.estimated_value) capChanges.total_contract_value = String(changes.estimated_value);\n  if (changes.gda_score) capChanges.pwin = String(changes.gda_score);\n  if (changes.response_deadline) capChanges.rfp_date = changes.response_deadline;\n  if (changes.solicitation_number) capChanges.solicitation_number = changes.solicitation_number;\n  \n  var jsonPatch = JSON.stringify(capChanges).replace(/'/g,\"''\");\n  var sql2 = \"UPDATE gda_capture_plans SET plan_data = plan_data || '\" + jsonPatch + \"'::jsonb WHERE opportunity ILIKE '%\" + (changes.opp_title||'NOMATCH').replace(/'/g,\"''\") + \"%' OR id = \" + (planId || 0);\n  \n  return [{json:{direction:'opp_to_cap', sql:sql2, opp_id:oppId, fields_synced:Object.keys(capChanges), source:source, timestamp:new Date().toISOString()}}];\n}\n\nreturn [{json:{direction:'none', error:'Invalid direction or missing IDs', source:source}}];"},"typeVersion":2},{"id":"sync-cap","name":"Sync Cap to Opp","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[700,200],"parameters":{"query":"={{ $json.sql }}","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"sync-opp","name":"Sync Opp to Cap","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[700,400],"parameters":{"query":"={{ $json.sql }}","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"audit-1","name":"Audit Log","type":"n8n-nodes-base.postgres","onError":"continueRegularOutput","position":[920,300],"parameters":{"query":"INSERT INTO gda_stage_audit_log (entity_type, entity_id, action, old_value, new_value, source, created_at) VALUES ('sync', $1, $2, '', $3, $4, NOW())","options":{"queryParameters":"={{ JSON.stringify([$json.plan_id||'', $json.direction||'unknown', JSON.stringify($json.changes||{}), 'bidi-sync']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"resp-1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1140,300],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'synced', direction: $json.direction || 'none', fields: $json.fields_synced || [], timestamp: new Date().toISOString() }) }}"},"typeVersion":1.1}], "connections" : {"Audit Log":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Determine Direction":{"main":[[{"index":0,"node":"Sync Cap to Opp","type":"main"}],[{"index":0,"node":"Sync Opp to Cap","type":"main"}],[{"index":0,"node":"Respond","type":"main"}]]},"Sync Cap to Opp":{"main":[[{"index":0,"node":"Audit Log","type":"main"}]]},"Sync Opp to Cap":{"main":[[{"index":0,"node":"Audit Log","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Determine Direction","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:57.161+00:00"}
