docs/n8n-triage/workflows/GDA.cron.auto-opp-analysis___IGw8FBZhZwnwiIe1.json
{"id" : "IGw8FBZhZwnwiIe1", "name" : "GDA.cron.auto-opp-analysis", "active" : false, "nodes" : [{"id":"sched-1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"expression":"5,35 * * * *","field":"cronExpression"}]}},"position":[0,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"load-unanalyzed","name":"Load Unanalyzed Opps","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT id, opp_title, agency, dept, naics_code, set_aside, estimated_value,\n  solicitation_number, response_deadline, place_of_performance, data_source,\n  stage, gda_score, gda_label\nFROM gda_opportunity_tracker\nWHERE (ai_analysis IS NULL OR ai_analysis = '' OR gda_score IS NULL OR gda_score = 0)\n  AND opp_title IS NOT NULL AND opp_title != ''\n  AND stage NOT IN ('Won', 'Lost', 'No-Bid', 'Cancelled', 'No-Go')\n  AND (naics_code IS NULL OR naics_code SIMILAR TO '(541|517|518|561|611)%')\nORDER BY estimated_value DESC NULLS LAST\nLIMIT 10"},"position":[240,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"has-unanalyzed","name":"Has Unanalyzed?","parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0 || !items[0].json.id) return [];\nreturn items;"},"position":[480,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"analyze-each","name":"Analyze Each Opp","parameters":{"batchSize":1,"options":{}},"position":[720,300],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"id":"build-prompt","name":"Build Analysis Prompt","parameters":{"jsCode":"var opp = $json;\nvar prompt = 'You are scoring federal opportunities for Georgetown Defense Analytics (GDA/Envision Innovative Solutions).\\n\\n';\nprompt += 'GDA PROFILE:\\n';\nprompt += '- Mid-tier defense IT/engineering services firm ($100M revenue target)\\n';\nprompt += '- 3 OUs: Envision (C5ISR/SETA/engineering at APG), PD Systems (training/simulation), Riverstone (cybersecurity)\\n';\nprompt += '- Core work: SETA, systems engineering, software dev, IT support, training/sim, cyber operations, intelligence analysis\\n';\nprompt += '- Target customers: SOCOM, TRADOC/PEO STRI, AFC, INSCOM, CYBERCOM, DISA, C5ISR Center, CECOM\\n';\nprompt += '- GDA is LARGE business on most revenue NAICS (SBA 5yr avg $54.1M)\\n';\nprompt += '- Active contracts: IEW&S SETA (recompete), STEP, PM MC Product Support, C5ISR Sustaining Eng, DEVCOM Eng Support\\n';\nprompt += '- IDIQs: RS3 SB (prime), MDA SHIELD (sub), targeting OASIS+, SEWP VI\\n\\n';\nprompt += 'GDA DOES NOT DO: facilities maintenance, construction, plumbing, HVAC, painting, elevator repair, janitorial, food service, vehicle maintenance, grounds keeping, roofing, physical security guards, laundry, fuel delivery, medical clinical services, or hardware/parts procurement.\\n\\n';\nprompt += 'OPPORTUNITY:\\n';\nprompt += 'Title: ' + (opp.opp_title || 'Unknown') + '\\n';\nprompt += 'Agency: ' + (opp.agency || 'Unknown') + '\\n';\nprompt += 'NAICS: ' + (opp.naics_code || 'Unknown') + '\\n';\nprompt += 'Set-Aside: ' + (opp.set_aside || 'None') + '\\n';\nprompt += 'Value: $' + ((opp.estimated_value || 0) / 1000000).toFixed(1) + 'M\\n';\nprompt += 'Deadline: ' + (opp.response_deadline || 'TBD') + '\\n';\nprompt += 'Location: ' + (opp.place_of_performance || 'Unknown') + '\\n\\n';\nprompt += 'SCORING (0-100):\\n';\nprompt += '- Domain Fit (40pts): Is this IT/engineering/SETA/cyber/training work GDA actually does? Score 0 if facilities/construction/hardware.\\n';\nprompt += '- Competitive Position (30pts): Target agency overlap? GDA past performance? Set-aside fit (GDA is LARGE)?\\n';\nprompt += '- Urgency (15pts): Is deadline actionable? Is this a recompete GDA should track?\\n';\nprompt += '- Strategic Value (15pts): Revenue size fit ($5M-$100M sweet spot)? Grows GDA footprint in target agencies?\\n\\n';\nprompt += 'LABELS: PURSUE (80+, actively bid), EVALUATE (60-79, worth tracking), MONITOR (40-59, watch only), PASS (<40, not GDA work)\\n';\nprompt += 'If the work is NOT IT/engineering/SETA/cyber/training — score it PASS regardless of other factors.\\n\\n';\nprompt += 'Respond ONLY with JSON (no markdown, no backticks):\\n{\\n  \"gda_score\": 0-100,\\n  \"gda_label\": \"PURSUE|EVALUATE|MONITOR|PASS\",\\n  \"ai_analysis\": \"2-3 sentence analysis of why this does or does not fit GDA\",\\n  \"assigned_ou\": \"Envision|PD Systems|Riverstone|Cross-OU\",\\n  \"sb_qualified\": \"Yes|No|Partial\",\\n  \"likely_competitors\": \"comma-separated top 3 likely competitors\"\\n}';\n\nreturn [{ json: { opp_id: opp.id, opp_title: opp.opp_title, prompt: prompt } }];"},"position":[960,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"claude-analyze","name":"Claude Analyze","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 500,\n  messages: [{ role: 'user', content: $json.prompt }]\n}) }}","method":"POST","options":{"timeout":20000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.anthropic.com/v1/messages"},"position":[1200,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"save-analysis","name":"Save Analysis","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"UPDATE gda_opportunity_tracker SET\n  gda_score = ({{ (function() { try { var r = JSON.parse(($input.first().json.content ? $input.first().json.content[0].text : '{}').replace(/```json\\n?|```/g,'').trim()); return r.gda_score || 0; } catch(e) { return 0; } })() }})::int,\n  gda_label = '{{ (function() { try { var r = JSON.parse(($input.first().json.content ? $input.first().json.content[0].text : '{}').replace(/```json\\n?|```/g,'').trim()); return (r.gda_label || 'MONITOR').replace(/'/g,\"''\"); } catch(e) { return 'MONITOR'; } })() }}',\n  ai_analysis = '{{ (function() { try { var r = JSON.parse(($input.first().json.content ? $input.first().json.content[0].text : '{}').replace(/```json\\n?|```/g,'').trim()); return (r.ai_analysis || '').replace(/'/g,\"''\").replace(/\\n/g,' '); } catch(e) { return 'Parse error'; } })() }}',\n  assigned_ou = '{{ (function() { try { var r = JSON.parse(($input.first().json.content ? $input.first().json.content[0].text : '{}').replace(/```json\\n?|```/g,'').trim()); return (r.assigned_ou || 'Envision').replace(/'/g,\"''\"); } catch(e) { return 'Envision'; } })() }}',\n  sb_qualified = '{{ (function() { try { var r = JSON.parse(($input.first().json.content ? $input.first().json.content[0].text : '{}').replace(/```json\\n?|```/g,'').trim()); return (r.sb_qualified || 'Unknown').replace(/'/g,\"''\"); } catch(e) { return 'Unknown'; } })() }}',\n  likely_competitors = '{{ (function() { try { var r = JSON.parse(($input.first().json.content ? $input.first().json.content[0].text : '{}').replace(/```json\\n?|```/g,'').trim()); return (r.likely_competitors || '').replace(/'/g,\"''\"); } catch(e) { return ''; } })() }}'\nWHERE id = {{ $('Build Analysis Prompt').first().json.opp_id }}\nRETURNING id, opp_title, gda_score, gda_label"},"position":[1440,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"analysis-complete","name":"Analysis Complete","parameters":{"jsCode":"var all = $('Save Analysis').all();\nvar count = all.length;\nreturn [{ json: { status: 'complete', opps_analyzed: count, timestamp: new Date().toISOString() } }];"},"position":[960,500],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Analyze Each Opp":{"main":[[{"index":0,"node":"Analysis Complete","type":"main"}],[{"index":0,"node":"Build Analysis Prompt","type":"main"}]]},"Build Analysis Prompt":{"main":[[{"index":0,"node":"Claude Analyze","type":"main"}]]},"Claude Analyze":{"main":[[{"index":0,"node":"Save Analysis","type":"main"}]]},"Has Unanalyzed?":{"main":[[{"index":0,"node":"Analyze Each Opp","type":"main"}]]},"Load Unanalyzed Opps":{"main":[[{"index":0,"node":"Has Unanalyzed?","type":"main"}]]},"Save Analysis":{"main":[[{"index":0,"node":"Analyze Each Opp","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Load Unanalyzed Opps","type":"main"}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all","saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:15.796+00:00"}
