docs/n8n-triage/workflows/GDA.cron.on-ramp-scanner___b3PJhbe4cSADjzcz.json
{"id" : "b3PJhbe4cSADjzcz", "name" : "GDA.cron.on-ramp-scanner", "active" : false, "nodes" : [{"id":"cron1","name":"Cron Trigger","type":"n8n-nodes-base.scheduleTrigger","disabled":true,"position":[250,300],"parameters":{"rule":{"interval":[{"daysInterval":1,"triggerAtHour":6,"triggerAtMinute":30}]}},"typeVersion":1.2},{"id":"code1","name":"Get Target IDIQs","type":"n8n-nodes-base.code","position":[470,300],"parameters":{"jsCode":"// 14 target IDIQs to scan for open-season/on-ramp announcements\nconst targets = [\n  {name: 'Alliant 3 GWAC', agency: 'GSA', keywords: 'Alliant 3 GWAC on-ramp open season'},\n  {name: 'MAPS', agency: 'ACC APG', keywords: 'MAPS Multiple Award Professional Services RS3 recompete'},\n  {name: '8(a) STARS III', agency: 'GSA', keywords: '8a STARS III GWAC on-ramp'},\n  {name: 'CIO-SP4', agency: 'NIH', keywords: 'CIO-SP4 NITAAC follow-on'},\n  {name: 'BNATCS', agency: 'FAA', keywords: 'BNATCS FAA air traffic control'},\n  {name: 'ITES-3S', agency: 'Army', keywords: 'ITES-3S Army enterprise IT'},\n  {name: 'AMAC', agency: 'AFRL', keywords: 'AMAC AFRL research MAC'},\n  {name: 'SETIS', agency: 'FAA', keywords: 'SETIS FAA systems engineering'},\n  {name: 'SOFGSD', agency: 'SOCOM', keywords: 'SOFGSD SOCOM global services'},\n  {name: 'SITEC III', agency: 'SOCOM', keywords: 'SITEC III SOCOM IT'},\n  {name: 'VETS 2', agency: 'GSA', keywords: 'VETS 2 SDVOSB GWAC'},\n  {name: 'SeaPort-NxG', agency: 'Navy', keywords: 'SeaPort NxG Navy on-ramp rolling'},\n  {name: 'ENCORE III', agency: 'DISA', keywords: 'ENCORE III DISA enterprise IT'},\n  {name: 'SEWP VI', agency: 'NASA', keywords: 'SEWP VI NASA IT products'}\n];\n\nreturn targets.map(t => ({ json: t }));"},"typeVersion":2},{"id":"http1","name":"Search SAM for On-Ramps","type":"n8n-nodes-base.httpRequest","position":[690,300],"parameters":{"url":"=https://api.sam.gov/opportunities/v2/search?api_key={{ $env.GDA_SAM_API_KEY }}&limit=5&postedFrom={{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}&keyword={{ encodeURIComponent($json.keywords) }}&ptype=o,p,k","method":"GET","options":{"timeout":30000,"batching":{"batch":{"batchSize":3,"batchInterval":5000}}}},"typeVersion":4.2,"continueOnFail":true},{"id":"code2","name":"Filter New Results","type":"n8n-nodes-base.code","position":[910,300],"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nconst ON_RAMP_KEYWORDS = [\n  'on-ramp', 'on ramp', 'onramp',\n  'open season', 'open-season',\n  'additional award', 'additional awardee',\n  'new entrant', 'new contractor',\n  'pool expansion', 'pool addition',\n  'add contractor', 'adding contractor',\n  'fair opportunity', 'fair consideration',\n  'reopen', 're-open', 'reopening',\n  'modify holder list', 'add to holder',\n  'multiple award', 'mac expansion',\n  'idiq modification', 'vehicle modification',\n  'sources sought', 'market research',\n  'rfi', 'request for information',\n  'draft rfp', 'draft solicitation',\n  'pre-solicitation', 'presolicitation'\n];\nfor (const item of items) {\n  const data = item.json;\n  const opps = data.opportunitiesData || data.body?.opportunitiesData || [];\n  const idiq = $('Get Target IDIQs').item.json;\n  if (opps && opps.length > 0) {\n    for (const opp of opps) {\n      const title = (opp.title || '').toLowerCase();\n      const desc = (opp.description || '').toLowerCase();\n      const combined = title + ' ' + desc;\n      const matchedKeywords = ON_RAMP_KEYWORDS.filter(kw => combined.includes(kw));\n      const isOnRamp = matchedKeywords.length > 0;\n      const confidence = isOnRamp ? Math.min(99, 50 + matchedKeywords.length * 15) : 30;\n      if (isOnRamp || opps.length <= 3) {\n        results.push({ json: {\n          idiq_name: idiq.name, idiq_agency: idiq.agency,\n          opp_title: opp.title, opp_id: opp.noticeId,\n          posted_date: opp.postedDate, response_deadline: opp.responseDeadLine,\n          url: 'https://sam.gov/opp/' + (opp.noticeId || ''),\n          is_on_ramp: isOnRamp, matched_keywords: matchedKeywords.join(', '),\n          confidence: confidence, type: opp.type || 'unknown'\n        }});\n      }\n    }\n  }\n}\nif (results.length === 0) return [{ json: { no_results: true } }];\nreturn results;"},"typeVersion":2},{"id":"pg1","name":"Alert and Save","type":"n8n-nodes-base.postgres","position":[1130,300],"parameters":{"query":"INSERT INTO gda_intel_feed (title, source, category, relevance_score, url, body, created_at) SELECT 'ON-RAMP ALERT: ' || '{{ $json.idiq_name }}' || ' - ' || '{{ $json.opp_title }}', 'SAM.gov On-Ramp Scanner', 'on-ramp', 99, '{{ $json.url }}', 'IDIQ: {{ $json.idiq_name }} ({{ $json.idiq_agency }}) | Posted: {{ $json.posted_date }} | Deadline: {{ $json.response_deadline }} | Is On-Ramp: {{ $json.is_on_ramp }}', NOW() WHERE '{{ $json.no_results }}' IS DISTINCT FROM 'true' ON CONFLICT DO NOTHING","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"wh-onramp","name":"Webhook","type":"n8n-nodes-base.webhook","position":[250,500],"webhookId":"a231eabf-b49f-4541-b49c-1e726adcd9e1","parameters":{"path":"gda-onramp-scan","options":{},"httpMethod":"POST","responseMode":"lastNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2}], "connections" : {"Cron Trigger":{"main":[[{"node":"Get Target IDIQs","type":"main","index":0}]]},"Get Target IDIQs":{"main":[[{"node":"Search SAM for On-Ramps","type":"main","index":0}]]},"Search SAM for On-Ramps":{"main":[[{"node":"Filter New Results","type":"main","index":0}]]},"Filter New Results":{"main":[[{"node":"Alert and Save","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Target IDIQs","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:55.411+00:00"}
