docs/n8n-triage/workflows/GDA.api.clause-library___AZLL3i2lyMEsARaK.json
{"id" : "AZLL3i2lyMEsARaK", "name" : "GDA.api.clause-library", "active" : false, "nodes" : [{"id":"cl-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,400],"webhookId":"gda-clause-lib-001","parameters":{"path":"gda-clause-library","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"cl-route","name":"Route Action","type":"n8n-nodes-base.code","position":[420,400],"parameters":{"jsCode":"var body = $input.first().json.body || $input.first().json;\nvar action = body.action || 'default';\n// Route: output 0=init, 1=search, 2=match, 3=default\nvar idx = {'init':0,'search':1,'match':2}[action];\nif (idx === undefined) idx = 3;\nvar items = [[],[],[],[]];\nitems[idx].push({json: $input.first().json});\nreturn items;"},"typeVersion":2},{"id":"cl-build","name":"Build Clause Library","type":"n8n-nodes-base.code","position":[700,200],"parameters":{"jsCode":"// Core FAR/DFARS clauses relevant to GDA services contracts\nvar clauses = [\n  {clause:'FAR 52.204-21',title:'Basic Safeguarding of Covered Contractor Info',category:'Cybersecurity',response:'GDA maintains NIST SP 800-171 compliant security controls across all information systems. Annual assessments conducted.'},\n  {clause:'FAR 52.204-25',title:'Prohibition on Contracting for Hardware/Software from Covered Sources',category:'Supply Chain',response:'GDA certifies no use of covered telecommunications equipment or services per Section 889.'},\n  {clause:'DFARS 252.204-7012',title:'Safeguarding Covered Defense Information',category:'Cybersecurity',response:'GDA implements NIST SP 800-171 controls and reports cyber incidents within 72 hours to DoD. CMMC Level 2 assessment in progress.'},\n  {clause:'DFARS 252.204-7019',title:'NIST SP 800-171 DoD Assessment Requirements',category:'Cybersecurity',response:'GDA SPRS score submitted and current. Basic assessment completed within last 3 years.'},\n  {clause:'DFARS 252.204-7020',title:'NIST SP 800-171 DoD Assessment Requirements (Medium/High)',category:'Cybersecurity',response:'GDA prepared for medium/high-level NIST assessment. POA&M maintained for any open items.'},\n  {clause:'FAR 52.219-14',title:'Limitations on Subcontracting',category:'Small Business',response:'GDA monitors subcontracting ratios to ensure compliance. Primary services performed by GDA employees.'},\n  {clause:'FAR 52.222-50',title:'Combating Trafficking in Persons',category:'Ethics',response:'GDA maintains anti-trafficking compliance plan and awareness training for all employees.'},\n  {clause:'FAR 52.224-3',title:'Privacy Training',category:'Privacy',response:'All GDA employees complete annual privacy training. PII handling procedures documented and enforced.'},\n  {clause:'DFARS 252.239-7010',title:'Cloud Computing Services',category:'Cloud',response:'GDA utilizes FedRAMP authorized cloud services. Data residency maintained within CONUS.'},\n  {clause:'FAR 52.215-2',title:'Audit and Records',category:'Accounting',response:'GDA maintains DCAA-compliant accounting system. Records available for audit per contract requirements.'},\n  {clause:'DFARS 252.227-7013',title:'Rights in Technical Data',category:'IP',response:'GDA delivers technical data with appropriate license rights per DFARS. Unlimited rights for government-funded development.'},\n  {clause:'DFARS 252.227-7014',title:'Rights in Computer Software',category:'IP',response:'GDA delivers software with appropriate license rights. Government purpose rights for mixed-funded development.'},\n  {clause:'FAR 52.232-39',title:'Unenforceability of Unauthorized Obligations',category:'Financial',response:'GDA does not recognize unauthorized commitments. All obligations require contracting officer authorization.'},\n  {clause:'DFARS 252.204-7008',title:'Compliance with Safeguarding Requirements',category:'Cybersecurity',response:'GDA agrees to implement NIST SP 800-171 security requirements for covered contractor information systems.'},\n  {clause:'FAR 52.237-3',title:'Continuity of Services',category:'Transition',response:'GDA provides 90-day transition support including knowledge transfer, documentation, and parallel operations.'},\n  {clause:'DFARS 252.232-7003',title:'Electronic Submission of Payment Requests',category:'Financial',response:'GDA submits invoices electronically through WAWF/iRAPT per contract requirements.'},\n  {clause:'FAR 52.245-1',title:'Government Property',category:'Property',response:'GDA maintains government property management system compliant with FAR 45. Annual inventories conducted.'},\n  {clause:'DFARS 252.203-7002',title:'Requirement to Inform Employees of Whistleblower Rights',category:'Ethics',response:'GDA informs all employees of whistleblower protections. Hotline and reporting mechanisms established.'}\n];\n\n// Build SQL\nvar createTable = \"CREATE TABLE IF NOT EXISTS gda_clause_library (id SERIAL PRIMARY KEY, clause_number VARCHAR(50) UNIQUE, title VARCHAR(500), category VARCHAR(100), standard_response TEXT, created_at TIMESTAMP DEFAULT NOW(), updated_at TIMESTAMP DEFAULT NOW())\";\nvar inserts = clauses.map(function(c) {\n  return \"INSERT INTO gda_clause_library (clause_number, title, category, standard_response) VALUES ('\" + c.clause + \"', '\" + c.title.replace(/'/g,\"''\") + \"', '\" + c.category + \"', '\" + c.response.replace(/'/g,\"''\") + \"') ON CONFLICT (clause_number) DO UPDATE SET standard_response = EXCLUDED.standard_response, updated_at = NOW()\";\n});\n\nvar sql = createTable + '; ' + inserts.join('; ') + ';';\nreturn [{json:{sql:sql, clause_count:clauses.length}}];"},"typeVersion":2},{"id":"cl-store","name":"Store Clauses","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[920,200],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{"timeout":15000},"jsonBody":"={{ JSON.stringify({ command: 'docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -c \"' + $json.sql.replace(/\"/g, '\\\\\"') + '\"' }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.4},{"id":"cl-resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1140,200],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', clauses_loaded: $('Build Clause Library').first().json.clause_count, db_result: ($json.content || '').substring(0, 200) }) }}"},"typeVersion":1.1},{"id":"cl-search","name":"Search Clauses","type":"n8n-nodes-base.postgres","position":[700,400],"parameters":{"query":"SELECT * FROM gda_clause_library WHERE clause_number ILIKE $1 OR title ILIKE $2 ORDER BY clause_number LIMIT 50","options":{"queryParameters":"={{ JSON.stringify(['%' + ($json.body.query||'') + '%', '%' + ($json.body.query||'') + '%']) }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"cl-resp-s","name":"Respond Search","type":"n8n-nodes-base.respondToWebhook","position":[920,400],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"allEntries"},"typeVersion":1.1},{"id":"cl-match","name":"Match Clauses to Plan","type":"n8n-nodes-base.code","position":[700,600],"parameters":{"jsCode":"var body = $input.first().json.body || {};\nvar planId = body.plan_id;\nvar contractType = (body.contract_type || '').toUpperCase();\nvar setAside = (body.set_aside || '').toUpperCase();\nvar naics = body.naics || '';\n\n// Determine which clause categories are relevant\nvar categories = ['Cybersecurity','Ethics','Financial','Transition'];\nif (setAside.includes('SMALL')) categories.push('Small Business');\nif (contractType.includes('CLOUD') || naics === '541519') categories.push('Cloud');\nif (contractType.includes('T&M') || contractType.includes('CPFF')) categories.push('Accounting');\ncategories.push('IP','Property','Privacy');\n\nvar categoryList = categories.map(function(c){return \"'\" + c + \"'\";}).join(',');\nvar sql = 'SELECT clause_number, title, category, standard_response FROM gda_clause_library WHERE category IN (' + categoryList + ') ORDER BY clause_number';\n\nreturn [{json:{plan_id:planId, categories:categories, sql:sql}}];"},"typeVersion":2},{"id":"cl-ai-match","name":"AI Match","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[920,600],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{"timeout":15000},"jsonBody":"={{ JSON.stringify({ command: 'docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -t -A -F\"|\" -c \"' + $json.sql.replace(/\"/g, '\\\\\"') + '\"' }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.4},{"id":"cl-resp-m","name":"Respond Match","type":"n8n-nodes-base.respondToWebhook","position":[1140,600],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'matched', plan_id: $('Match Clauses to Plan').first().json.plan_id, categories: $('Match Clauses to Plan').first().json.categories, clauses: ($json.content || '').split('\\n').filter(function(l){return l.trim();}).map(function(l){var p=l.split('|');return {clause:p[0]||'',title:p[1]||'',category:p[2]||'',response:p[3]||''};}) }) }}"},"typeVersion":1.1},{"id":"cl-resp-d","name":"Respond Default","type":"n8n-nodes-base.respondToWebhook","position":[700,800],"parameters":{"options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Unknown action. Use: init, search, or match' }) }}"},"typeVersion":1.1}], "connections" : {"Build Clause Library":{"main":[[{"index":0,"node":"Store Clauses","type":"main"}]]},"Store Clauses":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Route Action","type":"main"}]]},"Route Action":{"main":[[{"index":0,"node":"Build Clause Library","type":"main"}],[{"index":0,"node":"Search Clauses","type":"main"}],[{"index":0,"node":"Match Clauses to Plan","type":"main"}],[{"index":0,"node":"Respond Default","type":"main"}]]},"Search Clauses":{"main":[[{"index":0,"node":"Respond Search","type":"main"}]]},"Match Clauses to Plan":{"main":[[{"index":0,"node":"AI Match","type":"main"}]]},"AI Match":{"main":[[{"index":0,"node":"Respond Match","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:57.818+00:00"}
