docs/n8n-triage/workflows/GDA.cron.pipeline-coverage-check___nvgjYi8wdwF7QDef.json
{"id" : "nvgjYi8wdwF7QDef", "name" : "GDA.cron.pipeline-coverage-check", "active" : false, "nodes" : [{"id":"sched-1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"expression":"0 8 * * 1","field":"cronExpression"}]}},"position":[0,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"analyze-coverage","name":"Analyze Coverage","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT\n  -- Pipeline by stage\n  (SELECT COALESCE(SUM(estimated_value), 0) FROM gda_opportunity_tracker WHERE stage = 'Identified' AND stage NOT IN ('Won','Lost','No-Bid','Cancelled')) as identified_value,\n  (SELECT COALESCE(SUM(estimated_value), 0) FROM gda_opportunity_tracker WHERE stage = 'Qualified' AND stage NOT IN ('Won','Lost','No-Bid','Cancelled')) as qualified_value,\n  (SELECT COALESCE(SUM(estimated_value), 0) FROM gda_opportunity_tracker WHERE stage IN ('Pursuing','Proposal','Submitted') AND stage NOT IN ('Won','Lost','No-Bid','Cancelled')) as active_capture_value,\n  -- Capture plans\n  (SELECT COUNT(*) FROM gda_capture_plans WHERE plan_data->>'stage' IN ('Proposal','Post-Submittal')) as proposals_in_flight,\n  (SELECT COALESCE(SUM(contract_value), 0) FROM gda_capture_plans WHERE plan_data->>'stage' IN ('Proposal','Post-Submittal')) as proposals_value,\n  (SELECT COUNT(*) FROM gda_capture_plans WHERE plan_data->>'priority' = 'Must-Win') as must_wins,\n  -- Weighted pipeline\n  (SELECT COALESCE(SUM(contract_value * CASE WHEN plan_data->>'stage' = 'Interest' THEN 0.10 WHEN plan_data->>'stage' = 'Pursue' THEN 0.25 WHEN plan_data->>'stage' IN ('Go/No-Go','Qualify') THEN 0.50 WHEN plan_data->>'stage' = 'Proposal' THEN 0.75 WHEN plan_data->>'stage' = 'Post-Submittal' THEN 0.90 ELSE 0.05 END), 0) FROM gda_capture_plans) as weighted_pipeline,\n  -- Active contract revenue\n  (SELECT COALESCE(SUM((plan_data->>'allocated_revenue_value')::numeric), 0) FROM gda_capture_plans WHERE plan_data->>'allocated_revenue_value' IS NOT NULL) as total_allocated_revenue"},"position":[240,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"format-coverage","name":"Format Coverage Report","parameters":{"jsCode":"var d = $input.first().json;\nvar target = 42800000; // FY26 AOP\nvar qualifiedReq = target * 5; // Shipley 5x\nvar captureReq = target * 3; // Shipley 3x\n\nvar qualified = (d.qualified_value || 0) + (d.identified_value || 0);\nvar capture = d.active_capture_value || 0;\nvar weighted = d.weighted_pipeline || 0;\nvar allocated = d.total_allocated_revenue || 0;\n\nvar qualCoverage = Math.round((qualified / qualifiedReq) * 100);\nvar capCoverage = Math.round((capture / captureReq) * 100);\nvar weightedCoverage = Math.round((weighted / target) * 100);\n\nvar qualStatus = qualCoverage >= 100 ? '🟢' : qualCoverage >= 75 ? '🟡' : '🔴';\nvar capStatus = capCoverage >= 100 ? '🟢' : capCoverage >= 75 ? '🟡' : '🔴';\n\nvar msg = 'PIPELINE COVERAGE REPORT — Week of ' + new Date().toLocaleDateString('en-US', {month: 'short', day: 'numeric'}) + '\\n';\nmsg += 'OU3 (Envision) FY26 Target: $' + (target/1000000).toFixed(1) + 'M\\n\\n';\nmsg += qualStatus + ' Qualified Pipeline: $' + (qualified/1000000).toFixed(1) + 'M / $' + (qualifiedReq/1000000).toFixed(1) + 'M req (' + qualCoverage + '%)\\n';\nmsg += capStatus + ' Active Capture: $' + (capture/1000000).toFixed(1) + 'M / $' + (captureReq/1000000).toFixed(1) + 'M req (' + capCoverage + '%)\\n';\nmsg += 'Weighted Pipeline: $' + (weighted/1000000).toFixed(1) + 'M (' + weightedCoverage + '% of AOP)\\n';\nmsg += 'Allocated Revenue: $' + (allocated/1000000).toFixed(1) + 'M\\n\\n';\nmsg += 'Proposals: ' + (d.proposals_in_flight || 0) + ' ($' + ((d.proposals_value || 0)/1000000).toFixed(1) + 'M)\\n';\nmsg += 'Must-Wins: ' + (d.must_wins || 0) + '\\n';\n\nreturn [{ json: { message: msg, qual_coverage: qualCoverage, cap_coverage: capCoverage } }];"},"position":[480,300],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"id":"send-coverage","name":"Send Coverage Alert","onError":"continueRegularOutput","parameters":{"additionalFields":{},"chatId":{"__rl":true,"mode":"expression","value":"={{ $env.TELEGRAM_CHAT_ID || '' }}"},"operation":"sendMessage","text":"={{ $json.message }}"},"position":[720,300],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"9c18690e-2dd2-4f5f-bbb8-0e7d80be8f74"}], "connections" : {"Analyze Coverage":{"main":[[{"index":0,"node":"Format Coverage Report","type":"main"}]]},"Format Coverage Report":{"main":[[{"index":0,"node":"Send Coverage Alert","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Analyze Coverage","type":"main"}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all","saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:17.917+00:00"}
