docs/n8n-triage/workflows/GDA.mcp.proxy___8r0ss5z6X3i0yuqi.json
{"id" : "8r0ss5z6X3i0yuqi", "name" : "GDA.mcp.proxy", "active" : false, "nodes" : [{"id":"mcp-wh","name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"gda-mcp-proxy","responseMode":"responseNode","authentication":"headerAuth"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"gda-mcp-proxy-wh1","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"id":"mcp-auth","name":"Auth Check","parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst key = body.mcp_key || '';\nif (key !== $env.GDA_WEBHOOK_HEADER_VALUE_V2) throw new Error('Unauthorized MCP call');\nreturn $input.all();"},"position":[420,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"mcp-route","name":"Route","parameters":{"options":{"fallbackOutput":"extra"},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"deploy"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"}}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"read"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"}}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"grep"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"}}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"write"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"}}}]}},"position":[640,300],"type":"n8n-nodes-base.switch","typeVersion":3.2},{"credentials":{"sshPrivateKey":{"id":"NKOxLo5F81sRNPua","name":"GDA VPS SSH Key"}},"id":"mcp-deploy","name":"Forward Deploy","onError":"continueRegularOutput","parameters":{"authentication":"privateKey"},"position":[900,180],"type":"n8n-nodes-base.ssh","typeVersion":1},{"credentials":{"sshPrivateKey":{"id":"NKOxLo5F81sRNPua","name":"GDA VPS SSH Key"}},"id":"mcp-read","name":"Forward Read","onError":"continueRegularOutput","parameters":{"authentication":"privateKey"},"position":[900,340],"type":"n8n-nodes-base.ssh","typeVersion":1},{"credentials":{"sshPrivateKey":{"id":"NKOxLo5F81sRNPua","name":"GDA VPS SSH Key"}},"id":"mcp-grep","name":"Forward Grep","onError":"continueRegularOutput","parameters":{"authentication":"privateKey"},"position":[900,500],"type":"n8n-nodes-base.ssh","typeVersion":1},{"id":"mcp-respond","name":"Respond","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({status: 'ok', result: $input.first().json.stdout || $input.first().json.stderr || JSON.stringify($input.first().json)}) }}"},"position":[1140,340],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"mcp-write","name":"Forward Write","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[900,660],"parameters":{"authentication":"privateKey"},"credentials":{"sshPrivateKey":{"id":"NKOxLo5F81sRNPua","name":"GDA VPS SSH Key"}},"onError":"continueRegularOutput"}], "connections" : {"Auth Check":{"main":[[{"index":0,"node":"Route","type":"main"}]]},"Forward Deploy":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Forward Grep":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Forward Read":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Route":{"main":[[{"index":0,"node":"Forward Deploy","type":"main"}],[{"index":0,"node":"Forward Read","type":"main"}],[{"index":0,"node":"Forward Grep","type":"main"}],[{"node":"Forward Write","type":"main","index":0}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Check","type":"main"}]]},"Forward Write":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","errorWorkflow":"BVOAC22J7MM2tsBg","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T20:59:32.497+00:00"}
