docs/n8n-triage/workflows/GDA.api.bd-activity-log___9qrsria0fy719T98.json
{"id" : "9qrsria0fy719T98", "name" : "GDA.api.bd-activity-log", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"bal-wh","name":"Webhook","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{"allowedOrigins":"*"},"path":"gda-bd-activity","responseMode":"responseNode"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"7288dae2-1229-4301-b96e-983837772bfe"},{"id":"bal-auth","name":"Auth Guard","parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst h = $input.first().json.headers || {};\nconst b = $input.first().json.body || {};\nconst auth = h['x-gda-auth'] || h['x-gda-key'] || b.auth_key || '';\nconst origin = (h.origin || h.referer || '').toLowerCase();\nconst trusted = ['gda.csr-llc.tech','n8n.csr-llc.tech','localhost'];\nif (auth !== $env.GDA_API_KEY_2026 && !trusted.some(o => origin.includes(o))) throw new Error('Unauthorized');\nreturn $input.all();"},"position":[420,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"bal-route","name":"Route Action","parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"log"}]}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"list"}]}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"opp_touches"}]}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"setup"}]}}]},"fallbackOutput":"extra","options":{}},"position":[640,300],"type":"n8n-nodes-base.switch","typeVersion":3.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"bal-log","name":"Log Activity","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [\n  $json.body.activity_type || 'note',\n  $json.body.opp_id || null,\n  $json.body.contact_name || null,\n  $json.body.contact_org || null,\n  $json.body.notes || '',\n  $json.body.logged_by || 'Shawn',\n  $json.body.follow_up_date || null,\n  $json.body.outcome || null\n] }}"},"query":"INSERT INTO gda_bd_activities (\n  activity_type, opp_id, contact_name, contact_org,\n  notes, logged_by, follow_up_date, outcome, logged_at\n) VALUES ($1, $2::integer, $3, $4, $5, $6, $7::date, $8, NOW())\nRETURNING id, activity_type, logged_at;"},"position":[880,80],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"bal-resp-log","name":"Respond Log","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok', activity_id: $json.id, logged_at: $json.logged_at}) }}"},"position":[1100,80],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"bal-list","name":"List Activities","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [\n  $json.body.opp_id || null,\n  Math.min(parseInt($json.body.limit) || 20, 100)\n] }}"},"query":"SELECT a.id, a.activity_type, a.opp_id, a.contact_name, a.contact_org,\n  a.notes, a.logged_by, a.follow_up_date, a.outcome, a.logged_at,\n  o.opp_title\nFROM gda_bd_activities a\nLEFT JOIN gda_opportunity_tracker o ON o.id = a.opp_id\nWHERE ($1::integer IS NULL OR a.opp_id = $1::integer)\nORDER BY a.logged_at DESC\nLIMIT $2;"},"position":[880,260],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"bal-resp-list","name":"Respond List","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok', activities: $input.all().map(i => i.json), count: $input.all().length}) }}"},"position":[1100,260],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"bal-touches","name":"Opp Touch Summary","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [$json.body.opp_id] }}"},"query":"SELECT\n  a.opp_id, o.opp_title,\n  COUNT(*) as total_touches,\n  MAX(a.logged_at) as last_touch,\n  COUNT(*) FILTER (WHERE a.activity_type = 'call') as calls,\n  COUNT(*) FILTER (WHERE a.activity_type = 'meeting') as meetings,\n  COUNT(*) FILTER (WHERE a.activity_type = 'email') as emails,\n  COUNT(*) FILTER (WHERE a.activity_type = 'proposal') as proposals,\n  STRING_AGG(DISTINCT a.contact_name, ', ' ORDER BY a.contact_name) as contacts_engaged,\n  MIN(a.logged_at) as first_touch,\n  (CURRENT_DATE - MAX(a.logged_at)::date) as days_since_last_touch\nFROM gda_bd_activities a\nLEFT JOIN gda_opportunity_tracker o ON o.id = a.opp_id\nWHERE ($1::integer IS NULL OR a.opp_id = $1::integer)\nGROUP BY a.opp_id, o.opp_title\nORDER BY last_touch DESC\nLIMIT 20;"},"position":[880,440],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"bal-resp-touches","name":"Respond Touches","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok', touch_summary: $input.all().map(i => i.json)}) }}"},"position":[1100,440],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"bal-setup","name":"Setup Table","parameters":{"operation":"executeQuery","options":{},"query":"CREATE TABLE IF NOT EXISTS gda_bd_activities (\n  id SERIAL PRIMARY KEY,\n  activity_type VARCHAR(50) NOT NULL DEFAULT 'note',\n  opp_id INTEGER REFERENCES gda_opportunity_tracker(id) ON DELETE SET NULL,\n  contact_name TEXT,\n  contact_org TEXT,\n  notes TEXT,\n  logged_by TEXT DEFAULT 'Shawn',\n  follow_up_date DATE,\n  outcome TEXT,\n  logged_at TIMESTAMPTZ DEFAULT NOW()\n);\nCREATE INDEX IF NOT EXISTS idx_bd_act_opp ON gda_bd_activities(opp_id);\nCREATE INDEX IF NOT EXISTS idx_bd_act_date ON gda_bd_activities(logged_at DESC);\nSELECT 'gda_bd_activities ready' AS status;"},"position":[880,620],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"bal-resp-setup","name":"Respond Setup","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"allIncomingItems"},"position":[1100,620],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"bal-resp-default","name":"Respond Default","parameters":{"options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({error: 'Invalid action. Use: log, list, opp_touches, setup'}) }}"},"position":[880,800],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Auth Guard":{"main":[[{"index":0,"node":"Route Action","type":"main"}]]},"Log Activity":{"main":[[{"index":0,"node":"Respond Log","type":"main"}]]},"List Activities":{"main":[[{"index":0,"node":"Respond List","type":"main"}]]},"Opp Touch Summary":{"main":[[{"index":0,"node":"Respond Touches","type":"main"}]]},"Route Action":{"main":[[{"index":0,"node":"Log Activity","type":"main"}],[{"index":0,"node":"List Activities","type":"main"}],[{"index":0,"node":"Opp Touch Summary","type":"main"}],[{"index":0,"node":"Setup Table","type":"main"}],[{"index":0,"node":"Respond Default","type":"main"}]]},"Setup Table":{"main":[[{"index":0,"node":"Respond Setup","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Guard","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:49.429+00:00"}
