docs/n8n-triage/workflows/GDA.api.launchpad___GrbSQxeJs7ag6zXx.json
{"id" : "GrbSQxeJs7ag6zXx", "name" : "GDA.api.launchpad", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"lp01","name":"Webhook","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{},"path":"gda-launchpad","responseMode":"lastNode"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"gda-launchpad-v1"},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"lp02","name":"KPI Query","parameters":{"operation":"executeQuery","options":{},"query":"SELECT\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label='PURSUE') AS pursue_count,\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label='EVALUATE') AS evaluate_count,\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label='MONITOR') AS monitor_count,\n  (SELECT COALESCE(SUM(estimated_value),0) FROM gda_opportunity_tracker WHERE gda_label IN ('PURSUE','EVALUATE')) AS weighted_pipeline,\n  (SELECT COUNT(*) FROM ft_opportunity_signal WHERE active=true) AS ft_signals,\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE response_deadline BETWEEN NOW() AND NOW() + INTERVAL '30 days' AND gda_label NOT IN ('PASS')) AS due_30d,\n  (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE response_deadline > NOW() + INTERVAL '90 days' AND gda_label='PURSUE') AS pursue_90d_plus;"},"position":[440,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"lp03","name":"Top Opps Query","parameters":{"operation":"executeQuery","options":{},"query":"SELECT id, opp_title, agency, gda_score, gda_label, stage, estimated_value, response_deadline, source_url, naics_code FROM gda_opportunity_tracker WHERE gda_label IN ('PURSUE','EVALUATE') ORDER BY gda_score DESC LIMIT 10;"},"position":[660,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"lp04","name":"FT Signals Query","parameters":{"operation":"executeQuery","options":{},"query":"SELECT signal_id, title, agency, horizon, estimated_value, signal_strength, recommended_action, solution_path, source_id, source_url, external_url FROM ft_opportunity_signal WHERE active=true ORDER BY signal_strength DESC LIMIT 5;"},"position":[880,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"lp07","name":"AN1 Query","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"WITH top_pursue AS (\n  SELECT id, opp_title, agency FROM gda_opportunity_tracker\n  WHERE gda_label='PURSUE' ORDER BY gda_score DESC LIMIT 1\n)\nSELECT\n  t.id as opp_id, t.opp_title, t.agency,\n  (\n    SELECT json_agg(json_build_object('vendor', ia.vendor_name, 'dollars_obligated', ia.dollars_obligated, 'award_count', ia.award_count, 'size', ia.vendor_size) ORDER BY ia.dollars_obligated DESC)\n    FROM gda_incumbent_analysis ia\n    WHERE LOWER(ia.agency) LIKE '%' || LOWER(SPLIT_PART(t.agency, ' ', 1)) || '%'\n    LIMIT 3\n  ) as incumbents\nFROM top_pursue t;"},"position":[880,500],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"lp05","name":"Build Response","parameters":{"jsCode":"const kpi = $('KPI Query').first().json || {};\nconst topOpps = $('Top Opps Query').all().map(i => i.json);\nconst seenIds = new Set();\nconst signals = $('FT Signals Query').all()\n  .map(i => i.json)\n  .filter(s => { if (seenIds.has(s.signal_id)) return false; seenIds.add(s.signal_id); return true; })\n  .slice(0, 5);\n\nlet an1 = {};\ntry { an1 = $('AN1 Query').first().json || {}; } catch(e) {}\nconst incumbents = an1.incumbents || null;\nconst an1OppId = an1.opp_id || null;\nconst an1Agency = an1.agency || null;\n\nconst fmt = (v) => {\n  const n = Number(v) || 0;\n  if (n >= 1e9) return '$' + (n/1e9).toFixed(1) + 'B';\n  if (n >= 1e6) return '$' + (n/1e6).toFixed(1) + 'M';\n  if (n >= 1e3) return '$' + (n/1e3).toFixed(0) + 'K';\n  return n > 0 ? '$' + n : 'TBD';\n};\n\nreturn [{ json: {\n  status: 'ok',\n  kpis: {\n    pursue_count: Number(kpi.pursue_count) || 0,\n    evaluate_count: Number(kpi.evaluate_count) || 0,\n    monitor_count: Number(kpi.monitor_count) || 0,\n    weighted_pipeline: fmt(kpi.weighted_pipeline),\n    weighted_pipeline_raw: Number(kpi.weighted_pipeline) || 0,\n    ft_signals: Number(kpi.ft_signals) || 0,\n    due_30d: Number(kpi.due_30d) || 0,\n    pursue_90d_plus: Number(kpi.pursue_90d_plus) || 0,\n  },\n  top_opportunities: topOpps.map(o => ({\n    id: o.id,\n    title: o.opp_title || 'Untitled',\n    agency: o.agency || '',\n    score: o.gda_score,\n    label: o.gda_label,\n    stage: o.stage,\n    value: fmt(o.estimated_value),\n    value_raw: Number(o.estimated_value) || 0,\n    deadline: o.response_deadline,\n    source_url: o.source_url || null,\n    naics: o.naics_code,\n  })),\n  ft_signals: signals.map(s => ({\n    id: s.signal_id,\n    title: s.title,\n    agency: s.agency || '',\n    horizon: s.horizon,\n    value: fmt(s.estimated_value),\n    strength: Number(s.signal_strength) || 0,\n    action: s.recommended_action,\n    path: s.solution_path,\n    source: s.source_id || '',\n    source_url: s.source_url || s.external_url || null,\n  })),\n  incumbent_themes: {\n    opp_id: an1OppId,\n    agency: an1Agency,\n    source: 'gda_incumbent_analysis',\n    data_available: !!(incumbents && incumbents.length > 0),\n    incumbents: incumbents ? incumbents.slice(0,3) : [],\n    message: incumbents && incumbents.length > 0\n      ? 'Incumbent vendor data from award history for top PURSUE opp agency.'\n      : 'No incumbent award data on file for this agency. Run AN-1 analysis via AI Agent Chat to generate win themes.',\n  },\n  analysis_status: {\n    available: true,\n    message: 'Pwin calibration active — 12 weights calibrated from 10 win/loss outcomes. AN-1 incumbent analysis available via AI Agent Chat.',\n    pwin_count: 12,\n    calibrated: true,\n    win_loss_count: 10,\n    last_calibrated: '2026-05-04T21:41:44Z',\n  },\n  daily_actions: {\n    available: true,\n    message: 'Learning engine calibrated. 10 win/loss outcomes logged. Weights updated 2026-05-04.',\n  },\n  generated_at: new Date().toISOString(),\n}}];"},"position":[1100,300],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"AN1 Query":{"main":[[{"index":0,"node":"Build Response","type":"main"}]]},"FT Signals Query":{"main":[[{"index":0,"node":"Build Response","type":"main"}]]},"KPI Query":{"main":[[{"index":0,"node":"Top Opps Query","type":"main"}]]},"Top Opps Query":{"main":[[{"index":0,"node":"FT Signals Query","type":"main"},{"index":0,"node":"AN1 Query","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"KPI Query","type":"main"}]]}}, "settings" : {"executionOrder":"v1","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-13T15:41:10.961+00:00"}
