docs/n8n-triage/workflows/GDA.sched.dhs-industry-day-monitor___j7Nj1zu5B6YEH9mO.json
{"id" : "j7Nj1zu5B6YEH9mO", "name" : "GDA.sched.dhs-industry-day-monitor", "active" : false, "nodes" : [{"id":"dhs-sched","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[200,200],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * 1,4"}]}},"typeVersion":1.2},{"id":"dhs-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,420],"webhookId":"gda-dhs-industry-day-01","parameters":{"path":"gda-dhs-industry-day","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"lastNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2.1},{"id":"dhs-auth","name":"Auth Guard","type":"n8n-nodes-base.code","position":[420,420],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"dhs-scrape","name":"Scrape DHS","type":"n8n-nodes-base.httpRequest","position":[640,300],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\"api_key\":\"$env.TAVILY_API_KEY\",\"query\":\"DHS Department Homeland Security industry day vendor conference procurement upcoming 2026\",\"search_depth\":\"advanced\",\"max_results\":10,\"include_raw_content\":true}","sendBody":true,"specifyBody":"json"},"typeVersion":4,"continueOnFail":true},{"id":"dhs-parse","name":"Parse Results","type":"n8n-nodes-base.code","position":[1080,300],"parameters":{"jsCode":"const raw = $input.first().json;\nlet text = '';\nif (raw.content && Array.isArray(raw.content)) text = raw.content.map(c => c.text || '').join('');\nelse text = JSON.stringify(raw);\nlet parsed = { events: [] };\ntry { const clean = text.replace(/```json/g,'').replace(/```/g,'').trim(); parsed = JSON.parse(clean); } catch(e) { const m = text.match(/\\{[\\s\\S]*\\}/); if (m) try { parsed = JSON.parse(m[0]); } catch(e2) {} }\nconst events = parsed.events || [];\nif (!events.length) return [{ json: { _hasData: false, msg: 'No DHS events found' } }];\nreturn events.map(e => ({ json: { ...e, data_source: 'DHS Industry Day', stage: 'Pre-RFP', _hasData: true } }));"},"typeVersion":2},{"id":"dhs-upsert","name":"Upsert Events","type":"n8n-nodes-base.postgres","position":[1300,300],"parameters":{"query":"INSERT INTO gda_opportunity_tracker (opp_title, agency, dept, data_source, source_url, stage, ai_analysis, gda_score, gda_label, last_refreshed, solicitation_number) VALUES ('{{ (\"[INDUSTRY DAY] \" + ($json.event_name || \"\")).replace(/'/g, \"''\").substring(0,500) }}', '{{ ($json.agency || \"DHS\").replace(/'/g, \"''\") }}', 'Department of Homeland Security', 'DHS Industry Day', '{{ $json.source_url || $json.registration_url || \"\" }}', 'Pre-RFP', '{{ (($json.description || \"\") + \" | Date: \" + ($json.date || \"TBD\") + \" | Location: \" + ($json.location || \"TBD\") + \" | Registration: \" + ($json.registration_url || \"N/A\") + \" | Relevance: \" + ($json.relevance_to_gda || \"\")).replace(/'/g, \"''\").substring(0,2000) }}', 35, 'MONITOR', NOW(), '{{ \"DHS-ID-\" + ($json.event_name || \"unknown\").replace(/[^a-zA-Z0-9]/g, \"-\").substring(0,80) }}') ON CONFLICT (solicitation_number) DO UPDATE SET ai_analysis = EXCLUDED.ai_analysis, last_refreshed = NOW()","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.6,"continueOnFail":true},{"id":"dhs-resp","name":"Respond","type":"n8n-nodes-base.code","position":[1520,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst hasData = items.some(function(i) { return i.json._hasData !== false; });\nreturn [{ json: { status: 'ok', workflow: 'GDA.sched.dhs-industry-day-monitor', events_found: hasData ? items.length : 0, timestamp: new Date().toISOString() } }];"},"typeVersion":2},{"id":"dhs-claude-direct","name":"Claude Extract Events","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"parameters":{"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{$env.ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2048, messages: [{ role: 'user', content: 'Extract DHS industry day and pre-solicitation events from these search results. Return ONLY valid JSON: {\"events\":[{\"event_name\":\"\",\"agency\":\"\",\"date\":\"\",\"location\":\"\",\"description\":\"\",\"registration_url\":\"\",\"related_solicitation\":\"\",\"relevance_to_gda\":\"\",\"source_url\":\"\"}]}\\n\\nSearch Results:\\n' + JSON.stringify(($json.results || []).map(r => ({title: r.title, url: r.url, content: (r.raw_content || r.content || '').substring(0,2000)}))) }] }) }}","method":"POST","options":{"timeout":60000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.anthropic.com/v1/messages"},"onError":"continueRegularOutput"}], "connections" : {"Schedule Trigger":{"main":[[{"node":"Scrape DHS","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Scrape DHS","type":"main","index":0}]]},"Parse Results":{"main":[[{"node":"Upsert Events","type":"main","index":0}]]},"Upsert Events":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Scrape DHS":{"main":[[{"node":"Claude Extract Events","type":"main","index":0}]]},"Claude Extract Events":{"main":[[{"node":"Parse Results","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all"}, "updatedAt" : "2026-05-26T21:28:52.822+00:00"}
