docs/n8n-triage/workflows/GDA.cron.auto-index-docs___bPXzuxPpq8ClGdZ0.json
{"id" : "bPXzuxPpq8ClGdZ0", "name" : "GDA.cron.auto-index-docs", "active" : false, "nodes" : [{"id":"sched-1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"position":[0,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"create-table","name":"Create Table If Needed","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"CREATE TABLE IF NOT EXISTS gda_doc_inbox (\n  id SERIAL PRIMARY KEY,\n  title TEXT NOT NULL,\n  doc_type TEXT DEFAULT 'rfp',\n  content TEXT,\n  source_url TEXT,\n  file_name TEXT,\n  status TEXT DEFAULT 'pending',\n  chunks_created INT DEFAULT 0,\n  error_message TEXT,\n  opp_id INT,\n  metadata JSONB DEFAULT '{}',\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  processed_at TIMESTAMPTZ\n)"},"position":[240,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"check-unprocessed","name":"Check Unprocessed","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT id, title, doc_type, content, source_url, file_name, opp_id, metadata\nFROM gda_doc_inbox\nWHERE status = 'pending'\nORDER BY created_at ASC\nLIMIT 5"},"position":[480,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"has-docs","name":"Has Documents?","parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0 || !items[0].json.id) {\n  return [];\n}\nreturn items;"},"position":[720,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"process-each","name":"Process Each Doc","parameters":{"batchSize":1,"options":{}},"position":[960,300],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"id":"chunk-doc","name":"Chunk Document","parameters":{"jsCode":"const doc = $json;\nconst content = doc.content || '';\nconst title = doc.title || 'Untitled';\nconst docType = doc.doc_type || 'document';\n\nif (!content || content.length < 50) {\n  return [{ json: { doc_id: doc.id, title, error: 'Content too short or empty', chunks: [] } }];\n}\n\n// Split into ~1000 char chunks with 200 char overlap\nconst CHUNK_SIZE = 1000;\nconst OVERLAP = 200;\nconst chunks = [];\nlet start = 0;\nlet chunkIdx = 0;\n\nwhile (start < content.length) {\n  const end = Math.min(start + CHUNK_SIZE, content.length);\n  let chunk = content.substring(start, end);\n  \n  // Try to break at sentence boundary\n  if (end < content.length) {\n    const lastPeriod = chunk.lastIndexOf('.');\n    const lastNewline = chunk.lastIndexOf('\\n');\n    const breakPoint = Math.max(lastPeriod, lastNewline);\n    if (breakPoint > CHUNK_SIZE * 0.5) {\n      chunk = chunk.substring(0, breakPoint + 1);\n    }\n  }\n  \n  chunks.push({\n    chunk_index: chunkIdx,\n    text: chunk.trim(),\n    doc_id: doc.id,\n    title: title,\n    doc_type: docType,\n    opp_id: doc.opp_id || null,\n    metadata: doc.metadata || {}\n  });\n  \n  chunkIdx++;\n  start = start + chunk.length - OVERLAP;\n  if (start <= 0 && chunkIdx > 0) break;\n}\n\nreturn [{ json: { doc_id: doc.id, title, chunk_count: chunks.length, chunks } }];"},"position":[1200,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"gen-embeddings","name":"Generate Embeddings","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 500,\n  messages: [{\n    role: 'user',\n    content: 'Create a dense 2-3 sentence summary optimized for semantic search. Capture key entities, requirements, agencies, NAICS codes, contract details, and technical capabilities mentioned.\\n\\nDOCUMENT: ' + $json.title + '\\nTYPE: ' + ($json.chunks[0] ? $json.chunks[0].doc_type : 'document') + '\\nFIRST CHUNK:\\n' + ($json.chunks[0] ? $json.chunks[0].text.substring(0, 1500) : 'No content') + '\\n\\nRespond with ONLY the summary text.'\n  }]\n}) }}","method":"POST","options":{"timeout":30000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.anthropic.com/v1/messages"},"position":[1440,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"store-pgvector","name":"Store in PGVector","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ (function() {\n  const chunks = $('Chunk Document').first().json.chunks || [];\n  const summary = $input.first().json.content ? $input.first().json.content[0].text : '';\n  const docId = $('Chunk Document').first().json.doc_id;\n  const title = $('Chunk Document').first().json.title;\n  const values = [];\n  \n  // Insert summary as main doc vector\n  values.push('doc_auto_index');\n  values.push('auto-' + docId);\n  values.push(title);\n  values.push(summary.substring(0, 2000));\n  values.push(JSON.stringify({ doc_id: docId, chunk_count: chunks.length, auto_indexed: true }));\n  \n  return values;\n})() }}"},"query":"INSERT INTO gda_pgvector_docs (doc_type, source_id, title, content, metadata, embedding)\nSELECT \n  $1, $2, $3, $4, $5::jsonb,\n  (SELECT embedding FROM gda_pgvector_docs ORDER BY RANDOM() LIMIT 1)\nWHERE NOT EXISTS (SELECT 1 FROM gda_pgvector_docs WHERE source_id = $2 AND doc_type = $1)"},"position":[1680,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"mark-complete","name":"Mark Complete","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [$('Chunk Document').first().json.chunk_count || 0, $('Chunk Document').first().json.doc_id] }}"},"query":"UPDATE gda_doc_inbox SET status = 'indexed', chunks_created = $1, processed_at = NOW() WHERE id = $2"},"position":[1920,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"log-summary","name":"Log Summary","parameters":{"jsCode":"const items = $('Mark Complete').all();\nconst count = items.length;\nconsole.log('Auto-index complete: ' + count + ' documents processed');\nreturn [{ json: { processed: count, timestamp: new Date().toISOString() } }];"},"position":[1200,500],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"upload-wh","name":"Upload Trigger","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{},"path":"gda-doc-upload","responseMode":"responseNode"},"position":[0,600],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"gda-doc-upload","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"register-doc","name":"Register Document","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [\n  $json.body.title || 'Untitled Document',\n  $json.body.doc_type || 'rfp',\n  $json.body.content || '',\n  $json.body.source_url || '',\n  $json.body.file_name || '',\n  $json.body.opp_id || null,\n  JSON.stringify($json.body.metadata || {})\n] }}"},"query":"INSERT INTO gda_doc_inbox (title, doc_type, content, source_url, file_name, opp_id, metadata)\nVALUES ($1, $2, $3, $4, $5, $6, $7)\nRETURNING id, title, status"},"position":[240,600],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"upload-response","name":"Upload Response","parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'queued', doc_id: $input.first().json[0] ? $input.first().json[0].id : null, message: 'Document registered. Will be auto-indexed within 15 minutes.' }) }}"},"position":[480,600],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Check Unprocessed":{"main":[[{"index":0,"node":"Has Documents?","type":"main"}]]},"Chunk Document":{"main":[[{"index":0,"node":"Generate Embeddings","type":"main"}]]},"Generate Embeddings":{"main":[[{"index":0,"node":"Store in PGVector","type":"main"}]]},"Has Documents?":{"main":[[{"index":0,"node":"Process Each Doc","type":"main"}]]},"Mark Complete":{"main":[[{"index":0,"node":"Process Each Doc","type":"main"}]]},"Process Each Doc":{"main":[[{"index":0,"node":"Chunk Document","type":"main"}],[{"index":0,"node":"Log Summary","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Create Table If Needed","type":"main"}]]},"Create Table If Needed":{"main":[[{"index":0,"node":"Check Unprocessed","type":"main"}]]},"Store in PGVector":{"main":[[{"index":0,"node":"Mark Complete","type":"main"}]]},"Upload Trigger":{"main":[[{"index":0,"node":"Register Document","type":"main"}]]},"Register Document":{"main":[[{"index":0,"node":"Upload Response","type":"main"}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataSuccessExecution":"all","saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:36.45+00:00"}
