docs/n8n-triage/workflows/GDA.auto.e2e-gemini-report___BLS36QTOznJ8mJlC.json
{"id" : "BLS36QTOznJ8mJlC", "name" : "GDA.auto.e2e-gemini-report", "active" : false, "nodes" : [{"id":"eg01","name":"Nightly Schedule","type":"n8n-nodes-base.scheduleTrigger","position":[208,208],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * 1-5"}]}},"typeVersion":1.2},{"id":"eg02","name":"Dashboard Webhook","type":"n8n-nodes-base.webhook","position":[208,400],"webhookId":"gda-e2e-gemini","parameters":{"path":"gda-e2e-gemini","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"eg03","name":"Run E2E Tests","type":"n8n-nodes-base.code","position":[432,304],"parameters":{"jsCode":"const BASE='https://gda.csr-llc.tech/api';\nconst AUTH='';\nconst HEADERS={'Content-Type':'application/json'};\nconst endpoints=[\n  {name:'Daily SITREP',path:'gda-daily-sitrep',body:{action:'latest'}},\n  {name:'OppTracker',path:'gda-opp-tracker',body:{action:'list'}},\n  {name:'Intel Feed',path:'gda-intel-feed',body:{action:'list'}},\n  {name:'Risk Register',path:'gda-risk',body:{action:'list'}},\n  {name:'OODA Loop',path:'gda-ooda',body:{action:'latest'},timeout:30000},\n  {name:'Capture Plan',path:'gda-capture-plan',body:{action:'list'}},\n  {name:'Pwin Calculator',path:'gda-pwin-calculator',body:{action:'list'}},\n  {name:'Compliance Matrix',path:'gda-compliance-matrix',body:{action:'list'}},\n  {name:'Relationship Tracker',path:'gda-relationship-tracker',body:{action:'list'}},\n  {name:'Win/Loss DB',path:'gda-win-loss',body:{action:'list'}},\n  {name:'Comp Intel',path:'gda-competitive-intel',body:{action:'list',mode:'list'},timeout:90000},\n  {name:'Competitor Watchlist',path:'gda-competitor-watchlist',body:{action:'list'}},\n  {name:'Action Items',path:'gda-action-items',body:{action:'list'}},\n  {name:'Trends',path:'gda-trends',body:{action:'latest'}},\n  {name:'Predictive Intel',path:'gda-predictive-intel',body:{action:'trends'}},\n  {name:'AI Agent',path:'gda-chat-v2',body:{message:'ping',session_id:'e2e-test'}},\n  {name:'RAG Query',path:'gda-rag-query',body:{query:'test',action:'list'}},\n  {name:'Presentations',path:'gda-pptx-gen',body:{topic:'test',slide_count:3},timeout:60000},\n  {name:'Data Learn',path:'gda-data-learn',body:{event:'e2e_test',context:'test',data:{}}},\n  {name:'Capture Intel',path:'gda-capture-intel',body:{action:'list'}},\n  {name:'Dashboard Intel',path:'gda-dashboard-intel',body:{action:'latest'},timeout:90000},\n  {name:'Email Drafter',path:'gda-email-drafter',body:{subject:'E2E test',tone:'professional'}},\n  {name:'Daily Brief',path:'gda-daily-brief',body:{action:'get'}},\n  {name:'Pipeline',path:'gda-pipeline',body:{action:'list'}},\n  {name:'Wargame',path:'gda-wargame',body:{action:'list'}},\n  {name:'Proposals',path:'gda-proposals',body:{action:'list'}},\n  {name:'Contracts',path:'gda-contracts',body:{action:'list'}},\n  {name:'Red Team',path:'gda-red-team',body:{rfp_text:'E2E test RFP for SETA support services',agency:'Test Agency'}},\n  {name:'Prompt Architect',path:'gda-prompt-architect',body:{goal:'test prompt',mode:'quick'}},\n  {name:'Competitor Threat Score',path:'gda-competitor-threat-score',body:{action:'list'}},\n  {name:'AOP Definitions',path:'gda-aop-definitions',body:{action:'list'}},\n  {name:'Meeting Notes',path:'gda-meeting-notes',body:{meeting_title:'E2E Test',transcript:'Test meeting transcript for E2E validation.',attendees:'System',meeting_type:'general'},timeout:60000},\n];\nconst runTest = async (ep) => {\n  const start = Date.now();\n  const t = ep.timeout || 15000;\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: BASE + '/' + ep.path,\n      headers: HEADERS,\n      body: ep.body,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n      timeout: t\n    });\n    const ms = Date.now() - start;\n    const status = r.statusCode || 0;\n    const pass = status >= 200 && status < 400;\n    return {name: ep.name, status: pass ? 'PASS' : 'FAIL', http: status, ms: ms, detail: 'HTTP ' + status + ' in ' + ms + 'ms'};\n  } catch (e) {\n    return {name: ep.name, status: 'ERROR', http: 0, ms: Date.now() - start, detail: (e.message || '').substring(0, 80)};\n  }\n};\nconst results = await Promise.all(endpoints.map(runTest));\nconst passed = results.filter(r => r.status === 'PASS').length;\nconst failed = results.filter(r => r.status === 'FAIL').length;\nconst errors = results.filter(r => r.status === 'ERROR').length;\nconst total = results.length;\nreturn [{json: {summary: {total: total, passed: passed, failed: failed, errors: errors, pass_rate: ((passed / total) * 100).toFixed(0) + '%'}, results: results, timestamp: new Date().toISOString()}}];"},"typeVersion":2},{"id":"eg04","name":"Respond Immediately","type":"n8n-nodes-base.respondToWebhook","position":[656,304],"parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok',summary:$json.summary,results:$json.results,timestamp:$json.timestamp,analysis:'Gemini analysis running async - check gda_e2e_reports table'}) }}"},"typeVersion":1.1},{"id":"eg05","name":"Build Gemini Prompt","type":"n8n-nodes-base.code","position":[880,304],"parameters":{"jsCode":"const d=$input.first().json;\nconst failing=d.results.filter(r=>r.status!=='PASS');\nconst passing=d.results.filter(r=>r.status==='PASS');\nconst prompt='GDA Command Center E2E Report\\nRun: '+d.timestamp+'\\nResult: '+d.summary.passed+'/'+d.summary.total+' passed ('+d.summary.pass_rate+')\\n\\nFAILED:\\n'+failing.map(r=>'- '+r.name+': '+r.status+' HTTP '+r.http+' | '+r.detail).join('\\n')+'\\n\\nPASSING:\\n'+passing.map(r=>'- '+r.name).join('\\n')+'\\n\\nDiagnose each failure. Platform health score 0-100. Top 3 fixes.';\nreturn [{json:{prompt,summary:d.summary,results:d.results,timestamp:d.timestamp}}];"},"typeVersion":2},{"id":"eg06","name":"Gemini Analysis","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[1104,304],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","sendHeaders":true,"sendBody":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:1000,messages:[{role:'user',content:$json.prompt}]}) }}","options":{"timeout":30000}},"credentials":{},"typeVersion":4.2},{"id":"eg07","name":"Save to Postgres","type":"n8n-nodes-base.postgres","position":[1456,304],"parameters":{"query":"=CREATE TABLE IF NOT EXISTS gda_e2e_reports (id SERIAL PRIMARY KEY, run_at TIMESTAMPTZ, pass_rate VARCHAR(10), passed INT, failed INT, errors INT, total INT, analysis TEXT, results JSONB, created_at TIMESTAMPTZ DEFAULT NOW()); INSERT INTO gda_e2e_reports (run_at,pass_rate,passed,failed,errors,total,analysis,results) VALUES ('{{ $('Build Gemini Prompt').first().json.timestamp }}','{{ $('Build Gemini Prompt').first().json.summary.pass_rate }}',{{ $('Build Gemini Prompt').first().json.summary.passed }},{{ $('Build Gemini Prompt').first().json.summary.failed }},{{ $('Build Gemini Prompt').first().json.summary.errors }},{{ $('Build Gemini Prompt').first().json.summary.total }},'{{ (($json.content&&Array.isArray($json.content)?$json.content[0].text:$json.text)||'Analysis unavailable').replace(/'/g,\"''\").substring(0,5000) }}','{{ JSON.stringify($('Build Gemini Prompt').first().json.results).replace(/'/g,\"''\") }}');","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.6,"continueOnFail":true},{"id":"tg-e2e","name":"Notify TG E2E","type":"n8n-nodes-base.httpRequest","position":[1680,304],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/gda-tg-notify","method":"POST","options":{"timeout":10000},"jsonBody":"={{ JSON.stringify({type:'e2e', pass_rate: $('Run E2E Tests').first().json.summary ? $('Run E2E Tests').first().json.summary.pass_rate : '??', passed: $('Run E2E Tests').first().json.summary ? $('Run E2E Tests').first().json.summary.passed : 0, failed: $('Run E2E Tests').first().json.summary ? $('Run E2E Tests').first().json.summary.failed : 0, errors: $('Run E2E Tests').first().json.summary ? $('Run E2E Tests').first().json.summary.errors : 0}) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-gda-key","value":"={{ $env.GDA_WEBHOOK_SECRET_2026 }}"}]}},"typeVersion":4.2}], "connections" : {"Nightly Schedule":{"main":[[{"node":"Run E2E Tests","type":"main","index":0}]]},"Dashboard Webhook":{"main":[[{"node":"Run E2E Tests","type":"main","index":0}]]},"Run E2E Tests":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Build Gemini Prompt","type":"0","index":0}]]},"Respond Immediately":{"main":[[{"node":"Build Gemini Prompt","type":"main","index":0}]]},"Build Gemini Prompt":{"main":[[{"node":"Gemini Analysis","type":"main","index":0}]]},"Gemini Analysis":{"main":[[{"node":"Save to Postgres","type":"main","index":0}]]},"Save to Postgres":{"main":[[{"node":"Notify TG E2E","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","timezone":"America/New_York","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"BVOAC22J7MM2tsBg"}, "updatedAt" : "2026-05-26T21:28:46.289+00:00"}
