docs/n8n-triage/workflows/GDA.api.trends___XH3IhyvWMPoZzxBS.json
{"id" : "XH3IhyvWMPoZzxBS", "name" : "GDA.api.trends", "active" : false, "nodes" : [{"parameters":{"httpMethod":"POST","path":"gda-trends","responseMode":"responseNode","options":{"allowedOrigins":"*"},"authentication":"headerAuth"},"id":"webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[224,560],"webhookId":"2d6ceed4-6ed7-4aa9-be5b-0b4000814cab","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"id":"cond-get","leftValue":"={{ $json.body.action }}","operator":{"name":"filter.operator.equals","operation":"equals","type":"string"},"rightValue":"get"}],"options":{"caseSensitive":true,"typeValidation":"loose"}}},{"conditions":{"combinator":"and","conditions":[{"id":"cond-latest","leftValue":"={{ $json.body.action }}","operator":{"name":"filter.operator.equals","operation":"equals","type":"string"},"rightValue":"latest"}],"options":{"caseSensitive":true,"typeValidation":"loose"}}}]},"options":{"fallbackOutput":"0"}},"id":"router","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,560]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM daily_trends WHERE date >= CURRENT_DATE - 30 ORDER BY date DESC, metric_name;","options":{}},"id":"get_trends","name":"Get Trends","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[672,464],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM daily_trends WHERE date = (SELECT MAX(date) FROM daily_trends) ORDER BY metric_name;","options":{}},"id":"get_latest","name":"Get Latest","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[672,656],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"options":{"responseCode":200}},"id":"respond_data","name":"Respond Data","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1008,560]},{"id":"agg-trends","name":"Aggregate Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,464],"parameters":{"jsCode":"const rows = $input.all().map(i => i.json);\nreturn [{ json: { data: rows, count: rows.length } }];"}},{"id":"agg-latest","name":"Aggregate Latest","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,656],"parameters":{"jsCode":"const rows = $input.all().map(i => i.json);\nreturn [{ json: { data: rows, count: rows.length } }];"}}], "connections" : {"Webhook Trigger":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Get Trends","type":"main","index":0}],[{"node":"Get Latest","type":"main","index":0}]]},"Get Trends":{"main":[[{"node":"Aggregate Rows","type":"main","index":0}]]},"Aggregate Rows":{"main":[[{"node":"Respond Data","type":"main","index":0}]]},"Get Latest":{"main":[[{"node":"Aggregate Latest","type":"main","index":0}]]},"Aggregate Latest":{"main":[[{"node":"Respond Data","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-13T15:41:17.912+00:00"}
