docs/n8n-triage/workflows/GDA.api.red-team___bEBgWqhY8kmF6rrp.json
{"id" : "bEBgWqhY8kmF6rrp", "name" : "GDA.api.red-team", "active" : false, "nodes" : [{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,496],"webhookId":"8d022822-ca9d-4c46-bfcc-f52d1b7ea16b","parameters":{"path":"gda-red-team","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"ad2080c8-14e1-4ba0-9106-d41a0f2bcbea","name":"Auth Guard","type":"n8n-nodes-base.code","position":[350,496],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2},{"id":"rt-prepinput-001","name":"Prep Input","type":"n8n-nodes-base.code","position":[460,200],"parameters":{"jsCode":"const authOut = $input.first().json;\nconst body = authOut.body || authOut;\nconst docB64 = body.document_b64;\nconst docName = (body.document_name || '').toLowerCase();\nif (!docB64) return $input.all();\nconst isPdf = docName.endsWith('.pdf');\nif (isPdf) {\n  return [{ json: { ...authOut, body: { ...body, needs_pdf_extract: true, pdf_b64: docB64, rfp_title: body.rfp_title || body.document_name || 'Uploaded Document' }}}];\n}\nreturn $input.all();"},"typeVersion":2},{"id":"rt-pdfextract-001","name":"Extract PDF Text","type":"n8n-nodes-base.httpRequest","position":[570,200],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":120000},"jsonBody":"={{ JSON.stringify($json.body && $json.body.needs_pdf_extract && $json.body.pdf_b64 ? { model: 'claude-haiku-4-5-20251001', max_tokens: 4000, messages: [{ role: 'user', content: [{ type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: $json.body.pdf_b64 } }, { type: 'text', text: 'Extract and return the complete text content of this document verbatim. Return only the text, no commentary.' }] }] } : { model: 'claude-haiku-4-5-20251001', max_tokens: 5, messages: [{ role: 'user', content: 'Say: SKIP' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"noAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"anthropic-beta","value":"pdfs-2024-09-25"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"rt-mergepdf-001","name":"Merge PDF Extract","type":"n8n-nodes-base.code","position":[790,200],"parameters":{"jsCode":"const prepOut = $('Prep Input').first().json;\nconst body = Object.assign({}, prepOut.body || prepOut);\nconst extraction = $input.first().json;\nconst extracted = extraction && extraction.content && extraction.content[0] && extraction.content[0].text || '';\nif (body.needs_pdf_extract && extracted && extracted !== 'SKIP' && extracted.length > 50) {\n  body.rfp_text = extracted;\n  body.document_extracted = true;\n} else if (body.needs_pdf_extract) {\n  body.rfp_text = body.rfp_text || '';\n  body.document_extracted = false;\n}\ndelete body.needs_pdf_extract;\ndelete body.pdf_b64;\nreturn [{ json: { ...prepOut, body } }];"},"typeVersion":2},{"id":"2","name":"Validate RFP Input","type":"n8n-nodes-base.code","position":[460,496],"parameters":{"jsCode":"// Try multiple data paths — direct from Auth Guard OR from Merge PDF Extract\nvar raw = $input.first().json;\nvar body = raw.body || raw;\n// Also check if rfp_text is at the top level (from Merge path)\nvar rfpText = body.rfp_text || body.rfp_content || body.description || body.content || body.text || raw.rfp_text || '';\nvar proposalText = body.proposal_text || body.response_text || '';\nif (!rfpText && !proposalText) {\n  // Last resort: check all upstream nodes\n  try { var ab = $('Auth Guard').first().json.body || {}; rfpText = ab.rfp_text || ab.text || ab.content || ''; } catch(e) {}\n}\nif (!rfpText && !proposalText) {\n  return [{ json: { error: true, message: 'Missing content. Upload government documents (RFP/SOW) and/or your proposal response.', timestamp: new Date().toISOString() } }];\n}\nvar agency = body.agency || raw.agency || 'Unknown Agency';\nvar rfpTitle = body.rfp_title || body.title || raw.rfp_title || 'Untitled RFP';\nvar solNum = body.solicitation_number || '';\nvar naics = body.naics || '';\nvar setAside = body.set_aside || '';\nif (rfpText && agency === 'Unknown Agency') { var m = rfpText.match(/(?:Department of|Agency:|Contracting Office:)\\s*([^\\n]{5,80})/i); if (m) agency = m[1].trim(); }\nif (rfpText && !solNum) { var m = rfpText.match(/(?:Solicitation|Sol\\.?\\s*(?:No|Number|#))\\s*[:.]?\\s*([A-Z0-9][A-Z0-9\\-]{5,30})/i); if (m) solNum = m[1].trim(); }\nif (rfpText && !naics) { var m = rfpText.match(/NAICS\\s*(?:Code)?\\s*[:.]?\\s*(\\d{6})/i); if (m) naics = m[1]; }\nvar hasProposal = proposalText.length > 100;\nreturn [{ json: { rfp_text: rfpText, proposal_text: proposalText, mode: hasProposal ? 'comparison' : 'rfp_only', has_proposal: hasProposal, rfp_title: rfpTitle, agency: agency, solicitation_number: solNum, naics: naics, set_aside: setAside, value: body.value || '', file_count: body.file_count || 0, gov_file_names: body.gov_file_names || [], response_file_names: body.response_file_names || [], session_id: body.session_id || ('redteam_' + Date.now()), timestamp: new Date().toISOString() } }];"},"typeVersion":2},{"id":"rt-pink-001","name":"Pink Team Review","type":"n8n-nodes-base.httpRequest","position":[680,496],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":90000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: 'You are a Shipley-certified PINK TEAM reviewer. The Pink Team reviews proposal storyboards, structure, and compliance BEFORE full text is drafted. Per Shipley methodology (shipleywins.com/blogs/color-team-reviews), Pink Team verifies: (1) RFP compliance — every shall/must/will statement mapped, (2) win strategy execution — are win themes present in every section, (3) proposal structure — does the outline match Section L/M instructions, (4) solution approach — is the technical solution responsive to requirements, (5) graphics/table plan — are visuals planned for key discriminators. Reference: FAR 15.305 evaluation factors, DFARS 215.305, Section L/M of the RFP. Reference: Shipley Proposal Guide Chapter 8 (Color Team Reviews). Reference: https://www.shipleywins.com/blogs/color-team-reviews. Return ONLY raw JSON.', messages: [{ role: 'user', content: 'PINK TEAM REVIEW — COMPLIANCE & STRUCTURE\\nAgency: ' + $('Validate RFP Input').first().json.agency + '\\nTitle: ' + $('Validate RFP Input').first().json.rfp_title + '\\nSolicitation: ' + ($('Validate RFP Input').first().json.solicitation_number || 'N/A') + '\\nNAICS: ' + ($('Validate RFP Input').first().json.naics || 'N/A') + '\\nSet-Aside: ' + ($('Validate RFP Input').first().json.set_aside || 'N/A') + '\\n\\n=== GOVERNMENT DOCUMENTS (RFP/SOW) ===\\n' + ($('Validate RFP Input').first().json.rfp_text || '').substring(0, 15000) + ($('Validate RFP Input').first().json.has_proposal ? '\\n\\n=== OUR PROPOSAL RESPONSE ===\\n' + ($('Validate RFP Input').first().json.proposal_text || '').substring(0, 10000) : '') + '\\n\\nCONDUCT A THOROUGH PINK TEAM REVIEW. Return JSON: {\"compliance_matrix\": [{\"requirement\": \"string\", \"rfp_reference\": \"section/para\", \"response_status\": \"Addressed|Partial|Missing|Not Applicable\", \"notes\": \"string\"}], \"section_l_compliance\": [{\"instruction\": \"string\", \"compliant\": true, \"gap\": \"string\"}], \"win_themes_assessment\": [{\"theme\": \"string\", \"present_in_sections\": [\"string\"], \"strength\": \"Strong|Adequate|Weak|Missing\"}], \"structural_issues\": [\"string\"], \"missing_sections\": [\"string\"], \"graphics_needed\": [\"string\"], \"compliance_score\": 0, \"pink_team_rating\": \"GREEN|YELLOW|RED\", \"recommendations\": [\"string\"]}' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"noAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"rt-red-001","name":"Red Team Review","type":"n8n-nodes-base.httpRequest","position":[900,496],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":90000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: 'You are a Shipley-certified RED TEAM reviewer simulating the government Source Selection Evaluation Board (SSEB). The Red Team predicts how the customer will score the proposal and recommends improvements. Per Shipley methodology, Red Team evaluates: (1) customer focus — does the proposal speak to what the evaluator cares about, (2) completeness — are all requirements addressed with specificity, (3) clear communication — is the solution easy to understand and score, (4) win strategy — are discriminators obvious and compelling, (5) scoring prediction — simulate government adjectival ratings (Outstanding/Good/Acceptable/Marginal/Unacceptable per FAR 15.305). Reference: FAR 15.305 proposal evaluation, FAR 15.308 source selection decision. Reference: DoD Source Selection Procedures (2022). Reference: https://www.shipleywins.com/blogs/color-team-reviews. Reference: https://info.ksiadvantage.com/blog/articles/gold-at-the-end-of-the-rainbow-proposal-color-reviews-ratings. Return ONLY raw JSON.', messages: [{ role: 'user', content: 'RED TEAM REVIEW — EVALUATOR SIMULATION\\nAgency: ' + $('Validate RFP Input').first().json.agency + '\\nTitle: ' + $('Validate RFP Input').first().json.rfp_title + '\\nValue: ' + ($('Validate RFP Input').first().json.value || 'Not specified') + '\\n\\n=== GOVERNMENT DOCUMENTS ===\\n' + ($('Validate RFP Input').first().json.rfp_text || '').substring(0, 12000) + ($('Validate RFP Input').first().json.has_proposal ? '\\n\\n=== OUR PROPOSAL RESPONSE ===\\n' + ($('Validate RFP Input').first().json.proposal_text || '').substring(0, 10000) : '') + '\\n\\nSIMULATE THE GOVERNMENT EVALUATION. Score each factor. Return JSON: {\"evaluation_factors\": [{\"factor\": \"string\", \"weight\": \"string\", \"predicted_rating\": \"Outstanding|Good|Acceptable|Marginal|Unacceptable\", \"strengths\": [\"string\"], \"weaknesses\": [\"string\"], \"deficiencies\": [\"string\"], \"improvement_actions\": [\"string\"]}], \"overall_rating\": \"Outstanding|Good|Acceptable|Marginal|Unacceptable\", \"win_probability\": \"X%\", \"win_probability_rationale\": \"string\", \"go_no_go\": \"GO|HOLD|NO-GO\", \"go_confidence\": \"HIGH|MEDIUM|LOW\", \"discriminators\": [\"string\"], \"competitive_landscape\": \"string\", \"pricing_insights\": \"string\", \"red_team_rating\": \"GREEN|YELLOW|RED\", \"critical_fixes_before_submit\": [\"string\"], \"recommendations\": [\"string\"]}' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"noAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"rt-gold-001","name":"Gold Team Review","type":"n8n-nodes-base.httpRequest","position":[1120,496],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":90000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 3000, system: 'You are a Shipley-certified GOLD TEAM reviewer — senior executive conducting the final pre-submission review. The Gold Team confirms all changes from Pink and Red Teams have been incorporated and the proposal is positioned to win. Per Shipley methodology, Gold Team focuses on: (1) executive-level win themes and discriminators, (2) price-to-win positioning, (3) risk assessment — does the proposal create unacceptable risk for the government, (4) overall narrative coherence, (5) final go/no-go recommendation to company leadership. Reference: Shipley Proposal Guide. Reference: https://www.utleystrategies.com/blog/pink-red-gold-team-review. Reference: https://info.ksiadvantage.com/blog/articles/gold-at-the-end-of-the-rainbow-proposal-color-reviews-ratings. Return ONLY raw JSON.', messages: [{ role: 'user', content: 'GOLD TEAM REVIEW — EXECUTIVE FINAL REVIEW\\nAgency: ' + $('Validate RFP Input').first().json.agency + '\\nTitle: ' + $('Validate RFP Input').first().json.rfp_title + '\\nNAICS: ' + ($('Validate RFP Input').first().json.naics || 'N/A') + '\\nSet-Aside: ' + ($('Validate RFP Input').first().json.set_aside || 'N/A') + '\\n\\n=== RFP/SOW ===\\n' + ($('Validate RFP Input').first().json.rfp_text || '').substring(0, 10000) + ($('Validate RFP Input').first().json.has_proposal ? '\\n\\n=== OUR RESPONSE ===\\n' + ($('Validate RFP Input').first().json.proposal_text || '').substring(0, 8000) : '') + '\\n\\nCONDUCT GOLD TEAM EXECUTIVE REVIEW. Return JSON: {\"executive_summary\": \"string\", \"win_themes_validated\": [{\"theme\": \"string\", \"status\": \"Strong|Needs Work|Missing\", \"recommendation\": \"string\"}], \"discriminators_assessment\": [{\"discriminator\": \"string\", \"compelling\": true, \"improvement\": \"string\"}], \"risk_to_government\": [{\"risk\": \"string\", \"severity\": \"High|Medium|Low\", \"mitigation_in_proposal\": \"string\"}], \"price_competitiveness\": \"string\", \"narrative_coherence\": \"string\", \"submission_readiness\": \"Ready|Needs Revision|Not Ready\", \"gold_team_rating\": \"GREEN|YELLOW|RED\", \"executive_recommendations\": [\"string\"], \"final_go_no_go\": \"GO|HOLD|NO-GO\"}' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"noAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"rt-blackhat-001","name":"Black Hat Review","type":"n8n-nodes-base.httpRequest","position":[1340,496],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":90000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 3000, system: 'You are a Shipley BLACK HAT review specialist analyzing the competitive landscape. Black Hat reviews predict what competitors will propose and develop ghost themes to neutralize their strengths. Per Shipley methodology: (1) identify likely competitors by analyzing incumbent data, agency relationships, and contract history, (2) predict each competitor strategy and solution approach, (3) develop ghost themes — subtle proposal language that highlights our strengths in areas where competitors are weak WITHOUT naming them, (4) identify teaming opportunities to fill capability gaps. Reference: Shipley Capture Guide Chapter 5 (Competitive Assessment). Reference: GovTribe for competitor award history. Reference: USASpending.gov for incumbent spending data. Return ONLY raw JSON.', messages: [{ role: 'user', content: 'BLACK HAT COMPETITIVE ANALYSIS\\nAgency: ' + $('Validate RFP Input').first().json.agency + '\\nTitle: ' + $('Validate RFP Input').first().json.rfp_title + '\\nSet-Aside: ' + ($('Validate RFP Input').first().json.set_aside || 'N/A') + '\\nNAICS: ' + ($('Validate RFP Input').first().json.naics || 'N/A') + '\\nValue: ' + ($('Validate RFP Input').first().json.value || 'Not specified') + '\\n\\n=== RFP/SOW ===\\n' + ($('Validate RFP Input').first().json.rfp_text || '').substring(0, 10000) + ($('Validate RFP Input').first().json.has_proposal ? '\\n\\n=== OUR RESPONSE ===\\n' + ($('Validate RFP Input').first().json.proposal_text || '').substring(0, 6000) : '') + '\\n\\nCONDUCT BLACK HAT ANALYSIS. Return JSON: {\"likely_competitors\": [{\"name\": \"string\", \"threat_level\": \"CRITICAL|HIGH|MEDIUM|LOW\", \"likely_strategy\": \"string\", \"strengths_vs_us\": [\"string\"], \"weaknesses_vs_us\": [\"string\"], \"incumbent_advantage\": true, \"estimated_pwin\": \"X%\"}], \"ghost_themes\": [{\"theme\": \"string\", \"target_competitor\": \"string\", \"proposal_language\": \"string\", \"where_to_insert\": \"string\"}], \"competitive_positioning\": \"string\", \"counter_strategies\": [\"string\"], \"teaming_recommendations\": [{\"partner_type\": \"string\", \"capability_filled\": \"string\", \"rationale\": \"string\"}], \"win_strategy_adjustments\": [\"string\"]}' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"noAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"rt-blue-001","name":"Blue Team Review","type":"n8n-nodes-base.httpRequest","position":[1560,496],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":90000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 3000, system: 'You are a Shipley BLUE TEAM / WHITE GLOVE reviewer conducting final compliance and production review. The Blue Team ensures: (1) every shall/must/will from the RFP is traced to a specific proposal response, (2) page counts match Section L instructions, (3) formatting matches RFP requirements (font, margins, headers), (4) all acronyms defined on first use, (5) cross-references are accurate, (6) all CDRLs/deliverables addressed, (7) certifications and representations complete, (8) no conflicting statements between volumes. Reference: FAR 52.215-1 Instructions to Offerors. Reference: DFARS 252.215-7007. Return ONLY raw JSON.', messages: [{ role: 'user', content: 'BLUE TEAM — FINAL COMPLIANCE & PRODUCTION CHECK\\nAgency: ' + $('Validate RFP Input').first().json.agency + '\\nTitle: ' + $('Validate RFP Input').first().json.rfp_title + '\\nSolicitation: ' + ($('Validate RFP Input').first().json.solicitation_number || 'N/A') + '\\n\\n=== RFP/SOW ===\\n' + ($('Validate RFP Input').first().json.rfp_text || '').substring(0, 12000) + ($('Validate RFP Input').first().json.has_proposal ? '\\n\\n=== OUR RESPONSE ===\\n' + ($('Validate RFP Input').first().json.proposal_text || '').substring(0, 10000) : '') + '\\n\\nCONDUCT BLUE TEAM COMPLIANCE CHECK. Return JSON: {\"shall_must_will_trace\": [{\"requirement_text\": \"string\", \"rfp_ref\": \"string\", \"proposal_ref\": \"string or MISSING\", \"status\": \"Traced|Partial|Missing\"}], \"formatting_issues\": [\"string\"], \"page_count_assessment\": \"string\", \"acronym_issues\": [\"string\"], \"cross_reference_errors\": [\"string\"], \"deliverables_checklist\": [{\"deliverable\": \"string\", \"addressed\": true, \"notes\": \"string\"}], \"certifications_complete\": true, \"conflicting_statements\": [\"string\"], \"production_readiness\": \"Ready|Minor Issues|Major Issues\", \"blue_team_rating\": \"GREEN|YELLOW|RED\", \"critical_fixes\": [\"string\"]}' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"noAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"rt-aggregate-001","name":"Aggregate Reviews","type":"n8n-nodes-base.code","position":[1780,496],"parameters":{"jsCode":"function parseReview(resp) {\n  try {\n    const text = resp && resp.content && resp.content[0] ? resp.content[0].text || '' : '';\n    if (!text) return { error: 'empty_response' };\n    var m = text.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\n    if (m) return JSON.parse(m[1]);\n    var s = text.indexOf('{'), e = text.lastIndexOf('}');\n    if (s !== -1 && e !== -1) return JSON.parse(text.substring(s, e + 1));\n    return JSON.parse(text);\n  } catch(e) { return { error: 'parse_failed', raw: (resp && resp.content && resp.content[0] ? resp.content[0].text || '' : '').substring(0, 500) }; }\n}\nvar input = $('Validate RFP Input').first().json;\nvar pink = parseReview($('Pink Team Review').first().json);\nvar red = parseReview($('Red Team Review').first().json);\nvar gold = parseReview($('Gold Team Review').first().json);\nvar blackhat = parseReview($('Black Hat Review').first().json);\nvar blue = parseReview($('Blue Team Review').first().json);\nvar ratings = { pink: pink.pink_team_rating || 'N/A', red: red.red_team_rating || 'N/A', gold: gold.gold_team_rating || 'N/A', blue: blue.blue_team_rating || 'N/A' };\nvar goNoGo = red.go_no_go || gold.final_go_no_go || 'HOLD';\nvar winPct = red.win_probability || 'N/A';\nvar overallRating = red.overall_rating || 'N/A';\nvar allRecs = [].concat(\n  (pink.recommendations || []).map(function(r) { return {text: r, source: 'Pink Team', priority: 'High'}; }),\n  (red.recommendations || red.critical_fixes_before_submit || []).map(function(r) { return {text: r, source: 'Red Team', priority: 'Critical'}; }),\n  (gold.executive_recommendations || []).map(function(r) { return {text: r, source: 'Gold Team', priority: 'High'}; }),\n  (blackhat.counter_strategies || []).map(function(r) { return {text: r, source: 'Black Hat', priority: 'Medium'}; }),\n  (blue.critical_fixes || []).map(function(r) { return {text: r, source: 'Blue Team', priority: 'Critical'}; })\n);\nreturn [{ json: {\n  rfp_title: input.rfp_title, agency: input.agency, solicitation_number: input.solicitation_number || '', naics: input.naics || '', set_aside: input.set_aside || '', mode: input.mode, has_proposal: input.has_proposal, gov_file_names: input.gov_file_names || [], response_file_names: input.response_file_names || [],\n  go_no_go: goNoGo, win_probability: winPct, win_probability_rationale: red.win_probability_rationale || '', overall_rating: overallRating, go_confidence: red.go_confidence || 'MEDIUM',\n  color_ratings: ratings,\n  pink_team: { compliance_matrix: pink.compliance_matrix || [], section_l_compliance: pink.section_l_compliance || [], win_themes: pink.win_themes_assessment || [], structural_issues: pink.structural_issues || [], missing_sections: pink.missing_sections || [], graphics_needed: pink.graphics_needed || [], compliance_score: pink.compliance_score || null, rating: pink.pink_team_rating || 'N/A' },\n  red_team: { evaluation_factors: red.evaluation_factors || [], discriminators: red.discriminators || [], competitive_landscape: red.competitive_landscape || '', pricing_insights: red.pricing_insights || '', critical_fixes: red.critical_fixes_before_submit || [], rating: red.red_team_rating || 'N/A' },\n  gold_team: { executive_summary: gold.executive_summary || '', win_themes_validated: gold.win_themes_validated || [], discriminators_assessment: gold.discriminators_assessment || [], risk_to_government: gold.risk_to_government || [], price_competitiveness: gold.price_competitiveness || '', narrative_coherence: gold.narrative_coherence || '', submission_readiness: gold.submission_readiness || 'Unknown', rating: gold.gold_team_rating || 'N/A' },\n  black_hat: { likely_competitors: blackhat.likely_competitors || [], ghost_themes: blackhat.ghost_themes || [], competitive_positioning: blackhat.competitive_positioning || '', teaming_recommendations: blackhat.teaming_recommendations || [], win_strategy_adjustments: blackhat.win_strategy_adjustments || [] },\n  blue_team: { shall_must_will_trace: blue.shall_must_will_trace || [], formatting_issues: blue.formatting_issues || [], deliverables_checklist: blue.deliverables_checklist || [], production_readiness: blue.production_readiness || 'Unknown', conflicting_statements: blue.conflicting_statements || [], rating: blue.blue_team_rating || 'N/A' },\n  all_recommendations: allRecs,\n  reference_links: [\n    {title: 'Shipley Color Team Reviews', url: 'https://www.shipleywins.com/blogs/color-team-reviews'},\n    {title: 'FAR 15.305 Proposal Evaluation', url: 'https://www.acquisition.gov/far/15.305'},\n    {title: 'FAR 15.308 Source Selection Decision', url: 'https://www.acquisition.gov/far/15.308'},\n    {title: 'DoD Source Selection Procedures', url: 'https://www.acq.osd.mil/dpap/policy/policyvault/USA000740-22-DPC.pdf'},\n    {title: 'KSI Proposal Color Reviews Guide', url: 'https://info.ksiadvantage.com/blog/articles/gold-at-the-end-of-the-rainbow-proposal-color-reviews-ratings'},\n    {title: 'Utley Strategies Pink/Red/Gold Guide', url: 'https://www.utleystrategies.com/blog/pink-red-gold-team-review'},\n    {title: 'GDI Consulting Color Team Services', url: 'https://www.gdicwins.com/proposal-color-team-review-services/'}\n  ],\n  timestamp: new Date().toISOString()\n} }];"},"typeVersion":2},{"id":"rt-draft-001","name":"Draft Response","type":"n8n-nodes-base.httpRequest","position":[1900,650],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{"timeout":90000},"jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: 'You are a senior GovCon proposal writer. Using the complete Shipley color team analysis results, draft an improved proposal response that addresses every finding. Write in professional government proposal language. Include specific compliance language for each gap identified.', messages: [{ role: 'user', content: 'Draft improved proposal based on color team findings:\\n\\nRFP: ' + $json.rfp_title + ' (' + $json.agency + ')\\nGo/No-Go: ' + $json.go_no_go + '\\nWin Probability: ' + $json.win_probability + '\\nOverall Rating: ' + $json.overall_rating + '\\n\\nPINK TEAM FINDINGS (Compliance):\\n' + ($json.pink_team.missing_sections || []).map(function(s){return '- MISSING: '+s;}).join('\\n') + '\\n\\nRED TEAM CRITICAL FIXES:\\n' + ($json.red_team.critical_fixes || []).map(function(f){return '- '+f;}).join('\\n') + '\\n\\nGOLD TEAM EXECUTIVE FEEDBACK:\\n' + ($json.gold_team.executive_recommendations || []).join('\\n') + '\\n\\nBLACK HAT GHOST THEMES TO INCORPORATE:\\n' + ($json.black_hat.ghost_themes || []).map(function(g){return '- '+g.theme+': '+g.proposal_language;}).join('\\n') + '\\n\\nBLUE TEAM COMPLIANCE GAPS:\\n' + ($json.blue_team.shall_must_will_trace || []).filter(function(t){return t.status==\"Missing\";}).map(function(t){return '- '+t.requirement_text;}).join('\\n') + '\\n\\nWrite the improved draft addressing ALL findings.' }] }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"noAuth","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2,"continueOnFail":true},{"id":"rt-final-001","name":"Build Final","type":"n8n-nodes-base.code","position":[2100,650],"parameters":{"jsCode":"var agg = $('Aggregate Reviews').first().json;\nvar resp = $input.first().json;\nvar draft = (resp && resp.content && resp.content[0] && resp.content[0].text) || '';\nreturn [{ json: Object.assign({}, agg, { draft_response: draft, rewrite_available: !!draft }) }];"},"typeVersion":2},{"id":"3","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[2000,496],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($('Build Final').first().json) }}"},"typeVersion":1}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Prep Input","type":"main","index":0}]]},"Prep Input":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Merge PDF Extract","type":"main","index":0}]]},"Merge PDF Extract":{"main":[[{"node":"Validate RFP Input","type":"main","index":0}]]},"Validate RFP Input":{"main":[[{"node":"Pink Team Review","type":"main","index":0}]]},"Pink Team Review":{"main":[[{"node":"Red Team Review","type":"main","index":0}]]},"Red Team Review":{"main":[[{"node":"Gold Team Review","type":"main","index":0}]]},"Gold Team Review":{"main":[[{"node":"Black Hat Review","type":"main","index":0}]]},"Black Hat Review":{"main":[[{"node":"Blue Team Review","type":"main","index":0}]]},"Blue Team Review":{"main":[[{"node":"Aggregate Reviews","type":"main","index":0}]]},"Aggregate Reviews":{"main":[[{"node":"Draft Response","type":"main","index":0}]]},"Draft Response":{"main":[[{"node":"Build Final","type":"main","index":0}]]},"Build Final":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1"}, "updatedAt" : "2026-05-26T21:28:45.063+00:00"}
