docs/n8n-triage/workflows/GDA.api.launchpad-funnel___vaRzM1Jl6HcXjuxs.json
{"id" : "vaRzM1Jl6HcXjuxs", "name" : "GDA.api.launchpad-funnel", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"wh1","name":"Webhook","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{"allowedOrigins":"*"},"path":"gda-launchpad-funnel","responseMode":"responseNode"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"launchpad-funnel-001"},{"alwaysOutputData":true,"continueOnFail":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"pg1","name":"Opp Stage Counts","parameters":{"operation":"executeQuery","options":{},"query":"SELECT stage, COUNT(*) as count, ROUND(COALESCE(SUM(estimated_value::numeric),0)/1000000,1) as value_m FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Go','No-Bid','Cancelled','Lost','Won') GROUP BY stage ORDER BY count DESC;"},"position":[420,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"alwaysOutputData":true,"continueOnFail":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"pg2","name":"Capture Plan Stages","parameters":{"operation":"executeQuery","options":{},"query":"SELECT\n  COALESCE(plan_data->>'stage','Go/No-Go') as stage,\n  COUNT(*) as count,\n  ROUND(COALESCE(SUM(\n    CASE WHEN plan_data->>'allocated_revenue_value' ~ '^[0-9.]+$'\n    THEN (plan_data->>'allocated_revenue_value')::numeric ELSE 0 END\n  ),0)/1000000,2) as alloc_m,\n  ROUND(COALESCE(SUM(\n    CASE WHEN plan_data->>'total_contract_value' ~ '^[0-9.]+$'\n    THEN (plan_data->>'total_contract_value')::numeric ELSE 0 END\n  ),0)/1000000,2) as tcv_m\nFROM gda_capture_plans\nWHERE COALESCE(plan_data->>'stage','Go/No-Go') NOT IN ('Pass','No-Bid','No-Go','Lost','Won','Cancelled')\nGROUP BY COALESCE(plan_data->>'stage','Go/No-Go')\nORDER BY count DESC;"},"position":[640,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"alwaysOutputData":true,"continueOnFail":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"pg3","name":"Top Opps","parameters":{"operation":"executeQuery","options":{},"query":"SELECT\n  cp.opp_title,\n  cp.agency,\n  cp.contract_value,\n  COALESCE(cp.plan_data->>'stage','Go/No-Go') as stage,\n  cp.plan_data->>'pwin' as pwin,\n  cp.plan_data->>'total_contract_value' as tcv\nFROM gda_capture_plans cp\nWHERE COALESCE(cp.plan_data->>'stage','Go/No-Go') NOT IN ('Pass','No-Bid','No-Go','Lost','Won','Cancelled')\nORDER BY CASE WHEN cp.plan_data->>'total_contract_value' ~ '^[0-9.]+$'\n  THEN (cp.plan_data->>'total_contract_value')::numeric ELSE 0 END DESC\nLIMIT 10;"},"position":[860,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"code1","name":"Merge Results","parameters":{"jsCode":"const oppStages = $('Opp Stage Counts').first().json.stage ? $('Opp Stage Counts').all().map(i => i.json).filter(i => i.stage) : [];\nconst captureRaw = $('Capture Plan Stages').all().map(i => i.json).filter(i => i.stage);\nconst seen = new Set();\nconst captureStages = captureRaw.filter(r => { if (seen.has(r.stage)) return false; seen.add(r.stage); return true; });\nconst topRaw = $('Top Opps').all().map(i => i.json).filter(i => i.opp_title);\nconst seenT = new Set();\nconst topOpps = topRaw.filter(r => { var k = r.opp_title+r.tcv; if (seenT.has(k)) return false; seenT.add(k); return true; });\n\nconst totalOpps = oppStages.reduce((s,r) => s + parseInt(r.count||0), 0);\nconst totalValue = oppStages.reduce((s,r) => s + parseFloat(r.value_m||0), 0);\nconst totalCapture = captureStages.reduce((s,r) => s + parseInt(r.count||0), 0);\nconst totalTCV = captureStages.reduce((s,r) => s + parseFloat(r.tcv_m||0), 0);\nconst totalAlloc = captureStages.reduce((s,r) => s + parseFloat(r.alloc_m||0), 0);\n\nreturn [{ json: {\n  summary: { totalOpps, totalValue: Math.round(totalValue*10)/10, totalCapture, totalTCV: Math.round(totalTCV*100)/100, totalAlloc: Math.round(totalAlloc*100)/100 },\n  oppStages, captureStages, topOpps,\n  generatedAt: new Date().toISOString()\n} }];"},"position":[1080,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"resp1","name":"Respond","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"position":[1300,300],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Capture Plan Stages":{"main":[[{"index":0,"node":"Top Opps","type":"main"}]]},"Merge Results":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Opp Stage Counts":{"main":[[{"index":0,"node":"Capture Plan Stages","type":"main"}]]},"Top Opps":{"main":[[{"index":0,"node":"Merge Results","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Opp Stage Counts","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-13T15:41:18.016+00:00"}
