docs/n8n-triage/workflows/GDA.api.semantic-search___MrL0WRTornU9WdME.json
{"id" : "MrL0WRTornU9WdME", "name" : "GDA.api.semantic-search", "active" : false, "nodes" : [{"id":"ss-wh","name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"gda-semantic-search","responseMode":"responseNode","authentication":"headerAuth"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"webhookId":"3f0de77f-6a8a-453b-ae8d-61d7baa3cc50"},{"id":"ss-auth","name":"Auth Check","parameters":{"jsCode":"const headers = $input.first().json.headers || {};\nconst key = headers['x-gda-key'] || headers['X-GDA-Key'] || '';\n// The Webhook node already enforces n8n Header Auth.\n// This node should not hardcode a rotating secret; it only confirms the expected header is present.\nif (!key) throw new Error('Unauthorized: missing x-gda-key');\nreturn $input.all();"},"position":[380,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"ss-embed","name":"Embed Query","parameters":{"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({model: 'text-embedding-3-small', input: [($input.first().json.body || $input.first().json).query || 'defense opportunity']}) }}","method":"POST","options":{"timeout":30000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.openai.com/v1/embeddings"},"position":[580,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"ss-search","name":"Vector Search","parameters":{"operation":"executeQuery","query":"=SELECT id, source_type, source_id, source_title, chunk_text, metadata, 1 - (embedding <=> '{{ '[' + $json.data[0].embedding.join(',') + ']' }}'::vector) as similarity FROM gda_embeddings WHERE 1 - (embedding <=> '{{ '[' + $json.data[0].embedding.join(',') + ']' }}'::vector) > {{ ($('Webhook').first().json.body || $('Webhook').first().json).threshold || 0.3 }} ORDER BY embedding <=> '{{ '[' + $json.data[0].embedding.join(',') + ']' }}'::vector LIMIT {{ ($('Webhook').first().json.body || $('Webhook').first().json).limit || 10 }}"},"position":[800,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"ss-format","name":"Format Results","parameters":{"jsCode":"const rows = $input.all().map(i => i.json);\nconst query = ($('Webhook').first().json.body || $('Webhook').first().json).query;\nreturn [{json: {\n  query,\n  results: rows.map(r => ({\n    source_type: r.source_type,\n    source_id: r.source_id,\n    title: r.source_title,\n    text: r.chunk_text,\n    similarity: parseFloat(r.similarity || 0).toFixed(4),\n    metadata: typeof r.metadata === 'string' ? JSON.parse(r.metadata) : r.metadata\n  })),\n  count: rows.length\n}}];"},"position":[1020,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"ss-respond","name":"Respond","parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"position":[1240,300],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Auth Check":{"main":[[{"index":0,"node":"Embed Query","type":"main"}]]},"Embed Query":{"main":[[{"index":0,"node":"Vector Search","type":"main"}]]},"Format Results":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Vector Search":{"main":[[{"index":0,"node":"Format Results","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Check","type":"main"}]]}}, "settings" : {"executionOrder":"v1","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-13T15:41:14.75+00:00"}
