docs/n8n-triage/workflows/GDA.api.knowledge-base___VsNvEyaS46M8uPgB.json
{"id" : "VsNvEyaS46M8uPgB", "name" : "GDA.api.knowledge-base", "active" : false, "nodes" : [{"id":"kb-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,300],"webhookId":"gda-knowledge-base-v1","parameters":{"path":"gda-knowledge-base","options":{"allowedOrigins":"*"},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"kb-pg","name":"Get Knowledge Base","type":"n8n-nodes-base.postgres","position":[480,300],"parameters":{"query":"SELECT id, timestamp, question, answer, tags FROM gda_knowledge_base ORDER BY timestamp DESC LIMIT 50","options":{},"operation":"executeQuery","additionalFields":{}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"kb-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[720,300],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $('Get Knowledge Base').all().map(i => i.json) }}"},"typeVersion":1.1},{"id":"61a5dbf7-1adb-43cb-ae61-f67a7363fb5f","name":"Auth Guard","type":"n8n-nodes-base.code","position":[360,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"},"typeVersion":2}], "connections" : {"Get Knowledge Base":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Get Knowledge Base","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:45.427+00:00"}
