docs/n8n-triage/workflows/GDA.cron.stage-auto-promote___lU2uQfmQ6sch69TA.json
{"id" : "lU2uQfmQ6sch69TA", "name" : "GDA.cron.stage-auto-promote", "active" : false, "nodes" : [{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/15 * * * *"}]}},"id":"sched1","name":"Schedule Trigger","position":[208,304],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"SELECT id, opp_title, stage, gda_label, gda_score FROM gda_opportunity_tracker WHERE stage = 'Identified' AND gda_label = 'PURSUE' AND gda_score >= 70 AND ai_analysis IS NOT NULL AND ai_analysis != '' LIMIT 20","options":{}},"id":"q1","name":"Find Promotable","position":[432,304],"type":"n8n-nodes-base.postgres","typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.id > 0 }}","value2":true}]},"options":{}},"id":"if1","name":"Has Results","position":[656,304],"type":"n8n-nodes-base.if","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"UPDATE gda_opportunity_tracker SET stage = 'Qualified', updated_at = NOW() WHERE id = {{ $json.id }}::int AND stage = 'Identified' RETURNING id, opp_title, stage","options":{}},"id":"up1","name":"Promote","position":[880,304],"type":"n8n-nodes-base.postgres","typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst promoted = items.filter(i => i.json.id);\nconsole.log(`Stage auto-promote: ${promoted.length} opps promoted from Identified to Qualified`);\nreturn items;"},"id":"log1","name":"Log","position":[1104,304],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Find Promotable":{"main":[[{"index":0,"node":"Has Results","type":"main"}]]},"Has Results":{"main":[[{"index":0,"node":"Promote","type":"main"}],[]]},"Promote":{"main":[[{"index":0,"node":"Log","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Find Promotable","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","binaryMode":"separate"}, "updatedAt" : "2026-05-21T01:19:19.315+00:00"}
