docs/n8n-triage/workflows/GDA.api.dashboard-mega___UYGJPu7N5YZblvEU.json
{"id" : "UYGJPu7N5YZblvEU", "name" : "GDA.api.dashboard-mega", "active" : false, "nodes" : [{"parameters":{"httpMethod":"POST","path":"gda-dashboard-mega","authentication":"headerAuth","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"dm-wh","name":"Webhook","position":[208,432],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"68dfd903-5a80-4861-b463-cac3dfe8e5a3","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"parameters":{"operation":"executeQuery","query":"SELECT c.payload, c.extracted_at FROM (SELECT 1 AS dummy) d LEFT JOIN gda_mega_cache c ON c.id = 1 AND c.extracted_at > NOW() - INTERVAL '60 minutes' LIMIT 1","options":{}},"id":"dm-cache-check","name":"Check Cache","position":[656,432],"type":"n8n-nodes-base.postgres","typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"cache-cond-v2","leftValue":"={{ $json.payload }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"}},"options":{}},"id":"dm-cache-if","name":"Cache Hit?","position":[880,432],"type":"n8n-nodes-base.if","typeVersion":2,"alwaysOutputData":false},{"parameters":{"respondWith":"json","responseBody":"={{ $json.payload }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"X-GDA-Cache","value":"HIT"}]}}},"id":"dm-respond-cached","name":"Respond Cached","position":[1104,144],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"parameters":{"operation":"executeQuery","query":"SELECT json_build_object('funnel', (SELECT COALESCE(json_agg(f ORDER BY f.ord), '[]'::json) FROM (SELECT stage, COUNT(*) as count, COALESCE(SUM(estimated_value),0) as value, CASE stage WHEN 'Identified' THEN 0 WHEN 'Investigating' THEN 1 WHEN 'Pursuing' THEN 2 WHEN 'Proposal' THEN 3 WHEN 'Submitted' THEN 4 WHEN 'Won' THEN 5 WHEN 'Lost' THEN 6 WHEN 'No-Go' THEN 7 ELSE 8 END as ord FROM gda_opportunity_tracker WHERE stage IS NOT NULL GROUP BY stage) f), 'risks', (SELECT COALESCE(json_agg(r), '[]'::json) FROM (SELECT title, severity, category, status FROM gda_risk_register ORDER BY CASE severity WHEN 'CRITICAL' THEN 0 WHEN 'HIGH' THEN 1 WHEN 'MEDIUM' THEN 2 ELSE 3 END LIMIT 10) r), 'stats', (SELECT row_to_json(s) FROM (SELECT COUNT(*) as total_opps, COUNT(CASE WHEN gda_label='PURSUE' THEN 1 END) as pursue, COUNT(CASE WHEN gda_label='EVALUATE' THEN 1 END) as evaluate, COUNT(CASE WHEN stage='Won' THEN 1 END) as won, COALESCE(SUM(estimated_value),0) as pipeline_value, COUNT(CASE WHEN response_deadline IS NOT NULL AND response_deadline::date BETWEEN CURRENT_DATE AND CURRENT_DATE + 14 THEN 1 END) as deadlines_14d FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won')) s), 'trends', (SELECT COALESCE(json_agg(t), '[]'::json) FROM (SELECT category, finding, source, agency FROM gda_intelligence_log ORDER BY timestamp DESC NULLS LAST LIMIT 10) t), 'contracts', (SELECT COALESCE(json_agg(c), '[]'::json) FROM (SELECT id, name, client, piid, idv, naics, contract_type as type, ceiling, funded, pop_start, pop_end, option_years, options_exercised, status, pm, cotr, employees, location, description, key_personnel, fy_revenue FROM gda_active_contracts ORDER BY ceiling DESC) c), 'sitrep_opps', (SELECT COALESCE(json_agg(o), '[]'::json) FROM (SELECT opp_title, agency, stage, gda_label, estimated_value, response_deadline FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won') AND gda_label IN ('PURSUE','EVALUATE') ORDER BY response_deadline ASC NULLS LAST LIMIT 15) o), 'opps', (SELECT COALESCE(json_agg(p), '[]'::json) FROM (SELECT id, opp_title AS \"Opportunity\", agency AS \"Agency\", ROUND((estimated_value/1000000.0)::numeric, 2) AS \"Est. value ($M)\", gda_score AS \"GDA score\", NULL AS \"PWin\", response_deadline AS \"Due date\" FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go','Lost','Won') ORDER BY response_deadline ASC NULLS LAST LIMIT 50) p), 'briefing', (SELECT row_to_json(b) FROM (SELECT briefing AS summary, headlines, generated_at FROM gda_morning_briefings ORDER BY generated_at DESC LIMIT 1) b)) as mega","options":{}},"id":"dm-query","name":"Query All","position":[1104,336],"type":"n8n-nodes-base.postgres","typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT 1 as ok","options":{}},"id":"dm-kpi","name":"KPI Query","position":[1104,528],"type":"n8n-nodes-base.postgres","typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT summary, headlines, generated_at FROM gda_morning_briefings ORDER BY generated_at DESC LIMIT 1","options":{}},"id":"dm-briefing","name":"Briefing Query","position":[1104,720],"type":"n8n-nodes-base.postgres","typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const megaRaw = $('Query All').first().json;\nlet mega = {};\ntry { mega = megaRaw.mega || megaRaw; } catch(e) {}\n\nlet kpi = null;\ntry { kpi = mega.kpi || null; delete mega.kpi; } catch(e) {}\n\nlet briefRaw = {};\ntry { briefRaw = mega.briefing || {}; delete mega.briefing; } catch(e) {}\n\nconst stats = mega.stats || {};\nconst sitrepOpps = mega.sitrep_opps || [];\nconst deadlineSoon = sitrepOpps.filter(o => o.response_deadline && Math.ceil((new Date(o.response_deadline) - new Date()) / 86400000) <= 30);\nconst topPursue = sitrepOpps.filter(o => o.gda_label === 'PURSUE').slice(0, 5);\n\nlet briefHeadlines = [];\ntry {\n  const bh = briefRaw.headlines;\n  briefHeadlines = typeof bh === 'string' ? JSON.parse(bh) : (Array.isArray(bh) ? bh : []);\n} catch(e) {}\nconst briefSummary = briefRaw.summary || null;\n\nconst criticalActions = [\n  deadlineSoon.length > 0 ? `${deadlineSoon.length} PURSUE/EVALUATE opp${deadlineSoon.length > 1 ? 's' : ''} due within 30 days — triage required` : null,\n  topPursue.length > 0 ? `Top pursue: ${topPursue.map(o => (o.opp_title || '').substring(0, 40)).join('; ')}` : null,\n  stats.deadlines_14d > 0 ? `${stats.deadlines_14d} response deadline${stats.deadlines_14d > 1 ? 's' : ''} within 14 days` : null\n].filter(Boolean);\n\nconst worldNews = briefHeadlines.slice(0, 6).map(h => ({\n  title: h.title || h.topic || 'Defense Intel',\n  topic: h.title || h.topic || 'Defense Intel',\n  status: h.status || 'yellow',\n  summary: h.summary || h.why_you_care || h.description || '',\n  why_you_care: h.why_you_care || h.summary || '',\n  url: h.url || h.source || null,\n  source: h.url || h.source || null\n}));\n\nconst marketSignals = [\n  stats.deadlines_14d > 0 ? { indicator: 'Deadline Pressure', status: 'red', update: `${stats.deadlines_14d} response deadline(s) within 14 days`, takeaway: 'Immediate triage required', source: null } : null,\n  deadlineSoon.length > 0 ? { indicator: 'Pipeline Velocity', status: 'yellow', update: `${deadlineSoon.length} PURSUE/EVALUATE opps due within 30 days`, takeaway: 'Review capture readiness and teaming', source: null } : null,\n  stats.pursue > 0 ? { indicator: 'Active Pursuit Count', status: 'green', update: `${stats.pursue} opps in PURSUE — ${((stats.pipeline_value||0)/1e6).toFixed(1)}M total pipeline`, takeaway: 'Pipeline healthy — maintain momentum', source: null } : null\n].filter(Boolean);\n\nconst dodItems = briefHeadlines.slice(0, 4).map(h => ({\n  topic: h.title || h.topic || 'Intel Update',\n  status: h.status || 'green',\n  update: h.summary || h.description || '',\n  takeaway: h.why_you_care || '',\n  source: h.url || h.source || null\n}));\n\nconst longHorizonOpps = sitrepOpps.filter(o => {\n  if (!o.response_deadline) return true;\n  const daysOut = Math.ceil((new Date(o.response_deadline) - new Date()) / 86400000);\n  return daysOut > 30;\n}).slice(0, 6);\nconst acqNews = longHorizonOpps.map(o => ({\n  item: (o.opp_title || 'Opportunity').substring(0, 60),\n  status: 'blue',\n  update: `${o.agency || 'Agency'} | ${o.stage || 'Active'} | ${o.response_deadline ? 'Due: ' + new Date(o.response_deadline).toLocaleDateString() : 'Long range / TBD'}`,\n  takeaway: `Value: ${((parseFloat(o.estimated_value)||0)/1e6).toFixed(1)}M`,\n  source: null\n}));\n\nconst sitrep = {\n  strategic_synthesis: briefSummary || `Pipeline: ${stats.total_opps || 0} active opps | ${stats.pursue || 0} PURSUE | ${stats.evaluate || 0} EVALUATE | ${((stats.pipeline_value || 0)/1e6).toFixed(1)}M total value. ${deadlineSoon.length > 0 ? deadlineSoon.length + ' deadlines within 30 days.' : 'No immediate deadlines.'}`,\n  pipeline_status: { total: stats.total_opps || 0, pursue: stats.pursue || 0, evaluate: stats.evaluate || 0, pipeline_value: stats.pipeline_value || 0, deadlines_14d: stats.deadlines_14d || 0, summary: `${((stats.pipeline_value||0)/1e6).toFixed(1)}M across ${stats.total_opps||0} active opps` },\n  critical_actions: criticalActions,\n  top_news: briefHeadlines.slice(0, 5),\n  world_news: worldNews,\n  market_signals: marketSignals,\n  govt_intel: { dod: dodItems, ic: [], dhs: [] },\n  acquisition_news: acqNews,\n  bluf: criticalActions.length > 0 ? [criticalActions[0]] : ['Pipeline on track — no critical actions today.'],\n  summary: briefSummary || null,\n  generated_at: new Date().toISOString()\n};\n\ndelete mega.sitrep_opps;\nconst payload = JSON.stringify(Object.assign({ status: 'ok', cached_at: new Date().toISOString() }, mega, { sitrep }, kpi ? { kpi } : {}));\nreturn [{ json: { payload } }];"},"id":"dm-merge","name":"Build Response","position":[1328,528],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO gda_mega_cache (id, payload, extracted_at) VALUES (1, $payload${{ $json.payload }}$payload$, NOW()) ON CONFLICT (id) DO UPDATE SET payload = EXCLUDED.payload, extracted_at = NOW()","options":{}},"id":"dm-write-cache","name":"Write Cache","position":[1552,432],"type":"n8n-nodes-base.postgres","typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Response').first().json.payload }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"X-GDA-Cache","value":"MISS"}]}}},"id":"dm-respond","name":"Respond","position":[1552,624],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Build Response":{"main":[[{"index":0,"node":"Write Cache","type":"main"},{"index":0,"node":"Respond","type":"main"}]]},"Cache Hit?":{"main":[[{"index":0,"node":"Respond Cached","type":"main"}],[{"index":0,"node":"Query All","type":"main"},{"index":0,"node":"KPI Query","type":"main"},{"index":0,"node":"Briefing Query","type":"main"}]]},"Check Cache":{"main":[[{"index":0,"node":"Cache Hit?","type":"main"}]]},"KPI Query":{"main":[[{"index":0,"node":"Build Response","type":"main"}]]},"Query All":{"main":[[{"index":0,"node":"Build Response","type":"main"}]]},"Briefing Query":{"main":[[{"index":0,"node":"Build Response","type":"main"}]]},"Webhook":{"main":[[{"node":"Check Cache","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","errorWorkflow":"BVOAC22J7MM2tsBg","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveDataSuccessExecution":"all","binaryMode":"separate"}, "updatedAt" : "2026-05-22T16:25:17.209+00:00"}
