docs/n8n-triage/workflows/GDA.cron.daily-trends-collect___D6nZ235hSF4wGMb5.json
{"id" : "D6nZ235hSF4wGMb5", "name" : "GDA.cron.daily-trends-collect", "active" : false, "nodes" : [{"id":"t1","name":"Daily 07:00 EST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}}},{"id":"t2","name":"Collect Metrics","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[460,300],"parameters":{"operation":"executeQuery","query":"WITH metrics AS (\n  SELECT 'total_opportunities' as metric, COUNT(*)::numeric as val FROM gda_opportunity_alerts\n  UNION ALL\n  SELECT 'pipeline_value', COUNT(*)::numeric * 50 FROM gda_opportunity_alerts WHERE urgency='HIGH'\n  UNION ALL\n  SELECT 'active_alerts', COUNT(*)::numeric FROM gda_opportunity_alerts WHERE expires_at > NOW()\n  UNION ALL\n  SELECT 'action_items_open', COUNT(*)::numeric FROM gda_action_items WHERE status != 'done'\n  UNION ALL\n  SELECT 'intel_log_entries', COUNT(*)::numeric FROM gda_intelligence_log\n  UNION ALL\n  SELECT 'opp_tracker_depts', COUNT(*)::numeric FROM gda_opportunity_tracker\n  UNION ALL\n  SELECT 'competitor_cache', COUNT(*)::numeric FROM gda_competitor_cache\n  UNION ALL\n  SELECT 'saved_opportunities', COUNT(*)::numeric FROM gda_saved_opportunities\n  UNION ALL\n  SELECT 'departments_tracked', COUNT(DISTINCT dept)::numeric FROM gda_opportunity_tracker\n)\nSELECT * FROM metrics;","options":{}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"id":"t3","name":"Upsert Trends","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"parameters":{"jsCode":"const items = $input.all();\nconst queries = items.map(item => {\n  const d = item.json;\n  return `INSERT INTO daily_trends (date, metric_name, metric_value)\n    VALUES (CURRENT_DATE, '${d.metric}', ${d.val || 0})\n    ON CONFLICT (date, metric_name) DO UPDATE SET\n      metric_value = EXCLUDED.metric_value,\n      rolling_avg_7d = (\n        SELECT AVG(metric_value) FROM daily_trends\n        WHERE metric_name = '${d.metric}'\n        AND date >= CURRENT_DATE - 7\n      ),\n      rolling_avg_30d = (\n        SELECT AVG(metric_value) FROM daily_trends\n        WHERE metric_name = '${d.metric}'\n        AND date >= CURRENT_DATE - 30\n      );`;\n});\nreturn [{json: {query: queries.join('\\n'), count: queries.length}}];"}},{"id":"t4","name":"Write Trends","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[940,300],"parameters":{"operation":"executeQuery","query":"={{ $json.query }}","options":{}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"id":"t5","name":"Build Trend Arrays","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1180,300],"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS gda_trend_arrays (\n  metric_name VARCHAR(100) PRIMARY KEY,\n  spark_data JSONB NOT NULL DEFAULT '[]',\n  latest_value NUMERIC,\n  delta_pct NUMERIC,\n  trend_direction VARCHAR(10) DEFAULT 'flat',\n  updated_at TIMESTAMP DEFAULT NOW()\n);\n\nWITH recent AS (\n  SELECT metric_name,\n    json_agg(metric_value ORDER BY date) as spark_data,\n    (array_agg(metric_value ORDER BY date DESC))[1] as latest,\n    (array_agg(metric_value ORDER BY date DESC))[2] as previous\n  FROM daily_trends\n  WHERE date >= CURRENT_DATE - 7\n  GROUP BY metric_name\n)\nINSERT INTO gda_trend_arrays (metric_name, spark_data, latest_value, delta_pct, trend_direction, updated_at)\nSELECT\n  r.metric_name,\n  r.spark_data::jsonb,\n  r.latest,\n  CASE WHEN r.previous > 0 THEN ROUND(((r.latest - r.previous) / r.previous * 100)::numeric, 1) ELSE 0 END,\n  CASE\n    WHEN r.latest > r.previous THEN 'up'\n    WHEN r.latest < r.previous THEN 'down'\n    ELSE 'flat'\n  END,\n  NOW()\nFROM recent r\nON CONFLICT (metric_name) DO UPDATE SET\n  spark_data = EXCLUDED.spark_data,\n  latest_value = EXCLUDED.latest_value,\n  delta_pct = EXCLUDED.delta_pct,\n  trend_direction = EXCLUDED.trend_direction,\n  updated_at = NOW();","options":{}},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}}], "connections" : {"Daily 07:00 EST":{"main":[[{"node":"Collect Metrics","type":"main","index":0}]]},"Collect Metrics":{"main":[[{"node":"Upsert Trends","type":"main","index":0}]]},"Upsert Trends":{"main":[[{"node":"Write Trends","type":"main","index":0}]]},"Write Trends":{"main":[[{"node":"Build Trend Arrays","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU","saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:14.449+00:00"}
