docs/n8n-triage/workflows/GDA.api.govtribe-cache___W8DukE5eD6GPgopq.json
{"id" : "W8DukE5eD6GPgopq", "name" : "GDA.api.govtribe-cache", "active" : false, "nodes" : [{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","position":[256,352],"webhookId":"3f18a5f3-0907-4575-b265-cec3386d2d93","parameters":{"path":"gda-govtribe-cache","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"2","name":"Auth Guard","type":"n8n-nodes-base.if","position":[480,352],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"auth","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.auth_key || $json.query.auth_key }}","rightValue":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":2},{"id":"3","name":"Check Cache","type":"n8n-nodes-base.postgres","position":[704,256],"parameters":{"query":"=SELECT result_json, cached_at FROM govtribe_cache WHERE cache_key = '{{ $json.body.cache_key }}' AND cached_at > NOW() - INTERVAL '{{ $json.body.ttl_hours || 24 }} hours' LIMIT 1;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"4","name":"Has Cache?","type":"n8n-nodes-base.if","position":[928,256],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has_cache","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.result_json }}"}]}},"typeVersion":2},{"id":"5","name":"Return Cached","type":"n8n-nodes-base.respondToWebhook","position":[1152,160],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ { cached: true, data: JSON.parse($json.result_json), cached_at: $json.cached_at } }}"},"typeVersion":1.1},{"id":"6","name":"Return Miss","type":"n8n-nodes-base.respondToWebhook","position":[1152,352],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ { cached: false, message: 'Cache miss - call GovTribe directly and POST result back to /gda-govtribe-cache with action=store' } }}"},"typeVersion":1.1},{"id":"7","name":"Reject Auth","type":"n8n-nodes-base.respondToWebhook","position":[704,448],"parameters":{"options":{"responseCode":401},"respondWith":"json","responseBody":"={{ { error: 'Unauthorized' } }}"},"typeVersion":1.1}], "connections" : {"Auth Guard":{"main":[[{"index":0,"node":"Check Cache","type":"main"}],[{"index":0,"node":"Reject Auth","type":"main"}]]},"Check Cache":{"main":[[{"index":0,"node":"Has Cache?","type":"main"}]]},"Has Cache?":{"main":[[{"index":0,"node":"Return Cached","type":"main"}],[{"index":0,"node":"Return Miss","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Guard","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:51.449+00:00"}
