docs/n8n-triage/workflows/GDA.bot.telegram-chat___1ItrrFxGI3L43Pdv.json
{"id" : "1ItrrFxGI3L43Pdv", "name" : "GDA.bot.telegram-chat", "active" : false, "nodes" : [{"credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"id":"tg-in","name":"Telegram Trigger","parameters":{"updates":["message"]},"position":[200,300],"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"webhookId":"30febd1d-914e-4a42-9789-45bd2fe2b777"},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"handler","name":"Command Handler","parameters":{"operation":"executeQuery","query":"={{ (function(){\n  const text = ($input.first().json.message.text || '').trim().toLowerCase();\n  if (text === '/status' || text === 'status') {\n    return 'SELECT (SELECT COUNT(*) FROM gda_opportunity_tracker)::text as opps, (SELECT COUNT(*) FROM gda_capture_plans)::text as captures, (SELECT COUNT(*) FROM gda_error_log WHERE logged_at > NOW() - INTERVAL \\'24 hours\\')::text as errors_24h';\n  } else if (text === '/pipeline' || text === 'pipeline') {\n    return 'SELECT stage, COUNT(*)::text as cnt, ROUND(COALESCE(SUM(estimated_value::numeric),0)/1000000,1)::text as value_m FROM gda_opportunity_tracker WHERE is_active=true GROUP BY stage ORDER BY stage';\n  } else if (text === '/errors' || text === 'errors') {\n    return 'SELECT workflow_name, error_message, logged_at::text FROM gda_error_log ORDER BY logged_at DESC LIMIT 5';\n  } else if (text === '/briefing' || text === 'briefing') {\n    return 'SELECT briefing, generated_at::text FROM gda_morning_briefings ORDER BY generated_at DESC LIMIT 1';\n  } else {\n    return 'SELECT \\'ok\\' as status';\n  }\n})() }}"},"position":[500,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"format","name":"Format Reply","parameters":{"jsCode":"const msg = $('Telegram Trigger').first().json.message;\nconst chatId = msg.chat.id;\nconst text = (msg.text || '').trim().toLowerCase();\nconst raw = (msg.text || '').trim();\n\nif (String(chatId) !== '8631035943') {\n  return [{json:{chatId, reply:'Unauthorized'}}];\n}\n\nconst rows = $('Command Handler').all().map(i => i.json);\n\nlet reply = '';\n\nif (text === '/status' || text === 'status') {\n  const d = rows[0] || {};\n  reply = '\\ud83d\\udce1 *GDA Status*\\n\\n\\ud83d\\udcca Opportunities: ' + (d.opps||'0') + '\\n\\ud83c\\udfaf Capture Plans: ' + (d.captures||'0') + '\\n\\ud83d\\udea8 Errors (24h): ' + (d.errors_24h||'0');\n\n} else if (text === '/pipeline' || text === 'pipeline') {\n  if (!rows.length || !rows[0].stage) {\n    reply = 'No pipeline data.';\n  } else {\n    reply = '\\ud83d\\udcca *Pipeline*\\n\\n' + rows.map(r => r.stage + ': ' + r.cnt + ' opps ($' + r.value_m + 'M)').join('\\n');\n  }\n\n} else if (text === '/errors' || text === 'errors') {\n  if (!rows.length || !rows[0].workflow_name) {\n    reply = '\\u2705 No recent errors.';\n  } else {\n    reply = '\\ud83d\\udea8 *Recent Errors*\\n\\n' + rows.map(r => '\\u2022 *' + (r.workflow_name||'?') + '*\\n  ' + (r.error_message||'--').substring(0,120)).join('\\n\\n');\n  }\n\n} else if (text === '/briefing' || text === 'briefing') {\n  const b = rows[0];\n  if (!b || !b.briefing) {\n    reply = 'No briefing yet. Next run 6:00 AM ET.';\n  } else {\n    reply = '\\ud83d\\udcf0 *Morning Briefing*\\n\\n' + b.briefing.substring(0, 3800);\n  }\n\n} else if (text === '/help' || text === '/start' || text === 'help') {\n  reply = '\\ud83d\\udce1 *GDA Command Bot*\\n\\nCommands:\\n/status \\u2014 Platform health\\n/errors \\u2014 Recent errors\\n/pipeline \\u2014 Pipeline summary\\n/briefing \\u2014 Latest intel briefing';\n\n} else {\n  reply = '\\u2753 Try: /status  /errors  /pipeline  /briefing  /help';\n}\n\nreturn [{json:{chatId, reply: reply.substring(0, 4000)}}];","mode":"runOnceForAllItems"},"position":[800,300],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"id":"tg-reply","name":"Reply","parameters":{"additionalFields":{"parse_mode":"Markdown"},"chatId":"={{ $json.chatId }}","operation":"sendMessage","text":"={{ $json.reply }}"},"position":[1100,300],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"b9953612-a566-4b67-9290-c96abda91b0a"}], "connections" : {"Telegram Trigger":{"main":[[{"node":"Command Handler","type":"main","index":0}]]},"Command Handler":{"main":[[{"node":"Format Reply","type":"main","index":0}]]},"Format Reply":{"main":[[{"node":"Reply","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-21T15:29:47.646+00:00"}
