docs/n8n-triage/workflows/GDA.cron.data-sync___M0xPvRs31zQOewfx.json
{"id" : "M0xPvRs31zQOewfx", "name" : "GDA.cron.data-sync", "active" : false, "nodes" : [{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"node-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[0,304],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"DELETE FROM gda_competitor_cache WHERE created_at < NOW() - INTERVAL '7 days'; SELECT count(*) as remaining FROM gda_competitor_cache;","options":{}},"id":"node-competitor-cache","name":"Sync Competitor Cache","type":"n8n-nodes-base.postgres","position":[304,112],"typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) as ooda_count, max(created_at) as last_ooda FROM gda_ooda_loops;","options":{}},"id":"node-ooda-data","name":"Sync OODA Data","type":"n8n-nodes-base.postgres","position":[304,304],"typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) as intel_count, max(\"timestamp\") as last_intel FROM gda_intelligence_log;","options":{}},"id":"node-intel-log","name":"Sync Intelligence Log","type":"n8n-nodes-base.postgres","position":[304,512],"typeVersion":2.5,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}}},{"parameters":{"jsCode":"// Evaluate staleness of each data source\nconst now = new Date();\nconst STALE_THRESHOLD_HOURS = 24;\n\nfunction checkStaleness(lastDate, label) {\n  if (!lastDate) return { table: label, status: 'ERROR', message: 'No data found', hoursAgo: null };\n  const last = new Date(lastDate);\n  const hoursAgo = Math.round((now - last) / (1000 * 60 * 60) * 10) / 10;\n  const isStale = hoursAgo > STALE_THRESHOLD_HOURS;\n  return {\n    table: label,\n    status: isStale ? 'STALE' : 'OK',\n    message: isStale ? `Data is ${hoursAgo}h old (threshold: ${STALE_THRESHOLD_HOURS}h)` : 'Data is fresh',\n    hoursAgo\n  };\n}\n\n// Get data from parallel DB checks\nconst competitorItems = $('Sync Competitor Cache').all();\nconst oodaItems = $('Sync OODA Data').all();\nconst intelItems = $('Sync Intelligence Log').all();\n\nconst oodaData = oodaItems[0]?.json || {};\nconst intelData = intelItems[0]?.json || {};\n\nconst checks = [\n  { table: 'gda_competitor_cache', status: 'OK', message: 'Stale entries purged successfully' },\n  checkStaleness(oodaData.last_ooda, 'gda_ooda_loops'),\n  checkStaleness(intelData.last_intel, 'gda_intelligence_log')\n];\n\nconst issues = checks.filter(c => c.status !== 'OK');\n\nreturn [{\n  json: {\n    timestamp: now.toISOString(),\n    overall_status: issues.length > 0 ? 'ISSUES_DETECTED' : 'HEALTHY',\n    issue_count: issues.length,\n    checks,\n    ooda_count: oodaData.ooda_count || 0,\n    intel_count: intelData.intel_count || 0\n  }\n}];"},"id":"node-health-check","name":"Health Check","type":"n8n-nodes-base.code","position":[608,304],"typeVersion":2},{"parameters":{"method":"POST","url":"https://n8n.csr-llc.tech/webhook/gda-ops-dashboard-data","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-gda-auth","value":"={{ $env.GDA_API_KEY_2026 }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"action\":\"status\",\"auth_key\":$env.GDA_API_KEY_2026,\"source\":\"datasync_v2\"}","options":{"timeout":30000}},"id":"node-trigger-dashboard","name":"Trigger Dashboard Refresh","type":"n8n-nodes-base.httpRequest","position":[912,304],"typeVersion":4.2,"continueOnFail":true}], "connections" : {"Schedule Trigger":{"main":[[{"node":"Sync Competitor Cache","type":"main","index":0}]]},"Sync Competitor Cache":{"main":[[{"node":"Health Check","type":"main","index":0},{"node":"Sync OODA Data","type":"main","index":0}]]},"Health Check":{"main":[[{"node":"Trigger Dashboard Refresh","type":"main","index":0}]]},"Sync OODA Data":{"main":[[{"node":"Sync Intelligence Log","type":"main","index":0}]]},"Sync Intelligence Log":{"main":[[{"node":"Health Check","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveExecutionProgress":false,"binaryMode":"separate"}, "updatedAt" : "2026-05-26T21:28:51.11+00:00"}
