docs/n8n-triage/workflows/GDA.cron.pipeline-health-digest___9annZcPoqw0DaPKI.json
{"id" : "9annZcPoqw0DaPKI", "name" : "GDA.cron.pipeline-health-digest", "active" : false, "nodes" : [{"id":"sched1","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"expression":"0 6 * * 1-5","field":"cronExpression"}]}},"position":[208,304],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"query1","name":"Pipeline Stats","parameters":{"operation":"executeQuery","options":{},"query":"SELECT json_build_object(\n  'generated_at', NOW(),\n  'digest_type', 'pipeline_health_digest',\n  'active_opps', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go')),\n  'pipeline_value_m', ROUND((SELECT SUM(COALESCE(estimated_value,0))::numeric/1e6 FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go')), 1),\n  'pursue_count', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label = 'PURSUE' AND stage NOT IN ('No-Bid','Cancelled','No-Go')),\n  'evaluate_count', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label IN ('EVALUATE') AND stage NOT IN ('No-Bid','Cancelled','No-Go')),\n  'monitor_count', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE gda_label = 'MONITOR' AND stage NOT IN ('No-Bid','Cancelled','No-Go')),\n  'avg_score', ROUND((SELECT AVG(gda_score)::numeric FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go') AND gda_score > 0)),\n  'due_7d', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go') AND response_deadline IS NOT NULL AND response_deadline::date BETWEEN CURRENT_DATE AND CURRENT_DATE + 7),\n  'due_14d', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go') AND response_deadline IS NOT NULL AND response_deadline::date BETWEEN CURRENT_DATE AND CURRENT_DATE + 14),\n  'unanalyzed', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go') AND (ai_analysis IS NULL OR ai_analysis = '')),\n  'capture_plans', (SELECT COUNT(*) FROM gda_capture_plans),\n  'competitors', (SELECT COUNT(*) FROM gda_competitor_watchlist WHERE status = 'active'),\n  'active_contracts', (SELECT COUNT(*) FROM gda_active_contracts),\n  'active_risks', (SELECT COUNT(*) FROM gda_risk_register WHERE LOWER(COALESCE(status,'')) IN ('active','open')),\n  'top_pursue', (SELECT json_agg(row_to_json(t)) FROM (SELECT opp_title, agency, estimated_value, gda_score, response_deadline FROM gda_opportunity_tracker WHERE gda_label = 'PURSUE' AND stage NOT IN ('No-Bid','Cancelled','No-Go') ORDER BY gda_score DESC LIMIT 10) t),\n  'dept_breakdown', (SELECT json_agg(row_to_json(t)) FROM (SELECT dept, COUNT(*) as cnt, ROUND(SUM(COALESCE(estimated_value,0))::numeric/1e6, 1) as value_m FROM gda_opportunity_tracker WHERE stage NOT IN ('No-Bid','Cancelled','No-Go') GROUP BY dept ORDER BY cnt DESC) t),\n  'new_opps_24h', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE synced_at > NOW() - INTERVAL '24 hours'),\n  'scored_24h', (SELECT COUNT(*) FROM gda_opportunity_tracker WHERE updated_at > NOW() - INTERVAL '24 hours' AND ai_analysis IS NOT NULL)\n) as digest"},"position":[432,304],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"prep-save","name":"Prep Save SQL","parameters":{"jsCode":"const digest = $json.digest;\nconst safeJson = JSON.stringify(digest).replace(/'/g, \"''\");\nconst sql = `INSERT INTO gda_dashboard_intel_cache (data, created_at) VALUES ('${safeJson}'::jsonb, NOW()) RETURNING id, created_at`;\nreturn [{ json: { sql } }];"},"position":[656,304],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"save1","name":"Save Digest","parameters":{"operation":"executeQuery","options":{},"query":"={{ $json.sql }}"},"position":[880,304],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"log1","name":"Log Summary","parameters":{"jsCode":"const d = $('Pipeline Stats').first().json.digest;\nconsole.log('Pipeline Health Digest generated:', new Date().toISOString());\nconsole.log(`Active: ${d.active_opps} | Pursue: ${d.pursue_count} | Value: $${d.pipeline_value_m}M | Due 7d: ${d.due_7d} | Scored 24h: ${d.scored_24h}`);\nreturn [{ json: { status: 'ok', digest: d } }];"},"position":[1104,304],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Pipeline Stats":{"main":[[{"index":0,"node":"Prep Save SQL","type":"main"}]]},"Prep Save SQL":{"main":[[{"index":0,"node":"Save Digest","type":"main"}]]},"Save Digest":{"main":[[{"index":0,"node":"Log Summary","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Pipeline Stats","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","binaryMode":"separate"}, "updatedAt" : "2026-05-22T16:25:17.384+00:00"}
