docs/n8n-triage/workflows/GDA.cron.change-detector___Zb2quk78c5mszZ2C.json
{"id" : "Zb2quk78c5mszZ2C", "name" : "GDA.cron.change-detector", "active" : false, "nodes" : [{"id":"cd-cron","name":"Every 5 Minutes","parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"cd-check","name":"Check Changed Opps","parameters":{"operation":"executeQuery","options":{},"query":"SELECT ot.id as opp_id, ot.opp_title, ot.agency, ot.estimated_value, ot.gda_score, ot.solicitation_number, ot.response_deadline, cp.id as plan_id, cp.opportunity as plan_opp FROM gda_opportunity_tracker ot JOIN gda_capture_plans cp ON (ot.opp_title ILIKE cp.opportunity OR ot.solicitation_number = (cp.plan_data->>'solicitation_number')) WHERE ot.last_refreshed > COALESCE(ot.last_synced_at, '2020-01-01'::timestamp) AND ot.last_refreshed > NOW() - INTERVAL '10 minutes' LIMIT 20"},"position":[420,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"cd-if","name":"Has Changes?","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"has-data","leftValue":"={{ $json.opp_id }}","operator":{"operation":"exists","singleValue":true,"type":"number"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}}},"position":[640,300],"type":"n8n-nodes-base.if","typeVersion":2.3},{"id":"cd-sync","name":"Sync Each to Capture","onError":"continueRegularOutput","parameters":{"jsonBody":"={{ JSON.stringify({ auth_key: $env.GDA_API_KEY_2026, direction: 'opp_to_cap', source: 'change-detector', opp_id: $json.opp_id, plan_id: $json.plan_id, changes: { opp_title: $json.opp_title, agency: $json.agency, estimated_value: $json.estimated_value, gda_score: $json.gda_score, solicitation_number: $json.solicitation_number, response_deadline: $json.response_deadline } }) }}","method":"POST","options":{"timeout":15000},"sendBody":true,"specifyBody":"json","url":"https://n8n.csr-llc.tech/webhook/gda-bidi-sync","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"position":[860,200],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"cd-mark","name":"Mark Synced","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"={{ 'UPDATE gda_opportunity_tracker SET last_synced_at = NOW() WHERE id = ' + $json.opp_id }}"},"position":[1080,200],"type":"n8n-nodes-base.postgres","typeVersion":2.5}], "connections" : {"Check Changed Opps":{"main":[[{"index":0,"node":"Has Changes?","type":"main"}]]},"Every 5 Minutes":{"main":[[{"index":0,"node":"Check Changed Opps","type":"main"}]]},"Has Changes?":{"main":[[{"index":0,"node":"Sync Each to Capture","type":"main"}],[]]},"Mark Synced":{"main":[]},"Sync Each to Capture":{"main":[[{"index":0,"node":"Mark Synced","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveExecutionProgress":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:57.32+00:00"}
