docs/n8n-triage/workflows/GDA.cron.competitor-crawler___bTE4k631s6JqZMiG.json
{"id" : "bTE4k631s6JqZMiG", "name" : "GDA.cron.competitor-crawler", "active" : false, "nodes" : [{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * 0"}]}},"id":"sched-1","name":"Schedule Trigger","position":[0,384],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"parameters":{"httpMethod":"POST","path":"gda-competitor-crawl","authentication":"headerAuth","responseMode":"lastNode","options":{}},"id":"manual-1","name":"Manual Trigger","position":[0,576],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"gda-competitor-crawl","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS gda_competitor_crawls (\n  id SERIAL PRIMARY KEY,\n  competitor_name TEXT NOT NULL,\n  crawl_data JSONB NOT NULL,\n  changes_detected JSONB DEFAULT '[]',\n  change_count INT DEFAULT 0,\n  significance TEXT DEFAULT 'LOW',\n  previous_crawl_id INT,\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\nSELECT 'tables_ready' as status","options":{}},"id":"create-tables","name":"Create Tables","position":[224,496],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT name, threat_level, capabilities FROM gda_competitor_watchlist WHERE name IS NOT NULL AND name != '' LIMIT 10","options":{}},"id":"load-competitors","name":"Load Top Competitors","position":[448,496],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0 || !items[0].json.name) {\n  return [];\n}\nreturn items;"},"id":"has-competitors","name":"Has Competitors?","position":[672,496],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"options":{}},"id":"process-each","name":"Process Each Competitor","position":[896,496],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"parameters":{"jsCode":"const comp = $json;\nconst name = comp.name;\nreturn [{ json: {\n  name: name,\n  query: 'What are the latest news, contract awards, press releases, acquisitions, hiring announcements, and strategic moves by ' + name + ' in defense contracting? Focus on the past 30 days. Include specific contract values, agency names, and any leadership changes.',\n  capabilities: comp.capabilities || '',\n  threat_level: comp.threat_level || 'MEDIUM'\n} }];"},"id":"build-queries","name":"Build Competitor Queries","position":[1136,512],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"perplexityApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'sonar-pro',\n  messages: [{\n    role: 'system',\n    content: 'You are a defense industry competitive intelligence analyst. Provide factual, sourced information about defense contractors. Focus on recent contract awards, press releases, leadership changes, acquisitions, hiring patterns, and strategic moves.'\n  }, {\n    role: 'user',\n    content: $json.query\n  }],\n  temperature: 0.1,\n  max_tokens: 2000,\n  return_citations: true,\n  search_recency_filter: 'month'\n}) }}","options":{"timeout":45000}},"id":"perplexity-search","name":"Perplexity Competitor Search","position":[1360,512],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"credentials":{"perplexityApi":{"id":"XbSFD2Awtv15Iare","name":"GDA Perplexity API"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT id, crawl_data, created_at FROM gda_competitor_crawls WHERE competitor_name = '{{ $('Build Competitor Queries').first().json.name.replace(/'/g, \"''\") }}' ORDER BY created_at DESC LIMIT 1","options":{},"alwaysOutputData":true},"id":"load-last-crawl","name":"Load Last Crawl","position":[1584,512],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (function() {\n  var compName = $('Build Competitor Queries').first().json.name;\n  var newData = $('Perplexity Competitor Search').first().json;\n  var newContent = newData.choices ? newData.choices[0].message.content : 'No data';\n  var lastCrawl = $input.first().json;\n  var previousData = lastCrawl.crawl_data ? JSON.stringify(lastCrawl.crawl_data).substring(0, 1000) : 'No previous crawl';\n  return JSON.stringify({\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 1500,\n    messages: [{\n      role: 'user',\n      content: 'Compare this weeks intelligence on ' + compName + ' against the previous crawl. Identify what is NEW or CHANGED.\\n\\nNEW INTELLIGENCE:\\n' + newContent.substring(0, 2000) + '\\n\\nPREVIOUS CRAWL:\\n' + previousData + '\\n\\nRespond ONLY with JSON:\\n{\\n  \"changes\": [{\"type\": \"contract_win|leadership|acquisition|hiring|partnership|strategic_move|press_release\", \"description\": \"...\", \"significance\": \"HIGH|MEDIUM|LOW\"}],\\n  \"summary\": \"1-2 sentence summary of changes\",\\n  \"overall_significance\": \"HIGH|MEDIUM|LOW|NONE\",\\n  \"gda_impact\": \"How this affects GDA competitive position\"\\n}'\n    }]\n  });\n})() }}","options":{"timeout":30000}},"id":"detect-changes","name":"Detect Changes","position":[1808,512],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"var compName = $('Build Competitor Queries').first().json.name;\nvar perplexityData = $('Perplexity Competitor Search').first().json;\nvar content = perplexityData.choices ? perplexityData.choices[0].message.content : 'No data';\nvar citations = perplexityData.citations || [];\nvar changeText = $input.first().json.content ? $input.first().json.content[0].text : '{}';\nvar changes;\ntry { changes = JSON.parse(changeText.replace(/```json\\n?|```/g, '').trim()); } catch(e) { changes = { changes: [], overall_significance: 'LOW' }; }\nvar lastCrawlId = $('Load Last Crawl').first().json.id || null;\n\nvar crawlDataJson = JSON.stringify({ content: content.substring(0, 5000), citations: citations, timestamp: new Date().toISOString() }).replace(/'/g, \"''\");\nvar changesJson = JSON.stringify(changes.changes || []).replace(/'/g, \"''\");\nvar changeCount = (changes.changes || []).length;\nvar significance = (changes.overall_significance || 'LOW').replace(/'/g, \"''\");\nvar safeCompName = compName.replace(/'/g, \"''\");\nvar lastCrawlSql = lastCrawlId ? lastCrawlId.toString() : 'NULL';\n\nvar sql = `INSERT INTO gda_competitor_crawls (competitor_name, crawl_data, changes_detected, change_count, significance, previous_crawl_id) VALUES ('${safeCompName}', '${crawlDataJson}'::jsonb, '${changesJson}'::jsonb, ${changeCount}, '${significance}', ${lastCrawlSql}) RETURNING id, competitor_name, change_count, significance`;\n\nreturn [{ json: { sql, compName, changeCount, significance } }];"},"id":"prep-store-sql","name":"Prep Store SQL","position":[2032,512],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"store-crawl","name":"Store Crawl","position":[2256,512],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":{"__rl":true,"mode":"expression","value":"={{ $env.TELEGRAM_CHAT_ID || '' }}"},"text":"={{ (function() {\n  var result = $input.first().json[0] || $input.first().json;\n  var name = result.competitor_name || 'Unknown';\n  var changes = result.change_count || 0;\n  var sig = result.significance || 'LOW';\n  if (changes === 0 || sig === 'NONE') return 'COMPETITOR CRAWL: ' + name + ' - No significant changes detected.';\n  return 'COMPETITOR ALERT: ' + name + '\\nChanges: ' + changes + '\\nSignificance: ' + sig + '\\nCheck GDA Command for details.';\n})() }}","additionalFields":{}},"id":"notify-changes","name":"Notify If Changes","position":[2480,512],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"808583f6-db8d-45e7-aa99-474fdbe38b83","credentials":{"telegramApi":{"id":"Jr8OOsZqc9DarQE6","name":"GDA Telegram Bot"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $('Store Crawl').all();\nvar totalChanges = 0;\nfor (var i = 0; i < items.length; i++) {\n  var item = items[i].json[0] || items[i].json;\n  totalChanges += (item.change_count || 0);\n}\nreturn [{ json: { status: 'complete', competitors_crawled: items.length, total_changes: totalChanges, timestamp: new Date().toISOString() } }];"},"id":"crawl-complete","name":"Crawl Complete","position":[1136,352],"type":"n8n-nodes-base.code","typeVersion":2}], "connections" : {"Schedule Trigger":{"main":[[{"index":0,"node":"Create Tables","type":"main"}]]},"Manual Trigger":{"main":[[{"index":0,"node":"Create Tables","type":"main"}]]},"Create Tables":{"main":[[{"index":0,"node":"Load Top Competitors","type":"main"}]]},"Load Top Competitors":{"main":[[{"index":0,"node":"Has Competitors?","type":"main"}]]},"Has Competitors?":{"main":[[{"index":0,"node":"Process Each Competitor","type":"main"}]]},"Process Each Competitor":{"main":[[{"index":0,"node":"Crawl Complete","type":"main"}],[{"index":0,"node":"Build Competitor Queries","type":"main"}]]},"Build Competitor Queries":{"main":[[{"index":0,"node":"Perplexity Competitor Search","type":"main"}]]},"Perplexity Competitor Search":{"main":[[{"index":0,"node":"Load Last Crawl","type":"main"}]]},"Load Last Crawl":{"main":[[{"index":0,"node":"Detect Changes","type":"main"}]]},"Detect Changes":{"main":[[{"index":0,"node":"Prep Store SQL","type":"main"}]]},"Prep Store SQL":{"main":[[{"index":0,"node":"Store Crawl","type":"main"}]]},"Store Crawl":{"main":[[{"index":0,"node":"Notify If Changes","type":"main"}]]},"Notify If Changes":{"main":[[{"index":0,"node":"Process Each Competitor","type":"main"}]]}}, "settings" : {"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate","errorWorkflow":"2Swf6LP9AzFjHFYU","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":false}, "updatedAt" : "2026-05-26T22:55:07.822+00:00"}
