docs/n8n-triage/workflows/GDA.auto.pattern-extractor___njIW6V5tCFJIIjfk.json
{"id" : "njIW6V5tCFJIIjfk", "name" : "GDA.auto.pattern-extractor", "active" : false, "nodes" : [{"id":"wh1","name":"Pattern Extract Webhook","type":"n8n-nodes-base.webhook","position":[260,300],"webhookId":"gda-patterns-001","parameters":{"path":"gda-extract-patterns","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"sql1","name":"Build SQL Query","type":"n8n-nodes-base.code","position":[460,300],"parameters":{"jsCode":"return [{ json: { command: \"docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -t -A -F'|' -c \\\"SELECT opportunity_title, agency, naics_code, set_aside, contract_value, decision_outcome, winner FROM gda_win_loss ORDER BY decision_date DESC LIMIT 50;\\\"\" } }];"},"typeVersion":2},{"id":"http1","name":"Fetch Win Loss","type":"n8n-nodes-base.httpRequest","position":[660,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{},"jsonBody":"={{ JSON.stringify($json) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2},{"id":"sql2","name":"Build Stats Query","type":"n8n-nodes-base.code","position":[860,300],"parameters":{"jsCode":"const winLoss = $('Fetch Win Loss').first().json.content || '';\nreturn [{ json: { command: \"docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -t -A -F'|' -c \\\"SELECT dept, naics_code, set_aside, count(*) as cnt, avg(estimated_value)::bigint as avg_val, avg(gda_score)::int as avg_score FROM gda_opportunity_tracker WHERE estimated_value > 0 GROUP BY dept, naics_code, set_aside ORDER BY cnt DESC LIMIT 100;\\\"\", winLoss } }];"},"typeVersion":2},{"id":"http2","name":"Fetch Opp Stats","type":"n8n-nodes-base.httpRequest","position":[1060,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ command: $json.command }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2},{"id":"sql3","name":"Build Competitor Query","type":"n8n-nodes-base.code","position":[1260,300],"parameters":{"jsCode":"const winLoss = $('Build Stats Query').first().json.winLoss || '';\nconst oppStats = $('Fetch Opp Stats').first().json.content || '';\nreturn [{ json: { command: \"docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -t -A -F'|' -c \\\"SELECT name, size_standard, threat_level, total_obligated FROM gda_competitor_watchlist ORDER BY total_obligated DESC LIMIT 35;\\\"\", winLoss, oppStats } }];"},"typeVersion":2},{"id":"http3","name":"Fetch Competitors","type":"n8n-nodes-base.httpRequest","position":[1460,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ command: $json.command }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2},{"id":"prep1","name":"Prepare AI Prompt","type":"n8n-nodes-base.code","position":[1660,300],"parameters":{"jsCode":"const winLoss = $('Build Competitor Query').first().json.winLoss || 'No data';\nconst oppStats = $('Build Competitor Query').first().json.oppStats || 'No data';\nconst competitors = $('Fetch Competitors').first().json.content || 'No data';\n\nconst prompt = `You are the GDA Command AI Pattern Extractor for Envision Innovative Solutions (EIS), a defense contractor.\n\nAnalyze this historical data and extract actionable patterns.\n\nWIN/LOSS DATA:\\n${winLoss}\n\nOPPORTUNITY STATISTICS (dept|naics|set_aside|count|avg_value|avg_score):\\n${oppStats}\n\nCOMPETITOR INTELLIGENCE:\\n${competitors}\n\nExtract patterns as JSON array. Each pattern: {\"pattern_type\":\"win_condition|loss_pattern|pricing_benchmark|competitive_advantage|agency_preference|naics_trend\",\"pattern_name\":\"short name\",\"description\":\"2-3 sentences\",\"conditions\":{},\"historical_outcome\":{\"win_rate\":0.0-1.0,\"sample_size\":0},\"confidence\":0-100,\"actionable_insight\":\"what to do\"}\n\nReturn 5-15 patterns. ONLY valid JSON array, no markdown.`;\n\nreturn [{ json: { model: 'claude-sonnet-4-20250514', max_tokens: 4000, messages: [{ role: 'user', content: prompt }] } }];"},"typeVersion":2},{"id":"http4","name":"Call Claude AI","type":"n8n-nodes-base.httpRequest","position":[1860,300],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{},"jsonBody":"={{ JSON.stringify($json) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"}]}},"typeVersion":4.2},{"id":"parse1","name":"Parse & Store Patterns","type":"n8n-nodes-base.code","position":[2060,300],"parameters":{"jsCode":"const raw = $input.first().json.content?.[0]?.text || '[]';\nlet patterns;\ntry { patterns = JSON.parse(raw.replace(/```json|```/g, '').trim()); } catch { patterns = []; }\n\nif (!patterns.length) return [{ json: { stored: 0, patterns: [] } }];\n\nconst esc = (s) => (s || '').replace(/'/g, \"''\");\nconst sqlParts = patterns.map(p =>\n  `('${esc(p.pattern_type)}', '${esc(p.pattern_name)}', '${esc(p.description)}', '${esc(JSON.stringify(p.conditions || {}))}'::jsonb, '${esc(JSON.stringify(p.historical_outcome || {}))}'::jsonb, ${p.historical_outcome?.sample_size || 0}, ${p.confidence || 0})`\n).join(',\\n');\n\nconst sql = `INSERT INTO gda_pattern_library (pattern_type, pattern_name, description, conditions, historical_outcome, sample_size, confidence) VALUES ${sqlParts};`;\n\nreturn [{ json: { command: `docker exec n8n-envision-postgres-1 psql -U n8n -d n8n -c \\\"${sql.replace(/\\\"/g, '\\\\\\\"')}\\\"`, pattern_count: patterns.length, patterns } }];"},"typeVersion":2},{"id":"http5","name":"Store to DB","type":"n8n-nodes-base.httpRequest","position":[2260,300],"parameters":{"url":"https://n8n.csr-llc.tech/webhook/ssh-read-file","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ command: $json.command }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":4.2},{"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[2460,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, stored: $('Parse & Store Patterns').first().json.pattern_count, patterns: $('Parse & Store Patterns').first().json.patterns }) }}"},"typeVersion":1.1}], "connections" : {"Pattern Extract Webhook":{"main":[[{"node":"Build SQL Query","type":"main","index":0}]]},"Build SQL Query":{"main":[[{"node":"Fetch Win Loss","type":"main","index":0}]]},"Fetch Win Loss":{"main":[[{"node":"Build Stats Query","type":"main","index":0}]]},"Build Stats Query":{"main":[[{"node":"Fetch Opp Stats","type":"main","index":0}]]},"Fetch Opp Stats":{"main":[[{"node":"Build Competitor Query","type":"main","index":0}]]},"Build Competitor Query":{"main":[[{"node":"Fetch Competitors","type":"main","index":0}]]},"Fetch Competitors":{"main":[[{"node":"Prepare AI Prompt","type":"main","index":0}]]},"Prepare AI Prompt":{"main":[[{"node":"Call Claude AI","type":"main","index":0}]]},"Call Claude AI":{"main":[[{"node":"Parse & Store Patterns","type":"main","index":0}]]},"Parse & Store Patterns":{"main":[[{"node":"Store to DB","type":"main","index":0}]]},"Store to DB":{"main":[[{"node":"Respond","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:56.47+00:00"}
