docs/n8n-triage/workflows/GDA.cron.amendment-monitor___1o8h7yGhLKLoNP0S.json
{"id" : "1o8h7yGhLKLoNP0S", "name" : "GDA.cron.amendment-monitor", "active" : false, "nodes" : [{"id":"am-cron","name":"Nightly 4AM","parameters":{"rule":{"interval":[{"expression":"0 8 * * *","field":"cronExpression"}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"am-plans","name":"Get Active Capture Plans","parameters":{"operation":"executeQuery","options":{},"query":"SELECT cp.id, cp.opportunity, cp.agency, cp.plan_data->>'solicitation_number' as sol_num, cp.plan_data->>'stage' as stage, cp.plan_data->>'source_url' as source_url, cp.plan_data->>'compliance_last_checked' as last_checked FROM gda_capture_plans cp WHERE cp.plan_data->>'stage' IN ('Interest','Qualify','Pursue','Solicitation','Proposal','Go/No-Go') AND cp.plan_data->>'solicitation_number' IS NOT NULL AND cp.plan_data->>'solicitation_number' != '' ORDER BY cp.contract_value DESC NULLS LAST LIMIT 15"},"position":[420,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"am-check","name":"Check Amendments","parameters":{"jsCode":"var plans = $input.all().map(function(i) { return i.json; });\nvar results = [];\n\nplans.forEach(function(p) {\n  var sol = p.sol_num || '';\n  if (!sol || sol.startsWith('MAS-')) return; // Skip synthetic sol numbers\n  \n  // Flag for amendment check - in production this would query GovTribe\n  // For now, flag plans that haven't been compliance-checked in 7+ days\n  var lastChecked = p.last_checked ? new Date(p.last_checked) : new Date('2020-01-01');\n  var daysSince = Math.floor((Date.now() - lastChecked.getTime()) / 86400000);\n  \n  if (daysSince >= 7) {\n    results.push({\n      json: {\n        plan_id: p.id,\n        opportunity: p.opportunity,\n        agency: p.agency,\n        sol_num: sol,\n        stage: p.stage,\n        days_since_check: daysSince,\n        needs_refresh: true\n      }\n    });\n  }\n});\n\nif (results.length === 0) return [{json:{skip:true, reason:'all_plans_recently_checked'}}];\nreturn results;"},"position":[640,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"am-if","name":"Has Amendments?","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"has-refresh","leftValue":"={{ $json.needs_refresh }}","operator":{"operation":"equals","type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}}},"position":[860,300],"type":"n8n-nodes-base.if","typeVersion":2.3},{"id":"am-regen","name":"Trigger Matrix Regen","onError":"continueRegularOutput","parameters":{"jsonBody":"={{ JSON.stringify({ auth_key: $env.GDA_API_KEY_2026, action: 'generate', plan_id: $json.plan_id, opportunity: $json.opportunity, agency: $json.agency, solicitation_number: $json.sol_num, refresh_reason: 'amendment_monitor' }) }}","method":"POST","options":{"timeout":90000},"sendBody":true,"specifyBody":"json","url":"https://n8n.csr-llc.tech/webhook/gda-compliance-matrix","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-GDA-Key","value":"={{ $env.GDA_API_KEY_2026 }}"}]},"sendHeaders":true},"position":[1080,200],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"am-log","name":"Log Amendment","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"={{ \"UPDATE gda_capture_plans SET plan_data = jsonb_set(plan_data, '{compliance_last_checked}', '\\\"\" + new Date().toISOString().split('T')[0] + \"\\\"') WHERE id = \" + $json.plan_id + \"; INSERT INTO gda_stage_audit_log (entity_type, entity_id, action, new_value, source, created_at) VALUES ('compliance_check', '\" + $json.plan_id + \"', 'amendment_scan', '\" + ($json.sol_num || '').replace(/'/g, \"''\") + \"', 'amendment-monitor', NOW())\" }}"},"position":[1300,200],"type":"n8n-nodes-base.postgres","typeVersion":2.5}], "connections" : {"Check Amendments":{"main":[[{"index":0,"node":"Has Amendments?","type":"main"}]]},"Get Active Capture Plans":{"main":[[{"index":0,"node":"Check Amendments","type":"main"}]]},"Has Amendments?":{"main":[[{"index":0,"node":"Trigger Matrix Regen","type":"main"}],[]]},"Nightly 4AM":{"main":[[{"index":0,"node":"Get Active Capture Plans","type":"main"}]]},"Trigger Matrix Regen":{"main":[[{"index":0,"node":"Log Amendment","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","saveExecutionProgress":false}, "updatedAt" : "2026-05-26T21:28:57.642+00:00"}
