docs/n8n-triage/workflows/GDA.cron.learning-engine___fZpqchmmPnqAmiMq.json
{"id" : "fZpqchmmPnqAmiMq", "name" : "GDA.cron.learning-engine", "active" : false, "nodes" : [{"id":"le-sched","name":"Nightly 3am ET","parameters":{"rule":{"interval":[{"expression":"0 0 7 * * *","field":"cronExpression"}]}},"position":[200,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"le-read","name":"Read Feedback Data","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"WITH pwin_outcomes AS (\n  SELECT f.context->>'agency' as agency, f.context->>'naics' as naics,\n    f.predicted_value as predicted_pwin, f.actual_value as actual_outcome\n  FROM gda_feedback f WHERE f.event_type IN ('win','loss','pwin_outcome')\n  AND f.logged_at > NOW() - INTERVAL '90 days'\n),\naction_completions AS (\n  SELECT f.context->>'category' as category,\n    AVG(f.actual_value) as completion_rate, COUNT(*) as sample_count\n  FROM gda_feedback f WHERE f.event_type = 'action_completed'\n  AND f.logged_at > NOW() - INTERVAL '30 days' GROUP BY f.context->>'category'\n),\ncurrent_weights AS (\n  SELECT weight_key, weight_value, confidence FROM gda_learned_weights\n),\nwin_rate AS (\n  SELECT COUNT(*) FILTER(WHERE event_type='win') as wins,\n    COUNT(*) FILTER(WHERE event_type='loss') as losses,\n    ROUND(100.0*COUNT(*) FILTER(WHERE event_type='win')/NULLIF(COUNT(*) FILTER(WHERE event_type IN('win','loss')),0),1) as win_rate\n  FROM gda_feedback WHERE event_type IN('win','loss') AND logged_at > NOW() - INTERVAL '90 days'\n)\nSELECT\n  (SELECT json_agg(p) FROM pwin_outcomes p) as pwin_data,\n  (SELECT json_agg(a) FROM action_completions a) as action_data,\n  (SELECT json_agg(w) FROM current_weights w) as current_weights,\n  (SELECT row_to_json(o) FROM win_rate o) as win_rate_data,\n  (SELECT COUNT(*) FROM gda_feedback WHERE logged_at > NOW() - INTERVAL '90 days') as total_feedback_count;"},"position":[420,300],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"le-check","name":"Has Feedback?","parameters":{"combineOperation":"all","conditions":{"combinator":"and","conditions":[{"id":"fb-check","leftValue":"={{ parseInt($json.total_feedback_count) >= 5 }}","operator":{"operation":"true","singleValue":true,"type":"boolean"}}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}}},"position":[640,300],"type":"n8n-nodes-base.if","typeVersion":2.2},{"id":"le-prompt","name":"Build Learning Prompt","parameters":{"jsCode":"const d = $input.first().json;\nconst pwin = d.pwin_data || [];\nconst actions = d.action_data || [];\nconst weights = d.current_weights || [];\nconst winRate = d.win_rate_data || {};\n\nconst system = `You are GDA Command's calibration engine. Analyze BD performance feedback and output updated scoring weights as JSON.\nCurrent pwin weights: ${JSON.stringify(weights.filter(w=>w.weight_key.startsWith('pwin.')))}\nRules: pwin weights must sum to 1.0. Max adjustment ±0.05 per cycle. Action/briefing boosts: 0.5-2.0. Return ONLY valid JSON, no markdown.`;\n\nconst user = `FEEDBACK (90 days):\nWin Rate: ${winRate.win_rate||'N/A'}% (${winRate.wins||0}W/${winRate.losses||0}L)\nPwin Outcomes: ${JSON.stringify(pwin.slice(0,15))}\nAction Completion by Category: ${JSON.stringify(actions)}\nAll Current Weights: ${JSON.stringify(weights)}\n\nReturn this exact JSON structure:\n{\"weights\":[{\"key\":\"pwin.customer_relationship\",\"value\":0.25,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"pwin.technical_solution\",\"value\":0.20,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"pwin.past_performance\",\"value\":0.20,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"pwin.price_competitiveness\",\"value\":0.15,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"pwin.team_composition\",\"value\":0.10,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"pwin.contract_vehicle\",\"value\":0.10,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"briefing.army_relevance\",\"value\":1.0,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"briefing.iew_relevance\",\"value\":1.0,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"briefing.intel_community\",\"value\":1.0,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"actions.capture_priority\",\"value\":1.0,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"actions.risk_priority\",\"value\":1.0,\"delta\":0.00,\"reasoning\":\"brief\"},{\"key\":\"actions.competitive_priority\",\"value\":0.8,\"delta\":0.00,\"reasoning\":\"brief\"}],\"learning_summary\":\"1-2 sentences on what changed and why\",\"confidence\":\"low\"}`;\n\nreturn [{ json: { system, user, feedback_count: d.total_feedback_count } }];"},"position":[860,140],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"le-claude","name":"Claude Calibration","parameters":{"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:1500,system:$json.system,messages:[{role:'user',content:$json.user}]}) }}","method":"POST","options":{"timeout":45000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.anthropic.com/v1/messages"},"position":[1080,140],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"id":"le-no-data","name":"Not Enough Data","parameters":{"jsCode":"return [{json:{status:'ok', message:'Fewer than 5 feedback events. Log outcomes via gda-feedback to activate learning.', checked_at: new Date().toISOString()}}];"},"position":[860,460],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"le-parse","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,140],"parameters":{"jsCode":"const raw = $input.first().json;\nconst feedbackCount = $('Build Learning Prompt').first().json.feedback_count;\nlet text = '';\ntry { text = raw.content[0].text; } catch(e) {}\n\nlet parsed = { weights: [], learning_summary: 'No changes', confidence: 'low' };\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : text);\n} catch(e) {\n  return [{ json: { status: 'parse_error', error: text.slice(0,300), sql: null } }];\n}\n\nconst weightUpserts = (parsed.weights || []).map(w =>\n  `INSERT INTO gda_learned_weights (weight_key, weight_value, confidence, notes, updated_at) VALUES ('${w.key}', ${parseFloat(w.value)||0}, 0.1, '${(w.reasoning||'').replace(/'/g,\"''\")}', NOW()) ON CONFLICT (weight_key) DO UPDATE SET weight_value=${parseFloat(w.value)||0}, confidence=LEAST(gda_learned_weights.confidence+0.05,1.0), notes='${(w.reasoning||'').replace(/'/g,\"''\")}', updated_at=NOW();`\n).join('\\n');\n\nconst logEntry = `INSERT INTO gda_intelligence_log (category, finding, source, agency, timestamp) VALUES ('learning', '${parsed.learning_summary.replace(/'/g,\"''\").slice(0,500)}', 'learning-engine', 'internal', NOW());`;\n\nreturn [{ json: {\n  sql: weightUpserts + '\\n' + logEntry,\n  summary: parsed.learning_summary,\n  confidence: parsed.confidence,\n  weight_count: (parsed.weights||[]).length,\n  feedback_count: feedbackCount,\n  computed_at: new Date().toISOString()\n} }];"}},{"id":"le-dbwrite","name":"Write Weights to DB","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1520,140],"parameters":{"operation":"executeQuery","options":{},"query":"{{ $json.sql }}"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"onError":"continueRegularOutput"}], "connections" : {"Build Learning Prompt":{"main":[[{"index":0,"node":"Claude Calibration","type":"main"}]]},"Has Feedback?":{"main":[[{"index":0,"node":"Build Learning Prompt","type":"main"}],[{"index":0,"node":"Not Enough Data","type":"main"}]]},"Nightly 3am ET":{"main":[[{"index":0,"node":"Read Feedback Data","type":"main"}]]},"Read Feedback Data":{"main":[[{"index":0,"node":"Has Feedback?","type":"main"}]]},"Claude Calibration":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Write Weights to DB","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveExecutionProgress":false}, "updatedAt" : "2026-05-21T01:18:45.988+00:00"}
