docs/n8n-triage/workflows/GDA.api.aop-tracker___P8AfP8P84xi33auD.json
{"id" : "P8AfP8P84xi33auD", "name" : "GDA.api.aop-tracker", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"wh1","name":"Webhook","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{"allowedOrigins":"*"},"path":"gda-aop-tracker","responseMode":"responseNode"},"position":[220,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"aop-tracker-prod-final"},{"id":"auth1","name":"Auth Guard","parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers['x-gda-auth'] || headers['x-gda-key'] || body.auth_key || '';\nconst origin = (headers.origin || headers.referer || headers['x-forwarded-host'] || '').toLowerCase();\nconst trusted = ['gda.csr-llc.tech', 'n8n.csr-llc.tech', 'localhost'];\nconst ok = trusted.some(function(o) { return origin.includes(o); });\nif (auth !== $env.GDA_API_KEY_2026 && !ok) { throw new Error('Unauthorized'); }\nreturn $input.all();"},"position":[440,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"if-kpi","name":"Is KPI Header","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ ($input.first().json.body || $input.first().json).action }}","operator":{"operation":"equals","type":"string"},"rightValue":"kpi_header"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2}}},"position":[660,300],"type":"n8n-nodes-base.if","typeVersion":2.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"pg-kpi","name":"KPI Header Query","parameters":{"operation":"executeQuery","options":{},"query":"SELECT json_build_object('orders_target', 42.8, 'sales_ytd', ROUND((SELECT COALESCE(SUM((fy_revenue->>'FY26')::numeric),0) FROM gda_active_contracts),1), 'ebit_ytd', ROUND((SELECT COALESCE(SUM((fy_revenue->>'FY26')::numeric),0) * 0.172 FROM gda_active_contracts),1), 'funded_backlog', ROUND((SELECT COALESCE(SUM(funded),0) FROM gda_active_contracts),1), 'total_backlog', ROUND((SELECT COALESCE(SUM(ceiling),0) FROM gda_active_contracts),1), 'pipeline_qualified', (SELECT COALESCE(MAX(pipeline_qualified),0) FROM gda_aop_tracker WHERE ou='OU3' AND fiscal_year='FY26'), 'pipeline_weighted', (SELECT COALESCE(MAX(pipeline_weighted),0) FROM gda_aop_tracker WHERE ou='OU3' AND fiscal_year='FY26'), 'fy26_annual_target', 42.8, 'source', 'live') as kpi"},"position":[880,180],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"resp-kpi","name":"KPI Respond","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json.kpi }}"},"position":[1100,180],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"pg1","name":"Get AOP Data","parameters":{"operation":"executeQuery","options":{},"query":"CREATE TABLE IF NOT EXISTS gda_aop_tracker (id SERIAL PRIMARY KEY, ou TEXT NOT NULL DEFAULT 'OU3', fiscal_year TEXT NOT NULL, quarter TEXT NOT NULL, revenue_target NUMERIC(12,2) DEFAULT 0, revenue_actual NUMERIC(12,2) DEFAULT 0, revenue_forecast NUMERIC(12,2) DEFAULT 0, ebitda_target_pct NUMERIC(5,2) DEFAULT 0, ebitda_actual_pct NUMERIC(5,2) DEFAULT 0, book_to_bill_target NUMERIC(5,2) DEFAULT 0, book_to_bill_actual NUMERIC(5,2) DEFAULT 0, pipeline_raw NUMERIC(12,2) DEFAULT 0, pipeline_qualified NUMERIC(12,2) DEFAULT 0, pipeline_weighted NUMERIC(12,2) DEFAULT 0, must_win_count INT DEFAULT 0, must_win_value NUMERIC(12,2) DEFAULT 0, new_biz_bookings NUMERIC(12,2) DEFAULT 0, recompete_bookings NUMERIC(12,2) DEFAULT 0, headcount_target INT DEFAULT 0, headcount_actual INT DEFAULT 0, notes TEXT, updated_at TIMESTAMPTZ DEFAULT NOW(), UNIQUE(ou, fiscal_year, quarter)); INSERT INTO gda_aop_tracker (ou,fiscal_year,quarter,revenue_target,pipeline_raw,pipeline_qualified,pipeline_weighted,must_win_count,must_win_value) VALUES ('OU3','FY26','Q1',11.2,670,435,177,2,200),('OU3','FY26','Q2',11.2,670,435,177,2,200),('OU3','FY26','Q3',11.2,670,435,177,2,200),('OU3','FY26','Q4',11.2,670,435,177,2,200),('OU3','FY27','Q1',12.55,0,0,0,0,0),('OU3','FY27','Q2',12.55,0,0,0,0,0),('OU3','FY27','Q3',12.55,0,0,0,0,0),('OU3','FY27','Q4',12.55,0,0,0,0,0),('OU3','FY28','Q1',14.05,0,0,0,0,0),('OU3','FY28','Q2',14.05,0,0,0,0,0),('OU3','FY28','Q3',14.05,0,0,0,0,0),('OU3','FY28','Q4',14.05,0,0,0,0,0) ON CONFLICT (ou,fiscal_year,quarter) DO NOTHING; WITH fy AS (SELECT fiscal_year,SUM(revenue_target) t,SUM(revenue_actual) a,SUM(revenue_forecast) f,SUM(new_biz_bookings) nb,SUM(recompete_bookings) rb,MAX(pipeline_raw) pr,MAX(pipeline_qualified) pq,MAX(pipeline_weighted) pw,MAX(must_win_count) mwc,MAX(must_win_value) mwv,MAX(headcount_actual) hc FROM gda_aop_tracker WHERE ou='OU3' GROUP BY fiscal_year) SELECT json_build_object('quarters',(SELECT json_agg(row_to_json(q) ORDER BY q.fiscal_year,q.quarter) FROM gda_aop_tracker q WHERE ou='OU3'),'fy_summary',(SELECT json_agg(json_build_object('fiscal_year',fiscal_year,'annual_target',t,'annual_actual',a,'annual_forecast',f,'pipeline_raw',pr,'pipeline_qualified',pq,'pipeline_weighted',pw,'must_win_count',mwc,'must_win_value',mwv,'new_biz',nb,'recompetes',rb,'headcount',hc,'shipley_5x',t*5,'shipley_3x',t*3,'coverage_ratio',CASE WHEN t>0 THEN ROUND(pw/t,1) ELSE 0 END,'new_biz_gap',ROUND(t*0.12,1)) ORDER BY fiscal_year) FROM fy)) as result;"},"position":[880,420],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"resp1","name":"Respond","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ $json.result || $json }}"},"position":[1100,420],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Auth Guard":{"main":[[{"index":0,"node":"Is KPI Header","type":"main"}]]},"Get AOP Data":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Is KPI Header":{"main":[[{"index":0,"node":"KPI Header Query","type":"main"}],[{"index":0,"node":"Get AOP Data","type":"main"}]]},"KPI Header Query":{"main":[[{"index":0,"node":"KPI Respond","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Guard","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:54.879+00:00"}
