docs/n8n-triage/workflows/GDA.cron.weekly-comp-scan___uQ5cZ97cCrx5iIXk.json
{"id" : "uQ5cZ97cCrx5iIXk", "name" : "GDA.cron.weekly-comp-scan", "active" : false, "nodes" : [{"id":"cron1","name":"Weekly Trigger","parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"position":[256,304],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"pg1","name":"Get Top Competitors","parameters":{"operation":"executeQuery","options":{},"query":"SELECT name, threat_score, capabilities, target_agencies FROM gda_competitor_watchlist WHERE status = 'active' ORDER BY threat_score DESC, name LIMIT 10"},"position":[480,304],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"http1","name":"Scan Each Competitor","parameters":{"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-gda-key","value":"={{ $env.GDA_WEBHOOK_SECRET_2026 }}"}]},"jsonBody":"={{ JSON.stringify({ competitor: $json.name, auto_scan: true }) }}","method":"POST","options":{"batching":{"batch":{"batchInterval":10000,"batchSize":2}},"timeout":120000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://n8n.csr-llc.tech/webhook/gda-competitive-intel"},"position":[704,304],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"id":"code-escape","name":"Prep Save Data","parameters":{"jsCode":"return $input.all().map(item => {\n  const j = item.json;\n  const intel = j.recent_news || j;\n  const intelJsonStr = JSON.stringify(intel).replace(/'/g, \"''\");\n  const name = (j.target || j.name || '').replace(/'/g, \"''\");\n  const sql = `UPDATE gda_competitor_watchlist SET updated_at = NOW(), recent_news = '${intelJsonStr}'::jsonb, analyzed_at = NOW() WHERE name = '${name}'`;\n  return { json: { sql, comp_name: name } };\n});"},"position":[928,304],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"pg2","name":"Save Intel","parameters":{"operation":"executeQuery","options":{},"query":"={{ $json.sql }}"},"position":[1152,304],"type":"n8n-nodes-base.postgres","typeVersion":2.5}], "connections" : {"Get Top Competitors":{"main":[[{"index":0,"node":"Scan Each Competitor","type":"main"}]]},"Prep Save Data":{"main":[[{"index":0,"node":"Save Intel","type":"main"}]]},"Scan Each Competitor":{"main":[[{"index":0,"node":"Prep Save Data","type":"main"}]]},"Weekly Trigger":{"main":[[{"index":0,"node":"Get Top Competitors","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU","binaryMode":"separate"}, "updatedAt" : "2026-05-26T21:28:55.223+00:00"}
