docs/n8n-triage/workflows/GDA.api.aop-definitions___PdWaOEGY2Ukzke9i.json
{"id" : "PdWaOEGY2Ukzke9i", "name" : "GDA.api.aop-definitions", "active" : false, "nodes" : [{"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[250,300],"webhookId":"gda-aop-defs-wh-001","parameters":{"path":"gda-aop-definitions","httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"auth","name":"Auth Guard","type":"n8n-nodes-base.if","position":[450,300],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"auth1","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.body.auth_key }}","rightValue":"={{ $env.GDA_API_KEY_2026 }}"}]}},"typeVersion":2.2},{"id":"respond_unauth","name":"Respond Unauthorized","type":"n8n-nodes-base.respondToWebhook","position":[650,450],"parameters":{"options":{"responseCode":401},"respondWith":"json","responseBody":"={ {\"error\": \"Unauthorized\"} }"},"typeVersion":1.1},{"id":"code","name":"Return Definitions","type":"n8n-nodes-base.code","position":[650,200],"parameters":{"jsCode":"const action = $input.first().json.body?.action || 'all';\nconst sources = [\n  {name:'FAR',url:'https://www.acquisition.gov/far'},\n  {name:'DAU Glossary',url:'https://www.dau.edu/glossary'},\n  {name:'DFARS',url:'https://www.acquisition.gov/dfars'},\n  {name:'Deltek GovCon Glossary',url:'https://education.deltek.com/web/rsl/govwiniq/qrg/GW34001QR_GovernmentContractingGlossary.pdf'},\n  {name:'Defense Studies Institute',url:'https://defensestudies.net/pages/glossary-defense-contracting-terms-a'},\n  {name:'RSM Contract Waterfall',url:'https://rsmus.com/content/dam/rsm/insights/industries/government-contracting/1pdf/preparing-to-sell-key-steps-for-government-contractors.pdf'},\n  {name:'Deltek Costpoint Backlog',url:'https://help.deltek.com/product/Analytics/7.1.6/Costpoint/BL_Key_Concepts.htm'},\n  {name:'Shipley BD Lifecycle',url:'https://www.shipleywins.com'},\n  {name:'DCAA',url:'https://www.dcaa.mil'},\n  {name:'SBA Size Standards',url:'https://www.sba.gov/federal-contracting/contracting-guide/size-standards'},\n  {name:'CRS Defense Contractor Primer',url:'https://www.congress.gov/crs-product/IF10600'},\n  {name:'ASC 606',url:'https://fasb.org/Page/ProjectPage?metadata=fasb-Accounting-Standards-Codification-702'},\n  {name:'DoD RIO Guide 2023',url:'https://www.dau.edu/sites/default/files/2023-10/DoD%20RIO%20Management%20Guide%2009-2023.pdf'},\n  {name:'DAU Risk Definitions',url:'https://www.dau.edu/cop/risk/resources/risk-management-definitions'},\n  {name:'GAO Bid Protest',url:'https://www.gao.gov/legal/bid-protests'}\n];\nconst categories = ['FINANCIAL PLANNING & BUDGETING','CONTRACT TYPES & PRICING','COST STRUCTURE & RATES','CONTRACT EXECUTION & ADMINISTRATION','REGULATORY & COMPLIANCE','BUSINESS DEVELOPMENT & CAPTURE','RISK & OPPORTUNITY MANAGEMENT'];\nif (action === 'sources') return [{json:{sources}}];\nif (action === 'categories') return [{json:{categories}}];\nreturn [{json:{sources, categories, definition_count: 81, note: 'Full definitions hardcoded in frontend'}}];"},"typeVersion":2},{"id":"respond_ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","position":[850,200],"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"typeVersion":1.1}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Return Definitions","type":"main","index":0}],[{"node":"Respond Unauthorized","type":"main","index":0}]]},"Return Definitions":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"2Swf6LP9AzFjHFYU"}, "updatedAt" : "2026-05-26T21:28:55.043+00:00"}
