docs/n8n-triage/workflows/GDA.enrichment.capture-plan-cards___4szS4FHP1pW1PiG8.json
{"id" : "4szS4FHP1pW1PiG8", "name" : "GDA.enrichment.capture-plan-cards", "active" : false, "nodes" : [{"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"parameters":{"httpMethod":"POST","path":"gda-enrich-capture-plans","responseMode":"responseNode","options":{"allowedOrigins":"*"},"authentication":"headerAuth"},"webhookId":"gda-enrich-capture-plans-wh","credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}}},{"id":"auth1","name":"Auth Guard","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300],"parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [$env.GDA_DEPLOY_KEY_2026, $env.GDA_API_KEY_2026, $env.GDA_WEBHOOK_SECRET_2026];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"}},{"id":"pg1","name":"Get Plans","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[600,300],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT cp.id, cp.opp_title, cp.opportunity, cp.agency, cp.contract_value, cp.opp_id, cp.plan_data, o.set_aside as o_set_aside, o.naics_code as o_naics, o.response_deadline as o_deadline, o.solicitation_number as o_sol, o.place_of_performance as o_pop, o.estimated_value as o_value, o.ai_analysis as o_ai, o.incumbent_analysis as o_incumbent, o.likely_competitors as o_competitors FROM gda_capture_plans cp LEFT JOIN gda_opportunity_tracker o ON o.id = cp.opp_id WHERE ($1::int IS NULL OR cp.id = $1::int) ORDER BY cp.id LIMIT $2::int","options":{"queryReplacement":"={{ [$json.plan_id, $json.limit] }}"}}},{"id":"split1","name":"Split Per Plan","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,300],"parameters":{"batchSize":1,"options":{}}},{"id":"tavily1","name":"Tavily Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1000,300],"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({api_key: $env.TAVILY_API_KEY, query: 'federal contract opportunity ' + ($json.opportunity || $json.opp_title || '') + ' ' + ($json.o_sol || '') + ' incumbent contractor solicitation deadline NAICS set-aside place of performance', search_depth: 'advanced', max_results: 8, include_raw_content: false}) }}","options":{"timeout":30000},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"onError":"continueRegularOutput"},{"id":"merge1","name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300],"parameters":{"jsCode":"const plan = $('Split Per Plan').item.json;\nconst tav = $input.first().json || {};\nconst results = (tav.results || []).slice(0,8).map(r => ({title:r.title, url:r.url, content:(r.content||'').slice(0,800)}));\nconst answer = tav.answer || '';\n\nlet existingPd = {};\ntry { existingPd = typeof plan.plan_data === 'string' ? JSON.parse(plan.plan_data) : (plan.plan_data || {}); } catch(e) {}\n\nconst context = {\n  plan_id: plan.id,\n  codename: plan.opp_title || existingPd.codename || '',\n  opportunity_full_name: plan.opportunity || existingPd.opportunity || '',\n  agency: plan.agency || existingPd.agency || '',\n  contract_value: plan.contract_value || '',\n  opp_tracker_data: {\n    set_aside: plan.o_set_aside || '',\n    naics: plan.o_naics || '',\n    response_deadline: plan.o_deadline || '',\n    solicitation_number: plan.o_sol || '',\n    place_of_performance: plan.o_pop || '',\n    estimated_value: plan.o_value || '',\n    ai_analysis: (plan.o_ai || '').toString().slice(0,1500),\n    incumbent_analysis: plan.o_incumbent || '',\n    likely_competitors: plan.o_competitors || ''\n  },\n  existing_plan_data: existingPd,\n  tavily_answer: answer,\n  tavily_results: results\n};\n\nconst prompt = `You are a federal contract capture intelligence analyst for Georgetown Defense Analytics (GDA), parent of Envision Innovative Solutions. GDA targets DoD IT/engineering services on RS3, MAPS, ITES, OASIS+, SEWP VI, and similar vehicles.\n\nYou are enriching a capture plan card. Use ALL available data: existing plan_data, opportunity tracker data, and Tavily web search results.\n\nReturn ONLY a JSON object with these exact keys (no markdown, no commentary):\n{\n  \"codename\": \"short codename, max 25 chars\",\n  \"opportunity\": \"full opportunity name\",\n  \"agency\": \"contracting agency\",\n  \"priority\": \"Must-Win | High Priority | Low Priority\",\n  \"total_contract_value\": \"dollar amount as string with $ and commas, e.g. $250,000,000 or empty string if unknown\",\n  \"allocated_revenue_value\": \"GDA OU3 share estimate as $X,XXX,XXX or empty\",\n  \"contract_revenue_value\": \"FY26 expected revenue as $X,XXX,XXX or empty\",\n  \"rfp_date\": \"YYYY-MM-DD posted/expected RFP date or empty\",\n  \"pwin\": \"integer 0-100 as string, your honest probability estimate based on incumbency, NAICS fit, vehicle, competition\",\n  \"contract_type\": \"one of: IDIQ | IDIQ TO | FFP | T&M | CPFF | CPAF | CPIF | BPA | RS3 TO | SHIELD TO | CIO-SP3 TO | eFAST TO | OASIS+ TO | Other\",\n  \"set_aside\": \"e.g. Unrestricted | Total Small Business | 8(a) | SDVOSB | HUBZone | WOSB | Other\",\n  \"naics\": \"6-digit NAICS code\",\n  \"division_owners\": \"Envision\",\n  \"prime_company\": \"Envision Innovative Solutions or a teaming prime if subbing\",\n  \"idiq_vehicle\": \"e.g. RS3 | MAPS | OASIS+ | SEWP VI | CIO-SP3 SB | eFAST | direct or empty\",\n  \"period_of_performance\": \"e.g. 5 years base + 5 option or 1 base + 4 option\",\n  \"solicitation_number\": \"official sol number\",\n  \"incumbent\": \"incumbent company name OR 'New Requirement - No Incumbent' OR 'Unknown - Research Needed'\",\n  \"total_shaping_progress\": \"0-100 as string, how much pre-RFP shaping GDA has done\",\n  \"notes\": \"3-5 sentence scope summary of what the work actually is\",\n  \"eis_strengths\": \"3-5 bullet points of GDA strengths for this opp, separated by newlines\",\n  \"eis_weaknesses\": \"3-5 bullet points of GDA weaknesses, separated by newlines\",\n  \"swot_opportunities\": \"3-5 bullet points of external opportunities\",\n  \"swot_threats\": \"3-5 bullet points of external threats and competitor risks\",\n  \"known_competitors\": \"comma-separated list of likely competitors, real company names\",\n  \"place_of_performance\": \"city, state\",\n  \"data_sources\": \"comma-separated list of sources used\",\n  \"enrichment_confidence\": \"HIGH | MEDIUM | LOW based on data quality\",\n  \"go_no_go_recommendation\": \"GO | NO-GO | WATCH with 1 sentence rationale\"\n}\n\nRules:\n- NEVER return null. Use empty string '' or 'Unknown' if truly unknown.\n- pwin must reflect actual win probability. Be realistic. If GDA is incumbent: 60-85. If new market: 15-30. If strong fit + competitive: 35-50.\n- If you cannot find specific data after reviewing all sources, write 'Unknown - Research Needed' so the user knows to dig further.\n- Do not invent incumbents. If unknown, say so.\n- Do not invent NAICS. Use opp_tracker NAICS if present.\n\nINPUT DATA:\n${JSON.stringify(context, null, 2)}`;\n\nreturn [{json: {plan_id: plan.id, prompt: prompt, existing_plan_data: existingPd}}];"}},{"id":"claude1","name":"Claude Enrich","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1400,300],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({model: 'claude-sonnet-4-20250514', max_tokens: 3000, messages: [{role: 'user', content: $json.prompt}]}) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":90000}},"onError":"continueRegularOutput"},{"id":"parse1","name":"Parse and Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,300],"parameters":{"jsCode":"const plan_id = $('Build Context').item.json.plan_id;\nconst existing = $('Build Context').item.json.existing_plan_data || {};\nconst resp = $input.first().json || {};\n\nlet text = '';\ntry { if (resp.content && resp.content[0]) text = resp.content[0].text || ''; } catch(e) {}\n\nlet enriched = {};\ntry {\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start !== -1 && end !== -1) enriched = JSON.parse(text.substring(start, end + 1));\n} catch(e) { enriched = {_parse_error: e.message, _raw: text.slice(0,300)}; }\n\nconst merged = Object.assign({}, existing, enriched, {\n  enriched_at: new Date().toISOString(),\n  enriched_by: 'gda-enrich-capture-plans',\n  enriched_via: 'Claude Sonnet 4 + Tavily + GDA OppTracker'\n});\n\nreturn [{json: {plan_id: plan_id, merged_plan_data: merged, enrichment_status: enriched._parse_error ? 'PARSE_ERROR' : 'SUCCESS'}}];"}},{"id":"pg2","name":"Save Enrichment","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1800,300],"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"parameters":{"operation":"executeQuery","query":"UPDATE gda_capture_plans SET plan_data = $1::jsonb, updated_at = NOW() WHERE id = $2::int RETURNING id, opp_title, plan_data->>'enrichment_confidence' as conf, plan_data->>'pwin' as pwin, plan_data->>'incumbent' as incumbent, plan_data->>'go_no_go_recommendation' as recommendation","options":{"queryReplacement":"={{ [JSON.stringify($json.merged_plan_data), $json.plan_id] }}"}}},{"id":"loop1","name":"Loop Back","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2000,300],"parameters":{}},{"id":"respond1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1000,500],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok', message:'Enrichment complete', plans_processed: $('Get Plans').all().length}) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}}}], "connections" : {"Webhook":{"main":[[{"node":"Auth Guard","type":"main","index":0}]]},"Auth Guard":{"main":[[{"node":"Get Plans","type":"main","index":0}]]},"Get Plans":{"main":[[{"node":"Split Per Plan","type":"main","index":0}]]},"Split Per Plan":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Tavily Search","type":"main","index":0}]]},"Tavily Search":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Claude Enrich","type":"main","index":0}]]},"Claude Enrich":{"main":[[{"node":"Parse and Merge","type":"main","index":0}]]},"Parse and Merge":{"main":[[{"node":"Save Enrichment","type":"main","index":0}]]},"Save Enrichment":{"main":[[{"node":"Loop Back","type":"main","index":0}]]},"Loop Back":{"main":[[{"node":"Split Per Plan","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"errorWorkflow":"2Swf6LP9AzFjHFYU","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:46.963+00:00"}
