docs/n8n-triage/workflows/GDA.api.naics_2___rWVp9Hp1ZthoqpfA.json
{"id" : "rWVp9Hp1ZthoqpfA", "name" : "GDA.api.naics 2", "active" : false, "nodes" : [{"id":"3252e238-3765-4ab0-994f-ce42981ddc2d","name":"Webhook","type":"n8n-nodes-base.webhook","position":[208,400],"webhookId":"70249490-5ee1-498d-8551-2044e5c0c016","parameters":{"path":"gda-naics","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"a1869662-daab-409b-8432-d80c2186566a","name":"Route Action","type":"n8n-nodes-base.code","position":[432,400],"parameters":{"jsCode":"const body=$input.first().json.body||$input.first().json;\nlet action = body.action || 'list_companies';\nif (action === 'list') action = 'list_companies';\nreturn [{json:{...body, action}}];"},"typeVersion":2},{"id":"f899fe42-8869-462a-b4c4-ce94d63138fc","name":"Switch by Action","type":"n8n-nodes-base.switch","position":[656,368],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"list_companies"}]}},{"conditions":{"options":{"caseSensitive":false},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"add_monthly"}]}},{"conditions":{"options":{"caseSensitive":false},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"get_history"}]}},{"conditions":{"options":{"caseSensitive":false},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.action }}","rightValue":"delete_entry"}]}}]},"options":{}},"typeVersion":3},{"id":"c94bf803-b75f-4316-90da-fd24bcaaeb50","name":"List Companies","type":"n8n-nodes-base.postgres","position":[880,112],"parameters":{"query":"SELECT id,company,naics_code,month,revenue,employees,notes,created_at FROM gda_naics_tracking ORDER BY company,month DESC","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true,"alwaysOutputData":true},{"id":"c43fe9b7-f0cf-49a8-9b43-214132819114","name":"Add Monthly Entry","type":"n8n-nodes-base.postgres","position":[880,304],"parameters":{"query":"INSERT INTO gda_naics_tracking(company,naics_code,month,revenue,employees,notes,created_at) VALUES($1,$2,$3,$4,$5,$6,NOW()) ON CONFLICT(company,month) DO UPDATE SET revenue=EXCLUDED.revenue,employees=EXCLUDED.employees,naics_code=EXCLUDED.naics_code,notes=EXCLUDED.notes RETURNING *","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"1714c8fe-d175-48f8-ab55-6cab35014b68","name":"Get History","type":"n8n-nodes-base.postgres","position":[880,496],"parameters":{"query":"SELECT * FROM gda_naics_tracking WHERE company=$1 ORDER BY month DESC LIMIT 24","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"5e7ae369-d3cd-41b3-a15c-a76f6a941360","name":"Delete Entry","type":"n8n-nodes-base.postgres","position":[880,688],"parameters":{"query":"DELETE FROM gda_naics_tracking WHERE id=$1 RETURNING id","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5,"continueOnFail":true},{"id":"afe66188-73a3-48ee-8d42-82490ab67c1e","name":"Format List","type":"n8n-nodes-base.code","position":[1104,112],"parameters":{"jsCode":"const rows=$input.all().map(i=>i.json);\nconst companies={};\nfor(const r of rows){if(!companies[r.company])companies[r.company]=[];companies[r.company].push(r);}\nreturn [{json:{companies,rows,count:rows.length}}];"},"typeVersion":2},{"id":"1324f3f1-9855-4317-bed2-bc994335c637","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","position":[1328,112],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"typeVersion":1},{"id":"fc82c51e-5ad4-4de5-b9fa-9c9746db44ae","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","position":[1104,496],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({success:true,data:$input.first().json}) }}"},"typeVersion":1},{"id":"237b957c-c9c2-4303-af36-474aba0c370e","name":"Setup Webhook","type":"n8n-nodes-base.webhook","position":[208,912],"webhookId":"1ccccb3d-3abe-41e6-bd97-a420bffb408a","parameters":{"path":"1ccccb3d-3abe-41e6-bd97-a420bffb408a","options":{},"httpMethod":"POST","responseMode":"responseNode","authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"typeVersion":2},{"id":"a01c38f6-f982-4712-b748-c016ca2f12f4","name":"Create Table","type":"n8n-nodes-base.postgres","position":[432,912],"parameters":{"query":"CREATE TABLE IF NOT EXISTS gda_naics_tracking(id SERIAL PRIMARY KEY,company TEXT NOT NULL,naics_code TEXT,month TEXT NOT NULL,revenue NUMERIC,employees INTEGER,notes TEXT,created_at TIMESTAMPTZ DEFAULT NOW(),UNIQUE(company,month))","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"typeVersion":2.5},{"id":"54a5e2d1-f9bb-4f3c-a0cc-6f104439d860","name":"Setup Respond","type":"n8n-nodes-base.respondToWebhook","position":[656,912],"parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"{\"status\":\"ok\",\"message\":\"table ready\"}"},"typeVersion":1}], "connections" : {"Webhook":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Switch by Action","type":"main","index":0}]]},"Switch by Action":{"main":[[{"node":"List Companies","type":"main","index":0}],[{"node":"Add Monthly Entry","type":"main","index":0}],[{"node":"Get History","type":"main","index":0}],[{"node":"Delete Entry","type":"main","index":0}]]},"List Companies":{"main":[[{"node":"Format List","type":"main","index":0}]]},"Format List":{"main":[[{"node":"Respond List","type":"main","index":0}]]},"Add Monthly Entry":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Get History":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Delete Entry":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Setup Webhook":{"main":[[{"node":"Create Table","type":"main","index":0}]]},"Create Table":{"main":[[{"node":"Setup Respond","type":"main","index":0}]]}}, "settings" : {"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"}, "updatedAt" : "2026-05-21T15:29:57.729+00:00"}
