docs/n8n-triage/workflows/GDA.api.teaming-scorer___jQvgX6SD1RhARG3F.json
{"id" : "jQvgX6SD1RhARG3F", "name" : "GDA.api.teaming-scorer", "active" : false, "nodes" : [{"credentials":{"httpHeaderAuth":{"id":"F4J3vYsPrJrYiO49","name":"GDA Webhook Auth v2"}},"id":"ts-wh","name":"Webhook","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{"allowedOrigins":"*"},"path":"gda-teaming-scorer","responseMode":"responseNode"},"position":[200,300],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"5e880001-1d82-48f3-b1bb-4ac5d79c8bd9"},{"id":"ts-auth","name":"Auth Guard","parameters":{"jsCode":"if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst h = $input.first().json.headers || {};\nconst b = $input.first().json.body || {};\nconst auth = h['x-gda-auth'] || h['x-gda-key'] || b.auth_key || '';\nconst origin = (h.origin || h.referer || '').toLowerCase();\nconst trusted = ['gda.csr-llc.tech','n8n.csr-llc.tech','localhost'];\nif (auth !== $env.GDA_API_KEY_2026 && !trusted.some(o => origin.includes(o))) throw new Error('Unauthorized');\nreturn $input.all();"},"position":[420,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"ts-route","name":"Route Action","parameters":{"fallbackOutput":"extra","options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"score"}]}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"list"}]}},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.action }}","operator":{"operation":"equals","type":"string"},"rightValue":"setup"}]}}]}},"position":[640,300],"type":"n8n-nodes-base.switch","typeVersion":3.2},{"id":"ts-sam","name":"Fetch SAM Entity","onError":"continueRegularOutput","parameters":{"method":"GET","options":{"timeout":20000},"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $env.SAM_GOV_API_KEY || 'DEMO_KEY' }}"},{"name":"legalBusinessName","value":"={{ $json.body.company_name }}"},{"name":"includeSections","value":"entityRegistration,coreData,assertions,pointsOfContact"},{"name":"registrationStatus","value":"A"}]},"sendQuery":true,"url":"https://api.sam.gov/entity-information/v3/entities"},"position":[880,100],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"ts-pursuits","name":"Fetch Open Pursuits","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT o.id, o.opp_title, o.agency, o.naics_code, o.estimated_value, o.stage, o.gda_label,\n  cp.plan_data->>'gate_stage' as gate_stage,\n  cp.plan_data->>'teaming_partner' as current_partner\nFROM gda_opportunity_tracker o\nLEFT JOIN gda_capture_plans cp ON cp.opp_id = o.id\nWHERE o.gda_label = 'PURSUE'\nORDER BY o.gda_score DESC LIMIT 20;"},"position":[1100,100],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"ts-score","name":"Build Score Report","parameters":{"jsCode":"const body = $('Webhook').first().json.body || {};\nconst samRaw = $('Fetch SAM Entity').first().json;\nconst pursuits = $('Fetch Open Pursuits').all().map(i => i.json);\n\n// Parse SAM entity data\nlet entity = {};\ntry {\n  const ents = samRaw.entityData || samRaw.entities || [];\n  entity = ents[0] || {};\n} catch(e) {}\n\nconst reg = entity.entityRegistration || {};\nconst core = entity.coreData || {};\nconst assertions = entity.assertions || {};\n\n// Extract entity details\nconst uei = reg.ueiSAM || 'N/A';\nconst cage = reg.cageCode || 'N/A';\nconst businessTypes = (reg.businessTypes || []).map(b => b.businessTypeDesc || b).join(', ');\nconst naicsList = (assertions.goodsAndServices?.naicsList || []).map(n => n.naicsCode || n);\nconst setAsides = (assertions.goodsAndServices?.sbaBusinessTypeList || []).map(s => s.sbaBusinessTypeDesc || s);\nconst registrationStatus = reg.registrationStatus || 'Unknown';\nconst expirationDate = reg.registrationExpirationDate || 'N/A';\n\n// Score NAICS overlap with our pursuits\nconst pursuitsNaics = [...new Set(pursuits.map(p => p.naics_code).filter(Boolean))];\nconst naicsOverlap = naicsList.filter(n => pursuitsNaics.includes(n));\nconst naicsScore = Math.min(10, naicsOverlap.length * 2 + (naicsOverlap.length > 0 ? 3 : 0));\n\n// Score business type fit (8a, SDVOSB, WOSB, HUBZone = high value)\nconst highValueTypes = ['8(a)', 'SDVOSB', 'WOSB', 'HUBZone', 'Small Business'];\nconst setAsideScore = setAsides.some(s => highValueTypes.some(h => s.includes(h))) ? 8 : 4;\n\n// Score registration health\nconst regScore = registrationStatus === 'Active' ? 10 : 3;\n\n// Manually provided scores from caller\nconst pastPerfScore = Math.min(10, parseInt(body.past_performance_score) || 5);\nconst relationshipScore = Math.min(10, parseInt(body.relationship_score) || 5);\nconst capacityScore = Math.min(10, parseInt(body.capacity_score) || 5);\n\n// Weighted composite\nconst weights = { naics: 0.25, set_aside: 0.20, relationship: 0.20, past_perf: 0.20, capacity: 0.10, reg: 0.05 };\nconst composite = (\n  naicsScore * weights.naics +\n  setAsideScore * weights.set_aside +\n  relationshipScore * weights.relationship +\n  pastPerfScore * weights.past_perf +\n  capacityScore * weights.capacity +\n  regScore * weights.reg\n);\nconst teamingScore = Math.round(composite * 10);\n\n// Recommendation\nlet recommendation = 'LOW FIT';\nif (teamingScore >= 75) recommendation = 'STRONG TEAM';\nelse if (teamingScore >= 55) recommendation = 'VIABLE TEAM';\nelse if (teamingScore >= 40) recommendation = 'CONDITIONAL';\n\n// Find best pursuit matches\nconst bestMatches = pursuits\n  .filter(p => naicsOverlap.includes(p.naics_code))\n  .slice(0, 3)\n  .map(p => ({ opp_id: p.id, title: p.opp_title, agency: p.agency, gate: p.gate_stage }));\n\nreturn [{ json: {\n  status: 'ok',\n  company_name: body.company_name,\n  uei, cage,\n  registration_status: registrationStatus,\n  registration_expires: expirationDate,\n  business_types: businessTypes,\n  naics_codes: naicsList,\n  set_asides: setAsides,\n  naics_overlap: naicsOverlap,\n  teaming_score: teamingScore,\n  recommendation,\n  score_breakdown: {\n    naics_overlap: naicsScore,\n    set_aside_value: setAsideScore,\n    relationship: relationshipScore,\n    past_performance: pastPerfScore,\n    capacity: capacityScore,\n    registration: regScore\n  },\n  best_pursuit_matches: bestMatches,\n  scored_by: body.scored_by || 'GDA Command',\n  scored_at: new Date().toISOString()\n}}];"},"position":[1320,100],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"ts-save","name":"Save Partner Score","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ [\n  $json.company_name, $json.uei, $json.cage,\n  $json.teaming_score, $json.recommendation,\n  JSON.stringify($json.naics_codes),\n  JSON.stringify($json.set_asides),\n  JSON.stringify($json.score_breakdown),\n  JSON.stringify($json.best_pursuit_matches),\n  $json.scored_by\n] }}"},"query":"INSERT INTO gda_teaming_partners (\n  company_name, uei, cage, teaming_score, recommendation,\n  naics_codes, set_asides, score_breakdown, best_matches,\n  scored_by, scored_at\n) VALUES ($1, $2, $3, $4, $5, $6::jsonb, $7::jsonb, $8::jsonb, $9::jsonb, $10, NOW())\nON CONFLICT (uei) DO UPDATE SET\n  teaming_score = EXCLUDED.teaming_score,\n  recommendation = EXCLUDED.recommendation,\n  score_breakdown = EXCLUDED.score_breakdown,\n  best_matches = EXCLUDED.best_matches,\n  scored_at = NOW()\nRETURNING id;"},"position":[1540,40],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"ts-resp-score","name":"Respond Score","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify($('Build Score Report').first().json) }}"},"position":[1540,200],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"ts-list","name":"List Scored Partners","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{},"query":"SELECT company_name, uei, cage, teaming_score, recommendation, set_asides, best_matches, scored_at FROM gda_teaming_partners ORDER BY teaming_score DESC LIMIT 50;"},"position":[880,340],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"ts-resp-list","name":"Respond List","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({status:'ok', partners: $input.all().map(i => i.json), count: $input.all().length}) }}"},"position":[1100,340],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"credentials":{"postgres":{"id":"HwronxMmGY5XDGEt","name":"GDA Postgres"}},"id":"ts-setup","name":"Setup Tables","parameters":{"operation":"executeQuery","options":{},"query":"CREATE TABLE IF NOT EXISTS gda_teaming_partners (\n  id SERIAL PRIMARY KEY,\n  company_name TEXT NOT NULL,\n  uei VARCHAR(12) UNIQUE,\n  cage VARCHAR(10),\n  teaming_score INTEGER,\n  recommendation VARCHAR(30),\n  naics_codes JSONB DEFAULT '[]',\n  set_asides JSONB DEFAULT '[]',\n  score_breakdown JSONB DEFAULT '{}',\n  best_matches JSONB DEFAULT '[]',\n  scored_by TEXT,\n  scored_at TIMESTAMPTZ DEFAULT NOW()\n);\nCREATE INDEX IF NOT EXISTS idx_team_score ON gda_teaming_partners(teaming_score DESC);\nSELECT 'gda_teaming_partners ready' AS status;"},"position":[880,540],"type":"n8n-nodes-base.postgres","typeVersion":2.5},{"id":"ts-resp-setup","name":"Respond Setup","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"allIncomingItems"},"position":[1100,540],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"ts-resp-default","name":"Respond Default","parameters":{"options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}},"respondWith":"json","responseBody":"={{ JSON.stringify({error: 'Invalid action. Use: score, list, setup'}) }}"},"position":[880,700],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}], "connections" : {"Auth Guard":{"main":[[{"index":0,"node":"Route Action","type":"main"}]]},"Build Score Report":{"main":[[{"index":0,"node":"Save Partner Score","type":"main"},{"index":0,"node":"Respond Score","type":"main"}]]},"Fetch Open Pursuits":{"main":[[{"index":0,"node":"Build Score Report","type":"main"}]]},"Fetch SAM Entity":{"main":[[{"index":0,"node":"Fetch Open Pursuits","type":"main"}]]},"List Scored Partners":{"main":[[{"index":0,"node":"Respond List","type":"main"}]]},"Route Action":{"main":[[{"index":0,"node":"Fetch SAM Entity","type":"main"}],[{"index":0,"node":"List Scored Partners","type":"main"}],[{"index":0,"node":"Setup Tables","type":"main"}],[{"index":0,"node":"Respond Default","type":"main"}]]},"Save Partner Score":{"main":[[]]},"Setup Tables":{"main":[[{"index":0,"node":"Respond Setup","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth Guard","type":"main"}]]}}, "settings" : {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}, "updatedAt" : "2026-05-26T21:28:49.595+00:00"}
