docs/audit/f035-wave4/workflow-f0OGkYCb5tvoOnpP-after-sanitized.json
{
  "updatedAt": "2026-05-26T21:28:55.584Z",
  "createdAt": "2026-03-27T13:35:58.147Z",
  "id": "f0OGkYCb5tvoOnpP",
  "name": "GDA.api.health-scan",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "webhookId": "health-scan-api",
      "parameters": {
        "path": "gda-health-scan",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "F4J3vYsPrJrYiO49",
          "name": "GDA Webhook Auth v2"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "route1",
      "name": "Route Action",
      "type": "n8n-nodes-base.if",
      "position": [
        470,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "r1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body?.action }}",
              "rightValue": "history"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "pg_hist",
      "name": "Get History",
      "type": "n8n-nodes-base.postgres",
      "position": [
        690,
        200
      ],
      "parameters": {
        "query": "SELECT id, scan_time, total_endpoints, passed, failed, timed_out, pass_rate, duration_ms, scan_type FROM gda_health_scans ORDER BY scan_time DESC LIMIT 30",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "HwronxMmGY5XDGEt",
          "name": "GDA Postgres"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "resp_hist",
      "name": "Respond History",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        910,
        200
      ],
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({scans: $input.all().map(i => i.json), count: $input.all().length}) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "auth1",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "position": [
        690,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Webhook Trigger').first().json.body?.auth_key }}",
              "rightValue": "={{ $env.GDA_API_KEY_2026 }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "code1",
      "name": "Build Endpoints",
      "type": "n8n-nodes-base.code",
      "position": [
        910,
        400
      ],
      "parameters": {
        "jsCode": "if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst endpoints = [\n  {name: 'Opp Tracker', path: 'gda-opp-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list', limit: 1}, timeout: 15000},\n  {name: 'Daily SITREP', path: 'gda-daily-sitrep', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'latest'}, timeout: 10000},\n  {name: 'Intel Feed', path: 'gda-intel-feed', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 15000},\n  {name: 'OODA Loop', path: 'gda-ooda', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'history'}, timeout: 10000},\n  {name: 'AI Agent', path: 'gda-chat-v2', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, message: 'ping'}, timeout: 15000},\n  {name: 'Capture Plan', path: 'gda-capture-plan', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Risk Register', path: 'gda-risk', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list', limit: 1}, timeout: 10000},\n  {name: 'Action Items', path: 'gda-action-items', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Red Team', path: 'gda-red-team', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, rfp_text: 'health ping', review_type: 'quick'}, timeout: 10000},\n  {name: 'Competitor Watchlist', path: 'gda-competitor-watchlist', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Competitor Threat', path: 'gda-competitor-threat-score', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Trends', path: 'gda-trends', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'latest'}, timeout: 10000},\n  {name: 'Vehicle Tracker', path: 'gda-vehicle-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Win Loss', path: 'gda-win-loss', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Ops Dashboard', path: 'gda-ops-dashboard-data', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Pwin Calculator', path: 'gda-pwin-calculator', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Daily Actions', path: 'gda-daily-actions-list', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Email Drafter', path: 'gda-email-drafter', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, subject: 'ping', original_email: 'ping'}, timeout: 10000},\n  {name: 'Opp Search', path: 'gda-opp-search', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, query: 'SOCOM'}, timeout: 15000},\n  {name: 'NDAA Ingest', path: 'gda-ndaa-ingest', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'IDIQ Tracker', path: 'gda-idiq-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Relationship Tracker', path: 'gda-relationship-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Wargame', path: 'gda-wargame', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Incumbent Analysis', path: 'gda-incumbent-list', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Black Hat', path: 'gda-black-hat', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'ping'}, timeout: 10000},\n  {name: 'PPTX Gen', path: 'gda-pptx-health', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000}\n];\nreturn [{json: {endpoints, startTime: Date.now()}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "code2",
      "name": "Run Checks",
      "type": "n8n-nodes-base.code",
      "position": [
        1130,
        400
      ],
      "parameters": {
        "jsCode": "const {endpoints, startTime} = $json;\nconst results = [];\nconst baseUrl = 'https://n8n.csr-llc.tech/webhook/';\n\nfor (const ep of endpoints) {\n  const t0 = Date.now();\n  let status = 'UNKNOWN', statusCode = 0, responseSize = 0, error = null;\n  const timeout = ep.timeout || 10000;\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: ep.method,\n      url: baseUrl + ep.path,\n      headers: {'Content-Type': 'application/json'},\n      body: ep.method === 'POST' ? ep.body : undefined,\n      returnFullResponse: true,\n      timeout: timeout,\n      ignoreHttpStatusErrors: true\n    });\n    statusCode = resp.statusCode;\n    const body = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body || '');\n    responseSize = body.length;\n    if (statusCode >= 200 && statusCode < 300 && responseSize > 5) status = 'PASS';\n    else if (statusCode >= 200 && statusCode < 300) status = 'EMPTY';\n    else if (statusCode === 404) status = 'NOT_FOUND';\n    else status = 'FAIL';\n  } catch(e) {\n    status = (e.message || '').includes('timeout') ? 'TIMEOUT' : 'ERROR';\n    error = e.message;\n  }\n  results.push({endpoint: ep.name, path: ep.path, status, statusCode, responseSize, latencyMs: Date.now() - t0, error});\n}\n\nconst passed = results.filter(r => r.status === 'PASS').length;\nconst failed = results.filter(r => ['FAIL','NOT_FOUND','ERROR'].includes(r.status)).length;\nconst timedOut = results.filter(r => r.status === 'TIMEOUT').length;\nconst total = results.length;\nconst passRate = total > 0 ? Math.round((passed / total) * 10000) / 100 : 0;\n\nreturn [{json: {total_endpoints: total, passed, failed, timed_out: timedOut, pass_rate: passRate, results, duration_ms: Date.now() - startTime}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "pg_save",
      "name": "Save Result",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1350,
        400
      ],
      "parameters": {
        "query": "CREATE TABLE IF NOT EXISTS gda_health_scans (id SERIAL PRIMARY KEY, scan_time TIMESTAMPTZ NOT NULL DEFAULT NOW(), total_endpoints INT NOT NULL DEFAULT 0, passed INT NOT NULL DEFAULT 0, failed INT NOT NULL DEFAULT 0, timed_out INT NOT NULL DEFAULT 0, pass_rate NUMERIC(5,2) NOT NULL DEFAULT 0, results JSONB NOT NULL DEFAULT '[]'::jsonb, duration_ms INT, scan_type VARCHAR(20) DEFAULT 'manual');\nINSERT INTO gda_health_scans (scan_time, total_endpoints, passed, failed, timed_out, pass_rate, results, duration_ms, scan_type) VALUES (NOW(), {{ $json.total_endpoints }}, {{ $json.passed }}, {{ $json.failed }}, {{ $json.timed_out }}, {{ $json.pass_rate }}, '{{ JSON.stringify($json.results).replace(/'/g, \"''\") }}'::jsonb, {{ $json.duration_ms }}, 'manual');\nDELETE FROM gda_health_scans WHERE id NOT IN (SELECT id FROM gda_health_scans ORDER BY scan_time DESC LIMIT 30);",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "HwronxMmGY5XDGEt",
          "name": "GDA Postgres"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "resp_result",
      "name": "Respond Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1570,
        400
      ],
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'ok', pass_rate: $('Run Checks').first().json.pass_rate + '%', passed: $('Run Checks').first().json.passed, failed: $('Run Checks').first().json.failed, timed_out: $('Run Checks').first().json.timed_out, total: $('Run Checks').first().json.total_endpoints, duration_ms: $('Run Checks').first().json.duration_ms, results: $('Run Checks').first().json.results}) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "resp_unauth",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        910,
        550
      ],
      "parameters": {
        "options": {
          "responseCode": 401
        },
        "respondWith": "json",
        "responseBody": "={\"error\": \"Unauthorized\"}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Respond History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Build Endpoints",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Endpoints": {
      "main": [
        [
          {
            "node": "Run Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Checks": {
      "main": [
        [
          {
            "node": "Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Result": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "2Swf6LP9AzFjHFYU"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4adaafd6-2efe-40cb-9e7b-195cc3d51470",
  "activeVersionId": "4adaafd6-2efe-40cb-9e7b-195cc3d51470",
  "versionCounter": 198,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T13:35:58.147Z",
      "createdAt": "2026-03-27T13:35:58.147Z",
      "role": "workflow:owner",
      "workflowId": "f0OGkYCb5tvoOnpP",
      "projectId": "DnecXJnFEDZdmft0",
      "project": {
        "updatedAt": "2026-02-24T17:59:30.639Z",
        "createdAt": "2026-02-23T21:31:34.343Z",
        "id": "DnecXJnFEDZdmft0",
        "name": "Shawn Seffernick <shawn.seffernick175@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fc09115d-0a06-4ba7-beb9-fffc2e1f1f58"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-26T21:28:55.585Z",
    "createdAt": "2026-05-26T21:28:55.585Z",
    "versionId": "4adaafd6-2efe-40cb-9e7b-195cc3d51470",
    "workflowId": "f0OGkYCb5tvoOnpP",
    "nodes": [
      {
        "id": "wh1",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "position": [
          250,
          300
        ],
        "webhookId": "health-scan-api",
        "parameters": {
          "path": "gda-health-scan",
          "options": {},
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "authentication": "headerAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "F4J3vYsPrJrYiO49",
            "name": "GDA Webhook Auth v2"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "route1",
        "name": "Route Action",
        "type": "n8n-nodes-base.if",
        "position": [
          470,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "r1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.body?.action }}",
                "rightValue": "history"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "pg_hist",
        "name": "Get History",
        "type": "n8n-nodes-base.postgres",
        "position": [
          690,
          200
        ],
        "parameters": {
          "query": "SELECT id, scan_time, total_endpoints, passed, failed, timed_out, pass_rate, duration_ms, scan_type FROM gda_health_scans ORDER BY scan_time DESC LIMIT 30",
          "options": {},
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "HwronxMmGY5XDGEt",
            "name": "GDA Postgres"
          }
        },
        "typeVersion": 2.5
      },
      {
        "id": "resp_hist",
        "name": "Respond History",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          910,
          200
        ],
        "parameters": {
          "options": {},
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({scans: $input.all().map(i => i.json), count: $input.all().length}) }}"
        },
        "typeVersion": 1.1
      },
      {
        "id": "auth1",
        "name": "Auth Check",
        "type": "n8n-nodes-base.if",
        "position": [
          690,
          400
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "a1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $('Webhook Trigger').first().json.body?.auth_key }}",
                "rightValue": "={{ $env.GDA_API_KEY_2026 }}"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "code1",
        "name": "Build Endpoints",
        "type": "n8n-nodes-base.code",
        "position": [
          910,
          400
        ],
        "parameters": {
          "jsCode": "if (!$env.GDA_API_KEY_2026 || !$env.GDA_DEPLOY_KEY_2026 || !$env.GDA_WEBHOOK_SECRET_2026) throw new Error('2026 auth env vars not set');\nconst endpoints = [\n  {name: 'Opp Tracker', path: 'gda-opp-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list', limit: 1}, timeout: 15000},\n  {name: 'Daily SITREP', path: 'gda-daily-sitrep', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'latest'}, timeout: 10000},\n  {name: 'Intel Feed', path: 'gda-intel-feed', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 15000},\n  {name: 'OODA Loop', path: 'gda-ooda', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'history'}, timeout: 10000},\n  {name: 'AI Agent', path: 'gda-chat-v2', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, message: 'ping'}, timeout: 15000},\n  {name: 'Capture Plan', path: 'gda-capture-plan', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Risk Register', path: 'gda-risk', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list', limit: 1}, timeout: 10000},\n  {name: 'Action Items', path: 'gda-action-items', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Red Team', path: 'gda-red-team', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, rfp_text: 'health ping', review_type: 'quick'}, timeout: 10000},\n  {name: 'Competitor Watchlist', path: 'gda-competitor-watchlist', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Competitor Threat', path: 'gda-competitor-threat-score', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Trends', path: 'gda-trends', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'latest'}, timeout: 10000},\n  {name: 'Vehicle Tracker', path: 'gda-vehicle-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Win Loss', path: 'gda-win-loss', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Ops Dashboard', path: 'gda-ops-dashboard-data', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Pwin Calculator', path: 'gda-pwin-calculator', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Daily Actions', path: 'gda-daily-actions-list', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Email Drafter', path: 'gda-email-drafter', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, subject: 'ping', original_email: 'ping'}, timeout: 10000},\n  {name: 'Opp Search', path: 'gda-opp-search', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, query: 'SOCOM'}, timeout: 15000},\n  {name: 'NDAA Ingest', path: 'gda-ndaa-ingest', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'IDIQ Tracker', path: 'gda-idiq-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Relationship Tracker', path: 'gda-relationship-tracker', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Wargame', path: 'gda-wargame', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'list'}, timeout: 10000},\n  {name: 'Incumbent Analysis', path: 'gda-incumbent-list', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000},\n  {name: 'Black Hat', path: 'gda-black-hat', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026, action: 'ping'}, timeout: 10000},\n  {name: 'PPTX Gen', path: 'gda-pptx-health', method: 'POST', body: {auth_key: $env.GDA_API_KEY_2026}, timeout: 10000}\n];\nreturn [{json: {endpoints, startTime: Date.now()}}];"
        },
        "typeVersion": 2
      },
      {
        "id": "code2",
        "name": "Run Checks",
        "type": "n8n-nodes-base.code",
        "position": [
          1130,
          400
        ],
        "parameters": {
          "jsCode": "const {endpoints, startTime} = $json;\nconst results = [];\nconst baseUrl = 'https://n8n.csr-llc.tech/webhook/';\n\nfor (const ep of endpoints) {\n  const t0 = Date.now();\n  let status = 'UNKNOWN', statusCode = 0, responseSize = 0, error = null;\n  const timeout = ep.timeout || 10000;\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: ep.method,\n      url: baseUrl + ep.path,\n      headers: {'Content-Type': 'application/json'},\n      body: ep.method === 'POST' ? ep.body : undefined,\n      returnFullResponse: true,\n      timeout: timeout,\n      ignoreHttpStatusErrors: true\n    });\n    statusCode = resp.statusCode;\n    const body = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body || '');\n    responseSize = body.length;\n    if (statusCode >= 200 && statusCode < 300 && responseSize > 5) status = 'PASS';\n    else if (statusCode >= 200 && statusCode < 300) status = 'EMPTY';\n    else if (statusCode === 404) status = 'NOT_FOUND';\n    else status = 'FAIL';\n  } catch(e) {\n    status = (e.message || '').includes('timeout') ? 'TIMEOUT' : 'ERROR';\n    error = e.message;\n  }\n  results.push({endpoint: ep.name, path: ep.path, status, statusCode, responseSize, latencyMs: Date.now() - t0, error});\n}\n\nconst passed = results.filter(r => r.status === 'PASS').length;\nconst failed = results.filter(r => ['FAIL','NOT_FOUND','ERROR'].includes(r.status)).length;\nconst timedOut = results.filter(r => r.status === 'TIMEOUT').length;\nconst total = results.length;\nconst passRate = total > 0 ? Math.round((passed / total) * 10000) / 100 : 0;\n\nreturn [{json: {total_endpoints: total, passed, failed, timed_out: timedOut, pass_rate: passRate, results, duration_ms: Date.now() - startTime}}];"
        },
        "typeVersion": 2
      },
      {
        "id": "pg_save",
        "name": "Save Result",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1350,
          400
        ],
        "parameters": {
          "query": "CREATE TABLE IF NOT EXISTS gda_health_scans (id SERIAL PRIMARY KEY, scan_time TIMESTAMPTZ NOT NULL DEFAULT NOW(), total_endpoints INT NOT NULL DEFAULT 0, passed INT NOT NULL DEFAULT 0, failed INT NOT NULL DEFAULT 0, timed_out INT NOT NULL DEFAULT 0, pass_rate NUMERIC(5,2) NOT NULL DEFAULT 0, results JSONB NOT NULL DEFAULT '[]'::jsonb, duration_ms INT, scan_type VARCHAR(20) DEFAULT 'manual');\nINSERT INTO gda_health_scans (scan_time, total_endpoints, passed, failed, timed_out, pass_rate, results, duration_ms, scan_type) VALUES (NOW(), {{ $json.total_endpoints }}, {{ $json.passed }}, {{ $json.failed }}, {{ $json.timed_out }}, {{ $json.pass_rate }}, '{{ JSON.stringify($json.results).replace(/'/g, \"''\") }}'::jsonb, {{ $json.duration_ms }}, 'manual');\nDELETE FROM gda_health_scans WHERE id NOT IN (SELECT id FROM gda_health_scans ORDER BY scan_time DESC LIMIT 30);",
          "options": {},
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "HwronxMmGY5XDGEt",
            "name": "GDA Postgres"
          }
        },
        "typeVersion": 2.5
      },
      {
        "id": "resp_result",
        "name": "Respond Result",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          1570,
          400
        ],
        "parameters": {
          "options": {},
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({status: 'ok', pass_rate: $('Run Checks').first().json.pass_rate + '%', passed: $('Run Checks').first().json.passed, failed: $('Run Checks').first().json.failed, timed_out: $('Run Checks').first().json.timed_out, total: $('Run Checks').first().json.total_endpoints, duration_ms: $('Run Checks').first().json.duration_ms, results: $('Run Checks').first().json.results}) }}"
        },
        "typeVersion": 1.1
      },
      {
        "id": "resp_unauth",
        "name": "Respond Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          910,
          550
        ],
        "parameters": {
          "options": {
            "responseCode": 401
          },
          "respondWith": "json",
          "responseBody": "={\"error\": \"Unauthorized\"}"
        },
        "typeVersion": 1.1
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Route Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Action": {
        "main": [
          [
            {
              "node": "Get History",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Auth Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get History": {
        "main": [
          [
            {
              "node": "Respond History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth Check": {
        "main": [
          [
            {
              "node": "Build Endpoints",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Endpoints": {
        "main": [
          [
            {
              "node": "Run Checks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Checks": {
        "main": [
          [
            {
              "node": "Save Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Result": {
        "main": [
          [
            {
              "node": "Respond Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Shawn Seffernick",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-26T21:28:55.620Z",
        "id": 13580,
        "workflowId": "f0OGkYCb5tvoOnpP",
        "versionId": "4adaafd6-2efe-40cb-9e7b-195cc3d51470",
        "event": "deactivated",
        "userId": "fc09115d-0a06-4ba7-beb9-fffc2e1f1f58"
      },
      {
        "createdAt": "2026-05-26T21:28:55.632Z",
        "id": 13581,
        "workflowId": "f0OGkYCb5tvoOnpP",
        "versionId": "4adaafd6-2efe-40cb-9e7b-195cc3d51470",
        "event": "activated",
        "userId": "fc09115d-0a06-4ba7-beb9-fffc2e1f1f58"
      }
    ]
  }
}