docs/audit/f035-wave3/workflow-gMEwjeBZbC4GzL3N-after-sanitized.json
{
  "updatedAt": "2026-05-09T18:09:16.552Z",
  "createdAt": "2026-05-09T17:09:54.178Z",
  "id": "gMEwjeBZbC4GzL3N",
  "name": "GDA.cron.health-scan-daily",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "hs-sched",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Call GDA.api.health-scan webhook directly, no n8n credential binding needed.\n// Mirrors the working pattern used by GDA.cron.master-scanner.\nconst url = 'https://n8n.csr-llc.tech/webhook/gda-health-scan';\nconst startedAt = new Date().toISOString();\n\nlet result;\ntry {\n  result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: url,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-gda-key': $env.GDA_WEBHOOK_HEADER_VALUE_V2\n    },\n    body: { auth_key: 'gda-api-2026-secure' },\n    json: true,\n    returnFullResponse: true,\n    timeout: 180000,\n    ignoreHttpStatusErrors: true\n  });\n} catch(e) {\n  return [{ json: {\n    status: 'error',\n    error: e.message,\n    startedAt,\n    finishedAt: new Date().toISOString()\n  }}];\n}\n\nconst body = result.body || {};\nreturn [{ json: {\n  status: body.status || 'unknown',\n  pass_rate: body.pass_rate || null,\n  passed: body.passed ?? null,\n  failed: body.failed ?? null,\n  timed_out: body.timed_out ?? null,\n  total: body.total ?? null,\n  duration_ms: body.duration_ms || null,\n  httpStatus: result.statusCode,\n  startedAt,\n  finishedAt: new Date().toISOString()\n}}];\n"
      },
      "id": "hs-http",
      "name": "Trigger Health Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "hs-check",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "8631035943",
        "text": "=<b>GDA Health Scan Complete</b>\n\nPass rate: {{ $('Trigger Health Scan').first().json.pass_rate }}\nPassed: {{ $('Trigger Health Scan').first().json.passed }} / {{ $('Trigger Health Scan').first().json.total }}\nFailed: {{ $('Trigger Health Scan').first().json.failed }}\nTimed out: {{ $('Trigger Health Scan').first().json.timed_out }}\nDuration: {{ $('Trigger Health Scan').first().json.duration_ms }}ms\n\nView results at /api/qa/results",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "hs-tg-ok",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        192
      ],
      "webhookId": "34e0f65a-777c-4239-a07e-ba92bff716a0",
      "credentials": {
        "telegramApi": {
          "id": "Jr8OOsZqc9DarQE6",
          "name": "GDA Telegram Bot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "8631035943",
        "text": "=<b>GDA Health Scan \u2013 Auth/Response Error</b>\n\nThe scheduled health scan did not return status 'ok'. This may indicate an auth failure or that the health-scan webhook is down.\n\nCheck GDA.api.health-scan execution log for details.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "hs-tg-fail",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        432
      ],
      "webhookId": "bd0e3422-5591-4f41-a5a3-1ca09a17d4e7",
      "credentials": {
        "telegramApi": {
          "id": "Jr8OOsZqc9DarQE6",
          "name": "GDA Telegram Bot"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Trigger Health Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Health Scan": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "errorWorkflow": "2Swf6LP9AzFjHFYU",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "af7c8a9c-3a3e-462a-a2cc-daf50bb3ebf0",
  "activeVersionId": "af7c8a9c-3a3e-462a-a2cc-daf50bb3ebf0",
  "versionCounter": 52,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-09T17:09:54.178Z",
      "createdAt": "2026-05-09T17:09:54.178Z",
      "role": "workflow:owner",
      "workflowId": "gMEwjeBZbC4GzL3N",
      "projectId": "DnecXJnFEDZdmft0",
      "project": {
        "updatedAt": "2026-02-24T17:59:30.639Z",
        "createdAt": "2026-02-23T21:31:34.343Z",
        "id": "DnecXJnFEDZdmft0",
        "name": "Shawn Seffernick <shawn.seffernick175@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fc09115d-0a06-4ba7-beb9-fffc2e1f1f58"
      }
    }
  ],
  "tags": []
}