docs/audit/f035-wave3/workflow-zPT6cd33TmJa7SZX-after-sanitized.json
{
  "updatedAt": "2026-05-02T20:54:49.377Z",
  "createdAt": "2026-04-22T15:28:06.007Z",
  "id": "zPT6cd33TmJa7SZX",
  "name": "GDA.util.smoke-test",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "gda-smoke-test",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "smoke-trigger",
      "name": "Webhook Trigger",
      "position": [
        0,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "4afa8c52-4a09-48de-8df3-b92a26f9facc",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1pNPY36DDz49OtKL",
          "name": "GDA Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.csr-llc.tech/webhook/gda-opp-tracker",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-gda-key",
              "value": "={{ $env.GDA_WEBHOOK_HEADER_VALUE_V2 }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-opp",
      "name": "Test opp-tracker",
      "position": [
        256,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.csr-llc.tech/webhook/gda-dashboard-mega",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-gda-key",
              "value": "={{ $env.GDA_WEBHOOK_HEADER_VALUE_V2 }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-dash",
      "name": "Test dashboard-mega",
      "position": [
        512,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.csr-llc.tech/webhook/gda-daily-actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-gda-key",
              "value": "={{ $env.GDA_WEBHOOK_HEADER_VALUE_V2 }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 90000
        }
      },
      "id": "http-daily",
      "name": "Test daily-actions",
      "position": [
        752,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://n8n.csr-llc.tech/webhook/gda-morning-briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-gda-key",
              "value": "={{ $env.GDA_WEBHOOK_HEADER_VALUE_V2 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-brief",
      "name": "Test morning-briefing",
      "position": [
        1008,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.csr-llc.tech/webhook/gda-capture-plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-gda-key",
              "value": "={{ $env.GDA_WEBHOOK_HEADER_VALUE_V2 }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-cap",
      "name": "Test capture-plan",
      "position": [
        1264,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const nodeNames = [\n  'Test opp-tracker',\n  'Test dashboard-mega',\n  'Test daily-actions',\n  'Test morning-briefing',\n  'Test capture-plan'\n];\nconst endpointNames = [\n  'opp-tracker',\n  'dashboard-mega',\n  'daily-actions',\n  'morning-briefing',\n  'capture-plan'\n];\n// daily-actions calls Claude AI \u2014 allow up to 90s, mark timeout as SLOW not FAIL\nconst slowOk = ['daily-actions'];\n\nconst results = [];\nfor (let i = 0; i < nodeNames.length; i++) {\n  try {\n    const item = $(nodeNames[i]).first().json;\n    const status = item.statusCode || item.status || 0;\n    // Check for timeout in error body\n    const isTimeout = item.error && JSON.stringify(item.error).includes('timeout');\n    const ok = (status >= 200 && status < 400) || (isTimeout && slowOk.includes(endpointNames[i]));\n    const note = isTimeout && slowOk.includes(endpointNames[i]) ? 'AI endpoint - timeout expected on cold call, try cached run' : null;\n    // body can be object or string\n    const body = item.body !== undefined ? item.body : item;\n    let bodyStr;\n    if (typeof body === 'string') bodyStr = body;\n    else if (body && typeof body === 'object') bodyStr = JSON.stringify(body);\n    else bodyStr = String(body);\n    const entry = { endpoint: endpointNames[i], status, ok, body_len: bodyStr.length, body_snippet: bodyStr.substring(0, 150) };\n    if (note) entry.note = note;\n    results.push(entry);\n  } catch(e) {\n    results.push({ endpoint: endpointNames[i], status: 0, ok: false, error: e.message });\n  }\n}\n\nconst passed = results.filter(r => r.ok).length;\nconst failed = results.filter(r => !r.ok).length;\nconst overall = failed === 0 ? 'PASS' : (passed === 0 ? 'FAIL' : 'DEGRADED');\n\nreturn [{ json: {\n  smoke_test: true,\n  timestamp: new Date().toISOString(),\n  overall, passed, failed, total: results.length, results\n}}];"
      },
      "id": "smoke-agg",
      "name": "Aggregate Results",
      "position": [
        1504,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "smoke-respond",
      "name": "Respond",
      "position": [
        1760,
        304
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Test opp-tracker",
            "type": "main"
          }
        ]
      ]
    },
    "Test opp-tracker": {
      "main": [
        [
          {
            "index": 0,
            "node": "Test dashboard-mega",
            "type": "main"
          }
        ]
      ]
    },
    "Test dashboard-mega": {
      "main": [
        [
          {
            "index": 0,
            "node": "Test daily-actions",
            "type": "main"
          }
        ]
      ]
    },
    "Test daily-actions": {
      "main": [
        [
          {
            "index": 0,
            "node": "Test morning-briefing",
            "type": "main"
          }
        ]
      ]
    },
    "Test morning-briefing": {
      "main": [
        [
          {
            "index": 0,
            "node": "Test capture-plan",
            "type": "main"
          }
        ]
      ]
    },
    "Test capture-plan": {
      "main": [
        [
          {
            "index": 0,
            "node": "Aggregate Results",
            "type": "main"
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ec10b69d-883c-4a82-9d75-492e07abcc6a",
  "activeVersionId": "ec10b69d-883c-4a82-9d75-492e07abcc6a",
  "versionCounter": 106,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-22T15:28:06.007Z",
      "createdAt": "2026-04-22T15:28:06.007Z",
      "role": "workflow:owner",
      "workflowId": "zPT6cd33TmJa7SZX",
      "projectId": "DnecXJnFEDZdmft0",
      "project": {
        "updatedAt": "2026-02-24T17:59:30.639Z",
        "createdAt": "2026-02-23T21:31:34.343Z",
        "id": "DnecXJnFEDZdmft0",
        "name": "Shawn Seffernick <shawn.seffernick175@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fc09115d-0a06-4ba7-beb9-fffc2e1f1f58"
      }
    }
  ],
  "tags": []
}