docs/audit/f035-wave3/workflow-xKR1NtwUUu5xOC6g-after-sanitized.json
{
  "updatedAt": "2026-05-21T01:18:35.575Z",
  "createdAt": "2026-03-22T18:32:46.682Z",
  "id": "xKR1NtwUUu5xOC6g",
  "name": "GDA.sched.idiq-to-monitor",
  "description": "",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "to-sched",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        200,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "to-wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        200,
        420
      ],
      "webhookId": "gda-idiq-to-monitor-01",
      "parameters": {
        "path": "gda-idiq-to-monitor",
        "options": {
          "allowedOrigins": "*"
        },
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "F4J3vYsPrJrYiO49",
          "name": "GDA Webhook Auth v2"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "to-auth",
      "name": "Auth Guard",
      "type": "n8n-nodes-base.code",
      "position": [
        420,
        420
      ],
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst auth = headers[\"x-gda-auth\"] || headers[\"x-gda-key\"] || body.auth_key || body.deploy_key || \"\";\nconst validKeys = [\"gda-deploy-2026-secure\", \"gda-api-2026-secure\", \"gda-webhook-secret-2026\"];\nif (!validKeys.includes(auth)) {\n  const origin = (headers.origin || headers.referer || \"\").toLowerCase();\n  const trusted = [\"gda.csr-llc.tech\",\"n8n.csr-llc.tech\",\"localhost\",\"gdacommand.retool.com\"];\n  if (!trusted.some(o => origin.includes(o))) throw new Error(\"Unauthorized\");\n}\nreturn [{ json: body }];"
      },
      "typeVersion": 2
    },
    {
      "id": "to-load",
      "name": "Load Tracked IDIQs",
      "type": "n8n-nodes-base.postgres",
      "position": [
        640,
        300
      ],
      "parameters": {
        "query": "CREATE TABLE IF NOT EXISTS gda_idiq_tracker (id SERIAL PRIMARY KEY, contract_number TEXT UNIQUE NOT NULL, idiq_name TEXT NOT NULL, agency TEXT, issuing_office TEXT, naics_codes TEXT[], contract_ceiling NUMERIC DEFAULT 0, period_of_performance_start DATE, period_of_performance_end DATE, gda_position TEXT DEFAULT 'targeting', gda_prime_or_sub TEXT DEFAULT 'prime', vehicle_type TEXT DEFAULT 'IDIQ', set_aside TEXT, total_tos_issued INTEGER DEFAULT 0, total_to_value NUMERIC DEFAULT 0, last_to_date DATE, on_ramp_status TEXT DEFAULT 'none', on_ramp_deadline DATE, competitors TEXT[], incumbent_primes TEXT[], sam_search_keywords TEXT[], notes TEXT, source_url TEXT, last_checked TIMESTAMPTZ DEFAULT NOW(), created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW());\nSELECT * FROM gda_idiq_tracker WHERE gda_position IN ('holder','teaming','targeting')",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "HwronxMmGY5XDGEt",
          "name": "GDA Postgres"
        }
      },
      "typeVersion": 2.5,
      "continueOnFail": true
    },
    {
      "id": "to-build",
      "name": "Build SAM Queries",
      "type": "n8n-nodes-base.code",
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const idiqs = $input.all().map(function(i) { return i.json; }).filter(function(i) { return i.contract_number; });\nif (!idiqs.length) return [{ json: { _hasData: false, _msg: 'No IDIQs tracked' } }];\n\nconst queries = [];\n\nfor (const idiq of idiqs) {\n  const shortName = (idiq.idiq_name || '').split('(')[0].trim().split(' ').slice(0,2).join(' ');\n  \n  if (idiq.gda_position === 'holder' || idiq.gda_position === 'teaming') {\n    // HOLDERS: search contract number for task orders\n    queries.push({ json: { idiq_id: idiq.id, contract_number: idiq.contract_number, idiq_name: idiq.idiq_name, agency: idiq.agency, gda_position: idiq.gda_position, search_term: idiq.contract_number, search_type: 'task_order', _hasData: true }});\n    // Plus first keyword if available\n    const kw = (idiq.sam_search_keywords || [])[0];\n    if (kw && kw !== idiq.contract_number) {\n      queries.push({ json: { idiq_id: idiq.id, contract_number: idiq.contract_number, idiq_name: idiq.idiq_name, agency: idiq.agency, gda_position: idiq.gda_position, search_term: kw, search_type: 'task_order', _hasData: true }});\n    }\n  } else if (idiq.gda_position === 'targeting') {\n    // TARGETING: 2 searches \u2014 on-ramp + open season\n    queries.push({ json: { idiq_id: idiq.id, contract_number: idiq.contract_number, idiq_name: idiq.idiq_name, agency: idiq.agency, gda_position: idiq.gda_position, search_term: shortName + ' on-ramp', search_type: 'on_ramp', _hasData: true }});\n    queries.push({ json: { idiq_id: idiq.id, contract_number: idiq.contract_number, idiq_name: idiq.idiq_name, agency: idiq.agency, gda_position: idiq.gda_position, search_term: shortName + ' additional awardee', search_type: 'on_ramp', _hasData: true }});\n  }\n}\n\n// Deduplicate\nconst seen = new Set();\nreturn queries.filter(function(q) {\n  const key = q.json.search_term;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});"
      },
      "typeVersion": 2
    },
    {
      "id": "to-sam",
      "name": "SAM TO Search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1080,
        300
      ],
      "parameters": {
        "url": "https://api.sam.gov/opportunities/v2/search",
        "method": "GET",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $env.GDA_SAM_API_KEY }}"
            },
            {
              "name": "postedFrom",
              "value": "={{ (() => { const d = new Date(Date.now() - 30*24*60*60*1000); return (d.getMonth()+1).toString().padStart(2,'0') + '/' + d.getDate().toString().padStart(2,'0') + '/' + d.getFullYear(); })() }}"
            },
            {
              "name": "postedTo",
              "value": "={{ (() => { const d = new Date(); return (d.getMonth()+1).toString().padStart(2,'0') + '/' + d.getDate().toString().padStart(2,'0') + '/' + d.getFullYear(); })() }}"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "keyword",
              "value": "={{ $json.search_term }}"
            },
            {
              "name": "ptype",
              "value": "o,p,k,r,s"
            },
            {
              "name": "responseDeadLineFrom",
              "value": "={{ $now.format('MM/dd/yyyy') }}"
            },
            {
              "name": "responseDeadLineTo",
              "value": "={{ $now.plus({years: 1}).format('MM/dd/yyyy') }}"
            }
          ]
        }
      },
      "typeVersion": 4,
      "continueOnFail": true
    },
    {
      "id": "to-normalize",
      "name": "Normalize and Score TOs",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = $input.all();\nconst results = [];\nconst seen = new Set();\nconst EIS_NAICS = ['541330','541511','541512','541513','541519','541611','541690','541715','541990','611430','561210','561110'];\nconst TARGET_AGENCIES = ['socom','tradoc','peo stri','inscom','cybercom','disa','indopacom','mda','missile defense','faa'];\nconst ON_RAMP_SIGNALS = /on.?ramp|open season|additional awardee|additional award|new entrant|reopen|fair opportunity notice/i;\n\nfor (const item of allItems) {\n  if (item.json.error || !item.json.opportunitiesData) continue;\n  const opps = item.json.opportunitiesData || [];\n  for (const opp of opps) {\n    const id = opp.solicitationNumber || opp.noticeId || '';\n    if (!id || seen.has(id)) continue;\n    const title = (opp.title || '').toLowerCase();\n    if (/janitorial|custodial|food service|mowing/.test(title)) continue;\n    seen.add(id);\n    const hier = opp.organizationHierarchy || [];\n    const agency = hier.length > 0 ? hier[0].name : (opp.fullParentPathName || '');\n    const naics = opp.naicsCode || '';\n    const sa = (opp.typeOfSetAsideDescription || '').toLowerCase();\n    const fullText = title + ' ' + (opp.description || '').toLowerCase();\n    \n    // Detect if this is an on-ramp announcement\n    const isOnRamp = ON_RAMP_SIGNALS.test(fullText) || ON_RAMP_SIGNALS.test(opp.title || '');\n    \n    // GDA Score\n    let score = 0;\n    score += EIS_NAICS.includes(naics) ? 15 : naics.startsWith('541') ? 5 : 0;\n    let mp = 0;\n    if (/seta|systems engineering/.test(title)) mp = 15;\n    if (/simulat|training/.test(title)) mp = Math.max(mp, 12);\n    if (/missile|defense|shield/.test(title)) mp = Math.max(mp, 12);\n    if (/cyber|intel/.test(title)) mp = Math.max(mp, 10);\n    if (/it support|cloud/.test(title)) mp = Math.max(mp, 8);\n    score += Math.min(mp, 15);\n    score += 10; // OU fit for tracked IDIQ\n    score += /sdvosb/.test(sa) ? 10 : /8\\(a\\)/.test(sa) ? 10 : /small business/.test(sa) ? 8 : 3;\n    score += 15; // tracked IDIQ relationship\n    score += /small business/.test(sa) ? 7 : 3;\n    score += 5;\n    score += isOnRamp ? 10 : 8; // on-ramp bonus\n    score += 5;\n    score = Math.min(Math.max(Math.round(score), 0), 100);\n    \n    // On-ramp gets PURSUE label automatically\n    const label = isOnRamp ? 'PURSUE' : (score >= 80 ? 'PURSUE' : score >= 60 ? 'EVALUATE' : score >= 40 ? 'MONITOR' : 'PASS');\n    if (isOnRamp) score = Math.max(score, 85); // floor at 85 for on-ramps\n    \n    const prefix = isOnRamp ? '[ON-RAMP] ' : '[TO] ';\n    const stage = isOnRamp ? 'On-Ramp' : 'Identified';\n    \n    results.push({ json: {\n      solicitation_number: id,\n      opp_title: prefix + (opp.title || '').substring(0, 470),\n      agency: agency,\n      dept: hier.length > 0 ? hier[0].name : '',\n      naics_code: naics,\n      set_aside: opp.typeOfSetAsideDescription || '',\n      response_deadline: opp.responseDeadLine || null,\n      source_url: opp.uiLink || ('https://sam.gov/opp/' + (opp.noticeId || '') + '/view'),\n      data_source: isOnRamp ? 'IDIQ On-Ramp Detection' : 'IDIQ TO Monitor',\n      govtribe_id: opp.noticeId || '',\n      gda_score: score,\n      gda_label: label,\n      eis_fit_score: score,\n      stage: stage,\n      ai_analysis: (isOnRamp ? 'ON-RAMP DETECTED: ' : 'Task Order under IDIQ: ') + ' | Vehicle: Unknown (cross-ref with IDIQ tracker)',\n      _hasData: true\n    }});\n  }\n}\nif (!results.length) return [{ json: { _hasData: false, _msg: 'No new task orders or on-ramps found' } }];\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "to-skip",
      "name": "Skip Empty",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json._hasData }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "to-upsert",
      "name": "Upsert TOs",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1740,
        220
      ],
      "parameters": {
        "query": "INSERT INTO gda_opportunity_tracker (solicitation_number, opp_title, agency, dept, naics_code, set_aside, response_deadline, source_url, data_source, govtribe_id, gda_score, gda_label, eis_fit_score, stage, ai_analysis, last_refreshed) VALUES ('{{ $json.solicitation_number }}', '{{ ($json.opp_title || '').replace(/'/g, \"''\").substring(0,500) }}', '{{ ($json.agency || '').replace(/'/g, \"''\") }}', '{{ ($json.dept || '').replace(/'/g, \"''\") }}', '{{ $json.naics_code || '' }}', '{{ ($json.set_aside || '').replace(/'/g, \"''\") }}', {{ $json.response_deadline ? \"'\" + $json.response_deadline + \"'\" : 'NULL' }}, '{{ $json.source_url || '' }}', 'IDIQ TO Monitor', '{{ $json.govtribe_id || '' }}', {{ $json.gda_score || 50 }}, '{{ $json.gda_label || 'EVALUATE' }}', {{ $json.eis_fit_score || 50 }}, 'Identified', '{{ ($json.ai_analysis || '').replace(/'/g, \"''\") }}', NOW()) ON CONFLICT (solicitation_number) DO UPDATE SET gda_score = GREATEST(EXCLUDED.gda_score, gda_opportunity_tracker.gda_score), ai_analysis = EXCLUDED.ai_analysis, last_refreshed = NOW()",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "HwronxMmGY5XDGEt",
          "name": "GDA Postgres"
        }
      },
      "typeVersion": 2.6,
      "continueOnFail": true
    },
    {
      "id": "to-update-idiq",
      "name": "Update IDIQ Stats",
      "type": "n8n-nodes-base.code",
      "position": [
        1960,
        220
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Count TOs per IDIQ and update stats\nconst items = $input.all();\nconst idiqCounts = {};\nfor (const item of items) {\n  const cn = item.json._contract_number;\n  if (cn) {\n    if (!idiqCounts[cn]) idiqCounts[cn] = 0;\n    idiqCounts[cn]++;\n  }\n}\n// We can't run dynamic SQL per IDIQ in code node easily,\n// but we log the counts for the summary\nreturn [{ json: { _hasData: true, idiq_to_counts: idiqCounts, total_new_tos: items.length } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "to-summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        2180,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst first = items[0]?.json || {};\nconst summary = {\n  status: 'ok',\n  workflow: 'GDA.sched.idiq-to-monitor',\n  new_task_orders: first.total_new_tos || 0,\n  idiq_breakdown: first.idiq_to_counts || {},\n  timestamp: new Date().toISOString()\n};\nreturn [{ json: summary }];"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Tracked IDIQs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Guard": {
      "main": [
        [
          {
            "node": "Load Tracked IDIQs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tracked IDIQs": {
      "main": [
        [
          {
            "node": "Build SAM Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SAM Queries": {
      "main": [
        [
          {
            "node": "SAM TO Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAM TO Search": {
      "main": [
        [
          {
            "node": "Normalize and Score TOs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Score TOs": {
      "main": [
        [
          {
            "node": "Skip Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Empty": {
      "main": [
        [
          {
            "node": "Upsert TOs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert TOs": {
      "main": [
        [
          {
            "node": "Update IDIQ Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update IDIQ Stats": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "2Swf6LP9AzFjHFYU",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "20d8e3a5-8602-4584-9173-0a52e7ba514f",
  "activeVersionId": "20d8e3a5-8602-4584-9173-0a52e7ba514f",
  "versionCounter": 196,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-22T18:32:46.682Z",
      "createdAt": "2026-03-22T18:32:46.682Z",
      "role": "workflow:owner",
      "workflowId": "xKR1NtwUUu5xOC6g",
      "projectId": "DnecXJnFEDZdmft0",
      "project": {
        "updatedAt": "2026-02-24T17:59:30.639Z",
        "createdAt": "2026-02-23T21:31:34.343Z",
        "id": "DnecXJnFEDZdmft0",
        "name": "Shawn Seffernick <shawn.seffernick175@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fc09115d-0a06-4ba7-beb9-fffc2e1f1f58"
      }
    }
  ],
  "tags": []
}