docs/n8n-govtribe-workflow.json
{
  "name": "GDA.ingest.govtribe-zapier",
  "nodes": [
    {
      "parameters": {
        "path": "govtribe-ingest",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "gt-webhook",
      "name": "GovTribe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "govtribe-ingest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "F4J3vYsPrJrYiO49",
          "name": "GDA Webhook Auth v2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GDA_BASE_URL || 'http://localhost:3001' }}/api/ingest/govtribe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-gda-key",
              "value": "={{ $env.GDA_WEBHOOK_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "gt-forward",
      "name": "Forward to GDA Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "gt-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "GovTribe Webhook": {
      "main": [
        [
          {
            "node": "Forward to GDA Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to GDA Ingest": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
