docs/n8n-partner-news-ingest.json
{
  "name": "Partner News Ingest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }]
        }
      },
      "name": "Cron 7AM EST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Placeholder: replace with actual news API or RSS feed parsing\n// Filter for mentions of Riverstone or PD Systems\nconst newsItems = [\n  // Example structure:\n  // { headline: 'Riverstone wins SHIELD contract', url: 'https://...', source: 'govcon_wire', published_at: '2026-01-15', partner: 'riverstone' },\n];\n\nconst rsNews = newsItems.filter(n => n.partner === 'riverstone').map(n => ({ json: { partner_ou_tag: 'riverstone', items: [{ headline: n.headline, url: n.url, source: n.source, published_at: n.published_at }] } }));\nconst pdNews = newsItems.filter(n => n.partner === 'pd_systems').map(n => ({ json: { partner_ou_tag: 'pd_systems', items: [{ headline: n.headline, url: n.url, source: n.source, published_at: n.published_at }] } }));\n\nreturn [...rsNews, ...pdNews];"
      },
      "name": "Filter Partner Mentions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.GDA_BACKEND_URL }}/api/partner-intel/news/batch",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-gda-key", "value": "={{ $env.GDA_WEBHOOK_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "body", "value": "={{ JSON.stringify($json) }}" }
          ]
        },
        "options": {}
      },
      "name": "POST News Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Cron 7AM EST": { "main": [[{ "node": "Filter Partner Mentions", "type": "main", "index": 0 }]] },
    "Filter Partner Mentions": { "main": [[{ "node": "POST News Batch", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
